<template>
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <div class="iq-sidebar-logo">
                <div class="top-logo">
                    <router-link :to="{ name: 'dashboard.home-1' }" class="logo">
                        <div class="iq-light-logo">
                            <!--                  <img src="../../../../assets/images/logo.gif" class="img-fluid" alt="logo">-->
                        </div>
                        <div class="iq-dark-logo">
                            <img src="../../../../assets/images/logo-dark.gif" class="img-fluid" alt="logo">
                        </div>
                        <span>{{ appName }}</span>
                    </router-link>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light p-0" :key="$route.path">
                <div class="navbar-left">
                    <ul id="topbar-data-icon" class="d-flex p-0 topbar-menu-icon">
                        <li v-for="(item, index) in bookmark" :key="index">
                            <router-link :to="item.link" class="nav-item" style="color: var(--iq-primary)">
                                <i :class="`${item.icon}`"></i>
                            </router-link>
                        </li>
                    </ul>
                    <div class="iq-search-bar d-none d-md-block">
                        <form action="#" class="searchbox">
                            <input type="text" class="text search-input" style="cursor: pointer" @click="openSearch"
                                   v-model="globalSearch"
                                   placeholder="Type here to search...">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                            <GlobalSearch :search="globalSearch" @closeSearch="removeClass "/>
                        </form>
                    </div>
                </div>

                <b-navbar-toggle target="nav-collapse" class="">
                    <i class="ri-menu-3-line"></i>
                </b-navbar-toggle>
                <div class="iq-menu-bt align-self-center" v-if="$route.meta.layout !== 'two-sidebar'">
                    <div class="wrapper-menu" @click="sidebarMini">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                </div>
                <router-link :to="{ name: 'app.coaching' }" v-if="!isAdmin">
                    <b-button class="coaching-button text-white" variant="success">
                        <i class="ri-patreon-fill">
                        </i>
                        Coaching
                    </b-button>
                </router-link>

                <b-collapse id="nav-collapse" v-model="showCollapse" is-nav>
                    <ul class="navbar-nav ml-auto navbar-list">
                        <li class="nav-item" v-nav-toggle>

                            <a href="#" class="search-toggle iq-waves-effect">
                                <lottie
                                    :option="require('../../../../assets/images/small/lottie-bell.json')"
                                    id="lottie-beil"/>
                                <span v-if="hasUnreadNotifications()" class="bg-danger dots"></span>
                            </a>
                            <div class="iq-sub-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white">{{
                                                    $t('sidebar.notifications')
                                                }}</h5>
                                        </div>

                                        <div v-if="!hasUnreadNotifications()">
                                            <div class="media align-items-center overflow-hidden">
                                                <div class="media-body ml-3">
                                                    <h6 class="mt-1 ml-0 mr-0 mb-1 max-lines-1 font-weight-light">
                                                        {{ $t('navbar.noUnreadNotifications') }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div v-for="(item, index) of notifications" :key="item.id">
                                                <RouterLink v-show="item.status === 'UNREAD'"
                                                            :to="{ name: 'app.coaching'}"
                                                            class="iq-sub-card">
                                                    <div class="media align-items-center overflow-hidden">
                                                        <div class="media-body ml-3">
                                                            <h6 :class="['mb-0','max-lines-1',
                                                                {'font-weight-bold' :  item.status === 'UNREAD'},
                                                                {'font-weight-light' :  item.status === 'READ'}]">
                                                                {{ item.inboxMessage.title }}</h6>
                                                            <small class="float-right font-size-12">{{
                                                                    item.inboxMessage.cTimestamp | formatDate
                                                                }}</small>
                                                            <!--                                                            <p class="mb-0 max-lines-1" v-html="item.inboxMessage.body">-->
                                                            <!--                                                            </p>-->
                                                        </div>
                                                    </div>
                                                </RouterLink>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" v-nav-toggle>
                            <a class="search-toggle iq-waves-effect language-title" href="#"><img
                                :src="selectedLang.image" alt="img-flaf" class="img-fluid mr-1"
                                style="height: 16px; width: 16px;"/><i class="ri-arrow-down-s-line"></i></a>
                            <div class="iq-sub-dropdown">
                                <a class="iq-sub-card" href="javascript:void(0)" v-for="(lang, i) in langsOptions"
                                   :key="`Lang${i}`" @click="langChange(lang)">
                                    <img :src="lang.image" alt="img-flaf" class="img-fluid mr-2"/>{{ lang.title }}
                                </a>
                            </div>
                        </li>
                    </ul>

                    <div id="profile-dropdown">
                        <ul class="navbar-list">
                            <li class="rounded" v-nav-toggle>
                                <a href="#"
                                   class="search-toggle iq-waves-effect d-flex align-items-center bg-primary rounded">
                                    <i class="fas fa-user text-white mr-2"></i>
                                    <div class="caption">
                                        <h6 class="mb-0 line-height text-white">
                                            {{ this.user ? (this.user['name'] + ' ' + this.user['surname']) : 'Gast' }}
                                        </h6>
                                    </div>
                                </a>
                                <div class="iq-sub-dropdown iq-user-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white line-height">{{
                                                    $t('nav.user.hello') + ' ' + (this.user ? this.user['name'] : 'Gast')
                                                }}</h5>
                                        </div>
                                        <router-link v-if="!isAdmin" :to="{ name: 'app.profile'}"
                                                     class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-user-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">{{ $t('nav.user.profileTitle') }}</h6>
                                                    <p class="mb-0 font-size-12">{{ $t('nav.user.profileSub') }}</p>
                                                </div>
                                            </div>
                                        </router-link>
                                        <router-link v-if="!isAdmin" :to="{ name: 'app.referrals'}"
                                                     class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-terminal-window-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">{{ $t('nav.user.myReferrals') }}</h6>
                                                    <p class="mb-0 font-size-12">{{
                                                            $t('nav.user.myReferralsSub')
                                                        }}</p>
                                                </div>
                                            </div>
                                        </router-link>
                                        <router-link v-if="!isAdmin" :to="{ name: 'app.packages'}"
                                                     class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-profile-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">{{ $t('nav.user.mySubscriptions') }}</h6>
                                                    <p class="mb-0 font-size-12">
                                                        {{ $t('nav.user.seeYourSubscriptionsWithTraderista') }}</p>
                                                </div>
                                            </div>
                                        </router-link>
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="btn btn-primary dark-btn-primary" href="javascript:void(0)"
                                               @click="logout" role="button">{{ $t('nav.user.signout') }}<i
                                                class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </b-collapse>
            </nav>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import {core, APPNAME} from '../../../../config/pluginInit'
import langChange from '../../../../Mixins/langchange'
import Lottie from '../../../../components/core/lottie/Lottie'
import {Auth} from "../../../../config/auth";
import GlobalSearch from "../../search/GlobalSearch";
import userInboxMessages from "../../../../graphql/queries/getUserInboxMessages.graphql"
import {MailService} from "../../../../services/mail";

export default {
    name: 'HeaderStyle',
    mixins: [langChange],
    components: {
        // HoverMenu,
        GlobalSearch,
        // CollapseMenu
        Lottie
    },
    props: {
        isAdmin: false,
    },
    created() {
        if (this.isAdmin) {
            this.notifications = [];
        } else {
            MailService.getUserInboxMessages().then((data) => {
                this.notifications = data;
            });
        }
    },
    data() {
        return {
            user_id: Auth.id(),
            appName: APPNAME,
            globalSearch: '',
            notification: userInboxMessages,
            notifications: [],
            showCollapse: false
        }
    },
    mounted() {
        if (!this.horizontal) {
            document.addEventListener('click', this.closeSearch, true)
        }
    },
    methods: {
        sidebarMini() {
            core.triggerSet()
        },
        // closeMenu() {(
        //
        // },
        openSearch() {
            this.showSearch = true
            this.showMenu = 'iq-show'
            this.globalSearch = ''
            if (document.getElementById('searchbox-datalink') !== null) {
                document.getElementById('searchbox-datalink').classList.add('show-data')
            }
        },
        closeSearch(event) {
            const classList = event.target.classList
            if (!classList.contains('searchbox') && !classList.contains('search-input')) {
                this.removeClass()
            }
        },
        removeClass() {
            this.showSearch = false
            this.showMenu = ''
            this.globalSearch = ''
            if (document.getElementById('searchbox-datalink') !== null && document.getElementById('searchbox-datalink') !== undefined) {
                document.getElementById('searchbox-datalink').classList.remove('show-data')
            }
        },
        logout() {
            Auth.clear();
            this.$store.dispatch('Setting/resetStateOnLogout');
            this.$router.push({name: 'auth1.sign-in1'})
        },
        ...mapActions({
            langChangeState: 'Setting/setLangAction',
        }),

        hasUnreadNotifications() {
            for (var userInboxMessage of this.notifications) {
                if (userInboxMessage.status === 'UNREAD') return true;
            }
            return false;
        },
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
            bookmark: 'Setting/bookmarkState',
            langsOptions: 'Setting/langOptionState',
            selectedLang: 'Setting/langState'
        })
    },
    watch: {
        '$route'() {
            this.showCollapse = false;
        }
    }
}
</script>

<style scoped>
.coaching-button {
    top: 30px;
    right: 220px;
    position: absolute;
    padding: 9px 10px;
    border-radius: 8px;
    font-size: 13px;
    color: white !important;
}

@media (min-width: 557px) {
    .coaching-button {
        top: 18px;
    }
}

@media (min-width: 992px) {
    .coaching-button {
        right: 515px;
    }
}

@media (min-width: 1300px) {
    .coaching-button {
        right: 400px;
    }
}
</style>
