<template>
    <ValidationObserver v-else ref="form" v-slot="{ handleSubmit }">
        <form class="mt-4" novalidate @submit.prevent="handleSubmit(onSubmit)">
            <ValidationProvider vid="email" :name="$t('auth.emailAddress')" rules="required|email" v-slot="{ errors }">
                <div class="form-group">
                    <label for="emailInput">{{ $t('auth.emailAddress') }}</label>
                    <input type="email" :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                           id="emailInput" aria-describedby="emailHelp"
                           v-model="user.email" placeholder="Enter email" required>
                    <div class="invalid-feedback">
                        <span>{{ errors[0] }}</span>
                    </div>
                </div>
            </ValidationProvider>
            <ValidationProvider vid="password" :name="$t('auth.password')" rules="required" v-slot="{ errors }">
                <div class="form-group">
                    <label for="passwordInput">{{ $t('auth.password') }}</label>
                    <input type="password" :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                           id="passwordInput"
                           v-model="user.password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        <span>{{ errors[0] }}</span>
                    </div>
                    <div v-if="isUser" class="pt-2">
                        <RouterLink :to="{name: 'auth1.forgot-password'}" class="float-right">
                            {{ $t('auth.forgotPassword') }}
                        </RouterLink>
                    </div>
                </div>
            </ValidationProvider>
            <div class="d-inline-block w-100 pt-2">
                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                    <input type="checkbox" class="custom-control-input" :id="formType">
                    <label class="custom-control-label" :for="formType">{{ $t('auth.rememberMe') }}</label>
                </div>
                <button type="submit" class="btn btn-primary float-right">{{ $t('auth.signIn') }}</button>
            </div>
            <div v-if="loading">
                <div class="row mt-5">
                    <div class="col-md-5 col-4"></div>
                    <div class="col-md-2 col-4">
                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                    </div>
                    <div class="col-md-5 col-4"></div>
                </div>
            </div>
            <div v-if="isUser">
                <div class="sign-info">
                  <span class="dark-color d-inline-block line-height-2">
                        {{ $t('auth.noAccount') }}
                    <RouterLink :to="{ name: 'auth1.sign-up1' }" class="iq-waves-effect pr-4">
                        {{ $t('auth.signUp') }}
                    </RouterLink>
                  </span>
                </div>
            </div>
        </form>
    </ValidationObserver>
</template>

<script>
import {AuthService} from "../../../../services/auth";
import {core} from '../../../../config/pluginInit'
import {Auth} from "../../../../config/auth";
import loader from "../../../../assets/images/loader.gif";
import {TrackingService} from "../../../../services/tracking";

export default {
    name: 'SignIn1Form',
    props: ['formType', 'email', 'password', 'role', 'goToPackage'],
    data() {
        return {
            user: {
                email: '',
                password: '',
                role: '',
            },
            loading: false,
            loader: loader,
            isUser: null,
        }
    },
    mounted() {
        this.user.email = this.$props.email ?? this.$route.query.email ?? '';
        this.user.password = this.$props.password
        this.user.role = this.$props.role
        this.isUser = (this.$props.role === Auth.Role.User)
    }
    ,
    methods: {
        onSubmit() {
            this.loading = true
            this.user.activate_one_day_access = this.$route.query.oneDayTrial === "true";
            this.user.token = this.$route.query.token;
            AuthService.login(this.user).then(success => {
                this.loading = false;
                if (success) {
                    if (this.goToPackage) {
                        this.$router.replace({name: 'app.packages'})
                    } else {
                        if (this.isUser) {
                            this.$router.replace({name: 'dashboard.home-1'})
                        } else {
                            this.$router.replace({name: 'admin.posts'})
                        }
                    }
                    TrackingService.login();
                } else {
                    core.showSnackbar('error', this.$t('auth.wrongCredentials'))
                }
            })
        },
    }
}
</script>
