<template>
    <ValidationObserver v-else ref="form" v-slot="{ handleSubmit }">
        <form class="mt-4" novalidate @submit.prevent="handleSubmit(onSubmit)">
            <div class="row">
                <div class="col-6" v-if="!isForTrial">
                    <ValidationProvider vid="firstname" :name="$t('auth.name')" rules="required" v-slot="{ errors }">
                        <div class="form-group">
                            <label for="firstname">{{ $t('auth.name') }}</label>
                            <input type="text" v-model="user.name"
                                   :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                                   id="firstname" aria-describedby="" :placeholder="$t('auth.name')">
                            <div class="invalid-feedback">
                                <span>{{ errors[0] }}</span>
                            </div>
                        </div>
                    </ValidationProvider>
                </div>
                <div class="col-6" v-if="!isForTrial">
                    <ValidationProvider vid="surname" :name="$t('auth.surname')" rules="required" v-slot="{ errors }">
                        <div class="form-group">
                            <label for="surname">{{ $t('auth.surname') }}</label>
                            <input type="text" v-model="user.surname"
                                   :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                                   id="surname" aria-describedby="" :placeholder="$t('auth.surname')">
                            <div class="invalid-feedback">
                                <span>{{ errors[0] }}</span>
                            </div>
                        </div>
                    </ValidationProvider>
                </div>
            </div>
            <ValidationProvider vid="name" :name="$t('auth.emailAddress')" rules="required|email" v-slot="{ errors }">
                <div class="form-group">
                    <label for="email">{{ $t('auth.emailAddress') }}</label>
                    <input type="email" v-model="user.email"
                           :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                           id="email" aria-describedby="emailHelp" :placeholder=" $t('auth.emailAddress')">
                    <div class="invalid-feedback">
                        <span>{{ errors[0] }}</span>
                    </div>
                </div>
            </ValidationProvider>
            <ValidationProvider vid="password" :name="$t('auth.password')" rules="required|min:8" v-slot="{ errors }">
                <div class="form-group">
                    <label for="password">{{ $t('auth.password') }}</label>
                    <input type="password" v-model="user.password"
                           :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                           id="password" :placeholder="$t('auth.password')">
                    <div class="invalid-feedback">
                        <span>{{ errors[0] }}</span>
                    </div>
                </div>
            </ValidationProvider>
            <div class="form-group" v-if="!isForTrial">
                <label for="friend_referral_code">{{ $t('auth.referralCode') }}</label>
                <input type="text" v-model="user.friend_referral_code"
                       class="form-control mb-0"
                       id="friend_referral_code" aria-describedby="" :placeholder="$t('auth.referralCode')">
            </div>
            <div class="d-inline-block w-100">
                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                    <input type="checkbox" class="custom-control-input" :id="formType">
                    <label class="custom-control-label" :for="formType">{{ $t('auth.iAccept') }}
                        <RouterLink :to="{ name: 'agb-page' }" target="_blank">
                            {{ $t('auth.theGeneralTermsAndConditions') }}
                        </RouterLink>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary float-right">{{ $t('auth.signUp') }}</button>
            </div>
            <div v-if="loading">
                <div class="row mt-5">
                    <div class="col-md-5 col-4"></div>
                    <div class="col-md-2 col-4">
                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                    </div>
                    <div class="col-md-5 col-4"></div>
                </div>
            </div>
            <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">
                    {{ $t('auth.alreadyHaveAnAccount') }}
                    <RouterLink :to="{name: 'auth1.sign-in1'}" class="iq-waves-effect pr-4">
                        {{ $t('auth.signIn') }}
                    </RouterLink>
                </span>
            </div>
        </form>
    </ValidationObserver>
</template>

<script>
import {Auth} from "../../../../config/auth";
import {AuthService} from "../../../../services/auth";
import {core} from "../../../../config/pluginInit";
import loader from "../../../../assets/images/loader.gif"
import {TrackingService} from "../../../../services/tracking";

export default {
    name: 'SignUp1Form',
    props: ['formType'],
    data() {
        return {
            user: {
                name: '',
                surname: '',
                email: this.$route.query.email ?? '',
                password: '',
                password_confirmation: '',
                friend_referral_code: localStorage.getItem('referralCode') ?
                    localStorage.getItem('referralCode') : '',
                activate_one_day_access: false
            },
            loader: loader,
            loading: false
        }
    },
    mounted() {
        if (Auth.isUserAuthed()) {
            this.$router.push({name: 'dashboard.home-1'})
        }
    },
    computed: {
        isForTrial() {
            return true;
        }
    },
    methods: {
        onSubmit() {
            this.loading = true;
            this.user.password_confirmation = this.user.password
            this.user.activate_one_day_access = this.$route.query.oneDayTrial === 'true';
            this.user.token = this.$route.query.token;
            AuthService.register(this.user).then((response) => {
                if (response === 'SUCCESS') {
                    this.loading = false;
                    if (this.$route.query.workShop) {
                        this.$router.push({
                            name: 'app.free-workshop'
                        });
                    } else {
                        this.$router.push({
                            name: 'app.packages',
                            query: {
                                fromRegister: true,
                                packageId: this.$route.query.packageId,
                                // starterPackage: this.$route.query.starterPackage
                            },
                        });
                    }
                    TrackingService.completeRegistration();
                } else if (response === 'MUST_VERIFY_EMAIL') {
                    this.loading = false;
                    this.$router.push({name: 'auth1.confirm-mail1'})
                } else if (response === 'EXISTS') {
                    this.loading = false;
                    core.showSnackbar('error', this.$t('auth.emailExists'))
                } else if (response === 'ERROR') {
                    this.loading = false;
                    core.showSnackbar('error', this.$t('auth.accountWasNotCreated'))
                }
            })
        },
    }
}
</script>
