.algolia-search-filter-items > li{
    background: var(--iq-primary);
    margin-bottom: 6px;
    margin-right: 4px;
}
.algolia-search-filter{
}
.ais-SortBy-select{
    width: 100%;
}
.ais-ClearRefinements-button{
    background: var(--iq-primary) !important;
}
.iq-product-description > .ais-Highlight{
    font-size: 14px;
}
.ais-SearchBox{
    width: 100%;
}
div#powered-by {
    margin-left: 50px;
}
.ais-SearchBox-input{
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
}
.ais-SortBy-select{
    border: unset !important;
}
.iq-filter-border{
    border: unset;
    padding: .625rem;
}
.iq-algolia-search{
    border: unset;
    border-radius: 5px;
    padding: 0;
}
.iq-algolia-sort{
    border: unset;
    border-radius: 5px;
    padding: 0px;
    margin-right: 8px;
    width: 100%;
}
.w-20{
    width: 20%;
}
/* Grid Product listing */
.iq-product-layout-grid .iq-product-item{
    box-shadow: unset ;
    border-color: transparent !important;
    margin-bottom: 0;
}
/* List Product listing */
.ais-Hits-item{
    padding: 0 !important;
}
.iq-product-layout-list .iq-product-item{
    box-shadow: unset;
    width: 100% !important;
    border-color: transparent !important;
    margin-bottom: 0;
}
.iq-product-item:hover{
    transition: all 500ms ease;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
}
.iq-product-img{
    width: 100%;
}
.iq-product-free-shipping{
    margin-bottom: 0;
    position: relative;
}
.iq-product-free-shipping-content{
    font-size: 14px;
    padding-top: 10px;
    position: absolute;
    right: 32%;
}
.h-64{
    height: 16rem!important;
}
.h-56{
    height: 14rem!important;
}
.page-link{
    color: var(--iq-primary);
}
.iq-product-layout-grid .iq-product-action{
    text-align: left;
}
.iq-product-layout-list .iq-product-action{
    /*border-left: 1px solid #ddd;*/
    /*text-align: right;*/
}
.iq-product-action .btn i {
    padding-right: 0;
}
.ratting {
    margin: 0 0 10px;
    font-size: 18px;
    color: #edeac7;
}
