<template>
    <div>
        <div class="wrapper">
            <SidebarStyle :is-admin="isAdmin"/>
            <HeaderStyle :is-admin="isAdmin"/>
            <div class="content-page" id="content-page">
                <transition name="router-anim">
                    <router-view/>
                </transition>
            </div>
        </div>
        <LayoutFooter/>
    </div>
</template>
<script>
import HeaderStyle from '../components/core/partials/HeaderStyle/HeaderStyle.vue'
import SidebarStyle from '../components/core/partials/SidebarStyle/SidebarStyle.vue'
import LayoutFooter from '../layouts/Components/LayoutFooter.vue'

export default {
    name: 'Layout2',
    props: {
        isAdmin: false,
    },
    components: {
        HeaderStyle,
        SidebarStyle,
        LayoutFooter
    },
    mounted() {
        document.body.classList = ''
    },
    destroyed() {
        document.body.classList = ''
    }
}
</script>
<style>
@import url("../assets/css/custom.css");
@import url("../assets/css/PriceSlider.css");
</style>
