<template>
    <div>
        <img src="https://coderthemes.com/hyper/saas/assets/images/mail_sent.svg" width="80" alt="">
        <h1 class="mt-3 mb-0 mb-10">{{ $t('auth.verifyEmail') }}</h1>
        <p class="mb-10">{{ $t('auth.emailVerificationMessage') }}</p>
        <div class="d-inline-block w-100">
            <RouterLink :to="{ name: 'landing-page' }" class="iq-waves-effect pr-4">
                <button type="submit" class="btn btn-primary mt-3">{{ $t('auth.backToHome') }}</button>
            </RouterLink>
        </div>
        <br><br>
        <span class="dark-color d-inline-block line-height-2">{{ $t('auth.noEmailReceived') }}
        <a class="text-primary" @click="onResendEmailClick">{{ $t('auth.resendEmail') }}</a>
        </span>
    </div>
</template>
<script>
import {AuthService} from "../../../services/auth";

export default {
    name: 'ConfirmMail1',
    methods: {
        onResendEmailClick() {
            AuthService.sendVerificationEmail()
        },
    }

}
</script>
