<template>
    <div>
        <div v-if="this.verified">
            <img src="https://coderthemes.com/hyper/saas/assets/images/mail_sent.svg" width="80" alt="">
        </div>
        <h1 class="mt-3 mb-0 mb-10">{{ $t('auth.accountVerification') }}</h1>
        <div v-if="this.loading">
            <h6 class="mb-10">
                {{ $t('auth.pleaseWaitWhileWeVerifyYourEmail') }}
            </h6>
        </div>
        <div v-else-if="this.verified">
            <h6 class="mb-10">
                {{ $t('auth.emailSuccessfullyVerified') }}
            </h6>
        </div>
        <div v-else>
            <h6 class="mb-10">
                {{ $t('auth.tokenExpiredPleaseRetry') }}
            </h6>
        </div>
        <br><br>
        <span class="dark-color d-inline-block line-height-2">{{ $t('auth.noEmailReceived') }}
        <a class="text-primary" @onclick="onResendEmailClick">{{ $t('auth.resendEmail') }}</a>
        </span>
    </div>
</template>

<script>

import {AuthService} from "../../../services/auth";

export default {
    name: "EmailVerification",
    data() {
        return {
            loading: true,
            verified: false,
        }
    },
    methods: {
        onResendEmailClick() {
            AuthService.sendVerificationEmail()
        },
    },
    mounted() {
        AuthService.verifyEmail(this.$route.query.token).then(success => {
            this.verified = success
            this.loading = false

            if (success) {
                this.$router.push({
                    name: 'auth1.sign-in1', params: {
                        goToPackage: true
                    }
                })
            }
        })
    }
}
</script>
