<template>
    <div>
        <h1 class="mb-0">{{ $t('auth.resetPassword') }}</h1>
        <p>{{ $t('auth.enterYourNewPassword') }}</p>
        <ValidationObserver ref="form" v-slot="{ handleSubmit }">
            <form class="mt-4" novalidate @submit.prevent="handleSubmit(resetPassword)">
                <ValidationProvider vid="password" :name="$t('auth.password')" rules="required" v-slot="{ errors }">
                    <div class="form-group">
                        <label for="passwordInput">{{ $t('auth.password') }}</label>
                        <input type="password" :class="'form-control mb-0' +(errors.length > 0 ? ' is-invalid' : '')"
                               id="passwordInput"
                               v-model="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </div>
                </ValidationProvider>


                <div class="d-inline-block w-100">
                    <button type="submit" class="btn btn-primary float-right">
                        {{ $t('auth.resetPassword') }}
                    </button>
                </div>
            </form>
        </ValidationObserver>
    </div>
</template>
<script>
import {AuthService} from "../../../services/auth"
import {core} from '../../../config/pluginInit'
import {Auth} from "../../../config/auth";
import {TrackingService} from "../../../services/tracking";

export default {
    name: 'RecoverPassword1',
    data: () => ({
        password: ''
    }),
    methods: {
        resetPassword() {
            AuthService.resetPassword(this.$route.query.email, this.$route.query.token, this.password).then(async success => {
                if (success) {
                    core.showSnackbar('success', this.$t('auth.passwordWasUpdatedSuccessfully'))
                    this.$router.replace({name: 'auth1.sign-in1'}).then(r => {
                    })
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
    },
    mounted() {
        TrackingService.pageView("New Password Page",  this.$route);
    }
}
</script>
