<template>
    <div>
        <h1 class="mb-0">{{ $t('auth.resetPassword') }}</h1>
        <p>{{ $t('auth.resetPasswordMsg') }}</p>
        <ValidationObserver ref="form" v-slot="{ handleSubmit }">
            <form class="mt-4" novalidate @submit.prevent="handleSubmit(sendEmail)">
                <ValidationProvider vid="email" :name="$t('auth.emailAddress')" rules="required|email"
                                    v-slot="{ errors }">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ $t('auth.emailAddress') }}</label>
                        <input type="email" :class="'form-control mb-0'  +(errors.length > 0 ? ' is-invalid' : '')"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               v-model="email" :placeholder="$t('auth.emailAddress')">
                        <div class="invalid-feedback">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </div>
                </ValidationProvider>


                <div class="d-inline-block w-100">
                    <button type="submit" class="btn btn-primary float-right">
                        {{ $t('auth.resetPassword') }}
                    </button>
                </div>
            </form>
        </ValidationObserver>
    </div>
</template>
<script>
import {AuthService} from "../../../services/auth"
import {core} from '../../../config/pluginInit'
import {Auth} from "../../../config/auth";
import {TrackingService} from "../../../services/tracking";

export default {
    name: 'RecoverPassword1',
    data: () => ({
        email: ''
    }),
    mounted() {
        TrackingService.pageView("Reset Password",  this.$route);
    },
    methods: {
        sendEmail() {
            AuthService.forgotPassword(this.email).then(success => {
                if (success) {
                    core.showSnackbar('success', this.$t('auth.emailSentSuccessfully'))
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
    }
}
</script>
