<template>
    <div>
        <router-link :to="{ name: 'landing-page' }">
            <span>
                    <img src="../../../assets/images/logo/logo1.jpg" class="img-fluid m-2" alt="logo"></span>
        </router-link>
        <h1 class="mb-0">{{ $t('auth.signIn') }}</h1>
        <p>{{ $t('auth.userSignInMsg') }}</p>
        <sign-in1-form formType="jwt" :role='role' :go-to-package="goToPackage"></sign-in1-form>
    </div>
</template>

<script>
import SignIn1Form from './Forms/SignIn1Form'
import {Auth} from "../../../config/auth"
import {TrackingService} from "../../../services/tracking";

export default {
    name: 'SignIn1',
    props: ['goToPackage'],
    components: {
        SignIn1Form
    },
    data: () => ({
        role: Auth.Role.User
    }),
    mounted() {
        TrackingService.pageView("Sign In Page",  this.$route);
        if (Auth.isUserAuthed()) {
            this.$router.replace({name: 'dashboard.home-1'})
        }
    }
}
</script>
