<template>
    <div>
        <h1 class="mb-0">{{ $t('auth.signIn') }}</h1>
        <p>{{ $t('auth.userSignInMsg') }}</p>
        <sign-in1-form formType="jwt" :role='role'></sign-in1-form>
    </div>
</template>

<script>
import SignIn1Form from './Forms/SignIn1Form'
import {Auth} from "../../../config/auth"

export default {
    name: 'sign-in-admin',
    components: {
        SignIn1Form
    },
    data: () => ({
        role: Auth.Role.Admin
    }),
    mounted() {
        if (Auth.isAdminAuthed()) {
            this.$router.replace({name: 'dashboard.home-1'})
        }
    }
}
</script>
