<template>
    <div>
        <router-link :to="{ name: 'landing-page' }">
            <span>
                    <img src="../../../assets/images/logo/logo1.jpg" class="img-fluid m-2" alt="logo"></span>
        </router-link>
        <h1 class="mb-0">{{ $t('auth.signUp') }}</h1>
        <h6>{{ $t('auth.registerMessage') }}</h6>
        <tab-content id="pills-tabContent-1" class="mt-0 mb-2">
            <tab-content-item :active="true" id="pills-jwt-fill" aria-labelled-by="pills-jwt-tab-fill">
                <sign-up1-form formType="jwt"></sign-up1-form>
            </tab-content-item>
        </tab-content>
    </div>
</template>
<script>

import SignUp1Form from './Forms/SignUp1Form'
import {TrackingService} from "../../../services/tracking";

export default {
    name: 'SignUp1',
    components: {SignUp1Form},
    data: () => ({}),
    mounted() {
        TrackingService.pageView("Sign Up Page",  this.$route);
    }
}
</script>
