<template>
  <iq-card body-class="p-0 pb-2">
    <template v-slot:body>
      <div class="user-post-data pr-3 pl-3 pb-2">
        <div class="d-flex flex-wrap">
          <!--                    <div class="media-support-user-img mr-3">-->
          <!--                        <b-img rounded="circle" fluid :src="post.author.profile" alt=""/>-->
          <!--                    </div>-->
          <div class="media-support-info mt-2">
            <h5 class="mb-0">
              <b-link href="#" class="">{{ post.author.name + ' ' + post.author.surname }}</b-link>
              <i v-if="post.isPinned && !isAdmin" class="fas fa-solid fa-thumbtack float-right pt-1"
                 style="font-size:22px; color: #DAA520"></i>
            </h5>
            <p class="mb-0 text-secondary">{{ post['date_time'] | formatDate }}</p>
            <b-modal :id="'info'+post.id"
                     ok-disabled cancel-disabled hide-footer size="md"
                     header-bg-variant="danger">
              <div class="justify-content-center text-center">
                <p class="text-center">
                  Das hier ist ein aktueller Trade. Diesen gibst Du immer für das Datum ein, das
                  als
                  „Einstiegsdatum“ gekennzeichnet ist. Wenn der Trade dir ein vergangenes Datum
                  anzeigt (also gestern oder noch weiter davor), ist der Trade bereits nicht mehr
                  gültig.
                  <br><br>
                  Wenn Du Dir nicht sicher bist, wie Du die Trades eingibst, dann schau Dir im
                  Members
                  Coaching den 2. Schritt ruhig an. Dort habe ich ein Video für Dich aufgenommen,
                  das
                  Dir ganz genau zeigt, wie einfach erfolgreiches Traden mit Traderista ist 😊📈🔥
                </p>
              </div>
            </b-modal>
          </div>

          <div class="iq-card-header-toolbar d-flex align-items-center ml-2" v-if="isAdmin">
            <b-button variant="success" v-if="post.user_trades.length > 0"
                      v-b-modal="'user-trades-'+post.id">
              Benutzergeschäfte
            </b-button>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center ml-2" v-if="isAdmin">
            <a v-if="post.isPinned" @click="unpinPost()">
              <i class="fas fa-solid fa-thumbtack mr-1"
                 style="color: #DAA520"></i>{{ $t('admin.unpinPost') }}
            </a>
            <a v-else @click="pinPost()">
              <i class="fas fa-solid fa-thumbtack mr-1" style="color: #DAA520"></i>{{
                $t('admin.pinPost')
              }}
            </a>
          </div>

          <div class="iq-card-header-toolbar d-flex align-items-center ml-2 mt-2" v-if="!isAdmin">
            <button class="button-1" @click="enterTrade()"
                    v-if="!hasUserEnteredTrade && tradeTable !== null">
              Ich habe den Trade eingegeben! 🔥
            </button>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center" v-if="isAdmin">
            <b-dropdown id="dropdownMenuButton40" right variant="none" menu-class="p-0">
              <template v-slot:button-content>
                <b-link href="#" class="text-secondary pl-0"><i
                    class="ml-5 mt-2 mr-0 fas fa-ellipsis-v"
                    style="padding-right: 0 !important;"></i>
                </b-link>
              </template>
              <b-dropdown-item>
                <a v-b-modal="post.id"><i
                    class="fas fa-2x fa-edit mr-1"></i>{{ $t('admin.editPost') }}
                </a>
                <b-modal :id="post.id"
                         cancel-title="Close" size="lg">
                  <EditSocialPost :post="post"></EditSocialPost>
                </b-modal>
              </b-dropdown-item>
              <b-dropdown-item @click="deletePost(post.id)">
                <a>
                  <i class="fas fa-2x fa-trash mr-1"></i> {{ $t('admin.delete') }}
                </a>
              </b-dropdown-item>
            </b-dropdown>
          </div>

          <div class="iq-card-header-toolbar d-flex align-items-center ml-2 mt-2"
               v-if="!isAdmin && hasUserEnteredTrade">
            <a v-b-toggle="'collapse-' + post.id">
              <i class="fa fa-chevron-down pull-right"></i>
            </a>
          </div>
          <!--                    <div class="iq-card-header-toolbar d-flex align-items-center">-->
          <!--                        {{ $t('dropdown.delete') }}-->
          <!--                    </div>-->
        </div>
        <b-modal v-if="isAdmin" :id="'user-trades-'+post.id"
                 ok-disabled cancel-disabled hide-footer size="lg"
                 header-bg-variant="success">
          <div class="justify-content-center text-center">
            <b-table responsive :items="getUserTrades()" class="mb-0" borderless
                     :fields="fields">
            </b-table>
          </div>
        </b-modal>
      </div>
    </template>
    <b-collapse :visible="!hasUserEnteredTrade" :id="'collapse-' + post.id" class="mt-2">
      <div class="user-post pr-3 pl-3">
        <p v-if="post.content" v-html="post.content">
        </p>
        <i v-if="tradeTable !== null" class="fa fa-info-circle cursor-pointer float-right pt-1 pb-2"
           v-b-modal="'info'+post.id"
           style="font-size:22px; color: lightgrey"></i>

        <div id="photo-grid">
          <b-table striped dark :items="tradeTable" style="white-space: pre-wrap;table-layout: fixed;"
                   thead-tr-class="primary-background-color table-head-wrap">
          </b-table>

        </div>
      </div>
      <div class="comment-area pl-3 pr-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <!--                    <div class="d-flex align-items-center feather-icon mr-3">-->
            <!--                        <b-link href="javascript:void(0);" @click="isLiked(!post.is_liked)">-->
            <!--                            <i :class="'text-danger '+(post.is_liked ? 'ri-heart-fill' : 'ri-heart-line')"></i>-->
            <!--                        </b-link>-->
            <!--                        <span class="ml-1">{{ post.likes }}</span>-->
            <!--                    </div>-->
            <div class="d-flex align-items-center message-icon">
              <b-link href="javascript:void(0);"><i class="ri-chat-4-line text-primary"></i></b-link>
              <span class="ml-1">{{ post.comments ? post.comments.length : 0 }}</span>
            </div>
          </div>
          <!--                <div class="d-flex align-items-center">-->
          <!--                    <div class="iq-media-group">-->
          <!--                        <b-link href="#" class="iq-media">-->
          <!--                            <b-img class="avatar-40" rounded="circle" fluid-->
          <!--                                   :src="require('../../../../assets/images/user/user-05.jpg')" alt=""/>-->
          <!--                        </b-link>-->
          <!--                        <b-link href="#" class="iq-media">-->
          <!--                            <b-img class="avatar-40" rounded="circle" fluid-->
          <!--                                   :src="require('../../../../assets/images/user/user-06.jpg')" alt=""/>-->
          <!--                        </b-link>-->
          <!--                        <b-link href="#" class="iq-media">-->
          <!--                            <b-img class="avatar-40" rounded="circle" fluid-->
          <!--                                   :src="require('../../../../assets/images/user/user-07.jpg')" alt=""/>-->
          <!--                        </b-link>-->
          <!--                        <b-link href="#" class="iq-media">-->
          <!--                            <b-img class="avatar-40" rounded="circle" fluid-->
          <!--                                   :src="require('../../../../assets/images/user/user-08.jpg')" alt=""/>-->
          <!--                        </b-link>-->
          <!--                        <b-link href="#" class="iq-media">-->
          <!--                            <b-img class="avatar-40" rounded="circle" fluid-->
          <!--                                   :src="require('../../../../assets/images/user/user-09.jpg')" alt=""/>-->
          <!--                        </b-link>-->
          <!--                    </div>-->
          <!--                </div>-->
        </div>
        <ul class="post-comments p-0 m-0">
          <li class="mb-2" v-for="(postComment, postCommentIndex) in post.comments" :key="postComment.id">
            <div class="d-flex flex-wrap mt-3 mb-3">
              <div class="media-support-info mb-0">
                <h6 class="mb-0 font-weight-bold">
                  {{ postComment.author.name + ' ' + postComment.author.surname }}
                </h6>
                <span class="mt-0"><small class="mt-0">{{
                    postComment.date_time | formatDate
                  }}</small></span>
                <p class="mb-0 mt-2" v-html="replaceURLs(postComment.content)"></p>
              </div>
              <div v-if="isCommentOfUser(postComment.author.id)"
                   class="d-flex flex-wrap align-items-start comment-activity">
                <b-button variant="link" @click="deleteComment(post.id, postComment.id)"
                          class="text-decoration-none">
                  <div
                      class="iq-card-header-toolbar d-flex align-items-center text-danger text-decoration-none">
                    <small>
                      {{ $t('dropdown.delete') }}
                    </small>
                  </div>
                </b-button>
              </div>
            </div>
          </li>
        </ul>
        <b-form class="comment-text d-flex align-items-center mt-4 mb-5 pb-5" action="javascript:void(0);">
          <b-form-input type="text" @keyup.enter="saveComment"
                        v-model="commentMessage"
                        class="rounded" placeholder="..."/>
          <div class="comment-attagement d-flex">
            <b-link href="javascript:void(0);"><i class="ri-send-plane-line mr-2"
                                                  @click="saveComment"></i>
            </b-link>
          </div>
        </b-form>
      </div>
    </b-collapse>
  </iq-card>
</template>
<script>
import {mapGetters} from "vuex";
import {PostService} from "../../../../services/post";
import {core} from '../../../../config/pluginInit'
import EditSocialPost from "../../../AdminApp/EditSocialPost";
import DELETE_POST from "../../../../graphql/mutations/deletePost.graphql";
import UPDATE_IS_PINNED from "../../../../graphql/mutations/updateIsPinnedPost.graphql";
import {Auth} from "../../../../config/auth";
import Store from "../../../../store";
import moment from "moment";

export default {
  name: 'SocialPost',
  components: {EditSocialPost},
  props: [
    'post',
  ],
  computed: {
    ...mapGetters({
      user: 'Setting/authUserState',
    }),
    tradeTable() {
      const trade = this.post['trade']
      let tradeTable = null;
      if (trade) {
        let value = Auth.isAdminAuthed() ? trade['amountPercentage'] + ' %' : (Auth.isUserAuthed() ? Math.round(100 * ((this.user.capital / 100) *
            trade['amountPercentage'] / 100)) / 100 : 1000 * trade['amountPercentage'] / 100);
        tradeTable = [
          this.getTradeTableRow(trade, this.$t('post.direction'), trade['position'] === 'LONG' ? 'KAUFEN (LONG)' : 'VERKAUFEN (SHORT)'),
          this.getTradeTableRow(trade, this.$t('post.entryDate'), moment(trade['entryDate']).format("DD.MM.yyyy") + ' bis ' + moment(trade['entryDate']).format("HH:mm")),
          this.getTradeTableRow(trade, this.$t('post.price'), trade['price']),
          this.getTradeTableRow(trade, this.$t('post.amount'), value),
          this.getTradeTableRow(trade, this.$t('post.hebel'), trade['leverage']),
          this.getTradeTableRow(trade, this.$t('post.stopLoss'), trade['stopLoss']),
          this.getTradeTableRow(trade, this.$t('post.takeProfit'), trade['takeProfit']),
        ];
      }
      return tradeTable;
    },
    isAdmin() {
      return Auth.currentRole() === Auth.Role.Admin;
    },
    hasUserEnteredTrade() {
      var found = false;
      for (var i = 0; i < this.post.user_trades.length; i++) {
        if (this.post.user_trades[i].user_id === Auth.id()) {
          found = true;
          break;
        }
      }
      return found;
    }
  },
  mounted() {
    // PostService.seePost(this.post.id)
  },
  data() {
    return {
      commentMessage: '',
      insertingComment: false,
      visible: this.hasUserEnteredTrade,
      fields: [
        {
          key: 'name',
          label: 'First Name'
        },
        {
          key: 'surname',
          label: 'Last Name'
        },
        {
          key: 'email',
          label: 'Email'
        },
        {
          key: 'cTimestamp',
          label: 'Time'
        }
      ]
    }
  },
  methods: {
    getTradeTableRow(trade, key, value) {
      const row = {};
      row[this.$t('post.asset')] = key
      row[trade['company']['name'] + ' (' + trade['company']['company_symbol'] + ')'] = value
      return row;
    },
    getUserTrades() {
      var userTrades = this.post.user_trades;

      var list = [];
      for (var trade of userTrades) {
        var tradeJSON = JSON.parse(JSON.stringify(trade));
        list.push({
          name: tradeJSON.user.name,
          surname: tradeJSON.user.surname,
          email: tradeJSON.user.email,
          cTimestamp: moment(tradeJSON.CTimestamp).format("DD/MM/yyyy HH:mm"),
        });
      }
      return list;
    },
    saveComment() {
      if (!this.insertingComment && this.commentMessage.length > 0) {
        this.insertingComment = true;
        core.showSnackbar('success', this.$t('post.commentWasSubmitted'))
        PostService.createComment(this.post.id, this.commentMessage).then((success) => {
          if (success) {
            this.commentMessage = ''
          } else {
            core.showSnackbar('error', this.$t('results.error'))
          }
          this.insertingComment = false;
        })
      }
    },
    deleteComment(postId, id) {
      core.showSnackbar('success', this.$t('post.commentDeleted'))
      PostService.deleteComment(postId, id).then((success) => {
        if (!success) {
          core.showSnackbar('error', this.$t('results.error'))
        }
      })
    },
    isCommentOfUser(userId) {
      if (this.user) {
        return Number(userId) === Number(this.user.id)
      }
      return true
    },
    deletePost(postId) {
      this.$apollo.mutate({
        mutation: DELETE_POST,
        variables: {
          id: postId
        }
      }).then(async (data) => {
        console.log(data)
        core.showSnackbar('success', this.$t('post.deletedSuccessfully'))
        location.reload();
      }).catch(err => {
        core.showSnackbar('error', this.$t('results.error'))
        console.log(err)
        return false
      })
    },
    pinPost() {
      this.$apollo.mutate({
        mutation: UPDATE_IS_PINNED,
        variables: {
          input: {
            id: this.post.id,
            isPinned: true,
          }
        }
      }).then(async (data) => {
        core.showSnackbar('success', this.$t('post.updateSuccess'));
        await Store.dispatch('Setting/pinPostAction', {
          id: this.post.id,
          isPinned: true
        });
      }).catch(err => {
        core.showSnackbar('error', this.$t('results.error'))
        console.log(err)
        return false
      })
    },
    unpinPost() {
      this.$apollo.mutate({
        mutation: UPDATE_IS_PINNED,
        variables: {
          input: {
            id: this.post.id,
            isPinned: false,
          }
        }
      }).then(async (data) => {
        core.showSnackbar('success', this.$t('post.updateSuccess'));
        await Store.dispatch('Setting/pinPostAction', {
          id: this.post.id,
          isPinned: false
        });
      }).catch(err => {
        core.showSnackbar('error', this.$t('results.error'))
        console.log(err)
        return false
      })
    },
    replaceURLs(message) {
      if (!message) return;

      var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
      return message.replace(urlRegex, function (url) {
        var hyperlink = url;
        if (!hyperlink.match('^https?:\/\/')) {
          hyperlink = 'https://' + hyperlink;
        }
        return '<a href="' + hyperlink + '" target="_blank" rel="noopener noreferrer">' + url + '</a>'
      });
    },
    enterTrade() {
      PostService.enterTrade(this.post.id).then((success) => {
        if (success) {
          this.$emit('tradeEntered', true);
        }
      });
    },
  }
}
</script>

<style>
header {
  background-color: white !important;
}

.table-head-wrap {
  word-wrap: break-word;
}

.modal-footer {
  display: none !important;
}

/* CSS */
.button-1 {
  background-color: #DAA520;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #454d55;
}
</style>
