/* sm */
.intro-video {
    padding-top: 125px;
    padding-right: 30px;
    padding-left: 30px;
}

.intro-message {
    padding: 50px 30px 30px;
}

.intro-message h1 {
    font-size: 35px;
    min-height: 120px;
    /*color: #dec950;*/
}

.intro-icons {
    display: none !important;
}

@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 20px;
        padding-left: 50px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }
    .intro-icons {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-message h1 {
        font-size: 40px;
        min-height: 120px;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

/* Custom media queries */
/* xxl */
@media (min-width: 1650px) {
    .intro-video {
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 160px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-icons {
        display: none !important;
    }
}


/* Intro section in sales page */
/* [ 4. slideshow ] */
.intro-section {
    height: 730px;
    margin-top: -125px;
}

.intro-section .uk-button {
    margin-top: 10px;
}

.intro-section .uk-grid-medium {
    position: relative;
    top: 182px;
}

.intro-section .uk-grid-medium .in-slide-img {
    margin-top: -40px;
}

@media (max-width: 960px) {
    .intro-section {
        height: auto;
    }

    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -30px;
        text-align: center;
    }

    .intro-section img {
        width: 90%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -10px;
        text-align: center;
    }

    .intro-section img {
        width: 100%;
        margin-left: -60px;
    }
}

.intro-section {
    background-color: #212224;
}

.intro-section .uk-slidenav {
    bottom: 175px;
    color: #fff;
}

.intro-section .intro-section-features {
    height: 220px;
    background: linear-gradient(0deg, #212224 65%, rgba(33, 34, 36, 0.3) 100%);
    margin-top: -190px;
}

.intro-section .intro-section-features .uk-container {
    position: relative;
    top: 124px;
}

.intro-section .intro-section-features .uk-label {
    font-weight: 500;
    padding: 2px 9px 2px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.intro-section .intro-section-features .uk-label i {
    margin-right: 5px;
}

.intro-section .intro-section-features .uk-label-success {
    color: #176639;
    background-color: #2ecc71;
}

.intro-section .intro-section-features .uk-label-danger {
    color: #772838;
    background-color: #ee4f6f;
}

.intro-section .intro-section-features .uk-text-lead {
    color: #fff;
    margin-top: -80px;
}

.intro-section .intro-section-features .slide-icons-1 {
    margin-top: -25px;
}

.intro-section .intro-section-features .slide-icons-1 i {
    color: #DAA520;
}

.intro-section .intro-section-features .slide-icons-2 {
    margin-top: -32px;
}

.intro-section .intro-section-features .slide-icons-2 img {
    margin-top: 5px;
}

@media (max-width: 960px) {
    .intro-section .uk-slidenav {
        display: none;
    }
}
