@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}

.first-pricing-package-title {
    color: rgb(0, 123, 255);
}

.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.second-pricing-package-title {
    color: rgb(103, 42, 189);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.third-pricing-package-title {
    color: rgb(207, 119, 39);
}

.pricing-nav .active .nav-tab-container {
    border-top: 5px solid #DAA520;
    /*padding-top: 20px;*/
}

.pricing-nav .nav-tab-container {
    border-top: 0;
}

.pricing-nav .active h4 {
    color: black !important;
}

.pricing-nav h4 {
    color: grey !important;
}

.pricing-nav .active p {
    color: black !important;
}

.pricing-nav p {
    color: grey !important;
}

.pricing-nav a {
    padding: 0;
    margin-top: 15px;
}

.pricing-nav .active a {
    padding: 0;
    margin: 0;
}

.pricing-title {
    font-size: 17px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
    border: 0;
}

/* sm */
@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .pricing-title {
        font-size: 25px;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}
