header {
    background-color: rgba(22, 22, 26, .7);
}

.text-primary-color {
    color: #DAA520 !important;
}

.primary-background-color {
    background-color: #DAA520 !important;
}

.text-black {
    color: black !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 17px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20{
    font-size: 20px !important;
}

.color-black{
    color: black !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.m-t-15{
    margin-top: 15px !important;
}

.m-t-25{
    margin-top: 25px !important;
}

.m-t-40{
    margin-top: 40px !important;
}

.m-t-50{
    margin-top: 50px !important;
}

.p-l-15{
    padding-left: 15px !important;
}

.p-r-20{
    padding-right: 20px !important;
}

.font-15 {
    font-size: 15px !important;
}

.line-height-17 {
    line-height: 1.7 !important;
}

/* sm */
@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {

}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}

