<template>
    <div>
        <div class="user-post-data p-3">
            <div class="d-flex flex-wrap">
                <div class="media-support-info mt-2">
                    <h5 class="mb-0">
                        <b-link href="#" class="">{{ post.title }}</b-link>
                    </h5>
                    <p class="mb-0 text-secondary">{{ post.cTimestamp | formatDate }}</p>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                    <b-dropdown id="dropdownMenuButton40" right variant="none" menu-class="p-0">
                        <template v-slot:button-content>
                            <b-link href="#" class="text-secondary"><i class="ml-3 ri-more-2-line"></i>
                            </b-link>
                        </template>
                        <b-dropdown-item href="#"><i class="ri-share-forward-line mr-2"></i>Share
                        </b-dropdown-item>
                        <b-dropdown-item href="#"><i class="ri-file-copy-line mr-2"></i>Copy Link
                        </b-dropdown-item>
                    </b-dropdown>
                </div>

            </div>
        </div>
        <hr class="m-0"/>
        <div class="user-post">
            <p class="p-2" v-if="post.text">{{ post.text }}</p>
        </div>
        <div class="comment-area p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center feather-icon mr-3">
                        <b-link href="javascript:void(0);" @click="toggleLikeButton()">
                            <i :class="'text-danger '+(isLikedByUser ? 'ri-heart-fill' : 'ri-heart-line')"></i>
                        </b-link>
                        <span class="ml-1">{{ post.blogLikes.length }}</span>
                    </div>
                    <div class="d-flex align-items-center message-icon">
                        <b-link href="javascript:void(0);"><i class="ri-chat-4-line text-primary"></i></b-link>
                        <span class="ml-1">{{ post.blogComments.length }}</span>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="post-comments p-0 m-0">
                <li class="mb-2" v-for="(postComment, postCommentIndex) in post.blogComments" :key="postComment.id">
                    <div class="d-flex flex-wrap">
                        <div class="user-img">
                            <b-img :src="postComment.image" alt="userimg" class="avatar-35" rounded="circle" fluid/>
                        </div>
                        <div class="comment-data-block ml-3">
                            <h6>{{ postComment.user.name }}</h6>
                            <p class="mb-0">{{ postComment.content }}</p>
                            <div class="d-flex flex-wrap align-items-center comment-activity">
                                <!--                                <b-link @click="isLikedComment(postCommentIndex, !postComment.is_commentLike)">-->
                                <!--                                    <span v-if="!postComment.is_commentLike" class="text-primary">like</span>-->
                                <!--                                    <span class="text-secondary" v-else>unlike</span>-->
                                <!--                                </b-link>-->
                            </div>
                        </div>
                        <span>{{ postComment.cTimestamp | formatDate }}</span>
                    </div>
                </li>
            </ul>
            <b-form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                <b-form-input type="text" @keyup.enter="saveComment(commentMessage)" v-model="commentMessage"
                              class="rounded" placeholder="Lovely!"/>
                <div class="comment-attagement d-flex">
                    <b-link href="javascript:void(0);"><i class="ri-send-plane-line mr-2"
                                                          @click="saveComment(commentMessage)"></i></b-link>
                </div>
            </b-form>
        </div>
    </div>
</template>
<script>


import {Auth} from "../../config/auth";
import {apolloClient, onLogin} from "../../config/apollo";
// import LikeBlogPost

export default {
    name: 'BlogPost',
    props: {
        post: Object
    },
    data() {
        return {
            isAdmin: Auth.isAdminAuthed(),
            isLikedByUser: this.post.blogLikes.find(function (ele) {
                return ele.id === Auth.id();
            }) !== 'undefined',
            commentMessage: '',
        }
    },
    methods: {
        toggleLikeButton() {
            this.isLikedByUser = !this.isLikedByUser;
            return apolloClient.mutate({
                mutation: LOGIN,
                variables: {
                    username: user.email,
                    password: user.password,
                    scope: user.role,
                },
            }).then(async (data) => {
                await Store.dispatch('Setting/authUserAction', {
                    auth: true,
                    user: data['data']['login']['user']
                })

                Auth.authenticate(data['data']['login'])
                Auth.deleteRegisteringEmail()
                await onLogin(apolloClient)
                return true
            }).catch(err => {
                return false
            })
        },
        saveComment(postComment) {
            this.post.comments.push({
                image: require('../../assets/images/user/user-04.jpg'),
                user: {name: 'Sandy S', msg: postComment, time: new Date()},
                is_commentLike: false
            })

            this.commentMessage = ''
        }
    },
    // apollo: {
    //     new_comment_added: {
    //         query: SUBSCRIPTION_COMMENT_ADDED,
    //         variables: {
    //             "input": this.post.id
    //         },
    //         result(data) {
    //             this.post.blogComments = data.data.blogComments
    //         },
    //     },
    // }
}
</script>
