<template>
    <div class="justify-content-center text-center">
        <p class="text-center">
            Bist du sicher, dass du kündigen möchtest? 💔 <br/>

            Du kannst die Inhalte weiterhin bis zum Ende deines Zahlungszeitraums nutzen,
            verlierst jedoch ggf. deine Provisionszahlungen als Traderista Partner 🙈<br/>

            Wenn dir etwas nicht gefällt, sag uns gern Bescheid.
            <br>Wir finden gemeinsam eine
            Lösung und du erhältst Boni für Feedback, das wir umsetzen 😊
            <br/>
            <br/>
        </p>

            <img alt="sad-dog" class="uk-align-center" src="../../assets/images/dog.gif"/>
        <div class="row uk-align-right">
            <button @click="" class="btn btn-primary mr-3">
                Nein, ich bleibe ein Traderista! 💪🏽
            </button>
            <button @click="" class="btn btn-secondary mr-3">
                ja, ich möchte kündigen
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "CancelSubscriptionModal"
}
</script>

<style scoped>

</style>
