<template>
    <b-container fluid>
        <RouterLink :to="{ name: 'survey' }">
            <button
                class="uk-width-1-1 uk-button primary-background-color text-white font-15 survey-button
                                                font-weight-bold uk-border-rounded mb-5">Nicht sicher, welches Paket das
                beste für dich ist? Finde es in diesem kurzen Quiz heraus
            </button>
        </RouterLink>
        <ApolloQuery :query="notification">
            <template v-slot="{ result: { loading, error, data } }">
                <div v-if="loading"></div>
                <div v-else-if="error">{{ $t('results.error') }}</div>
                <div v-else-if="data">
                    <div v-if="!data.userInboxMessages || data.userInboxMessages.length === 0"
                         class="no-result apollo justify-content-center content-center text-center align-self-center mt-5">
                        <i class="fas fa-th-list fa-2x"></i>
                        <p>{{ $t('coaching.noResults') }}</p>
                    </div>
                    <b-row>
                        <b-col md="6" v-for="(item, index) of data.userInboxMessages"
                               :key="item.id">
                            <iq-card body-class="text-center">
                                <template v-slot:body>
                                    <h6 :class=" 'text-uppercase mb-3 mr-1 max-lines-2 font-weight-bold'">
                                        {{ item.inboxMessage.title }}</h6>
                                    <!--                                    <p v-html="removeLineBreaks(item.inboxMessage.body)"></p>-->
                                    <b-button variant="success" class="text-center mt-3 "
                                              size="lg" @click="showPreviewModal(item.inboxMessage.id)">
                                        {{ $t('coaching.show') }}
                                    </b-button>
                                    <b-modal :id="'preview-' + item.inboxMessage.id"
                                             cancel-title="Close" size="lg">
                                        <h4 class="mb-3">{{ item.inboxMessage.title }}</h4>
                                        <div v-html="item.inboxMessage.body"></div>
                                        <div class="mt-4">
                                            <ValidationObserver v-slot="{ handleSubmit }" class="ml-2 mr-2">
                                                <form
                                                    @submit.prevent="handleSubmit(sendQuestion(item.inboxMessage.title))">
                                                    <h6 class="mb-1">{{ $t('coaching.question') }}</h6>
                                                    <textarea class="uk-textarea uk-border-rounded"
                                                              id="message5" name="text" v-model="question"
                                                              rows="2"></textarea>
                                                    <b-button type="submit" variant="primary" class="mt-2">
                                                        {{ $t('coaching.send') }}
                                                    </b-button>
                                                </form>
                                            </ValidationObserver>
                                        </div>
                                    </b-modal>
                                </template>
                            </iq-card>
                        </b-col>
                    </b-row>
                </div>
            </template>
        </ApolloQuery>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import {mapGetters} from "vuex";
import loader from '../../assets/images/loader.gif';
import userInboxMessages from "../../graphql/queries/getUserInboxMessages.graphql";
import {Auth} from "../../config/auth";
import {MailService} from "../../services/mail";
import {TrackingService} from "../../services/tracking";

export default {
    name: "UserPackagesPage",
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        isLoading() {
            return this.loading
        }
    },
    mounted() {
        core.index();
        TrackingService.pageView("Coaching Page",  this.$route);
    },
    data() {
        return {
            loader: loader,
            loading: true,
            numUsers: 1001,
            notification: userInboxMessages,
            user_id: Auth.id(),
            question: "",
        }
    },
    methods: {
        sendQuestion(title) {
            if (this.question.length > 0) {
                core.showSnackbar('success', this.$t('coaching.messageSent'))
                MailService.sendCoachingQuestionEmail(title, this.question).then((success) => {
                    this.question = "";
                    if (!success) {
                        core.showSnackbar('error', this.$t('results.operationFailed'))
                    }
                })
            }
        },
        removeLineBreaks(str) {
            let s1 = str.replaceAll('<p>', ' ');
            s1 = s1.replaceAll('</p>', ' ')
            return s1.trim().substr(0, s1.length > 180 ? 180 : s1.length - 1) + '...';
        },
        showPreviewModal(id) {
            this.$bvModal.show('preview-' + id);
            MailService.updateMessageStatus(id);
        },
        // sortMessages(a, b) {
        //     if (a.day === b.day) {
        //         return a.priority < b.priority ? -1 : 1;
        //     }
        //     return a.day > b.day ? 1 : -1;
        // },
    },
}
</script>

<style scoped>
@media (max-width: 550px) {
    .survey-button {
        font-size: 11px !important;
    }
}
</style>

