<template>
    <b-container>
        <div>
            <div class="justify-content-center text-center">
                <b-form-checkbox
                    id="checkbox-1"
                    v-model="showPayPal"
                    name="checkbox-1"
                    value="true"
                    unchecked-value="false" class="mb-2 font-size-18">
                    <strong>Ja, ich will das Upgrade zum Paket!</strong>
                </b-form-checkbox>
                <div v-show="showPayPal === 'true'">
                    <PaypalSecondaryButton class="d-flex justify-content-center"
                                           @click="closeModal(modalId)"
                                           :package-id="packageId"
                                           :individual-support-discount="true"
                                           :destination="defineRoutingDestination()">
                    </PaypalSecondaryButton>
                </div>

                <p>Einmaliges Angebot: Nur 1 x 18,90&euro;! Willst du individuellen LIFETIME
                    Support für
                    garantierten Erfolg?</p>
                <p>Dieser individuelle lebenslange Support via WhatsApp oder Telefon ist deine
                    ERFOLGSGARANTIE!</p>
                <p>Wann immer du Fragen hast, kannst Du einfach eine kurze Nachricht schreiben
                    und wir schreiben zurück
                    oder rufen dich an - ganz, wie du möchtest.
                </p>
                <p>Unsere erfolgreichsten Member und vor allem Partner nutzen diesen Support -
                    hiermit VERDOPPELST du
                    deine Ergebnisse in der HÄLFTE der Zeit!
                </p>
                <p class="font-weight-bolder text-black">Klick auf „JA, ICH WILL DAS UPGRADE ZUM PAKET!“, um Deinen
                    individuellen
                    LIFETIME Support für
                    einmalig <s>99,90€</s> 18,90€ zu bekommen. (Dieses einmalige Angebot ist ansonsten nirgendwo
                    erhältlich)</p>


                <!--                <h2 class="mb-1 font-weight-bolder">-->
                <!--                    Einmaliges Angebot: Nur 1 x 18,90€! Willst du individuellen LIFETIME Support für garantierten-->
                <!--                    Erfolg?-->
                <!--                </h2>-->
                <!--                <p class="text-center line-height-4 font-size-16 mb-3 text-black">-->
                <!--                    Dieser individuelle lebenslange Support via WhatsApp oder Telefon ist deine ERFOLGSGARANTIE! <br/>-->
                <!--                    Wann immer du Fragen hast, kannst Du einfach eine kurze Nachricht schreiben und wir schreiben-->
                <!--                    zurück oder rufen dich an - ganz, wie du möchtest.<br/>-->
                <!--                    Unsere erfolgreichsten Member und vor allem Partner nutzen diesen Support - hiermit VERDOPPELST-->
                <!--                    du deine Ergebnisse in der HÄLFTE der Zeit! <br/>-->
                <!--                </p>-->
                <!--                <p class="text-center font-weight-bold">-->
                <!--                    Klick auf „JA, ICH WILL DAS UPGRADE ZUM PAKET!“, um Deinen individuellen LIFETIME Support für-->
                <!--                    einmalig 99,90€ 18,90€ zu bekommen.-->
                <!--                    (Dieses einmalige Angebot ist ansonsten nirgendwo erhältlich)-->
                <!--                </p>-->
                <!--                <h2 class="mb-1 font-weight-bolder">-->
                <!--                    18.90€-->
                <!--                    <small class="font-size-14 ">-->
                <!--                    </small>-->
                <!--                </h2>-->
            </div>
            <!--                <div class="d-flex justify-content-center">-->

            <!--                </div>-->
        </div>
        <div class="justify-content-center text-center">
            <b-button @click="closeModal(modalId)">
                Cancel
            </b-button>
        </div>
    </b-container>
</template>

<script>


import PaypalSecondaryButton from "../Website/PaypalSecondaryButton";

export default {
    name: "IndividualSupportModal",
    props: {
        packageId: String,
        duration: String,
        fromRegister: Boolean,
        modalId: String
    },
    components: {
        PaypalSecondaryButton
    },
    data() {
        return {
            showPayPal: false
        }
    },
    methods: {
        toggleShowPayPal(val) {
            this.showPayPal = val;
        },
        closeModal(id) {
            var destination = this.defineRoutingDestination();
            console.log(destination);
            if (destination === 'cart-funnel') {
                this.$router.push({
                    name: 'cart-funnel',
                    query: {
                        packageId: this.packageId,
                    },
                });
            } else if (destination === 'application-funnel') {
                this.$router.push({
                    name: 'application-funnel'
                });
            }

            this.$bvModal.hide(id);
        },
        defineRoutingDestination() {
            if (this.duration === "MONTHLY" && this.fromRegister === true) {
                return "cart-funnel"
            }
            if (this.duration === "ANNUAL") {
                return "application-funnel"
            }
            return ""
        }
    }

}
</script>

<style scoped>

</style>
