<template>
    <b-container>
        <div>
            <div v-if="this.combinationObject.operation === 'ADD'">
                <div class="justify-content-center text-center">
                    <p class="text-center">
                        {{ this.mainText }}
                        <br/>
                        <br/>
                    </p>
                </div>
                <b-row>
                    <b-col lg="6" md="6" sm="12">
                        <div class="pr-0 pl-0  pb-4">
                            <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-sm rounded">
                                <p class="text-center font-weight-bold">
                                    {{ this.option1Text }}
                                </p>
                                <div class="text-center pr-4 pl-4 pb-4">
                                    <h2 :class="['font-weight-bold', {'second-pricing-package-title' : true}]">
                                        {{
                                            getPackageModel(this.combinationObject.newId).name
                                        }}
                                    </h2>
                                    <h2 class="mb-1 font-weight-bolder">
                                        {{
                                            packagePrice(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                        }}
                                        <small class="font-size-14 ">
                                            {{
                                                this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                            }}
                                        </small>
                                    </h2>
                                    <p class="pricing-package-desc">
                                        {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                </div>

                                <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                              :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                              :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                              :duration="this.combinationObject.duration"
                                              :has-subscription-history="true"
                                              :from-register="false"
                                              :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                    }
                                </PaypalButton>
                            </div>
                        </div>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                        <div class="pr-0 pl-0  pb-4">
                            <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-gold rounded">
                                <p class="text-center font-weight-bold">
                                    {{ this.option2Text }}
                                </p>
                                <div class="text-center pr-4 pl-4 pb-4">
                                    <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                        {{
                                            getPackageModel(this.combinationObject.newId).name
                                        }}
                                    </h2>
                                    <h2 class="mb-1 font-weight-bolder">
                                        {{
                                            packagePriceWithSign(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                        }}
                                        <small class="font-size-14 ">
                                            {{
                                                this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                            }}
                                        </small>
                                    </h2>
                                    <p class="pricing-package-desc">
                                        {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                </div>
                                <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                              :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                              :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                              :duration="this.combinationObject.duration"
                                              :has-subscription-history="true"
                                              :from-register="false"
                                              :cancelOptions="{cancel: false,currentSubId:this.combinationObject.currentSubId}">
                                </PaypalButton>
                            </div>
                        </div>
                    </b-col>
                </b-row>
                <div class="justify-content-center text-center" v-if="option3Text !== null">
                    <b-button @click="closeModal()">
                        {{ this.option3Text }}
                    </b-button>
                </div>
            </div>

            <div
                v-if="this.combinationObject.operation === 'UPGRADE' && this.combinationObject.newId === this.combinationObject.newPackageIdSuggested">
                <div>
                    <div class="justify-content-center text-center">
                        <p class="text-center">
                            {{ this.mainText }}
                            <br/>
                            <br/>
                        </p>
                    </div>
                    <b-row>
                        <b-col lg="2" md="2" sm="2"></b-col>
                        <b-col lg="8" md="8" sm="8">
                            <div class="pr-2 pl-2 pb-4">
                                <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-gold rounded">
                                    <p class="text-center font-weight-bold">
                                        {{ this.option2Text }}
                                    </p>
                                    <div class="text-center pr-4 pl-4 pb-4">
                                        <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                            {{
                                                getPackageModel(this.combinationObject.newId).name
                                            }}
                                        </h2>
                                        <h2 class="mb-1 font-weight-bolder">
                                            {{
                                                packagePrice(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                            }}
                                            <small class="font-size-14 ">
                                                {{
                                                    this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                }}
                                            </small>
                                        </h2>
                                        <p class="pricing-package-desc">
                                            {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                    </div>

                                    <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                                  :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                                  :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                                  :duration="this.combinationObject.duration"
                                                  :has-subscription-history="true"
                                                  :from-register="false"
                                                  :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                    </PaypalButton>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg="2" md="2" sm="2"></b-col>
                    </b-row>
                    <div class="text-center justify-content-center" v-if="option3Text !== null">
                        <b-button @click="closeModal()">
                            {{ this.option3Text }}
                        </b-button>
                    </div>
                </div>
            </div>

            <div
                v-if="this.combinationObject.operation === 'UPGRADE' && this.combinationObject.newId !== this.combinationObject.newPackageIdSuggested">
                <div>
                    <div class="justify-content-center text-center">
                        <p class="text-center">
                            {{ this.mainText }}
                            <br/>
                            <br/>
                        </p>
                    </div>
                    <b-row>
                        <b-col lg="6" md="6" sm="12">
                            <div class="pr-0 pl-0 pb-4">
                                <div class="pt-3 pr-3 pl-3  mr-3 ml-3 shadow-sm rounded">
                                    <p class="text-center font-weight-bold">
                                        {{ this.option1Text }}
                                    </p>
                                    <div class="text-center pb-4 pr-4 pl-4">
                                        <h2 :class="['font-weight-bold', {'first-pricing-package-title' : true}]">
                                            {{
                                                getPackageModel(this.combinationObject.newId).name
                                            }}
                                        </h2>
                                        <h2 class="mb-1 font-weight-bolder">
                                            {{
                                                packagePrice(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                            }}
                                            <small class="font-size-14 ">
                                                {{
                                                    this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                }}
                                            </small>
                                        </h2>
                                        <p class="pricing-package-desc">
                                            {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                    </div>

                                    <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                                  :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                                  :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                                  :duration="this.combinationObject.duration"
                                                  :has-subscription-history="true"
                                                  :from-register="false"
                                                  :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                    </PaypalButton>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg="6" md="6" sm="12">
                            <div v-if="option2Text !== null">
                                <div class="pr-0 pl-0  pb-4">
                                    <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-gold rounded">
                                        <p class="text-center font-weight-bold">
                                            {{ this.option2Text }}
                                        </p>
                                        <div class="text-center pr-4 pl-4 pb-4">
                                            <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).name
                                                }}
                                            </h2>
                                            <h2 class="mb-1 font-weight-bolder">
                                                {{
                                                    packagePriceWithSign(getPackageModel(this.combinationObject.newPackageIdSuggested), this.combinationObject.duration)
                                                }}
                                                <small class="font-size-14 ">
                                                    {{
                                                        this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                    }}
                                                </small>
                                            </h2>
                                            <p class="pricing-package-desc">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).description
                                                }}</p>
                                        </div>
                                        <PaypalButton
                                            :package-id="this.combinationObject.newPackageIdSuggested.toString()"
                                            :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newPackageIdSuggested).monthlyPlanId : getPackageModel(this.combinationObject.newPackageIdSuggested).annuallyPlanId"
                                            :package-price="packagePrice(getPackageModel(this.combinationObject.newPackageIdSuggested),this.combinationObject.duration)"
                                            :duration="this.combinationObject.duration"
                                            :has-subscription-history="true"
                                            :from-register="false"
                                            :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                        </PaypalButton>
                                    </div>
                                </div>
                            </div>

                        </b-col>
                    </b-row>
                    <div class="justify-content-center text-center" v-if="option3Text !== null">
                        <b-button @click="closeModal()">
                            {{ this.option3Text }}
                        </b-button>
                    </div>
                </div>
            </div>

            <div v-if="this.combinationObject.operation === 'DOWNGRADE'">
                <div>
                    <div>
                        <div class="justify-content-center text-center">
                            <p class="text-center">
                                {{ this.mainText }}
                                <br/>
                                <br/>
                            </p>
                        </div>
                        <div class="justify-content-center text-center pt-4 pb-4"
                             v-if="option2Text !== null">
                            <b-button class="m-3 primary-button" @click="closeModal()">
                                {{ this.option2Text }}
                            </b-button>
                        </div>
                        <hr>
                        <b-row>
                            <b-col sm="0" lg="2" md="0"></b-col>
                            <b-col sm="8" lg="8" md="8">
                                <div class="pr-0 pl-0 pt-4 pb-4">
                                    <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-sm rounded">
                                        <p class="text-center font-weight-bold">
                                            {{ this.option3Text }}
                                        </p>
                                        <div class="text-center pr-4 pl-4 pb-4">
                                            <h2 :class="['font-weight-bold', {'second-pricing-package-title' : true}]">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).name
                                                }}
                                            </h2>
                                            <h2 class="mb-1 font-weight-bolder">
                                                {{
                                                    packagePrice(getPackageModel(this.combinationObject.newPackageIdSuggested), this.combinationObject.duration)
                                                }}
                                                <small class="font-size-14 ">
                                                    {{
                                                        this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                    }}
                                                </small>
                                            </h2>
                                            <p class="pricing-package-desc">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).description
                                                }}</p>
                                        </div>

                                        <PaypalButton
                                            :package-id="this.combinationObject.newPackageIdSuggested.toString()"
                                            :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newPackageIdSuggested).monthlyPlanId : getPackageModel(this.combinationObject.newPackageIdSuggested).annuallyPlanId"
                                            :package-price="packagePrice(getPackageModel(this.combinationObject.newPackageIdSuggested),this.combinationObject.duration)"
                                            :duration="this.combinationObject.duration"
                                            :has-subscription-history="true"
                                            :from-register="false"
                                            :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                        </PaypalButton>
                                    </div>
                                </div>
                            </b-col>
                            <b-col sm="0" lg="2" md="0"></b-col>
                        </b-row>
                    </div>
                </div>
            </div>

            <div v-if="this.combinationObject.operation === 'BUY-NEW'">
                <div>
                    <div class="justify-content-center text-center">
                        <p class="text-center">
                            {{ this.mainText }}
                            <br/>
                            <br/>
                        </p>
                    </div>
                    <b-row>
                        <b-col lg="6" md="6" sm="12">
                            <div class="pr-2 pl-2  pb-4">
                                <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-sm rounded">
                                    <p class="text-center font-weight-bold">
                                        {{ this.option1Text }}
                                    </p>
                                    <div class="text-center pr-4 pl-4 pb-4">
                                        <h2 :class="['font-weight-bold', {'second-pricing-package-title' : true}]">
                                            {{
                                                getPackageModel(this.combinationObject.newId).name
                                            }}
                                        </h2>
                                        <h2 class="mb-1 font-weight-bolder">
                                            {{
                                                packagePrice(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                            }}
                                            <small class="font-size-14 ">
                                                {{
                                                    this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                }}
                                            </small>
                                        </h2>
                                        <p class="pricing-package-desc">
                                            {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                    </div>

                                    <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                                  :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                                  :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                                  :duration="this.combinationObject.duration"
                                                  :has-subscription-history="true"
                                                  :from-register="false"
                                                  :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                    </PaypalButton>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg="6" md="6" sm="12">
                            <div v-if="option2Text !== null">
                                <div class="pr-0 pl-0  pb-4">
                                    <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-gold rounded">
                                        <p class="text-center font-weight-bold">
                                            {{ this.option2Text }}
                                        </p>
                                        <div class="text-center pr-4 pl-4 pb-4">
                                            <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).name
                                                }}
                                            </h2>
                                            <h2 class="mb-1 font-weight-bolder">
                                                {{
                                                    packagePriceWithSign(getPackageModel(this.combinationObject.newPackageIdSuggested), this.combinationObject.duration)
                                                }}
                                                <small class="font-size-14 ">
                                                    {{
                                                        this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                    }}
                                                </small>
                                            </h2>
                                            <p class="pricing-package-desc">
                                                {{
                                                    getPackageModel(this.combinationObject.newPackageIdSuggested).description
                                                }}</p>
                                        </div>
                                        <PaypalButton
                                            :package-id="this.combinationObject.newPackageIdSuggested.toString()"
                                            :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newPackageIdSuggested).monthlyPlanId : getPackageModel(this.combinationObject.newPackageIdSuggested).annuallyPlanId"
                                            :package-price="packagePrice(getPackageModel(this.combinationObject.newPackageIdSuggested),this.combinationObject.duration)"
                                            :duration="this.combinationObject.duration"
                                            :has-subscription-history="true"
                                            :from-register="false"
                                            :cancelOptions="{cancel: false,currentSubId:this.combinationObject.currentSubId}">
                                        </PaypalButton>
                                    </div>
                                </div>
                            </div>

                        </b-col>
                    </b-row>
                    <div class="text-center justify-content-center" v-if="option3Text !== null">
                        <b-button @click="closeModal()">
                            {{ this.option3Text }}
                        </b-button>
                    </div>
                </div>
            </div>

            <div v-if="this.combinationObject.operation === 'BUY-NEW-2'">
                <div>
                    <div class="justify-content-center text-center">
                        <p class="text-center">
                            {{ this.mainText }}
                            <br/>
                            <br/>
                        </p>
                    </div>
                    <b-row>
                        <b-col lg="4" md="4" sm="12">
                            <div class="pr-0 pl-0  pb-4">
                                <div class="pt-3 pr-1 pl-1 mr-3 ml-3 shadow-sm rounded">
                                    <p class="text-center font-weight-bold">
                                        {{ this.option1Text }}
                                    </p>
                                    <div class="text-center pr-2 pl-2 pb-2">
                                        <h2 :class="['font-weight-bold', {'third-pricing-package-title' : true}]">
                                            {{
                                                getPackageModel(this.combinationObject.newId).name
                                            }}
                                        </h2>
                                        <h2 class="mb-1 font-weight-bolder">
                                            {{
                                                packagePrice(getPackageModel(this.combinationObject.newId), this.combinationObject.duration)
                                            }}
                                            <small class="font-size-14 ">
                                                {{
                                                    this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                }}
                                            </small>
                                        </h2>
                                        <p class="pricing-package-desc">
                                            {{ getPackageModel(this.combinationObject.newId).description }}</p>
                                    </div>

                                    <PaypalButton :package-id="this.combinationObject.newId.toString()"
                                                  :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newId).monthlyPlanId : getPackageModel(this.combinationObject.newId).annuallyPlanId"
                                                  :package-price="packagePrice(getPackageModel(this.combinationObject.newId),this.combinationObject.duration)"
                                                  :duration="this.combinationObject.duration"
                                                  :has-subscription-history="true"
                                                  :from-register="false"
                                                  :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                    </PaypalButton>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg="8" md="8" sm="12">
                            <div v-if="option2Text !== null">
                                <div class="pr-0 pl-0  pb-4">
                                    <div class="pt-3 pr-3 pl-3 mr-3 ml-3 shadow-gold rounded">
                                        <p class="text-center font-weight-bold">
                                            {{ this.option2Text }}
                                        </p>

                                        <b-row>
                                            <b-col>
                                                <div class="text-center pr-4 pl-4 pb-4">
                                                    <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                                        {{
                                                            getPackageModel(this.combinationObject.newPackageIdSuggested).name
                                                        }}
                                                    </h2>
                                                    <h2 class="mb-1 font-weight-bolder">
                                                        {{
                                                            packagePriceWithSign(getPackageModel(this.combinationObject.newPackageIdSuggested), this.combinationObject.duration)
                                                        }}
                                                        <small class="font-size-14 ">
                                                            {{
                                                                this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                            }}
                                                        </small>
                                                    </h2>
                                                    <p class="pricing-package-desc">
                                                        {{
                                                            getPackageModel(this.combinationObject.newPackageIdSuggested).description
                                                        }}</p>
                                                </div>

                                                <div class="text-center"
                                                     v-if="this.isPackageBought(this.combinationObject.newPackageIdSuggested)">
                                                    <i class="fas fa-check fa-2x" style="color: green !important;"></i>
                                                </div>
                                                <PaypalButton v-else
                                                              :package-id="this.combinationObject.newPackageIdSuggested.toString()"
                                                              :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.newPackageIdSuggested).monthlyPlanId : getPackageModel(this.combinationObject.newPackageIdSuggested).annuallyPlanId"
                                                              :package-price="packagePrice(getPackageModel(this.combinationObject.newPackageIdSuggested),this.combinationObject.duration)"
                                                              :duration="this.combinationObject.duration"
                                                              :has-subscription-history="true"
                                                              :from-register="false"
                                                              :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                                </PaypalButton>
                                            </b-col>
                                            <b-col>
                                                <div class="text-center pr-4 pl-4 pb-4">
                                                    <h2 :class="['font-weight-bold', {'fourth-pricing-package-title' : true}]">
                                                        {{
                                                            getPackageModel(this.combinationObject.package2Id).name
                                                        }}
                                                    </h2>
                                                    <h2 class="mb-1 font-weight-bolder">
                                                        {{
                                                            packagePriceWithSign(getPackageModel(this.combinationObject.package2Id), this.combinationObject.duration)
                                                        }}
                                                        <small class="font-size-14 ">
                                                            {{
                                                                this.combinationObject.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                                            }}
                                                        </small>
                                                    </h2>
                                                    <p class="pricing-package-desc">
                                                        {{
                                                            getPackageModel(this.combinationObject.package2Id).description
                                                        }}</p>
                                                </div>
                                                <div class="text-center"
                                                     v-if="this.isPackageBought(this.combinationObject.package2Id)">
                                                    <i class="fas fa-check fa-2x" style="color: green !important;"></i>
                                                </div>
                                                <PaypalButton v-else
                                                              :package-id="this.combinationObject.package2Id.toString()"
                                                              :plan-id="this.combinationObject.duration === 'MONTHLY' ? getPackageModel(this.combinationObject.package2Id).monthlyPlanId : getPackageModel(this.combinationObject.package2Id).annuallyPlanId"
                                                              :package-price="packagePrice(getPackageModel(this.combinationObject.package2Id),this.combinationObject.duration)"
                                                              :duration="this.combinationObject.duration"
                                                              :has-subscription-history="true"
                                                              :from-register="false"
                                                              :cancelOptions="{cancel: true,currentSubId:this.combinationObject.currentSubId}">
                                                </PaypalButton>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </div>
                            </div>

                        </b-col>
                    </b-row>
                    <div class="text-center" v-if="option3Text !== null">
                        <b-button @click="closeModal()">
                            {{ this.option3Text }}
                        </b-button>
                    </div>
                </div>
            </div>
        </div>
    </b-container>
</template>

<script>
import {toStringWithDecimalization, toStringWithoutDecimalization} from "../../Utils/utils";
import PaypalButton from "../Website/PaypalButton";
import {mapGetters} from "vuex";
import Store from "../../store";

export default {
    name: "PackageCombinationModal",
    components: {PaypalButton},
    props: {
        combinationObject: Object,
        packages: Array,
    },
    created() {

        for (let parent of this.packages) {
            for (let p of parent['packages']) {
                this.packagesList.push(p);
            }
        }

        var operation = this.combinationObject.operation;
        var newPackageIdSuggested = this.combinationObject.newPackageIdSuggested;
        var newId = this.combinationObject.newId;
        var oldId = this.combinationObject.oldId;
        var duration = this.combinationObject.duration;
        var oldDuration = this.combinationObject.oldDuration;

        var oldPackage = this.getPackageModel(oldId);
        var newPackage = this.getPackageModel(newId);

        var difference;
        if (operation === 'ADD') {

            difference = toStringWithDecimalization(duration === 'MONTHLY' ? newPackage.discountedMonthlyPrice : newPackage.discountedAnnualPrice, false);

            this.mainText = 'Du möchtest neue Trades hinzufügen. Das macht Sinn und ich würde dir das auch empfehlen. ' +
                'Diese Kombination führt zu einer Verbindung aus beiden Paketen und dadurch zu einem größeren Paket ohne, dass dabei etwas doppelt ist. ' +
                'Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen. ' +
                'Du hast dabei folgende Wahlmöglichkeiten. Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = 'Ich möchte nur die neuen Trades bestellen und die aktuellen Trades kündigen';
            this.option2Text = 'Ich möchte das neue Paket zum aktuellen Paket hinzufügen für ' + difference + ' € mehr und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen';
            this.option3Text = 'Ich möchte nur bei den aktuellen Trades bleiben';
        } else if (operation === 'UPGRADE' && newPackageIdSuggested === newId) {
            difference = null;
            if (duration === 'MONTHLY' && oldDuration === 'MONTHLY') {
                difference = toStringWithDecimalization(parseInt(newPackage.discountedMonthlyPrice) - parseInt(oldPackage.discountedMonthlyPrice), false);
            } else if (duration === 'ANNUAL' && oldDuration === 'ANNUAL') {
                difference = toStringWithDecimalization(parseInt(newPackage.discountedAnnualPrice) - parseInt(oldPackage.discountedAnnualPrice), false);
            }
            this.mainText = 'Du möchtest neue Trades hinzufügen. Das macht Sinn und ich würde dir das auch empfehlen. ' +
                'Diese Kombination führt zu einem Upgrade auf ein größeres Paket. Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen.' +
                ' Du hast dabei folgende Wahlmöglichkeiten.' +
                ' Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = 'Ich möchte nur die neuen Trades bestellen und die aktuellen Trades kündigen';
            if (difference != null) {
                this.option2Text = 'Ich möchte das Upgrade-Paket für ' + difference + ' € mehr anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen'
            } else {
                this.option2Text = 'Ich möchte das Upgrade-Paket anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen'
            }
            this.option3Text = 'Ich möchte nur bei den aktuellen Trades bleiben';

        } else if (operation === 'UPGRADE' && newPackageIdSuggested !== newId) {
            var newPackageSuggested = this.getPackageModel(newPackageIdSuggested);

            difference = null;

            if (duration === 'MONTHLY' && oldDuration === 'MONTHLY') {
                difference = toStringWithDecimalization(parseInt(newPackageSuggested.discountedMonthlyPrice) - parseInt(oldPackage.discountedMonthlyPrice), false);
            } else if (duration === 'ANNUAL' && oldDuration === 'ANNUAL') {
                difference = toStringWithDecimalization(parseInt(newPackageSuggested.discountedAnnualPrice) - parseInt(oldPackage.discountedAnnualPrice), false);
            }
            this.mainText = 'Du möchtest neue Trades hinzufügen. Das macht Sinn und ich würde dir das auch empfehlen. ' +
                'Diese Kombination führt zu einem Upgrade auf ein größeres Paket. Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen.' +
                ' Du hast dabei folgende Wahlmöglichkeiten.' +
                ' Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = 'Ich möchte nur die neuen Trades bestellen und die aktuellen Trades kündigen';
            if (difference != null) {
                this.option2Text = 'Ich möchte das Upgrade-Paket für ' + difference + ' € mehr anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen'
            } else {
                this.option2Text = 'Ich möchte das Upgrade-Paket anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen'
            }
            this.option3Text = 'Ich möchte nur bei den aktuellen Trades bleiben';
        } else if (operation === 'DOWNGRADE') {
            this.mainText = 'Du möchtest neue Trades hinzufügen. Diese Kombination führt zu einem Downgrade auf ein kleineres Paket.' +
                ' Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen. ' +
                'Du hast dabei folgende Wahlmöglichkeiten. ' +
                'Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = null;
            this.option2Text = 'Ich möchte bei den aktuellen Trades bleiben';
            this.option3Text = 'Ich möchte auf weniger Trades downgraden und auf Gewinnchancen verzichten';
        } else if (operation === 'BUY-NEW') {

            var newPackageSuggested = this.getPackageModel(newPackageIdSuggested);
            this.mainText = 'Du möchtest neue Trades hinzufügen. Das macht Sinn und ich würde dir das auch empfehlen. ' +
                'Diese Kombination führt zu einem Upgrade auf ein größeres Paket. Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen. ' +
                'Du hast dabei folgende Wahlmöglichkeiten. ' +
                'Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = 'Ich möchte nur die neuen Trades bestellen und die aktuellen Trades kündigen';
            this.option2Text = 'Ich möchte das Upgrade-Paket anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen (Empohlen). Die beste Kombination, wenn Sie dieses Paket hinzufügen möchten, besteht darin, das vorgeschlagene Paket zu kaufen, das weniger Geld kostet.';
            this.option3Text = 'Ich möchte bei den aktuellen Trades bleiben';
        } else if (operation === 'BUY-NEW-2') {

            this.packagesToBeBought.push(newPackageIdSuggested);
            this.packagesToBeBought.push(this.combinationObject.package2Id);

            Store.commit('Setting/dualPackageState', {packagesToBeBought: this.packagesToBeBought, packagesBought: []});

            var newPackageSuggested = this.getPackageModel(newPackageIdSuggested);
            this.mainText = 'Du möchtest neue Trades hinzufügen. Das macht Sinn und ich würde dir das auch empfehlen. ' +
                'Diese Kombination führt zu einem Upgrade auf ein größeres Paket. Bei Traderista bieten größere und teurere Pakete auch mehr Gewinnchancen. ' +
                'Du hast dabei folgende Wahlmöglichkeiten. ' +
                'Klick einfach die Option an, die du möchtest 😊';
            this.option1Text = 'Ich möchte nur die neuen Trades bestellen und die aktuellen Trades kündigen';
            this.option2Text = 'Ich möchte das Upgrade-Paket anstelle des aktuellen Pakets und dadurch mehr Gewinnchancen haben - kostenpflichtig bestellen (Empohlen). ' +
                '' +
                'Diese Kombination ist die beste Kombination in Bezug auf das Geld. Sie erhalten die gleichen Trades mit weniger Geld.';
            this.option3Text = 'Ich möchte bei den aktuellen Trades bleiben';
        }
    },
    computed: {
        ...mapGetters({
            dualPackageState: 'Setting/dualPackageState',
        }),
        isLoading() {
            return this.loading
        },
    },
    methods: {
        getPackageModel(id) {
            return this.packagesList.filter(function (sub) {
                return parseInt(sub.id) === id;
            })[0];
        },
        isPackageBought(id) {
            if (this.combinationObject.operation === 'BUY-NEW-2') {
                if (this.dualPackageState !== null && this.dualPackageState !== undefined) {
                    var data = this.dualPackageState.packagesBought.find(function (ele) {
                        return ele === id;
                    });
                    if (data) {
                        return true;
                    }
                }
            }
            return false;
        },
        packagePrice(item, duration) {
            if (duration === 'MONTHLY') {
                return toStringWithDecimalization(this.combinationObject.hasDiscount ? item.discountedMonthlyPrice : item.monthlyPrice, false);
            } else {
                return toStringWithDecimalization(this.combinationObject.hasDiscount ? item.discountedAnnualPrice : item.annualPrice, false);
            }
        },
        packagePriceWithSign(item, duration) {
            if (duration === 'MONTHLY') {
                return toStringWithDecimalization(this.combinationObject.hasDiscount ? item.discountedMonthlyPrice : item.monthlyPrice);
            } else {
                return toStringWithDecimalization(this.combinationObject.hasDiscount ? item.discountedAnnualPrice : item.annualPrice);
            }
        },
        closeModal() {
            this.$bvModal.hide('combination-' + this.combinationObject.newId);
        },
    },
    data() {
        return {
            operation: null,
            packagesList: [],
            loading: true,
            packagesFlat: [],
            mainText: '',
            option1Text: '',
            option2Text: '',
            option3Text: '',
            numberOfOptions: 3,
            packagesToBeBought: []
        }
    }
}
</script>

<style scoped>
.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}


.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.first-pricing-package-title {
    /*color: #A8E10C*/
    color: #81599F
}

.second-pricing-package-title {
    /*color: #8A6FDF;*/
    color: #36D6E7
}

.third-pricing-package-title {
    /*color: #FFDB15;*/
    /*color: #9BCCFD*/
    color: #65c368
}

.fourth-pricing-package-title {
    /*color: #FF5765;*/
    /*color: #0074DD*/
    color: #DAA520
}

.pricing-nav .active .nav-tab-container {
    border-top: 5px solid #DAA520;
    /*padding-top: 20px;*/
}

.pricing-nav .nav-tab-container {
    border-top: 0;
}

.pricing-nav .active h4 {
    font-weight: bold;
    /*color: black !important;*/
}

.pricing-nav h4 {
    font-weight: normal;
    /*color: grey !important;*/
}

.pricing-nav .active p {
    color: black !important;
}

.pricing-nav p {
    color: grey !important;
}

.pricing-nav a {
    padding: 0;
    margin-top: 15px;
}

.pricing-nav .active a {
    padding: 0;
    margin: 0;
}

.pricing-title {
    font-size: 17px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
    border: 0;
}

/* sm */
@media (max-width: 576px) {
    #package-category1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .pricing-title {
        font-size: 25px;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}

.shadow-gold {
    /*box-shadow: 0 1rem 3rem #DAA520 !important;*/
    /*box-shadow: #DAA520 0 3px 8px;*/
    box-shadow: #DAA520 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0;
}
</style>
