<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12">
                <iq-card body-class="p-0">
                    <template v-slot:body>
                        <div class="iq-edit-list">
                            <tab-nav :pills="true" class="iq-edit-profile d-flex">
                                <tab-nav-items class="col-md-4 p-0" :active="true" href="#personal-information"
                                               :title="$t('profile.personalInformation')"/>
                                <tab-nav-items class="col-md-4 p-0" :active="false" href="#chang-pwd"
                                               :title="$t('profile.changePassword')"/>
                                <tab-nav-items class="col-md-4 p-0" :active="false" href="#emailandsms"
                                               :title="$t('profile.emailAndSMS')"/>
                            </tab-nav>
                        </div>
                    </template>
                </iq-card>
            </b-col>
            <b-col lg="12">
                <div v-if="loading">
                    <div class="row mt-5">
                        <div class="col-5"></div>
                        <div class="col-2">
                            <img :src="loader" class="img-fluid align-self-center" alt="logo">
                        </div>
                        <div class="col-5"></div>
                    </div>
                </div>
                <div v-else class="iq-edit-list-data">
                    <tab-content id="pills-tabContent-2">
                        <tab-content-item :active="true" id="personal-information">
                            <ValidationObserver v-slot="{ handleSubmit }">
                                <form @submit.prevent="handleSubmit(updateUser)">
                                    <iq-card>
                                        <template v-slot:headerTitle>
                                            <h4 class="card-title">{{ $t('profile.personalInformation') }}</h4>
                                        </template>
                                        <template v-slot:body>
                                            <b-row align-v="center">
                                                <b-form-group class="col-md-6" :label="$t('auth.name')"
                                                              label-for="fname">
                                                    <ValidationProvider name="First name" rules="required"
                                                                        v-slot="{ errors }">
                                                        <b-form-input v-model="user.name" type="text"
                                                                      :placeholder="$t('auth.name')"
                                                                      :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
                                                        <div class="invalid-feedback">
                                                            <span>{{ errors[0] }}</span>
                                                        </div>
                                                    </ValidationProvider>
                                                </b-form-group>
                                                <b-form-group class="col-md-6" :label="$t('auth.surname')"
                                                              label-for="lname">
                                                    <ValidationProvider name="Last name" rules="required"
                                                                        v-slot="{ errors }">
                                                        <b-form-input v-model="user.surname" type="text"
                                                                      :placeholder="$t('auth.surname')"
                                                                      :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
                                                        <div class="invalid-feedback">
                                                            <span>{{ errors[0] }}</span>
                                                        </div>
                                                    </ValidationProvider>
                                                </b-form-group>
                                            </b-row>
                                            <b-button type="submit" variant="primary" class="mr-2">
                                                {{ $t('buttons.submit') }}
                                            </b-button>
                                        </template>
                                    </iq-card>
                                </form>
                            </ValidationObserver>
                            <ValidationObserver v-slot="{ handleSubmit }">
                                <form @submit.prevent="handleSubmit(updateCapital)">
                                    <iq-card>
                                        <template v-slot:headerTitle>
                                            <h4 class="card-title">{{ $t('profile.tradesInformation') }}</h4>
                                        </template>
                                        <template v-slot:body>
                                            <b-row align-v="center">
                                                <b-form-group class="col-md-6" :label="$t('post.capital')"
                                                              label-for="capital">
                                                    <ValidationProvider name="Capital" rules="required"
                                                                        v-slot="{ errors }">
                                                        <b-form-input v-model="user.capital" type="text"
                                                                      :placeholder="$t('post.capital')"
                                                                      :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
                                                        <div class="invalid-feedback">
                                                            <span>{{ errors[0] }}</span>
                                                        </div>
                                                    </ValidationProvider>
                                                </b-form-group>
                                            </b-row>
                                            <b-button type="submit" variant="primary" class="mr-2">
                                                {{ $t('buttons.submit') }}
                                            </b-button>
                                        </template>
                                    </iq-card>
                                </form>
                            </ValidationObserver>

                        </tab-content-item>
                        <tab-content-item :active="false" id="chang-pwd">
                            <ValidationObserver v-slot="{ handleSubmit }">
                                <form @submit.prevent="handleSubmit(changePassword)">
                                    <iq-card>
                                        <template v-slot:headerTitle>
                                            <h4 class="card-title">{{ $t('profile.changePassword') }}</h4>
                                        </template>
                                        <template v-slot:body>
                                            <b-form-group>
                                                <label for="cpass">{{ $t('profile.currentPassword') }}: </label>
                                                <router-link :to="{ name: 'auth1.forgot-password' }">
                                                    <a class="float-right">
                                                        {{ $t('auth.forgotPassword') }}
                                                    </a>
                                                </router-link>
                                                <b-form-input type="password" id="cpass"
                                                              v-model="currentPassword"></b-form-input>
                                            </b-form-group>
                                            <b-form-group class="col-md-6 p-0" :label="$t('profile.newPassword')"
                                                          label-for="pass">
                                                <ValidationProvider name="Password" rules="confirmed:repeat_password"
                                                                    v-slot="{ errors }">
                                                    <b-form-input v-model="newPassword" type="password"
                                                                  :placeholder="$t('auth.password')"
                                                                  :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
                                                    <div class="invalid-feedback">
                                                        <span>{{ errors[0] }}</span>
                                                    </div>
                                                </ValidationProvider>
                                            </b-form-group>
                                            <b-form-group class="col-md-6 p-0" :label="$t('profile.repeatPassword')"
                                                          label-for="rpass">
                                                <ValidationProvider vid="repeat_password" name="Repeat Password"
                                                                    rules="required" v-slot="{ errors }">
                                                    <b-form-input v-model="repeatedNewPassword" type="password"
                                                                  :placeholder="$t('profile.repeatPassword')"
                                                                  :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
                                                    <div class="invalid-feedback">
                                                        <span>{{ errors[0] }}</span>
                                                    </div>
                                                </ValidationProvider>
                                            </b-form-group>
                                            <b-button type="submit" variant="primary" class="mr-2">
                                                {{ $t('buttons.submit') }}
                                            </b-button>
                                        </template>
                                    </iq-card>
                                </form>
                            </ValidationObserver>
                        </tab-content-item>
                        <tab-content-item :active="false" id="emailandsms">
                            <iq-card>
                                <template v-slot:headerTitle>
                                    <h4 class="card-title">{{ $t('profile.emailAndSMS') }}</h4>
                                </template>
                                <template v-slot:body>
                                    <ValidationObserver v-slot="{ handleSubmit }">
                                        <form
                                            @submit.prevent="handleSubmit(showEmailCodeField ? changeEmail : sendEmailVerificationCode)">
                                            <b-form-group>
                                                <label
                                                    for="contact_no1">Email({{
                                                        $t('profile.changeEmailMsg')
                                                    }})<span class="text-danger">{{
                                                            (user ? (user['email_verified_at'] ? '' :
                                                                ' ' + $t('profile.notVerified')) : '')
                                                        }}</span></label>
                                                <b-form-input id="contact_no1" type="text"
                                                              v-model="user.email"></b-form-input>
                                            </b-form-group>
                                            <div v-if="showEmailCodeField" class="mb-3">
                                                <label
                                                    for="email_verification_code">{{
                                                        $t('profile.activationCode')
                                                    }}</label>
                                                <b-form-input id="email_verification_code" type="text"
                                                              v-model="emailVerificationCode.code"></b-form-input>
                                            </div>
                                            <b-button type="submit" variant="primary" class="mr-2 mb-5">
                                                {{ $t('profile.sendVerificationCode') }}
                                            </b-button>
                                        </form>
                                    </ValidationObserver>
                                    <ValidationObserver v-slot="{ handleSubmit }">
                                        <form
                                            @submit.prevent="handleSubmit(showPhoneNumberCodeField ? verifyPhoneNumber : updatePhoneNumber)">
                                            <b-form-group>
                                                <label
                                                    for="contact_no2">{{
                                                        $t('profile.phoneNumber') + ' ' + $t('profile.includePrefix')
                                                    }}<span class="text-danger">{{
                                                            (user ? (user['phone_number_verified_at'] ? '' :
                                                                ' ' + $t('profile.notVerified')) : '')
                                                        }}</span></label>
                                                <b-form-input id="contact_no2" type="text"
                                                              v-model="user.phoneNumber"></b-form-input>
                                            </b-form-group>
                                            <div v-if="showPhoneNumberCodeField" class="mb-3">
                                                <label
                                                    for="activation_code">{{
                                                        $t('profile.activationCode')
                                                    }}</label>
                                                <b-form-input id="activation_code" type="text"
                                                              v-model="activationCode.code"></b-form-input>
                                            </div>
                                            <b-button type="submit" variant="primary" class="mr-2 mb-5">
                                                {{ $t('profile.sendActivationCode') }}
                                            </b-button>
                                        </form>
                                    </ValidationObserver>
                                    <ValidationObserver v-slot="{ handleSubmit }">
                                        <form @submit.prevent="handleSubmit(updateNotificationFlags)">
                                            <div class="form-group row align-items-center">
                                                <label class="col-md-6" for="emailnotification">
                                                    {{ $t('profile.getNotifiedForNewTradesByEmail') }}
                                                </label>
                                                <div class="col-md-6 custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="emailnotification" v-model="user.emailNotification">
                                                    <label class="custom-control-label" for="emailnotification"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-md-6"
                                                       for="smsnotification">{{
                                                        $t('profile.getNotifiedForNewTradesBySMS')
                                                    }}</label>
                                                <div class="col-md-6 custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="smsnotification" v-model="user.smsNotification">
                                                    <label class="custom-control-label" for="smsnotification"></label>
                                                </div>
                                            </div>
                                            <b-button type="submit" variant="primary" class="mr-2">
                                                {{ $t('buttons.submit') }}
                                            </b-button>
                                        </form>
                                    </ValidationObserver>
                                </template>
                            </iq-card>
                        </tab-content-item>
                    </tab-content>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import {UserService} from "../../services/user";
import {Auth} from "../../config/auth";
import {AuthService} from "../../services/auth";
import {toStringWithDecimalization} from "../../Utils/utils";
import loader from "../../assets/images/loader.gif"

export default {
    name: 'ProfileEdit',
    mounted() {
        core.index()
        window.addEventListener('hashchange', this.onHashChange, false);
        this.onHashChange();
    },
    computed: {
        user: function () {
            let user = Auth.user();
            return {
                name: user['name'],
                surname: user['surname'],
                email: user['email'],
                phoneNumber: (user['phone_number'] !== undefined && user['phone_number']
                    !== null && user['phone_number'].length > 0) ? user['phone_number'] : '+49',
                smsNotification: user['smsNotification'],
                emailNotification: user['emailNotification'],
                referral_code: user['referral_code'],
                capital: toStringWithDecimalization(user['capital'], false) + ' $',
                phone_number_verified_at: user['phone_number_verified_at'],
                email_verified_at: user['email_verified_at'],
            }
        },
        showPhoneNumberCodeField: function () {
            return this.activationCode.show
        },
        showEmailCodeField: function () {
            return this.emailVerificationCode.show;
        }
    },
    data() {
        return {
            currentPassword: '',
            newPassword: '',
            repeatedNewPassword: '',
            activationCode: {
                code: '',
                show: false,
            },
            emailVerificationCode: {
                code: '',
                show: false,
            },
            countries: [
                {value: 'Canada', text: 'Canada'},
                {value: 'Niada', text: 'Niada'},
                {value: 'USA', text: 'USA'},
                {value: 'India', text: 'India'},
                {value: 'Africa', text: 'Africa'}
            ],
            states: [
                {value: 'California', text: 'California'},
                {value: 'Florida', text: 'Florida'},
                {value: 'Georgia', text: 'Georgia'},
                {value: 'Connecticut', text: 'Connecticut'},
                {value: 'Louisiana', text: 'Louisiana'}
            ],
            loader: loader
        }
    },
    methods: {
        onHashChange() {
            let hash = window.location.hash;

            if (hash) {
                // using ES6 template string syntax
                $(`[data-toggle="tab"][href="${hash}"]`).trigger('click');
            }
        },

        updateUser() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.updateUser(this.user).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        updateCapital() {
            this.loading = true
            var containsDecimalPlaces = this.user.capital.includes('.');
            var capital = parseInt(this.user.capital.replace(/\D/g, ''));
            capital = containsDecimalPlaces ? capital : capital * 100;

            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.updateCapital(capital).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        changePassword() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            AuthService.changePassword(this.currentPassword, this.newPassword, this.repeatedNewPassword).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        updateNotificationFlags() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.updateNotificationFlags(this.user).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        updatePhoneNumber() {
            core.showSnackbar('success', this.$t('profile.codeSent'))
            UserService.sendPhoneNumberCode(this.user.phoneNumber).then((success) => {
                if (success) {
                    this.activationCode.show = true
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        verifyPhoneNumber() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.verifyPhoneNumber(this.activationCode.code).then((success) => {
                if (success) {
                    this.activationCode.show = false
                    this.showPhoneNumberCodeField = false
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        },
        sendEmailVerificationCode() {
            core.showSnackbar('success', this.$t('profile.verificationCodeWasSentToYourEmail'))
            UserService.requestEmailChange(this.user.email).then((code) => {
                if (code === 'CODE_SENT') {
                    this.emailVerificationCode.show = true;
                } else if (code === 'EXISTS') {
                    core.showSnackbar('error', this.$t('results.emailExists'))
                } else {
                    core.showSnackbar('error', this.$t('results.error'))
                }
            })
        },
        changeEmail() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.changeEmail(this.user.email, this.emailVerificationCode.code).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.error'))
                } else {
                    this.showEmailCodeField = false
                    this.emailVerificationCode.show = false
                }
            })
        }
    }
}
</script>
