<template>
    <b-container fluid>
        <b-row>
            <b-col sm="12">
                <b-row>
                    <b-col lg="3">
                        <iq-card body-class=" profile-page p-0">
                            <template v-slot:body>
                                <div class="profile-header">
                                    <div class="cover-container">
                                        <!--                <b-img v-bind:src="user.background" alt="profile-bg" rounded fluid class="w-100" />-->
                                        <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                                            <li>
                                                <b-link href="javascript:void(0);"><i class="ri-pencil-line"></i>
                                                </b-link>
                                            </li>
                                            <li>
                                                <b-link href="javascript:void(0);"><i class="ri-settings-4-line"></i>
                                                </b-link>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="profile-info p-4">
                                        <div class="user-detail align-items-left">
                                            <p class="mb-0 mr-2">{{ $t('referral.yourReferralCode') + ':' }}
                                                <i class="fa fa-info-circle ml-1 cursor-pointer"
                                                   v-b-modal.info-referrals
                                                   style="font-size:20px; color: lightgrey"></i>
                                            </p>
                                            <b-modal id="info-referrals"
                                                     ok-disabled cancel-disabled hide-footer size="md"
                                                     header-bg-variant="danger">
                                                <div class="justify-content-center text-center">
                                                    <p class="text-center">
                                                        Hier kannst Du Deinen Link kopieren und ihn deinen
                                                        Freunden
                                                        schicken. Sobald sie sich für eines der Pakete
                                                        eintragen,
                                                        erhältst Du eine Provision in Höhe von 50% des
                                                        Nettogewinns,
                                                        also ca. 30-35% des monatlichen oder jährlichen Preises
                                                        (wir
                                                        müssen die Mwst. und Kosten für Paypal dabei abziehen).
                                                        Bei
                                                        Monatsabos verdienst du monatlich, solange dein Freund
                                                        das Paket
                                                        gebucht hat, bei Jahresabos natürlich jährlich (dafür
                                                        aber mehr
                                                        auf einen Schlag).
                                                    </p>
                                                </div>
                                            </b-modal>
                                            <!--                        <div class="profile-img pr-4">-->
                                            <!--                          <b-img v-bind:src="user.profile" alt="profile-img" fluid class="avatar-130" />-->
                                            <!--                        </div>-->
                                            <h4 class="text-left d-inline-block mb-2">
                                                {{ user ? user['referral_code'] : 'A7x242' }}</h4>
                                            <ul class="p-0">
                                                <li class="mb-1">
                                                    <b-button type="submit" variant="primary"
                                                              v-clipboard:copy="getReferralUrl()"
                                                              v-clipboard:success="onCopy">
                                                        Traderista Homepage Link
                                                    </b-button>
                                                </li>
                                                <li class="mb-1">
                                                    <b-button type="submit" variant="primary"
                                                              v-clipboard:copy="getWorkshopUrl()"
                                                              v-clipboard:success="onCopy">
                                                        5 minutes Webinar Link
                                                    </b-button>
                                                </li>
                                                <li class="mb-1">
                                                    <b-button type="submit" variant="primary"
                                                              v-clipboard:copy="getSurveyFunnelReferralUrl()"
                                                              v-clipboard:success="onCopy">
                                                        Quiz Funnel Link
                                                    </b-button>
                                                </li>
                                                <li class="mb-1">
                                                    <b-button type="submit" variant="primary"
                                                              v-clipboard:copy="getRegistrationPageReferralUrl()"
                                                              v-clipboard:success="onCopy">
                                                        Registrierungscode Link
                                                    </b-button>
                                                </li>
                                                <li class="mb-1">
                                                    <b-button type="submit" variant="secondary"
                                                              @click="generateQRCODE()">
                                                        {{ $t('referral.getQRCodesByEmail') }}
                                                    </b-button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </iq-card>
                        <div class="profile-center">
                            <iq-card>
                                <template v-slot:headerTitle>
                                    <h4 class="card-title font-weight-bold">{{ $t('referral.coins') }}
                                        <i class="fa fa-info-circle ml-1 cursor-pointer" v-b-modal.info-coins
                                           style="font-size:20px; color: lightgrey"></i>
                                    </h4>
                                    <b-modal id="info-coins"
                                             ok-disabled cancel-disabled hide-footer size="md"
                                             header-bg-variant="danger">
                                        <div class="justify-content-center text-center">
                                            <p class="text-center">
                                                Hier siehst Du deine Münzen, das ist quasi die Währung innnerhalb
                                                unserer
                                                Plattform. Diese Summe kannst Du dir ab 500€ deine Provisionen auszahlen
                                                lassen, indem Du einfach deine PayPal-Mailadresse eingibst. Die
                                                Auszahlung
                                                erhältst Du dann innerhalb der nächsten 7 Tage auf deinem PayPal-Account
                                                📈💶
                                            </p>
                                        </div>
                                    </b-modal>
                                </template>
                                <template v-slot:body>
                                    <ul class="m-0 p-0">
                                        <li class="d-flex mb-3">
                                            <p class="news-detail mb-0" v-html=""></p>
                                            <div class="news-icon mb-0"
                                            ><i class="fas fa-coins" style="color: #DAA520!important;"></i></div>
                                            <h5 class="news-detail mb-0">{{
                                                    $t('referral.balance') + ': '
                                                }}<span class="font-weight-bold">{{
                                                        user ? user['coin_amount'] : 350
                                                    }}</span>
                                                <span>{{ ' ' + $t('referral.coins') }}</span></h5>
                                        </li>
                                        <li class="d-flex mb-4">
                                            <p class="news-detail mb-0" v-html=""></p>
                                            <div class="news-icon mb-0"
                                            ><i class="fas fa-euro-sign" style="color: #DAA520!important;"></i></div>
                                            <h5 class="news-detail mb-0">{{
                                                    $t('referral.fiatValue') + ': '
                                                }}<span
                                                    class="font-weight-bold">{{
                                                        user ?
                                                            toStringWithDecimalization(user['coins_fiat_amount']) : '350.00 €'
                                                    }}</span>
                                            </h5>
                                        </li>
                                        <li class="d-flex mb-2">
                                            <b-form-input v-model="paypalEmail" type="text"
                                                          :placeholder="$t('referral.yourPayPalEmail')"></b-form-input>
                                        </li>
                                        <li class="d-flex mb-2">

                                            <ApolloMutation :mutation="createCashOutRequestQuery"
                                                            :variables="{
                                                input: {
                                                   paypal_email: paypalEmail,
                                                }
                                            }"
                                                            @done="onCashOutDone" @error="onCashOutError">
                                                <template v-slot="{ mutate, loading, error }">
                                                    <b-button type="submit" variant="primary" :disabled="loading"
                                                              @click="isGuest() ? null : mutate()">
                                                        {{ $t('referral.requestPayout') }}
                                                    </b-button>
                                                </template>
                                            </ApolloMutation>
                                        </li>
                                    </ul>
                                </template>
                            </iq-card>
                        </div>

                    </b-col>
                    <b-col lg="9" class="profile-right">
                        <tab-content id="pills-tabContent-2">

                            <tab-content-item :active="true" id="profile-friends" aria-labelled-by="pills-friend-tab">

                                <div v-if="!isGuest()">
                                    <iq-card>
                                        <template v-slot:headerTitle>
                                            <h4 class="card-title font-weight-bold">{{
                                                    $t('referral.friendsReferredByYou')
                                                }}
                                                <i class="fa fa-info-circle ml-1 cursor-pointer"
                                                   v-b-modal.info-myReferrals
                                                   style="font-size:20px; color: lightgrey"></i>
                                            </h4>
                                            <b-modal id="info-myReferrals"
                                                     ok-disabled cancel-disabled hide-footer size="md"
                                                     header-bg-variant="danger">
                                                <div class="justify-content-center text-center">
                                                    <p class="text-center">
                                                        Hier siehst Du deine Provisionen, die Du monatlich dadurch
                                                        verdienst, dass sich einer deiner Freunde eingetragen hat. Je
                                                        größer das Paket, das er gebucht hat, desto größer deine
                                                        monatliche Provision.
                                                    </p>
                                                </div>
                                            </b-modal>
                                        </template>

                                        <ApolloQuery :query="referredFriendsQuery"
                                                     :variables="{ referrerId: user['id'] }">
                                            <template v-slot="{ result: { loading, error, data } }">
                                                <div v-if="loading"></div>
                                                <div v-else-if="error">{{ $t('results.error') }}</div>
                                                <div v-else-if="data">
                                                    <div
                                                        v-if="!data['referredFriends'] || data['referredFriends'].length === 0"
                                                        class="no-result apollo justify-content-center content-center text-center align-self-center mt-5">
                                                        <i class="fas fa-th-list fa-2x"></i>
                                                        <p>{{ $t('referral.noReferrals') }}</p>
                                                    </div>

                                                    <ul class="suggestions-lists p-3">
                                                        <li v-for="(item,index) in data['referredFriends']" :key="index"
                                                            class="d-flex mb-4 align-items-center">
                                                            <!--                                                        <div :class="'profile-icon iq-bg-' + invoice.color" ><span><i class="ri-check-fill"></i></span></div>-->
                                                            <div
                                                                :class="'profile-icon mr-2 iq-bg-' + (item['verified'] ? 'success' : 'danger')">
                                                                <i class="ri-check-fill">
                                                                </i>
                                                            </div>
                                                            <div class="media-support-info">
                                                                <h6>
                                                                    {{
                                                                        item['invitedUser'].name + ' ' + (item['stage'] === 1 ? item['invitedUser'].surname : '')
                                                                    }}</h6>
                                                                <p class="mb-0 text-danger mt-0"
                                                                   v-if="!item['verified']"
                                                                >({{ $t('referral.friendHasNotYetPurchasedAPackage') }})
                                                                </p>
                                                                <div v-else>
                                                                    <p class="mb-0"
                                                                       :style="'color:' + (item['verified'] ? 'green' : 'red')">
                                                                        {{ $t('profile.level') + ' ' + item['stage'] }}
                                                                    </p>
                                                                    <p v-if="item['description'] != null"
                                                                       class="mb-1 mt-0">
                                                                        {{ item['description'] }}</p>
                                                                    <div
                                                                        v-if="item['valid_from_date'] !== null && new Date(item['valid_from_date']).valueOf() > new Date().valueOf()">
                                                                        <p class="mb-2 mt-0 text-danger">Diese Belohnung
                                                                            wird aktiviert bei: {{
                                                                                item['valid_from_date'].toLocaleString()
                                                                            }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media-support-info text-right">
                                                                <h5 class="font-weight-bold mr-2"
                                                                    :style="[item['verified'] && new Date(item['valid_from_date']).valueOf() <= new Date().valueOf() ? {color: `var(--iq-primary)`} : {color: `red`} ]">
                                                                    + {{ item['coin_reward'] }}
                                                                    <i class="fas fa-coins"
                                                                       :style="[item['verified'] && new Date(item['valid_from_date']).valueOf() <= new Date().valueOf() ? {color: `var(--iq-primary)`} : {color: `red`} ]"></i>
                                                                </h5>
                                                                <p class="mb-0 mt-2">
                                                                    {{ item['cTimestamp'].toLocaleString() }}</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </template>
                                        </ApolloQuery>
                                    </iq-card>
                                    <iq-card>
                                        <template v-slot:headerTitle>
                                            <h4 class="card-title font-weight-bold">{{
                                                    $t('admin.coinRewards')
                                                }}</h4>
                                        </template>
                                        <ApolloQuery :query="rewardsByAdminQuery"
                                                     :variables="{ id: user.id }">
                                            <template v-slot="{ result: { loading, error, data } }">
                                                <div v-if="loading"></div>
                                                <div v-else-if="error">{{ $t('results.error') }}</div>
                                                <div v-else-if="data">
                                                    <div
                                                        v-if="!data['rewardsByUserId'] || data['rewardsByUserId'].length === 0"
                                                        class="no-result apollo justify-content-center content-center text-center align-self-center mt-5">
                                                        <i class="fas fa-th-list fa-2x"></i>
                                                        <p>{{ $t('referral.noRewards') }}</p>
                                                    </div>
                                                    <ul class="suggestions-lists p-3">
                                                        <li v-for="(item,index) in data['rewardsByUserId']"
                                                            :key="index"
                                                            class="d-flex mb-4 align-items-center">
                                                            <!--                                                        <div :class="'profile-icon iq-bg-' + invoice.color" ><span><i class="ri-check-fill"></i></span></div>-->

                                                            <div
                                                                :class="'profile-icon mr-2 iq-bg-' + (item['verified'] ? 'success' : 'danger')">
                                                                <i class="ri-check-fill">
                                                                </i>
                                                            </div>
                                                            <div class="media-support-info">
                                                                <p class="mb-0" style="color: black">
                                                                    {{ item['note'] }}
                                                                </p>
                                                                <!--                                                                        <p class="mb-0">{{ item['cTimestamp'] }}</p>-->
                                                            </div>
                                                            <div
                                                                class="iq-card-header-toolbar d-flex align-items-center">
                                                                <h5 class="font-weight-bold mr-2"
                                                                    :style="[{color: `var(--iq-primary)`} ]">
                                                                    + {{ item['coin_amount'] }}
                                                                </h5>
                                                                <i class="fas fa-coins"
                                                                   :style="[{color: `var(--iq-primary)`}]"></i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </template>
                                        </ApolloQuery>

                                    </iq-card>
                                </div>


                                <div v-else>
                                    <ul class="suggestions-lists p-3">
                                        <li v-for="(item,index) in dummyReferrals()" :key="index"
                                            class="d-flex mb-4 align-items-center">
                                            <!--                                                        <div :class="'profile-icon iq-bg-' + invoice.color" ><span><i class="ri-check-fill"></i></span></div>-->

                                            <div
                                                :class="'profile-icon mr-2 iq-bg-' + (item['verified'] ? 'success' : 'danger')">
                                                <i class="ri-check-fill">
                                                </i>
                                            </div>
                                            <div class="media-support-info">
                                                <h6>
                                                    {{
                                                        item['invitedUser'].name + ' ' + (item['stage'] === 1 ? item['invitedUser'].surname : '')
                                                    }}</h6>
                                                <p class="mb-0" v-if="!item['verified']" style="color: red"
                                                >({{ $t('referral.friendHasNotYetPurchasedAPackage') }})
                                                </p>
                                                <div v-else>
                                                    <p class="mb-0"
                                                       :style="'color:' + (item['verified'] ? 'green' : 'red')">
                                                        {{ $t('profile.level') + ' ' + item['stage'] }}
                                                    </p>
                                                    <p class="mb-0">{{ item['cTimestamp'] }}</p>
                                                </div>
                                            </div>
                                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                                <h5 class="font-weight-bold mr-2"
                                                    :style="[item['verified'] ? {color: `var(--iq-primary)`} : {color: `red`} ]">
                                                    + {{ item['coin_reward'] }}
                                                </h5>
                                                <i class="fas fa-coins"
                                                   :style="[item['verified'] ? {color: `var(--iq-primary)`} : {color: `red`} ]"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </tab-content-item>
                        </tab-content>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import referredFriends from '../../graphql/queries/getReferredFriends.graphql';
import rewardsByAdminQuery from '../../graphql/queries/rewardsByUserId.graphql';
import createCashOutRequest from '../../graphql/mutations/createCashOutRequest.graphql';
import {mapGetters} from "vuex";
import {toStringWithDecimalization} from "../../Utils/utils";
import {Auth} from "../../config/auth";
import GENERATE_QR_CODE from "../../graphql/mutations/generateQRCode.graphql";
import {TrackingService} from "../../services/tracking";

export default {
    name: 'Profile',
    mounted() {
        core.index();
        TrackingService.pageView("User Referrals Page",  this.$route);
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        })
    },
    methods: {
        isGuest() {
            return Auth.guestToken()
        },
        getReferralUrl() {
            if (Auth.guestToken()) {
                return window.location.origin + '?referral_code=A7x242'
            }
            return 'https://traderista-trading.de' + '?referral_code=' + this.user['referral_code']
        },
        getRegistrationPageReferralUrl() {
            if (Auth.guestToken()) {
                return 'https://traderista-trading.de/auth/sign-up?referral_code=A7x242'
            }
            return 'https://traderista-trading.de/auth/sign-up?referral_code=' + this.user['referral_code']
        },
        getSurveyFunnelReferralUrl() {
            if (Auth.guestToken()) {
                return 'https://traderista-trading.de/survey?referral_code=A7x242'
            }
            return 'https://traderista-trading.de/survey?referral_code=' + this.user['referral_code']
        },
        getWorkshopUrl() {
            if (Auth.guestToken()) {
                return 'https://traderista-trading.de/webinar?referral_code=A7x242'
            }
            return 'https://traderista-trading.de/webinar?referral_code=' + this.user['referral_code']
        },

        onCopy() {
            core.showSnackbar('success', this.$t('referral.referralCodeCopied'))
        },
        toStringWithDecimalization() {
            return toStringWithDecimalization(this.user['coins_fiat_amount'])
        },
        onCashOutDone() {
            core.showSnackbar('success', this.$t('referral.cashOutSuccessful'))
        },
        onCashOutError() {
            core.showSnackbar('error', this.$t('referral.cashOutInvalid'))
        },
        generateQRCODE() {
            this.$apollo.mutate({
                mutation: GENERATE_QR_CODE,
            }).then((_) => {
                core.showSnackbar('success', this.$t('referral.emailSentSuccessfullyWithQrCodes'))
            }).catch((err) => {
                core.showSnackbar('error', this.$t('referral.emailsWereNotSent'))
            });
        },
        dummyReferrals() {
            return [
                {
                    "invitedUser": {
                        "name": "Freund 1",
                        "surname": "1"
                    },
                    "coin_reward": 200,
                    "verified": true,
                    "cTimestamp": "2021-08-15 19:13:58"
                },
                {
                    "invitedUser": {
                        "name": "Freund 2",
                        "surname": "2"
                    },
                    "coin_reward": 150,
                    "verified": true,
                    "cTimestamp": "2021-08-28 15:52:09"
                }
            ]
        }
    },
    data() {
        return {
            referredFriendsQuery: referredFriends,
            rewardsByAdminQuery: rewardsByAdminQuery,
            createCashOutRequestQuery: createCashOutRequest,
            paypalEmail: Auth.user()['paypal_email'],
        }
    }
}
</script>
