<template>
    <b-container fluid="">
        <b-row>
            <b-col lg="12">
                <div class="row pt-5 pb-2 pr-4 pl-4 pb-5">
                    <div class="col-lg-12 ">
                        <div class="embed-responsive " style="padding-top: 56.25%">
                            <iframe class="embed-responsive-item"
                                    :src="url" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    name: "UserVideoPage",
    data() {
        return {
            url: this.$route.query.url,
        }
    }
}
</script>

<style scoped>

</style>
