<template>
    <b-container fluid>
        <div v-if="isLoading">
            <div class="row mt-5">
                <div class="col-5"></div>
                <div class="col-2">
                    <img :src="loader" class="img-fluid align-self-center" alt="logo">
                </div>
                <div class="col-5"></div>
            </div>
        </div>
        <div v-else-if="!isLoading && hasSurveyResults">
            <FunnelResultPage :a="this.surveyResults != null ? this.surveyResults.a : null"
                              :b="this.surveyResults != null ? this.surveyResults.b : null"
                              :c="this.surveyResults != null ? this.surveyResults.c : null"
                              :d="this.surveyResults != null ? this.surveyResults.d : null"
                              :e="this.surveyResults != null ? this.surveyResults.e : null"
                              :package-id-prop="this.$route.query.packageId">
                <!--                              :is-starter="this.$route.query.starterPackage === 'true' || this.$route.query.starterPackage">-->
            </FunnelResultPage>
        </div>
        <div v-else-if="!isLoading && !hasSurveyResults">
            <!--            <RouterLink :to="{ name: 'survey' }">-->
            <!--                <button-->
            <!--                    class="uk-width-1-1 uk-button primary-background-color text-white font-15 survey-button-->
            <!--                                                font-weight-bold uk-border-rounded mb-5">Nicht sicher, welches Paket das-->
            <!--                    beste für dich ist? Finde es in diesem kurzen Quiz heraus-->
            <!--                </button>-->
            <!--            </RouterLink>-->
            <div v-if="hasActiveSubscription">

                <h4 class="font-weight-bold mb-3">{{ $t('packages.activeSubscription') }}</h4>

                <div class="row">
                    <b-modal id="info-activePackage"
                             ok-disabled cancel-disabled hide-footer size="md"
                             header-bg-variant="danger">
                        <div class="justify-content-center text-center">
                            <p class="text-center">
                                Das ist das Paket, das Du aktuell gebucht hast. Du kannst jederzeit
                                Pakete
                                hinzufügen, indem Du dort einfach auf den Kauf klickst. Hier werden Dir
                                dann
                                jeweils
                                deine Optionen angezeigt – je nachdem, wie kompatibel die Pakete
                                miteinander
                                sind.
                                <br><br>
                                Wenn Du kündigen möchtest, klickst Du einfach auf „Abonnement kündigen“
                                und
                                hast
                                bis
                                zum Ende deines Zahlungszeitraums noch Zugriff auf die Trades, die Du
                                gebucht
                                hast.
                                Wenn Dir etwas nicht gefällt, würde ich mich natürlich freuen, wenn Du
                                mir
                                das
                                einfach schreibst! 😊
                            </p>
                        </div>
                    </b-modal>
                    <div v-for="activeSub of activeSubscriptions"
                         :class="multipleSubs  ? 'col-md-6 col-12' : 'col-12'">
                        <iq-card body-class="text-center" :class="'bg-primary'">
                            <template v-slot:body>
                                <i class="fa fa-info-circle float-right ml-1 cursor-pointer"
                                   v-b-modal.info-activePackage
                                   style="font-size:20px; color: black"></i>
                                <h3 :class=" 'text-uppercase mb-2 mr-1 ml-1'">
                                    {{ activeSub.package.name }}</h3>
                                <ul class="list-unstyled line-height-4 mb-3 text-black">
                                    <li>{{ activeSub.package.description }}</li>
                                </ul>

                                <h2 class="mb-1 font-weight-bolder">
                                    {{ packagePriceWithSign(activeSub.package, activeSub.duration) }}

                                    <small class="font-size-14 ">
                                        {{
                                            activeSub.duration === 'MONTHLY' ? $t('time.month') : $t('time.year')
                                        }}
                                    </small>
                                </h2>

                                <i class="fas fa-check fa-2x" style="color: green !important;"></i>
                                <h4 style="padding-bottom: 20px">{{ $t('packages.activePackage') }}</h4>

                                <div v-if="activeSub.duration === 'MONTHLY'" class="d-flex justify-content-center">
                                    <div>
                                        <h5 class="font-weight-bold mb-1">{{
                                                $t('packages.annualSubscription') + toStringWithDecimalization(activeSub.package.discountedAnnualPrice)
                                                + '/' + $t('time.year')
                                            }}</h5>
                                        <PaypalButton :package-id="activeSub.package.id"
                                                      :plan-id="activeSub.package.annuallyPlanId"
                                                      :package-price="packagePrice(activeSub.package, annualDuration)"
                                                      :has-discount="true"
                                                      :duration="annualDuration"
                                                      :has-subscription-history="hasSubscriptionHistory()"
                                                      :cart-funnel="true"
                                                      :cancelOptions="{cancel: true, currentSubId:activeSub.id}"
                                                      :styles="paypalButtonStyle">
                                        </PaypalButton>
                                    </div>
                                </div>
                                <b-button @click="showModal('cancelSub-'+activeSub.id)" variant="outline-danger"
                                          style="border: none;">
                                    {{ $t('packages.cancelSubscription') }}
                                </b-button>
                                <!--                                <b-button v-on:click="isAnnualSubscription = true" variant="outline-danger"-->
                                <!--                                          style="border: none;">-->
                                <!--                                    {{ $t('packages.updateSubscription') }}-->
                                <!--                                </b-button>-->

                                <b-modal :id="'cancelSub-'+ activeSub.id" @ok="cancelSubscription(activeSub.id)"

                                         ok-disabled cancel-disabled hide-footer size="lg"
                                         header-bg-variant="danger">
                                    <div class="justify-content-center text-center">
                                        <p class="text-center">
                                            Bist du sicher, dass du kündigen möchtest? 💔 <br/>

                                            Du kannst die Inhalte weiterhin bis zum Ende deines Zahlungszeitraums
                                            nutzen,
                                            verlierst jedoch ggf. deine Provisionszahlungen als Traderista Partner
                                            🙈<br/>

                                            Wenn dir etwas nicht gefällt, sag uns gern Bescheid.
                                            <br>Wir finden gemeinsam eine
                                            Lösung und du erhältst Boni für Feedback, das wir umsetzen 😊
                                            <br/>
                                        </p>

                                        <div class="row uk-align-center">
                                            <img alt="sad-dog" class="uk-align-center"
                                                 src="../../assets/images/dog.gif"
                                                 style="width: 300px !important; height: 203px !important;"/>
                                        </div>
                                        <div class="row uk-align-right">
                                            <button @click="closeModal('cancelSub-' + activeSub.id)"
                                                    class="btn btn-primary mr-3">
                                                Nein, ich bleibe ein Traderista! 💪🏽
                                            </button>
                                            <button @click="cancelSubscription(activeSub.id)"
                                                    class="btn btn-secondary mr-3">
                                                ja, ich möchte kündigen
                                            </button>
                                        </div>
                                    </div>
                                </b-modal>
                            </template>
                        </iq-card>
                    </div>
                </div>
            </div>


            <hr/>
            <h4 class="font-weight-bold mb-3">{{ $t('packages.allSubscriptions') }}</h4>
<!--            <ul class="nav nav-tabs pricing-nav mr-3 ml-3">-->
<!--                <li v-for="(packageModel,index) in packagesList"-->
<!--                    :key="packageModel.id" :id="'package-category'+ packageModel.id"-->
<!--                    :class="['col-sm-3 col-6 p-0 m-0 text-center', { active : currentTab === null ? index === 0-->
<!--                                         : currentTab === packageModel.id }]"-->
<!--                    @click="changeTab(packageModel.id)">-->
<!--                    <a data-toggle="tab">-->
<!--                        <div class="nav-tab-container pr-5 pl-5 text-center"-->
<!--                             style="padding-top: 20px !important;">-->
<!--                            <div class="pt-1 pb-1 text-center"-->
<!--                                 v-if="packageModel.image_path !== undefined && packageModel.image_path !== null">-->
<!--                                <img :src="require('../../assets/images/packages/' + packageModel.image_path)"-->
<!--                                     class="img-fluid m-2"-->
<!--                                     style="max-height: 250px;"-->
<!--                                     :alt="packageModel.image_path">-->
<!--                            </div>-->
<!--                            <div v-else>-->
<!--                                <div :class="['text-center', 'p-4',-->
<!--                                        {'first-pricing-package' : packageModel.priority === 1},-->
<!--                                        {'second-pricing-package': packageModel.priority === 2},-->
<!--                                        {'third-pricing-package': packageModel.priority === 3}-->
<!--                                    ]">-->
<!--                                    <h2 :class="['font-weight-bold',-->
<!--                                        {'first-pricing-package-title' : packageModel.priority === 1},-->
<!--                                        {'second-pricing-package-title': packageModel.priority === 2},-->
<!--                                        {'third-pricing-package-title': packageModel.priority === 3}]">{{-->
<!--                                            packageModel.name-->
<!--                                        }}-->
<!--                                    </h2>-->
<!--                                    <p class="pricing-package-desc">{{ packageModel.description }}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <i class="fa fa-info-circle ml-1 cursor-pointer" v-b-modal="'info' + packageModel.id"-->
<!--                               style="font-size:20px; color: lightgrey"></i>-->
<!--                            <b-modal :id="'info'+packageModel.id"-->
<!--                                     ok-disabled cancel-disabled hide-footer size="md"-->
<!--                                     header-bg-variant="danger">-->
<!--                                <div class="justify-content-center text-center">-->
<!--                                    <p class="text-center" v-if="packageModel.name === 'Angebote Weekly Trades'">-->
<!--                                        „Angebote Weekly Trades: Mit diesen Paketen tradest Du 1x pro Woche, nur am-->
<!--                                        Wochenende. Du kannst also ganz entspannt am Sonntag ca. 10 Minuten die-->
<!--                                        Trades eingeben. Super geeignet für Einsteiger!“-->
<!--                                    </p>-->
<!--                                    <p class="text-center"-->
<!--                                       v-else-if="packageModel.name === 'Angebote Daily Trades'">-->
<!--                                        „Angebote Daily Trades: Mit diesen Paketen tradest Du 1x pro Tag, entweder-->
<!--                                        morgens oder mittags. Du kannst also ganz entspannt morgens beim Frühstück-->
<!--                                        oder in der Mittagspause ca. 5 Minuten die Trades eingeben. Super geeignet-->
<!--                                        für alle, die mehr Geld verdienen wollen!“-->
<!--                                    </p>-->
<!--                                    <p class="text-center"-->
<!--                                       v-else-if="packageModel.name === 'Angebote All Inclusive'">-->
<!--                                        „Angebote All Inclusive: Die Kombination aus Daily und Weekly Trades! Mit-->
<!--                                        diesen Paketen tradest Du 6x pro Woche, 5x Mo.-Fr. jeweils 5 Minuten und 1x-->
<!--                                        am Wochenende ca. 10 Minuten. Du kannst ganz entspannt deine Trades beim-->
<!--                                        Frühstück oder in der Mittagspause sowie den ganzen Sonntag über eingeben.-->
<!--                                        Super geeignet für alle, die es mit dem Traden wirklich ernst meinen!“-->
<!--                                    </p>-->
<!--                                    <p class="text-center" v-else>-->
<!--                                        “Angebote Trades eines Marktes: Fokus auf einen bestimmten Markt! Hier gibt-->
<!--                                        es alle Trades nur für den Markt, der dir gefällt. Mit diesen Paketen-->
<!--                                        tradest Du 6x pro Woche, 5x Mo.-Fr. jeweils 5 Minuten und 1x am Wochenende-->
<!--                                        ca. 10 Minuten. Du kannst ganz entspannt deine Trades beim Frühstück oder in-->
<!--                                        der Mittagspause sowie den ganzen Sonntag über eingeben. Super geeignet für-->
<!--                                        alle, die sich auf einen Markt spezialisieren wollen!“ </p>-->
<!--                                </div>-->
<!--                            </b-modal>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->

            <div class="tab-content">
                <div v-if="packageModel.id==='1'" v-for="(packageModel, index) in packagesList" :key="packageModel.id">
                    <div
                        :class="['row mb-5 mt-5 p-0 m-0', {'d-none' : (currentTab === null ? index !== 0
                                         : currentTab !== packageModel.id)}]">
                        <PricingPackageAnnual
                            v-on:triggerIndividualSupport="triggerIndividualSupport"
                            v-for="packageInfo of packageModel.packages"
                            :key="packageInfo.id"
                            :packageModel="packageInfo"
                            :is-user-authed="true"
                            :duration="'MONTHLY'"
                            :has-discount="numUsers<1001"
                            :selectable="true"
                            :user="user"
                            :from-register="isFromRegister"
                            :packages=packages>
                        </PricingPackageAnnual>
                    </div>
                </div>
            </div>
            <hr/>

            <!-- INDIVIDUAL SUPPORT SERVICE -->
            <div v-if="!user.individualSupport">
                <h4 class="font-weight-bold mb-3">{{ $t('packages.additionalServices') }}</h4>
                <div class="row">
                    <div class="col-12">
                        <iq-card class="text-center bg-primary">
                            <h3 class='text-uppercase pt-4 mb-2 mr-1 ml-1'>
                                {{ $t('packages.individualSupport') }} </h3>
                            <ul class="list-unstyled line-height-4 font-size-16 mb-3 text-black">
                                <li>Ja, ich möchte individuellen Support dazu, um meinen Erfolg zu maximieren!
                                    (Einmalige
                                    Zahlung!)
                                </li>
                            </ul>

                            <h2 class="mb-1 font-weight-bolder">
                                99.00€
                                <small class="font-size-14 ">
                                </small>
                            </h2>

                            <!--                            <div class="mt-2 mb-2 mr-2 ml-2">-->
                            <!--                                <paypal-buttons v-if="isUser()" :on-approve="onApprove"-->
                            <!--                                                :create-order="createOrder"/>-->
                            <!--                            </div>-->
                            <PaypalSecondaryButton class="d-flex justify-content-center"
                                                   :individual-support-discount="false">
                            </PaypalSecondaryButton>
                        </iq-card>
                    </div>
                </div>
            </div>

            <!--            <div class="text-center justify-content-center">-->

            <!--            </div>-->
        </div>
        <b-modal :id="'individual-support-modal'" centered hide-header-close
                 ok-disabled cancel-disabled hide-footer size="md" :no-close-on-backdrop="true"
                 header-bg-variant="primary">
            <IndividualSupportModal :modal-id="'individual-support-modal'"
                                    :package-id="getPackageId"
                                    :duration="getDurationSelected"
                                    :from-register="isFromRegister">
            </IndividualSupportModal>
        </b-modal>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import {mapGetters} from "vuex";
import {toStringWithDecimalization, toStringWithoutDecimalization} from "../../Utils/utils";
import PaypalButton from "../Website/PaypalButton";
import loader from '../../assets/images/loader.gif';
import {SubscriptionService} from "../../services/subscription";
import {UserService} from "../../services/user";
import {PackageService} from "../../services/package";
import Package from "../Website/PricingPackage";
import packageQuery from "../../graphql/queries/getPackageById.graphql";
import PricingPackageAnnual from "../Website/PricingPackageAnnual";
import FunnelResultPage from "../Website/FunnelResultPage";
import CancelSubscriptionModal from "./CancelSubscriptionModal";
import {Auth} from "../../config/auth";
import Vue from "vue";
import PaypalSecondaryButton from "../Website/PaypalSecondaryButton";
import IndividualSupportModal from "./IndividualSupportModal";
import {TrackingService} from "../../services/tracking";

const PayPalButton = paypal_orders.Buttons.driver("vue", Vue);

export default {
    name: "UserPackagesPage",
    components: {
        PaypalSecondaryButton, IndividualSupportModal,
        FunnelResultPage, PricingPackageAnnual, PaypalButton, Package, CancelSubscriptionModal,
        "paypal-buttons": PayPalButton,
    },
    props: {
        // fromRegister: Boolean
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        getPackageId: function () {
            if (this.packageId === null || this.packageId === undefined) {
                if (this.$route.query.packageId !== null) {
                    return this.$route.query.packageId;
                } else {
                    return this.packageId;
                }
            }
            return this.packageId;
        },
        getDurationSelected: function () {
            return this.durationSelected;
        },
        getFromRegister: function () {

        },
        isFromRegister: function () {
            return this.$route.query.fromRegister === 'true' || this.$route.query.fromRegister
        },
        paypalButtonStyle: function () {
            return {
                color: 'blue',
                layout: 'vertical',
                label: 'paypal',
                height: 45
            }
        },
        annualDuration: function () {
            return 'ANNUAL';
        },
        packages: function () {
            return this.packagesList
        },
        isLoading() {
            return this.loading
        },
        hasSurveyResults() {
            return (this.surveyResults !== null &&
                    this.surveyResults.a !== null &&
                    this.surveyResults.c !== null &&
                    this.surveyResults.d !== null &&
                    this.surveyResults.e !== null &&
                    this.recommendedPackageId !== null
                    && !this.hasActiveSubscription())
                || this.$route.query.packageId;
        },
        multipleSubs: function () {
            if (this.hasActiveSubscription()) {
                var subs = this.user['activeSubscriptions'].filter(function (sub) {
                    return sub.status === 'CONFIRMED';
                });
                return subs.length > 1;
            }
            return false;
        },
        activeSubscriptions() {
            if (this.hasActiveSubscription()) {
                return this.user['activeSubscriptions'].filter(function (sub) {
                    return sub.status === 'CONFIRMED';
                });
            }
        }
    },
    mounted() {
        core.index();
        TrackingService.pageView("User Packages Page", this.$route);
    },
    created() {
        UserService.getNumUsers().then((numUser) => {
            this.numUsers = numUser
            PackageService.getPackages().then((packages) => {
                this.packagesList = packages
                this.loading = false
            })
        });
        const surveyResults = localStorage.getItem('surveyResults');
        this.surveyResults = JSON.parse(JSON.parse(surveyResults));
        this.recommendedPackageId = localStorage.getItem('recommendedPackageId') !== null
            ? parseInt(localStorage.getItem('recommendedPackageId')) : null;
    },
    data() {
        return {
            packagesList: [],
            loader: loader,
            packageQuery: packageQuery,
            surveyResults: {},
            loading: true,
            currentTab: null,
            numUsers: 1001,
            recommendedPackageId: null,
            showSuccessModal: false,
            fromRegister: false,
            durationSelected: "MONTHLY",
            packageId: null,
            isAnnualSubscription: false
        }
    },
    methods: {
        isUser() {
            return Auth.isUserAuthed()
        },
        packagePriceWithSign(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedMonthlyPrice'] : item['monthlyPrice'])
                    : toStringWithoutDecimalization(item['testPhasePrice'])
            } else {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedAnnualPrice'] : item['annualPrice'])
                    : toStringWithoutDecimalization(item['testPhasePrice'])
            }

        },
        packagePrice(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedMonthlyPrice'] : item['monthlyPrice'], false)
                    : toStringWithoutDecimalization(item['testPhasePrice'], false)
            } else {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedAnnualPrice'] : item['annualPrice'], false)
                    : toStringWithoutDecimalization(item['testPhasePrice'], false)
            }

        },
        hasSubscriptionHistory() {
            if (!this.user) {
                return false
            }

            return this.user['subscriptions'] !== undefined && this.user['subscriptions'] !== null && this.user['subscriptions'].length > 0
        },
        hasActiveSubscription() {
            if (!this.user) {
                return false
            }

            if (this.user['activeSubscriptions'] !== undefined && this.user['activeSubscriptions'] !== null && this.user['activeSubscriptions'].length > 0) {
                const activeSubs = this.user['activeSubscriptions'];
                for (const sub of activeSubs) {
                    if (sub['status'] === 'CONFIRMED') {
                        return true;
                    }
                }
                return false;
            }
            return false;
        },
        toStringWithDecimalization(price) {
            return toStringWithDecimalization(price)
        },
        toStringWithoutDecimalization(price) {
            return toStringWithoutDecimalization(price)
        },
        cancelSubscription(id) {
            SubscriptionService.deleteSubscription(id).then((success) => {
                if (success) {
                    core.showSnackbar('success', this.$t('results.subscriptionCanceled'))
                    this.user.activeSubscription = null;
                    localStorage.removeItem('recommendedPackageId');
                    localStorage.removeItem('surveyResults');
                } else {
                    core.showSnackbar('error', this.$t('results.error'))
                }
            });
        },
        changeTab(tab) {
            this.currentTab = tab;
        },
        triggerIndividualSupport(args) {
            this.packageId = args.packageId;
            this.durationSelected = args.durationSelected;
            this.fromRegister = args.fromRegister;
            console.log(args);
            this.$bvModal.show(args.modalId);
        },
        closeModal(id) {
            this.$bvModal.hide(id);
        },
        showModal(id) {
            this.$bvModal.show(id);
        },
    }
}
</script>
<style scoped>
.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}


.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.first-pricing-package-title {
    /*color: #A8E10C*/
    color: #81599F
}

.second-pricing-package-title {
    /*color: #8A6FDF;*/
    color: #36D6E7
}

.third-pricing-package-title {
    /*color: #FFDB15;*/
    /*color: #9BCCFD*/
    color: #65c368
}

.fourth-pricing-package-title {
    /*color: #FF5765;*/
    /*color: #0074DD*/
    color: #DAA520
}

.pricing-nav .active .nav-tab-container {
    border-top: 5px solid #DAA520;
    /*padding-top: 20px;*/
}

.pricing-nav .nav-tab-container {
    border-top: 0;
}

.pricing-nav .active h4 {
    font-weight: bold;
    /*color: black !important;*/
}

.pricing-nav h4 {
    font-weight: normal;
    /*color: grey !important;*/
}

.pricing-nav .active p {
    color: black !important;
}

.pricing-nav p {
    color: grey !important;
}

.pricing-nav a {
    padding: 0;
    margin-top: 15px;
}

.pricing-nav .active a {
    padding: 0;
    margin: 0;
}

.pricing-title {
    font-size: 17px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
    border: 0;
}

/* sm */
@media (max-width: 576px) {
    #package-category1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 550px) {
    .survey-button {
        font-size: 11px !important;
    }
}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .pricing-title {
        font-size: 25px;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}

.modal-sample {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 50em;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -13px 13px 10px 0px rgb(0 0 0 / 20%);
    background: #FFF;
    z-index: 999;
    transform: none;
}

.modal-sample h1 {
    margin: 0 0 1rem;
}

.modal-overlay-sample {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
}

/* ---------------------------------- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .1s linear;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.2s linear;
}

.pop-enter,
.pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
}

</style>
