<template>
    <b-container fluid="">
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height">
                    <template v-slot:body>
                        <ApolloQuery
                            :query="getBannersQuery">
                            <template v-slot="{ result: { error, data }, isLoading }">
                                <!-- Loading -->
                                <div v-if="isLoading" class="loading apollo"></div>

                                <!-- Error -->
                                <div v-else-if="error" class="error apollo">{{ $t('results.error') }}</div>

                                <!-- Result -->
                                <div v-else-if="data" class="result apollo">
                                    <Swiper :option="options">
                                        <template v-slot:nav>
                                            <SwiperNav/>
                                        </template>
                                        <SwiperSlide v-for="(item, index) in data['banners']" :key="index"
                                                     class="d-flex align-items-center justify-content-center">
                                            <div v-show="item['status']==='ACTIVE'"
                                                 :class="item['isVideo'] ? 'banner-video' : ''">
                                                <div v-if="item['isVideo']" class="banner-video" style="">
                                                    <a v-if="item['link'] !== null || item['link'] !== ''"
                                                       :href="item['link']" target="_blank">
                                                        <iframe class="banner-video"
                                                                style="width: 450px; height: 450px;"
                                                                :src="item['url']"></iframe>
                                                    </a>
                                                </div>
                                                <div v-else>
                                                    <a v-if="item['link'] !== null || item['link'] !== ''"
                                                       :href="item['link']" target="_blank">
                                                        <img :src="item['url']"
                                                             alt="post-image"
                                                             style="height: 450px;"
                                                             class="img-fluid rounded align-self-center banner-image">
                                                    </a>
                                                </div>
                                            </div>
                                        </SwiperSlide>
                                    </Swiper>
                                </div>
                            </template>
                        </ApolloQuery>

                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-row>
            <b-col lg="8" class="pt-lg-5">
                <iq-card class-name="iq-card-block iq-card-stretch  overflow-hidden mt-lg-5">
                    <template v-slot:body>
                        <div class="user-post-data">
                            <div class="d-flex flex-wrap">
                                <div class="media-support-info mt-2">
                                    <h4 class="card-title font-weight-bold mb-2" style="color: green">
                                        <i class="far fa-clock" style="color: green"></i>
                                        {{ $t('home.latestTrades') }}
                                        <i class="fa fa-info-circle ml-1 cursor-pointer" v-b-modal.info-trades
                                           style="font-size:20px; color: lightgrey"></i></h4>
                                </div>
                                <b-modal id="info-trades"
                                         ok-disabled cancel-disabled hide-footer size="md"
                                         header-bg-variant="danger">
                                    <div class="justify-content-center text-center">
                                        <p class="text-center">
                                            Hier findest Du die aktuellen Trades.
                                            Diese gibst Du immer für das Datum ein, das als „Einstiegsdatum“
                                            gekennzeichnet ist.
                                            Wenn Du Dir nicht sicher bist, wie Du die Trades eingibst, dann schau Dir im
                                            Members Coaching den 2.
                                            Schritt ruhig an. Dort habe ich ein Video für Dich aufgenommen, das Dir ganz
                                            genau zeigt,
                                            wie einfach erfolgreiches Traden mit Traderista ist 😊📈🔥

                                        </p>
                                    </div>
                                </b-modal>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <RouterLink class="text-decoration-none" :to="{ name: 'app.posts' }">
                                        <b-button type="submit" variant="primary">
                                            {{ $t('home.seeAllPostsAndTrades') }}
                                        </b-button>
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                    </template>
                </iq-card>
            </b-col>
            <b-col lg="4">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">
                    <template v-slot:body>
                        <label>{{ $t('post.capital') }}
                            <i class="fa fa-info-circle ml-1 cursor-pointer" v-b-modal.info-kapital
                               style="font-size:16px; color: lightgrey"></i>
                        </label>
                        <ValidationObserver v-slot="{ handleSubmit }" class="ml-2 mr-2">
                            <form @submit.prevent="handleSubmit(updateCapital)">
                                <b-row align-v="center">
                                    <b-form-group class="ml-2 mr-2">
                                        <b-modal id="info-kapital"
                                                 ok-disabled cancel-disabled hide-footer size="md"
                                                 header-bg-variant="danger">
                                            <div class="justify-content-center text-center">
                                                <p class="text-center">
                                                    Hier kannst Du dein Kapital vom Handelskonto eintragen.
                                                    Nimm dazu am besten immer den „Portfolio-Wert“, wie er Dir bei
                                                    eToro groß auf der Startseite angezeigt wird. Dadurch wird
                                                    automatisch die Positionsgröße auf dein Kapital angepasst,
                                                    sodass Du es nicht selbst umrechnen musst.
                                                    <br><br>
                                                    Ganz ehrlich, das ist eines der geilsten Features hier 😍😍 Also
                                                    nutze es 😁
                                                    <br><br>
                                                    P.S. Solange Du noch im Demokonto mit 100.000 US-$ unterwegs
                                                    bist, brauchst Du nichts zu verändern, weil der Betrag bereits
                                                    darauf basiert.
                                                </p>
                                            </div>
                                        </b-modal>
                                        <ValidationProvider name="Capital" rules="required"
                                                            v-slot="{ errors }">
                                            <b-form-input v-model="capitalObj.capital" type="text"
                                                          :placeholder="$t('post.capital')"
                                                          :class="(errors.length > 0 ? ' is-invalid mr-2' : 'mr-2')"></b-form-input>
                                            <div class="invalid-feedback">
                                                <span>{{ errors[0] }}</span>
                                            </div>
                                        </ValidationProvider>
                                    </b-form-group>
                                </b-row>
                                <b-button type="submit" variant="primary" class="mr-2">
                                    {{ $t('buttons.submit') }}
                                </b-button>
                            </form>
                        </ValidationObserver>
                    </template>
                </iq-card>
            </b-col>
            <b-col sm="12" lg="12" md="12">
                <div v-for="post in posts" :key="post.id">
                    <social-post v-on:tradeEntered="tradeEntered" :post="post"></social-post>
                </div>
                <b-button v-if="shouldShowMore && posts && posts.length > 0" @click="showMore" variant="primary"
                          class="mb-5">
                    {{ $t('buttons.loadMore') }}
                </b-button>
                <div v-if="isLoading"></div>
                <div v-else-if="posts.length === 0" class="no-result apollo
                                justify-content-center content-center text-center align-self-center">
                    <i class="fas fa-th-list fa-2x"></i>
                    <p>{{ $t('home.noNewTradesAvailable') }}</p>
                </div>
            </b-col>
            <!--            <b-col lg="4">-->
            <!--                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">-->

            <!--                    <template v-slot:body>-->
            <!--                        <ValidationObserver v-slot="{ handleSubmit }" class="ml-2 mr-2">-->
            <!--                            <form @submit.prevent="handleSubmit(updateCapital)">-->
            <!--                                <b-row align-v="center">-->
            <!--                                    <b-form-group class="col-md-6 mr-2">-->
            <!--                                        <label>{{ $t('post.capital') }}-->
            <!--                                            <i class="fa fa-info-circle ml-1 cursor-pointer" v-b-modal.info-kapital style="font-size:16px; color: lightgrey"></i>-->
            <!--                                        </label>-->
            <!--                                        <b-modal id="info-kapital"-->
            <!--                                                 ok-disabled cancel-disabled hide-footer size="md"-->
            <!--                                                 header-bg-variant="danger">-->
            <!--                                            <div class="justify-content-center text-center">-->
            <!--                                                <p class="text-center">-->
            <!--                                                    Hier kannst Du dein Kapital vom Handelskonto eintragen.-->
            <!--                                                    Nimm dazu am besten immer den „Portfolio-Wert“, wie er Dir bei eToro groß auf der Startseite angezeigt wird. Dadurch wird automatisch die Positionsgröße auf dein Kapital angepasst, sodass Du es nicht selbst umrechnen musst.-->
            <!--                                                    <br><br>-->
            <!--                                                    Ganz ehrlich, das ist eines der geilsten Features hier 😍😍 Also nutze es 😁-->
            <!--                                                    <br><br>-->
            <!--                                                    P.S. Solange Du noch im Demokonto mit 100.000 US-$ unterwegs bist, brauchst Du nichts zu verändern, weil der Betrag bereits darauf basiert.-->
            <!--                                                </p>-->
            <!--                                            </div>-->
            <!--                                        </b-modal>-->
            <!--                                        <ValidationProvider name="Capital" rules="required"-->
            <!--                                                            v-slot="{ errors }">-->
            <!--                                            <b-form-input v-model="capitalObj.capital" type="text"-->
            <!--                                                          :placeholder="$t('post.capital')"-->
            <!--                                                          :class="(errors.length > 0 ? ' is-invalid mr-2' : 'mr-2')"></b-form-input>-->
            <!--                                            <div class="invalid-feedback">-->
            <!--                                                <span>{{ errors[0] }}</span>-->
            <!--                                            </div>-->
            <!--                                        </ValidationProvider>-->
            <!--                                    </b-form-group>-->
            <!--                                </b-row>-->
            <!--                                <b-button type="submit" variant="primary" class="mr-2">-->
            <!--                                    {{ $t('buttons.submit') }}-->
            <!--                                </b-button>-->
            <!--                            </form>-->
            <!--                        </ValidationObserver>-->

            <!--                        <ApolloQuery :query="calcCompaniesQuery()" :variables="{type: companiesFilter()}">-->
            <!--                            <template v-slot="{ result: { error, data }, isLoading }">-->
            <!--                                <div v-if="isLoading" class="loading apollo"></div>-->

            <!--                                <div v-else-if="error" class="error apollo">{{ $t('results.error') }}</div>-->

            <!--                                <div v-else-if="data" class="result apollo">-->
            <!--                                    <ul class="suggestions-lists m-0 p-0">-->
            <!--                                        <li v-for="(company,index) in (isCompanyQueryAll() ? data['allCompanies'] : data['companies']['data'])"-->
            <!--                                            :key="company.company_symbol"-->
            <!--                                            :class="'d-flex  align-items-center mb-3'">-->
            <!--                                            <div v-if="index < 10">-->
            <!--                                                &lt;!&ndash;                                                <div class="profile-icon mr-3">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;                                                <span>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;                                                <img :src="company['logo']" alt="post-image"&ndash;&gt;-->
            <!--                                                &lt;!&ndash;                                                     class="img-fluid rounded align-self-center">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;                                                </span>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;                                                </div>&ndash;&gt;-->
            <!--                                                <div class="media-support-info">-->
            <!--                                                    <h6>{{ company.name }}</h6>-->
            <!--                                                </div>-->
            <!--                                                <div class="media-support-amount">-->
            <!--                                                    <h6>-->
            <!--                                                        <span :class="'text-secondary'">$</span><b>-->
            <!--                                                        {{ company.company_symbol }}</b>-->
            <!--                                                    </h6>-->
            <!--                                                </div>-->
            <!--                                            </div>-->
            <!--                                        </li>-->
            <!--                                    </ul>-->
            <!--                                </div>-->
            <!--                                <div v-else class="no-result apollo">-->
            <!--                                </div>-->
            <!--                            </template>-->
            <!--                        </ApolloQuery>-->
            <!--                    </template>-->
            <!--                </iq-card>-->
            <!--            </b-col>-->
        </b-row>
        <transition name="fade" appear>
            <div class="modal-overlay-sample"
                 v-if="showModal"
                 @click="showModal = false"></div>
        </transition>
        <transition name="pop" appear>
            <div class="modal-sample"
                 role="dialog"
                 v-if="showModal">
                <h3>{{ this.modalMessage }}</h3>
            </div>
        </transition>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import Swiper from "../../components/core/slider/Swiper";
import SwiperNav from "../../components/core/slider/SwiperNav";
import SwiperSlide from "../../components/core/slider/SwiperSlide";
import getBanners from '../../graphql/queries/getBanners.graphql'
import SocialPost from "../Apps/Social/Components/SocialPost";
import getLatestTrades from "../../graphql/queries/getLatestTrades.graphql"
import getCompanies from "../../graphql/queries/getCompanies.graphql"
import getAllCompanies from '../../graphql/queries/getAllCompanies.graphql'
import {mapGetters} from "vuex";
import {PostService} from "../../services/post";
import {UserService} from "../../services/user";
import {toStringWithDecimalization} from "../../Utils/utils";
import {TrackingService} from "../../services/tracking";


export default {
    name: 'UserHome',
    components: {Swiper, SwiperNav, SwiperSlide, SocialPost},
    created() {
        this.showMore();
    },
    mounted() {
        core.index();
       TrackingService.pageView("User Home Page",  this.$route);
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
            posts: 'Setting/posts',
        }),
        swiper() {
            return this.$refs.mySwiper.swiper;
        },
        capitalObj: function () {
            return {
                capital: this.user ? toStringWithDecimalization(this.user['capital'], false) + ' $' : "1000.00 $"
            }
        },
        isLoading() {
            return this.loading
        },
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    methods: {
        tradeEntered(variable) {
            this.modalMessage = this.getRandomMessage();
            this.showModal = true;
        },
        getRandomMessage() {
            var list = [
                "Gut gemacht! 😊", "Einfach Weltklasse 😍", "Auf dich ist Verlass 👍🏽", "Der war wichtig! 💪🏽", "Safe ein Winner 📈", "Der Trade des Monats 💸", "Wahrer Wohlstand incoming 😁", "Und wieder nur 0,5% Risiko 😊", "Deine Trefferquote ist überragend 👌🏽", "You‘re on fire 🔥", "Volltreffer! ⚽️", "Du bist die Erfolgsgarantie 🤩", "Du machst was aus deinem Geld 💰 ", "Du hast dein Leben im Griff 🤙🏽", "Ein richtiger Überflieger ✈️", "Einfach eine Rakete 🚀 ", "Maschine! 🏧", "Du Glückskeks 🥠 ", "Moneymaker 🤑", "Streber 🤓", "Der Trade schmeckt 😋", "Roboter wären neidisch auf dich 🦾", "Mach kein Auge 👁", "Ruhig weitersagen 🗣", "Den Trade hab ich auf Herz und Nieren überprüft🫀🫁", "Kinderleicht, oder? 👶🏽", "Hat was von der Zahnfee 🦷", "Du hast einen Wunsch frei🧞‍♂️", "Alle melden, die den Trade eingegeben haben 🙋🏽‍♂️", "So einfach kann das sein 🤷🏽‍♂️", "Läuft bei dir🏃🏽‍♂️", "Ein sicheres Ding 🪢", "Es ist wie Magie 🪄", "Kannst du das deinem Hund auch beibringen? 🐶", "Turtle Trader 🐢", "G.O.A.T. 🐐", "Gleich kannst du chillen 🦦", "Nach den Trades kannst du abhängen 🦥", "Ein Fels in der Brandung 🌊🪨", "Die Welt gehört dir 🌎🌍🌏", "Auf dem Weg zum Anfang des Regenbogens 🌈", "Eiskalt eingegeben⛄️", "Ein weiterer Kaffeepausen-Trade ☕️", "Homerun! ⚾️", "Ass! 🎾", "Traumtor! ⚽️", "Buzzer beater! 🏀", "Hail Mary! 🏈", "Ins Schwarze getroffen 🏹", "Da haste nen dicken Fisch an der Angel🎣", "Du kannst mit dem Druck umgehen🏋🏽‍♀️", "In der Ruhe liegt die Kraft 🧘🏽‍♂️🧘🏽‍♀️", "Du bist auf dem Weg nach oben 🧗🏽‍♂️🧗🏽‍♀️", "Warren Buffett wäre neidisch 😬", "Du bist eine wahre Nummer 1🥇", "Die Medaille hast du dir verdient🏅", "Wir jonglieren mit den Trades 🤹🏽", "Strike! 🎳", "Grünes Licht für dein Vermögen🚦", "Den Trade hast du am Haken! 🪝", "Trade ✔️", "Mobil oder Dekstop?📱💻", "Trades auf der Smartwatch hätte was, oder?⌚️", "Dein Auftritt ist filmreif 📽", "Das war eine Rekordzeit! ⏱", "Stellst du dir nen Wecker für die Trades? ⏰", "Das war erst der Anfang 💶", "Richtiger Sparfuchs 🦊", "Einfach Bombe! 💣", "Gute Aussichten 🔭", "Sky is the limit! 🪂", "Den haben wir gut erforscht 🔬", "Der Schlüssel zu deinen Träumen 🗝🔑", "Vermögen, bitte! 🛎", "Dein Vertrag mit dem Wohlstand 📜", "Den hab ich mir notiert 🗒", "Bücher machen reich 📚", "Reichtum ist dir sicher 🔒"
            ];
            return list[Math.floor(Math.random() * list.length)];
        },
        showMore() {
            if (this.showMoreEnabled) {
                PostService.getSubscribedPosts(this.page).then((_) => {
                    this.loading = false
                    this.page++
                })
            }
        },
        companiesFilter() {
            if (this.isCompanyQueryAll()) {
                return null;
            }
            if (this.user) {
                let activeSubscription = this.user['activeSubscription']
                if (activeSubscription) {
                    return activeSubscription['package']['stocksSupported']
                }
            }

            return ''
        },
        calcCompaniesQuery() {
            if (this.isCompanyQueryAll()) {
                return this.getAllCompaniesQuery;
            }
            return this.getCompaniesQuery
        },
        isCompanyQueryAll() {
            if (this.user) {
                let activeSubscription = this.user['activeSubscription']
                if (activeSubscription) {
                    return activeSubscription['package']['stocksSupported'] === 'ALL'
                }
            }
            return false
        },
        updateCapital() {
            var containsDecimalPlaces = this.capitalObj.capital.includes('.');
            var capital = parseInt(this.capitalObj.capital.replace(/\D/g, ''));
            capital = containsDecimalPlaces ? capital : capital * 100;

            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            UserService.updateCapital(capital).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
        ,
    }
    ,
    watch: {
        rtl: function (value) {
            this.options.rtl = this.rtl
        }
    },
    data() {
        return {
            page: 1,
            showMoreEnabled: true,
            getBannersQuery: getBanners,
            getLatestTradesQuery: getLatestTrades,
            getCompaniesQuery: getCompanies,
            getAllCompaniesQuery: getAllCompanies,
            loading: true,
            showModal: false,
            modalMessage: '',
            options: {
                centeredSlides: false,
                loop: true,
                slidesPerView: 1,
                notNextTick: true,
                autoplay: {
                    delay: 1500,
                    stopOnLastSlide: false,
                    disableOnInteraction: true
                },
                speed: 800,
                spaceBetween: 30,
                breakpoints: {
                    320: {
                        slidesPerView: 1
                        // spaceBetween: 10
                    },
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 1
                        // spaceBetween: 15
                    },
                    // when window width is >= 640px
                    640: {
                        slidesPerView: 1
                        // spaceBetween: 20
                    },
                    768: {
                        slidesPerView: 1
                        // spaceBetween: 20
                    },
                    1024: {
                        slidesPerView: 2
                        // spaceBetween: 20
                    }
                },
                pagination: {
                    el: '.swiper-pagination'
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar'
                }
            },
        }
    }
}
</script>

<style scoped>
.iq-card-body {
    flex: unset;
}

.banner-video {
    width: 100% !important;
}


@media (min-width: 930px) {
    .banner-video {
        width: 95% !important;
    }
}

@media (min-width: 1280px) {
    .banner-video {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .banner-image {
        max-width: 100% !important;
        height: auto !important;
    }

    .banner-video {
        max-width: 100% !important;
        height: auto !important;
    }
}
.modal-sample {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 50em;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -13px 13px 10px 0px rgb(0 0 0 / 20%);
    background: #FFF;
    z-index: 999;
    transform: none;
}

.modal-sample h1 {
    margin: 0 0 1rem;
}

.modal-overlay-sample {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
}

/* ---------------------------------- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s linear;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
}
</style>
