<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <div v-else>
        <b-container fluid="">
            <div v-if="loading">
                <div class="row mt-5">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                    </div>
                    <div class="col-5"></div>
                </div>
            </div>
            <b-row>
                <b-col lg="2"></b-col>
                <b-col lg="8">
                    <div v-for="post in posts" :key="post.id">
                        <social-post v-on:tradeEntered="tradeEntered" :post="post"></social-post>
                    </div>
                    <b-button v-if="shouldShowMore && posts && posts.length > 0" @click="showMore" variant="primary"
                              class="mb-5">
                        {{ $t('buttons.loadMore') }}
                    </b-button>
                    <div v-if="!posts || posts.length === 0" class="no-result apollo
                                justify-content-center content-center text-center align-self-center mt-5">
                        <i class="fas fa-th-list fa-2x"></i>
                        <p>{{ $t('home.noNewTradesAvailable') }}</p>
                    </div>
                </b-col>
                <b-col lg="2"></b-col>
            </b-row>
        </b-container>
        <transition name="fade" appear>
            <div class="modal-overlay-sample"
                 v-if="showModal"
                 @click="showModal = false"></div>
        </transition>
        <transition name="pop" appear>
            <div class="modal-sample"
                 role="dialog"
                 v-if="showModal">
                <h3>{{ this.modalMessage }}</h3>
            </div>
        </transition>
    </div>
</template>
<script>
import {core} from '../../config/pluginInit'
import SocialPost from "../Apps/Social/Components/SocialPost";
import {mapGetters} from "vuex";
import {PostService} from "../../services/post";
import loader from '../../assets/images/loader.gif';
import {TrackingService} from "../../services/tracking";


export default {
    name: 'UserPosts',
    components: {SocialPost},
    mounted() {
        core.index();
        TrackingService.pageView("User Trades",  this.$route);

    },
    data() {
        return {
            loading: true,
            loader: loader,
            page: 1,
            showMoreEnabled: true,
            showModal: false,
            modalMessage: '',
        }
    },
    created() {
        this.showMore()
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
            posts: 'Setting/posts',
        }),
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    methods: {
        tradeEntered(variable) {
            this.modalMessage = this.getRandomMessage();
            this.showModal = true;
        },
        companiesFilter() {
            if (this.user['activeSubscription']['package']['stocksSupported'] === 'ALL') {
                return null;
            }
            return this.user['activeSubscription']['package']['stocksSupported'];
        },
        showMore() {
            if (this.showMoreEnabled) {
                PostService.getSubscribedPosts(this.page).then((_) => {
                    this.loading = false
                    this.page++
                })
            }
        },
        getRandomMessage() {
            var list = [
                "Gut gemacht! 😊", "Einfach Weltklasse 😍", "Auf dich ist Verlass 👍🏽", "Der war wichtig! 💪🏽", "Safe ein Winner 📈", "Der Trade des Monats 💸", "Wahrer Wohlstand incoming 😁", "Und wieder nur 0,5% Risiko 😊", "Deine Trefferquote ist überragend 👌🏽", "You‘re on fire 🔥", "Volltreffer! ⚽️", "Du bist die Erfolgsgarantie 🤩", "Du machst was aus deinem Geld 💰 ", "Du hast dein Leben im Griff 🤙🏽", "Ein richtiger Überflieger ✈️", "Einfach eine Rakete 🚀 ", "Maschine! 🏧", "Du Glückskeks 🥠 ", "Moneymaker 🤑", "Streber 🤓", "Der Trade schmeckt 😋", "Roboter wären neidisch auf dich 🦾", "Mach kein Auge 👁", "Ruhig weitersagen 🗣", "Den Trade hab ich auf Herz und Nieren überprüft🫀🫁", "Kinderleicht, oder? 👶🏽", "Hat was von der Zahnfee 🦷", "Du hast einen Wunsch frei🧞‍♂️", "Alle melden, die den Trade eingegeben haben 🙋🏽‍♂️", "So einfach kann das sein 🤷🏽‍♂️", "Läuft bei dir🏃🏽‍♂️", "Ein sicheres Ding 🪢", "Es ist wie Magie 🪄", "Kannst du das deinem Hund auch beibringen? 🐶", "Turtle Trader 🐢", "G.O.A.T. 🐐", "Gleich kannst du chillen 🦦", "Nach den Trades kannst du abhängen 🦥", "Ein Fels in der Brandung 🌊🪨", "Die Welt gehört dir 🌎🌍🌏", "Auf dem Weg zum Anfang des Regenbogens 🌈", "Eiskalt eingegeben⛄️", "Ein weiterer Kaffeepausen-Trade ☕️", "Homerun! ⚾️", "Ass! 🎾", "Traumtor! ⚽️", "Buzzer beater! 🏀", "Hail Mary! 🏈", "Ins Schwarze getroffen 🏹", "Da haste nen dicken Fisch an der Angel🎣", "Du kannst mit dem Druck umgehen🏋🏽‍♀️", "In der Ruhe liegt die Kraft 🧘🏽‍♂️🧘🏽‍♀️", "Du bist auf dem Weg nach oben 🧗🏽‍♂️🧗🏽‍♀️", "Warren Buffett wäre neidisch 😬", "Du bist eine wahre Nummer 1🥇", "Die Medaille hast du dir verdient🏅", "Wir jonglieren mit den Trades 🤹🏽", "Strike! 🎳", "Grünes Licht für dein Vermögen🚦", "Den Trade hast du am Haken! 🪝", "Trade ✔️", "Mobil oder Dekstop?📱💻", "Trades auf der Smartwatch hätte was, oder?⌚️", "Dein Auftritt ist filmreif 📽", "Das war eine Rekordzeit! ⏱", "Stellst du dir nen Wecker für die Trades? ⏰", "Das war erst der Anfang 💶", "Richtiger Sparfuchs 🦊", "Einfach Bombe! 💣", "Gute Aussichten 🔭", "Sky is the limit! 🪂", "Den haben wir gut erforscht 🔬", "Der Schlüssel zu deinen Träumen 🗝🔑", "Vermögen, bitte! 🛎", "Dein Vertrag mit dem Wohlstand 📜", "Den hab ich mir notiert 🗒", "Bücher machen reich 📚", "Reichtum ist dir sicher 🔒"
            ];
            return list[Math.floor(Math.random() * list.length)];
        }
    },
    watch: {
        rtl: function (value) {
            this.options.rtl = this.rtl
        }
    },
}
</script>

<style scoped>
.iq-card-body {
    flex: unset;
}

.modal-sample {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 50em;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -13px 13px 10px 0px rgb(0 0 0 / 20%);
    background: #FFF;
    z-index: 999;
    transform: none;
}

.modal-sample h1 {
    margin: 0 0 1rem;
}

.modal-overlay-sample {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
}

/* ---------------------------------- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s linear;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
}

</style>
