<template>
    <div>
        <main>
            <p>
                {{ "1) " }}
                <span style="color: red;">{{ "\{\{name\}\}" }}</span>
                {{ " wird durch den Namen des Empfängers ersetzt" }}
            </p>
            <p>
                2) <span style="color: red;">&lt;br&gt;</span> to insert a new line
            </p>
            <p>
                3) <span style="color: red;">&lt;b&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/b&gt;</span> um einen fetten Text einzufügen
            </p>
            <p>
                4) <span style="color: red;">&lt;i&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/i&gt;</span> um kursiven Text einzufügen
            </p>
            <p>
                5) <span style="color: red;">&lt;h1&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/h1&gt;</span> um großen Text einzufügen. Die Größen sind von 1-6, wobei 1 die
                größte und 6 die kleinste Größe ist. Beispiel: &lt;h3&gt;&lt;/h3&gt;
            </p>
            <p>
                6) Schreiben Sie:
                <span style="color: red;">
                &lt;a href="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;<span style="color: green;">text_hier_einfügen</span>&lt;/a&gt;
            </span>
                , um einen Link einzufügen
            </p>
            <p>
                7) Schreiben Sie:
                <span style="color: red;">
                &lt;img src="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;&lt;/img&gt;
            </span>
                , um einen Image einzufügen
            </p>
            <p>
                8) Schreiben Sie: <br/>
                <span style="color: red;">
               &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/GQ9kbfrXEAg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen&gt;&lt;/iframe&gt;
            </span>
                , um einen Video einzufügen ! <br/>
                Klicke auf youtube teilen und kopiere den Einbettungscode
            </p>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid uk-flex uk-flex-center">
                        <div class="uk-width-1-1@m uk-text-center">
                            <h2 class="uk-margin-small-bottom">{{ $t('admin.newBlogPost') }}<span class="in-highlight"> {{ $t('admin.add') }}</span></h2>
                        </div>
                        <div class="uk-width-1-1@m uk-margin-large-top">
                            <div class="uk-grid uk-grid-large uk-child-width-1-1@m" data-uk-grid>
                                <div>
                                    <b-form id="contact-form" class="uk-form uk-grid-small" data-uk-grid action="javascript:void(0);">
                                        <div class="uk-width-1-1">
                                            <input class="uk-input uk-border-rounded" id="name"
                                                   name="title" type="text" :placeholder="$t('blog.title')" v-model="title">
                                        </div>
                                        <div class="uk-width-1-1">
                                            <textarea class="uk-textarea uk-border-rounded"
                                                      id="message1" name="text" v-model="text1" rows="6" :placeholder="$t('blog.paragraph1')"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <textarea class="uk-textarea uk-border-rounded"
                                                      id="message2" name="text" v-model="text2" rows="6" :placeholder="$t('blog.paragraph2')"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <textarea class="uk-textarea uk-border-rounded"
                                                      id="message3" name="text" v-model="text3" rows="6" :placeholder="$t('blog.paragraph3')"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <textarea class="uk-textarea uk-border-rounded"
                                                      id="message4" name="text" v-model="text4" rows="6" :placeholder="$t('blog.paragraph4')"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <textarea class="uk-textarea uk-border-rounded"
                                                      id="message5" name="text" v-model="text5" rows="6" :placeholder="$t('blog.paragraph5')"></textarea>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <button class="uk-width-1-1 uk-button uk-button-primary
                                            uk-border-rounded primary-background-color text-white"
                                                    id="sendemail" type="submit" name="submit"
                                                    @click="addBlogPost(title, text1, text2, text3, text4, text5)">{{$t('admin.add')}}</button>
                                        </div>
                                    </b-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section content end -->
        </main>
    </div>

</template>

<script>
import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import ADD_BLOG_POST from '../../graphql/mutations/createBlogPost.graphql'
import loader from "../../assets/images/loader.gif";
import router from "../../router";
import moment from "moment";

export default {
    name: 'new-blog-post',
    mounted() {
        core.index()
    },
    data() {
        return {
            loading: true,
            loader: loader,
            title: '',
            text1: '',
            text2: '',
            text3: '',
            text4: '',
            text5: '',
        }
    },
    methods: {
        addBlogPost(title, text1, text2, text3, text4, text5) {
            this.$apollo.mutate({
                    mutation: ADD_BLOG_POST,
                    variables: {
                        input: {
                            title: title,
                            text1: text1,
                            text2: text2,
                            text3: text3,
                            text4: text4,
                            text5: text5,
                            date_time: moment(Date.now()).format("YYYY-MM-DD H:mm:ss"),
                        }
                    }
                }
            )
            router.push({path: '/blog'});
        },
    }
}
</script>


<style scoped>
@import url("../../assets/css/website/main.css");
</style>
