<!--<template>-->
<!--    <div>-->
<!--        <main>-->
<!--            &lt;!&ndash; section content begin &ndash;&gt;-->
<!--            <div class="uk-section">-->
<!--                <div class="uk-container">-->
<!--                    <div class="uk-grid uk-flex uk-flex-center">-->
<!--                        <div class="uk-width-1-1@m uk-text-center">-->
<!--                            <h2 class="uk-margin-small-bottom">{{ $t('admin.newPost') }}</h2>-->
<!--                        </div>-->
<!--                        <div class="uk-width-1-1@m uk-margin-large-top">-->
<!--                            <div class="uk-grid uk-grid-large uk-child-width-1-1@m" data-uk-grid>-->
<!--                                <div>-->
<!--                                    <b-form id="contact-form" class="uk-form uk-grid-small" data-uk-grid-->
<!--                                            action="javascript:void(0);">-->
<!--                                        <div class="uk-width-1-1">-->
<!--                                            <textarea class="uk-textarea uk-border-rounded"-->
<!--                                                      id="message" name="text" v-model="content" rows="6"-->
<!--                                                      :placeholder=" $t('admin.content') "></textarea>-->
<!--                                        </div>-->

<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <b-form-select v-model="selectedCompany"-->
<!--                                                           :options="companiesOptions"></b-form-select>-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <b-form-select v-model="selectedPosition"-->
<!--                                                           :options="positionOptions"></b-form-select>-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <b-form-select v-model="selectedTradeType"-->
<!--                                                           :options="tradeTypeOptions"></b-form-select>-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <b-form-select v-model="selectedStockType"-->
<!--                                                           :options="stockTypeOptions"></b-form-select>-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <input class="uk-input uk-border-rounded" id="entryDate"-->
<!--                                                   name="title" type="date" :placeholder=" $t('admin.entryDate') "-->
<!--                                                   v-model="trade.entryDate">-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <input class="uk-input uk-border-rounded" id="amount"-->
<!--                                                   name="title" type="text"-->
<!--                                                   :placeholder=" $t('admin.amountPercentage') "-->
<!--                                                   v-model="trade.amountPercentage">-->
<!--                                        </div>-->

<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <input class="uk-input uk-border-rounded" id="price"-->
<!--                                                   name="title" type="text" :placeholder=" $t('admin.price') "-->
<!--                                                   v-model="trade.price">-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <input class="uk-input uk-border-rounded" id="stopLoss"-->
<!--                                                   name="title" type="text" :placeholder=" $t('admin.stopLoss') "-->
<!--                                                   v-model="trade.stopLoss">-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-1-1" v-show="!isShow">-->
<!--                                            <input class="uk-input uk-border-rounded" id="takeProfit"-->
<!--                                                   name="title" type="text" :placeholder=" $t('admin.takeProfit') "-->
<!--                                                   v-model="trade.takeProfit">-->
<!--                                        </div>-->

<!--                                        <div class="uk-width-1-1@m text-center">-->
<!--                                            <button class="uk-width-1-2@m uk-button uk-button-primary-->
<!--                                            uk-border-rounded primary-background-color text-white"-->
<!--                                                    id="attachTrade" type="submit" name="submit"-->
<!--                                                    @click="isShow = !isShow"><i-->
<!--                                                :class="isShow ? 'fa fa-lg fa-plus mr-2' : 'fa fa-lg fa-minus mr-2'"></i>{{-->
<!--                                                    isShow ? $t('admin.attachTrade') : $t('admin.removeTrade')-->
<!--                                                }}-->
<!--                                            </button>-->
<!--                                        </div>-->

<!--                                        <div class="uk-width-1-1 m-t-50 text-center">-->
<!--                                            <button class="uk-width-1-2@m uk-button uk-button-primary-->
<!--                                            uk-border-rounded primary-background-color text-white"-->
<!--                                                    id="sendemail" type="submit" name="submit"-->
<!--                                                    @click="addPost(content, trade)"><i-->
<!--                                                class="fa fa-lg fa-check-circle mr-2"></i>{{ $t('admin.newPost') }}-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </b-form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; section content end &ndash;&gt;-->
<!--        </main>-->
<!--    </div>-->

<!--</template>-->

<!--<script>-->
<!--import '../../assets/js/vendors/blockit.min';-->
<!--import '../../assets/js/vendors/uikit.min';-->
<!--import '../../assets/js/config-theme';-->
<!--import GET_ALL_COMPANIES from '../../graphql/queries/getAllCompanies.graphql'-->

<!--import {core} from "../../config/pluginInit";-->
<!--import ADD_POST from '../../graphql/mutations/addPost.graphql'-->
<!--import loader from "../../assets/images/loader.gif";-->
<!--import router from "../../router";-->
<!--import {Auth} from "../../config/auth";-->
<!--import moment from "moment";-->

<!--export default {-->
<!--    name: 'new-post',-->
<!--    mounted() {-->
<!--        core.index()-->
<!--    },-->
<!--    created() {-->
<!--        this.$apollo.query({-->
<!--            query: GET_ALL_COMPANIES-->
<!--        }).then((data) => {-->
<!--            this.companies = data.data.allCompanies;-->
<!--            var companiesOptions = [];-->
<!--            for (var company of this.companies) {-->
<!--                console.log(company);-->
<!--                if (company.hasOwnProperty('company_symbol')) {-->
<!--                    var value = company['company_symbol'];-->
<!--                    companiesOptions.push(value);-->
<!--                }-->
<!--            }-->
<!--            this.companiesOptions = companiesOptions;-->
<!--        });-->
<!--    },-->
<!--    data() {-->
<!--        return {-->
<!--            isShow: true,-->
<!--            companies: GET_ALL_COMPANIES,-->
<!--            companiesOptions: [],-->
<!--            selectedPosition: null,-->
<!--            selectedTradeType: null,-->
<!--            selectedStockType: null,-->
<!--            selectedCompany: null,-->
<!--            positionOptions: [-->
<!--                {value: null, text: this.$t('admin.position')},-->
<!--                {value: 'SHORT', text: 'SHORT'},-->
<!--                {value: 'LONG', text: 'LONG'},-->
<!--            ],-->
<!--            tradeTypeOptions: [-->
<!--                {value: null, text: this.$t('admin.tradeType')},-->
<!--                {value: 'DAILY', text: 'DAILY'},-->
<!--                {value: 'WEEKLY', text: 'WEEKLY'},-->
<!--            ],-->
<!--            stockTypeOptions: [-->
<!--                {value: null, text: this.$t('admin.stockType')},-->
<!--                {value: 'INDEX', text: 'INDEX'},-->
<!--                {value: 'DEUTSCHE', text: 'DEUTSCHE'},-->
<!--                {value: 'US', text: 'US'},-->
<!--            ],-->
<!--            loading: true,-->
<!--            loader: loader,-->
<!--            content: '',-->
<!--            trade: {-->
<!--                company: {-->
<!--                    company_symbol: ''-->
<!--                },-->
<!--                position: '',-->
<!--                entryDate: '',-->
<!--                tradeType: '',-->
<!--                stockType: '',-->
<!--                price: '',-->
<!--                amountPercentage: '',-->
<!--                stopLoss: '',-->
<!--                takeProfit: '',-->
<!--            },-->
<!--        }-->
<!--    },-->
<!--    methods: {-->
<!--        addPost(content, trade) {-->
<!--            trade.price = parseFloat(trade.price);-->
<!--            trade.takeProfit = parseFloat(trade.takeProfit);-->
<!--            trade.stopLoss = parseFloat(trade.stopLoss);-->
<!--            trade.amountPercentage = parseInt(trade.amountPercentage);-->
<!--            trade.position = this.selectedPosition;-->
<!--            trade.stockType = this.selectedStockType;-->
<!--            trade.tradeType = this.selectedTradeType;-->
<!--            trade.company.symbol = this.selectedCompany;-->
<!--            this.$apollo.mutate({-->
<!--                    mutation: ADD_POST,-->
<!--                    variables: {-->
<!--                        input: {-->
<!--                            user: {-->
<!--                                connect: Auth.id()-->
<!--                            },-->
<!--                            content: content,-->
<!--                            date_time: moment(Date.now()).format("YYYY-MM-DD H:mm:ss"),-->
<!--                            trade: this.isShow ? null : trade-->
<!--                        }-->
<!--                    }-->
<!--                }-->
<!--            )-->
<!--            core.showSnackbar('success', this.$t('post.commentWasSubmitted'))-->
<!--            router.push({path: '/app/posts'});-->
<!--        },-->
<!--    }-->
<!--}-->
<!--</script>-->


<!--<style scoped>-->
<!--@import url("../../assets/css/website/main.css");-->
<!--</style>-->
