<template>
    <div>
        <h4 class="card-title">{{ $t('admin.addReward') }}</h4>
        <div class="container mt-4">
            <div class="row">
                <!--          <div class="col-md-2">-->
                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                <!--          </div>-->

                <div class="col-md-12">
                    <div class="uk-width-1-1 mb-2">
                        <div class="uk-width-1-1 mb-2">
                            <label for="id">ID von Kunden</label>
                            <input
                                class="uk-input uk-border-rounded" id="id"
                                name="title"
                                type="number"
                                placeholder="ID"
                                v-model="reward.user_id">
                        </div>
                        <div class="uk-width-1-1 mb-2">
                            <label for="coinAmount">{{ $t('admin.coinAmount') }}</label>
                            <input
                                class="uk-input uk-border-rounded" id="coinAmount"
                                name="coinAmount"
                                type="number"
                                v-model="reward.coin_amount">
                        </div>
                        <div class="uk-width-1-1 mb-2">
                            <label for="note">{{ $t('admin.note') }}</label>
                            <input
                                class="uk-input uk-border-rounded" id="note"
                                name="note"
                                type="text"
                                v-model="reward.note">
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";

export default {
    name: 'AddRewardComponent',
    props: {
        reward: Object
    },
    mounted() {
        core.index()
    },
    data() {
        return {
            isShow: true,
            loading: true,
            loader: loader,
        }
    },
    methods: {}
}
</script>
