<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <div v-else>
        <b-container fluid="">
            <div v-if="loading">
                <div class="row mt-5">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                    </div>
                    <div class="col-5"></div>
                </div>
            </div>
            <b-row>
                <b-col lg="2"></b-col>
                <b-col log="8">
                    <AddSocialPost></AddSocialPost>
                </b-col>
                <b-col lg="2"></b-col>
            </b-row>
            <b-row>
                <b-col lg="2"></b-col>
                <b-col lg="8">
                    <div v-for="post in posts" :key="post.id">
                        <social-post :post="post"></social-post>
                    </div>
                    <b-button v-if="shouldShowMore" @click="showMore" variant="primary" class="mb-5">
                        {{ $t('buttons.loadMore') }}
                    </b-button>
                </b-col>
                <b-col lg="2"></b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
import {core} from '../../config/pluginInit'
import SocialPost from "../Apps/Social/Components/SocialPost";
import {mapGetters} from "vuex";
import {PostService} from "../../services/post";
import loader from '../../assets/images/loader.gif';
import AddSocialPost from './CreatePost'

export default {
    name: 'UserPosts',
    components: {SocialPost, AddSocialPost},
    mounted() {
        core.index()
    },
    data() {
        return {
            loading: true,
            loader: loader,
            page: 1,
            showMoreEnabled: true,
        }
    },
    created() {
        this.showMore()
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
            posts: 'Setting/posts',
        }),
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    watch: {
        rtl: function (value) {
            this.options.rtl = this.rtl
        }
    },
    methods: {
        showMore() {
            if (this.showMoreEnabled) {
                PostService.getAllPostsForAdmin(this.page).then((_) => {
                    this.loading = false
                    this.page++
                })
            }
        },
    }
}
</script>

<style scoped>
.iq-card-body {
    flex: unset;
}
</style>
