<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">


                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold pb-2">{{ $t('admin.bannersPage') }}</h4>
                        <b-button class="primary-background-color border-0"
                                  size="sm" @click="showModal('createBanner')">
                            Banner erstellen
                        </b-button>
                        <b-modal id="createBanner"
                                 cancel-title="Close" size="lg">
                            <EditBanner :banner="cBanner"
                                        :banners="banners"
                                        :on-create-click="onCreateClick"
                                        :is-create="true"></EditBanner>
                        </b-modal>
                    </template>

                    <template v-slot:body>
                        <b-table responsive :items="banners" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(type)="row">
                                <b-badge pill :variant="row.item.isVideo ? 'dark' : 'info'">
                                    <div v-if="row.item.isVideo">
                                        VIDEO
                                    </div>
                                    <div v-else>
                                        IMAGE
                                    </div>
                                </b-badge>
                            </template>
                            <template v-slot:cell(actions)="row">
                                <b-button class="primary-background-color border-0 text-center mr-2"
                                          size="sm" v-b-modal="row.item.id">
                                    <i class="fas fa-edit p-0"></i>
                                </b-button>
                                <b-modal :id="row.item.id"
                                         cancel-title="Close" size="lg">
                                    <EditBanner :banner="row.item"
                                                :banners="banners"
                                                :is-create="false"></EditBanner>
                                </b-modal>

                                <b-button variant="danger" class="text-center"
                                          size="sm" @click="onDelete(row.item.id)">
                                    <i class="far fa-trash-alt p-0"></i>
                                </b-button>

                            </template>
                        </b-table>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import loader from '../../assets/images/loader.gif';
import {AdminService} from "../../services/admin";
import EditBanner from "./EditBanner";
import {core} from "../../config/pluginInit";
import {MailService} from "../../services/mail";

export default {
    name: "BannersPage",
    components: {
        EditBanner
    },
    created() {
        this.fetchBanners();
    },
    data() {
        return {
            banners: [],
            loading: true,
            loader: loader,
            cBanner: {
                image: null,
                url: null,
                status: 'ACTIVE',
                link: null,
                priority: 1,
                isVideo: false,
            },
            fields: [
                {
                    key: 'id',
                    label: 'ID'
                },
                {
                    key: 'url',
                    label: 'URL'
                },
                {
                    key: 'status',
                    label: 'Status'
                },
                {
                    key: 'link',
                    label: 'Link'
                },
                {
                    key: 'priority',
                    label: 'Priority'
                },
                {
                    key: 'type',
                    label: 'Type',
                },
                {
                    key: 'actions',
                    label: this.$t('admin.editMailForCampaign')
                }
            ],
        }
    },
    methods: {
        fetchBanners() {
            AdminService.getAllBanners().then((data) => {
                this.banners = data
                this.loading = false
            })
        },
        showModal(id) {
            this.$bvModal.show(id)
        },
        onCreateClick() {
            this.cBanner = {
                image: null,
                url: null,
                link: null,
                status: 'ACTIVE',
                priority: 1,
                isVideo: false,
            }
        },
        onDelete(id) {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            AdminService.deleteBanner(id).then((result) => {
                if (!result) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    for (let i = 0; i < this.banners.length; i++) {
                        if (this.banners[i].id === id) {
                            this.banners.splice(i, 1)
                        }
                    }
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
