<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">

                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold pb-2">{{ $t('navbar.blog') }}</h4>

                        <router-link :to="{ name: 'admin.new-blog-post' }">
                            <b-button class="primary-background-color border-0" size="sm">
                                {{ $t('admin.newBlogPost') }}
                            </b-button>
                        </router-link>
                    </template>

                    <template v-slot:body>
                        <b-table responsive :items="blogPosts" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(actions)="row">

                                <router-link :to="{name: 'blog-article-page',params: { id: row.item.id }}">
                                    <b-button variant="success" class="text-center mr-2"
                                              size="sm">
                                        <i class="fas fa-eye p-0"></i>
                                    </b-button>
                                </router-link>


                                <b-button class="primary-background-color border-0 text-center mr-2"
                                          size="sm" v-b-modal="row.item.id">
                                    <i class="fas fa-edit p-0"></i>
                                </b-button>
                                <b-modal :id="row.item.id"
                                         cancel-title="Close" size="lg">
                                    <EditBlogPost :post="row.item"></EditBlogPost>
                                </b-modal>

                                <b-button variant="danger" class="text-center"
                                          size="sm" @click="onDelete(row.item.id)">
                                    <i class="far fa-trash-alt p-0"></i>
                                </b-button>

                            </template>
                        </b-table>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import loader from '../../assets/images/loader.gif';
import {core} from "../../config/pluginInit";
import {BlogService} from "../../services/blog";
import EditBlogPost from "./EditBlogPost";

export default {
    name: "BlogListAdmin",
    components: {
        EditBlogPost
    },
    created() {
        this.fetchBlogPosts();
    },
    data() {
        return {
            blogPosts: [],
            loading: true,
            loader: loader,
            fields: [
                {
                    key: 'id',
                    label: 'ID'
                },
                {
                    key: 'title',
                    label: 'Title'
                },
                {
                    key: 'actions',
                    label: this.$t('admin.editMailForCampaign')
                }
            ],
        }
    },
    methods: {
        fetchBlogPosts() {
            BlogService.getBlogPosts().then((data) => {
                this.blogPosts = data
                this.loading = false
            })
        },
        showModal(id) {
            this.$bvModal.show(id)
        },
        // onUpdate(reward) {
        //     console.log(reward);
        //     AdminService.updateReward(reward).then((reward) => {
        //         if (reward === null) {
        //             core.showSnackbar('error', this.$t('results.operationFailed'))
        //         } else {
        //             core.showSnackbar('success', this.$t('results.updateSuccessful'))
        //         }
        //     })
        // },
        onDelete(id) {
            BlogService.deleteBlogPost(id).then((result) => {
                if (!result) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))
                    for (let i = 0; i < this.rewards.length; i++) {
                        if (this.rewards[i].id === id) {
                            this.rewards.splice(i, 1)
                        }
                    }
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
