<template>
    <b-row>
        <b-col sm="12">
            <iq-card body-class=" profile-page p-0">
                <template v-slot:body>
                    <div class="profile-header">
                        <div class="profile-info p-4">
                            <b-row>
                                <b-col md="6" sm="12">
                                    <div class="user-detail">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <div class="profile-detail d-flex align-items-center">
                                                <h3>{{ $t('admin.cashOutRequests') }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <tab-nav :pills="true" id="pills-tab"
                                             class="profile-feed-items d-flex justify-content-end">
                                        <tab-nav-items :active="true" id="pills-friend-tab" href="#profile-friends"
                                                       class="mt-2"
                                                       ariaControls="pills-contact" role="tab" :ariaSelected="true"
                                                       :title="$t('admin.active')"/>
                                        <tab-nav-items :active="false" id="pills-cash-out-requests" class="mt-2"
                                                       href="#profile-cash-out-requests"
                                                       ariaControls="pills-contact" role="tab" :ariaSelected="false"
                                                       :title="$t('admin.history')"/>
                                    </tab-nav>
                                </b-col>
                            </b-row>
                        </div>
                    </div>
                </template>
            </iq-card>
        </b-col>
        <b-col sm="12">
            <b-row>
                <b-col class="profile-center">
                    <tab-content id="pills-tabContent-2">
                        <tab-content-item :active="true" id="profile-friends" aria-labelled-by="pills-friend-tab">
                            <b-row>
                                <b-col>
                                    <iq-card>
                                        <template v-slot:body>
                                            <b-table responsive :items="activeRequests" class="mb-0 cursor-pointer" borderless @row-clicked="goToUser"
                                                     :fields="cashOutFields" :tbody-tr-class="rowClass">
                                                <template v-slot:cell(user)="data">
                                                    {{ data.item.user.name + ' ' + data.item.user.surname }}
                                                </template>
                                                <template v-slot:cell(cTimestamp)="data">
                                                    {{ new Date(data.item.cTimestamp).toLocaleString() }}
                                                </template>
                                                <template v-slot:cell(approvedTimestamp)="row">
                                                    <b-button variant="secondary" v-if="!row.item.approvedTimestamp"
                                                              size="sm" @click="approveCashOutRequest(row.item)">
                                                        {{ $t('admin.approve') }}
                                                    </b-button>
                                                </template>
                                            </b-table>
                                        </template>
                                    </iq-card>
                                </b-col>
                            </b-row>
                        </tab-content-item>
                        <tab-content-item :active="false" id="profile-cash-out-requests"
                                          aria-labelled-by="pills-friend-tab">
                            <b-row>
                                <b-col>
                                    <iq-card>
                                        <template v-slot:body>
                                            <b-table responsive :items="requests" class="mb-0 cursor-pointer" borderless @row-clicked="goToUser"
                                                     :fields="cashOutFields" :tbody-tr-class="rowClass">
                                                <template v-slot:cell(user)="data">
                                                    {{ data.item.user.name + ' ' + data.item.user.surname }}
                                                </template>
                                                <template v-slot:cell(cTimestamp)="data">
                                                    {{ new Date(data.item.cTimestamp).toLocaleString() }}
                                                </template>
                                                <template v-slot:cell(approvedTimestamp)="row">
                                                    <b-button variant="secondary" v-if="!row.item.approvedTimestamp"
                                                              size="sm" @click="approveCashOutRequest(row.item)">
                                                        {{ $t('admin.approve') }}
                                                    </b-button>
                                                </template>
                                            </b-table>
                                            <b-button v-if="shouldShowMore" @click="showMore" variant="primary"
                                                      class="mt-3">
                                                {{ $t('buttons.loadMore') }}
                                            </b-button>
                                        </template>
                                    </iq-card>
                                </b-col>
                            </b-row>
                        </tab-content-item>
                    </tab-content>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
</template>

<script>
import {AdminService} from "../../services/admin";
import {core} from "../../config/pluginInit";

export default {
    name: "CashOutRequestsPage",
    computed: {
        requests: function () {
            return this.requestsData
        },
        activeRequests: function () {
            return this.activeRequestsData
        },
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    created() {
        this.fetchActiveRequests()
        this.showMore()
    },
    data() {
        return {
            page: 1,
            showMoreEnabled: true,
            requestsData: [],
            activeRequestsData: [],
            cashOutFields: [
                {
                    key: 'id'
                },
                {
                    key: 'user',
                    label: this.$t('auth.name')
                },
                {
                    key: 'paypal_email'
                },
                {
                    key: 'coin_amount',
                    label: this.$t('referral.coins')
                },
                {
                    key: 'fiat_amount',
                    label: this.$t('referral.fiatValue')
                },
                {
                    key: 'cTimestamp',
                    label: this.$t('admin.date')
                },
                {
                    key: 'approvedTimestamp',
                    label: this.$t('admin.action')
                }
            ],
        }
    },
    methods: {
        showMore() {
            if (this.showMoreEnabled) {
                AdminService.getCashOutRequestsHistory(this.requestsData, this.page).then((data) => {
                    this.requestsData = data['data']

                    if (data['lastPage'] === this.page) {
                        this.showMoreEnabled = false
                    }
                    this.page++
                })
            }
        },
        fetchActiveRequests() {
            AdminService.getActiveCashOutRequests().then((data) => {
                this.activeRequestsData = data
                this.loading = false
            })
        },
        goToUser(item, index, event) {
            this.$router.push({name: 'admin.customer', params: {id: item.user.id}})
        },
        rowClass(item, type) {
            if (!item || type !== 'row') return
            if (!item.approvedTimestamp) return 'table-danger'
        },
        approveCashOutRequest(item) {
            AdminService.approveCashOutRequest(item.id).then((success) => {
                if (success) {
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))

                    for (let i = 0; i < this.activeRequestsData.length; i++) {
                        if (Number(this.activeRequestsData[i].id) === Number(item.id)) {
                            this.activeRequestsData[i].approvedTimestamp = new Date()
                        }
                    }
                    for (let i = 0; i < this.requestsData.length; i++) {
                        if (Number(this.requestsData[i].id) === Number(item.id)) {
                            this.requestsData[i].approvedTimestamp = new Date()
                        }
                    }
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
