<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">

                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold pb-2">{{ $t('admin.membersCoaching') }}</h4>
                        <b-button class="primary-background-color border-0"
                                  size="sm" @click="showModal('createMessage')">
                            Coaching Message erstellen
                        </b-button>
                        <b-modal id="createMessage"
                                 @ok="onCreate()"
                                 cancel-title="Close" size="lg">
                            <EditCoachingMessage :message="cMessage"></EditCoachingMessage>
                        </b-modal>
                    </template>

                    <template v-slot:body>
                        <b-table responsive :items="inboxMessages" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(actions)="row">
                                <b-button class="primary-background-color border-0 text-center mr-2"
                                          size="sm" @click="showModal(row.item.id)">
                                    <i class="fas fa-edit p-0"></i>
                                </b-button>
                                <b-modal :id="row.item.id"
                                         @ok="onUpdate(row.item)"
                                         cancel-title="Close" size="lg"
                                         :ok-disabled="false">
                                    <EditCoachingMessage :message="row.item"></EditCoachingMessage>
                                </b-modal>

                                <b-button variant="success" class="text-center mr-2"
                                          size="sm" @click="showPreviewModal(row.item.id)">
                                    <i class="fas fa-eye p-0"></i>
                                </b-button>
                                <b-modal :id="'preview-' + row.item.id"
                                         cancel-title="Close" size="lg">
                                    <div v-html="row.item.body">
                                    </div>
                                </b-modal>

                                <b-button variant="danger" class="text-center"
                                          size="sm" @click="onDelete(row.item.id)">
                                    <i class="far fa-trash-alt p-0"></i>
                                </b-button>

                            </template>
                        </b-table>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import loader from '../../assets/images/loader.gif';
import {MailService} from "../../services/mail";
import {core} from "../../config/pluginInit";
import EditCoachingMessage from "./EditCoachingMessage";
import EditMailForCampaign from "./EditMailForCampaign";

export default {
    name: "CoachingCampaign",
    components: {
        EditMailForCampaign,
        EditCoachingMessage,
    },
    created() {
        this.fetchMessages()
    },
    data() {
        return {
            newInboxMessage: null,
            inboxMessages: [],
            loading: true,
            loader: loader,
            cMessage: {
                title: '',
                body: '',
                day: '',
                priority: ''
            },
            fields: [
                {
                    key: 'title',
                    label: 'Titel'
                },
                {
                    key: 'day',
                    label: 'Tag'
                },
                {
                    key: 'priority',
                    label: 'Priority for this day'
                },
                {
                    key: 'actions',
                    label: this.$t('admin.editMailForCampaign')
                }
            ]
        }
    },
    methods: {
        fetchMessages() {
            MailService.getInboxMessages().then((data) => {
                this.inboxMessages = data
                this.inboxMessages.sort(this.sortMessages)
                this.loading = false
            })
        },
        sortMessages(a, b) {
            if (a.day === b.day) {
                return a.priority < b.priority ? -1 : 1;
            }
            return a.day > b.day ? 1 : -1;
        },
        showModal(id) {
            this.$bvModal.show(id)
        },
        showPreviewModal(id) {
            this.$bvModal.show('preview-' + id)
        },
        onUpdate(message) {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.updateMessage(message.id, message).then((message) => {
                if (message === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.message = message
                }
            })
        },
        onCreate() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.createMessage(this.cMessage).then((message) => {
                if (message === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.inboxMessages.push(message)
                    this.inboxMessages.sort(this.sortMessages)
                    this.cMessage = {
                        title: '',
                        body: '',
                        day: 0,
                        priority: 0
                    }
                }
            })
        },
        onDelete(id) {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.deleteMessage(id).then((result) => {
                if (!result) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    for (let i = 0; i < this.inboxMessages.length; i++) {
                        if (this.inboxMessages[i].id === id) {
                            this.inboxMessages.splice(i, 1)
                        }
                    }
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
