<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <iq-card body-class=" profile-page p-0">
            <template v-slot:body>
                <div class="profile-header">
                    <div class="profile-info p-4">
                        <b-row>
                            <b-col class="w-100">
                                <div class="user-detail">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="profile-detail d-flex align-items-center w-100">
                                            <h3>{{ $t('admin.companies') }}</h3>
                                            <div class="uk-width-1-1 float-right">
                                                <button class="btn btn-primary float-right"
                                                        id="attachTrade" type="submit" name="submit"
                                                        @click="isShow = !isShow"><i
                                                    :class="!isShow ? 'fa fa-lg fa-plus mr-2' : 'fa fa-lg fa-minus mr-2'"></i>
                                                    {{
                                                        !isShow ? $t('admin.addCompany') : $t('admin.removeCompany')
                                                    }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-col>
                        </b-row>
                        <div class="container mt-4"  v-show="isShow">
                            <div class="row">
                                <!--          <div class="col-md-2">-->
                                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                                <!--          </div>-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="uk-width-1-1 mb-2">
                                            <b-form-select v-model="selectedStockType"
                                                           required
                                                           :options="stockTypeOptions"></b-form-select>
                                        </div>
                                        <div class="uk-width-1-1 mb-2 mt-3">
                                            <label>{{ $t('admin.companySymbol') }}</label>
                                            <input class="uk-input uk-border-rounded"
                                                   id="company_symbol"
                                                   name="company_symbol"
                                                   type="text"
                                                   :placeholder=" $t('admin.companySymbol') "
                                                   v-model="company.company_symbol">
                                        </div>
                                        <div class="uk-width-1-1 mb-2 mt-3">
                                            <label>{{ $t('auth.name') }}</label>
                                            <input class="uk-input uk-border-rounded"
                                                   id="name"
                                                   name="name"
                                                   type="text"
                                                   :placeholder=" $t('auth.name') "
                                                   v-model="company.name">
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col m-0 float-md-right pb-3">
                                                <button type="submit" class="btn btn-primary float-right"
                                                        @click="addCompany">
                                                    {{ $t('admin.addCompany') }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </iq-card>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">
                    <template v-slot:body>
                        <b-table responsive :items="companies" class="mb-0 cursor-pointer" borderless
                                 :fields="fields">
                            <template v-slot:cell(index)="data">
                                {{ data.index + 1 }}
                            </template>
                            <template  v-slot:cell(actions)="data">
<!--                                <b-button variant="primary">Edit</b-button>-->
                                <b-button :variant="'danger'"
                                          @click="deleteCompany(data.index,data.item.symbol)">{{ $t('admin.delete') }}</b-button>
                            </template>
                        </b-table>
                        <b-button v-if="shouldShowMore" @click="showMore" variant="primary" class="mt-3">
                            {{ $t('buttons.loadMore') }}
                        </b-button>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import loader from '../../assets/images/loader.gif';
import {CompanyService} from "../../services/company";
import {core} from "../../config/pluginInit";

export default {
    name: "CompaniesPage",
    computed: {
        companies: function () {
            return this.companiesData
        },
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    created() {
        this.showMore()
    },
    data() {
        return {
            page: 1,
            showMoreEnabled: true,
            companiesData: [],
            loading: true,
            loader: loader,
            isShow: false,
            selectedStockType: null,
            fields: [
                {
                    key: 'company_symbol',
                    label: this.$t('admin.companySymbol')
                },
                {
                    key: 'name',
                    label: this.$t('auth.name')
                },
                {
                    key: 'type',
                    label: this.$t('admin.type')
                },
                {
                    key: 'actions',
                    label: 'Actions'
                },
            ],
            stockTypeOptions: [
                {value: null, text: this.$t('admin.stockType')},
                {value: 'INDEX', text: 'INDEX'},
                {value: 'DEUTSCHE', text: 'DEUTSCHE'},
                {value: 'US', text: 'US'},
            ],
            company: {
                stockType: '',
                name: '',
                symbol: '',
                company_symbol: '',
            },
        }
    },
    methods: {
        showMore() {
            if (this.showMoreEnabled) {
                CompanyService.getCompanies(this.companiesData, this.page).then((data) => {
                    this.companiesData = data['data']

                    if (data['lastPage'] === this.page) {
                        this.showMoreEnabled = false
                    }

                    this.loading = false
                    this.page++
                })
            }
        },
        addCompany() {
            if (this.selectedStockType && this.company.company_symbol.length > 0) {
                this.company.company_symbol = this.company.company_symbol.toUpperCase()
                this.company.symbol = this.company.company_symbol

                CompanyService.createCompany(this.company.company_symbol,
                    this.company.name,
                    this.selectedStockType,
                    this.company.symbol)
                    .then((success) => {
                        if (!success) {
                            core.showSnackbar('error', this.$t('results.operationFailed'))
                        } else {
                            let newRow = {
                                company_symbol: this.company.company_symbol,
                                name: this.company.name,
                                type: this.selectedStockType
                            }
                            this.companiesData.splice(0,1,newRow)
                        }
                    })
                core.showSnackbar('success', this.$t('admin.companyAdded'))
            }
        },

        deleteCompany(index,symbol) {
            CompanyService.deleteCompany(symbol).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('admin.companyContainsTrade'))
                } else {
                    this.companiesData.splice(index,1)
                }
            })
            core.showSnackbar('success', this.$t('admin.companyDeleted'))
        },

    }
}

</script>

<style scoped>

</style>
