<template>
    <div>

        <b-modal id="addCompany" :title="$t('admin.addCompany')"
                 cancel-title="Close">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="uk-width-1-1 mb-2">
                                <b-form-select v-model="company.selectedStockType"
                                               required
                                               :options="stockTypeOptions"></b-form-select>
                            </div>
                            <div class="uk-width-1-1 mb-2 mt-3">
                                <label>{{ $t('admin.companySymbol') }}</label>
                                <input class="uk-input uk-border-rounded"
                                       id="company_symbol"
                                       name="company_symbol"
                                       type="text"
                                       :placeholder=" $t('admin.companySymbol') "
                                       v-model="company.company_symbol" required>
                            </div>
                            <div class="uk-width-1-1 mb-2 mt-3">
                                <label>{{ $t('auth.name') }}</label>
                                <input class="uk-input uk-border-rounded"
                                       id="name"
                                       name="name"
                                       type="text"
                                       :placeholder=" $t('auth.name') "
                                       v-model="company.name" required>
                            </div>
                            <div class="row">
                                <hr/>
                                <div class="col m-0 float-md-right pb-3">
                                    <button class="btn btn-primary float-right"
                                            @click="addCompany">
                                        {{ $t('admin.addCompany') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
        <form @submit.prevent="addPost">
            <div v-for="(post,index) in trades">
                <iq-card body-class=" profile-page p-0">
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('admin.newPost') }}</h4>
                    </template>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                            <textarea type="text" :placeholder="$t('admin.content')" class="rounded form-control"
                                      v-model="post.content" required></textarea>
                                </div>
                                <div class="form-group">
                                    <b-form-checkbox
                                        v-model="post.allUsers" value="true" unchecked-value="false">
                                        {{ $t('admin.allUsers') }}
                                    </b-form-checkbox>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2">
                                        <b-form-select v-model="post.trade.tradeType" :required="post.isShow"
                                                       :options="tradeTypeOptions"></b-form-select>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2">
                                        <b-form-select v-model="post.trade.stockType" :required="post.isShow"
                                                       :options="stockTypeOptions"></b-form-select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2" v-show="post.isShow">
                                        <b-form-select v-model="post.trade.position" :required="post.isShow"
                                                       :options="positionOptions"></b-form-select>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2" v-show="post.isShow">
                                        <b-form-input class="uk-input uk-border-rounded" id="entryDate"
                                                      :required="post.isShow"
                                                      name="title" type="datetime-local" :placeholder=" $t('admin.entryDate') "
                                                      v-model="post.trade.entryDate"></b-form-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.companySymbol') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="company"
                                                      name="title"
                                                      type="text"
                                                      :placeholder=" $t('admin.companySymbol') "
                                                      v-model="post.trade.company.symbol"
                                                      :required="post.isShow"
                                                      @change="checkCompany(index,post.trade.company.symbol)">
                                        </b-form-input>
                                        <div v-show="!post.trade.company.exists">
                                        <span class="danger">Dieses Unternehmen gibt es nicht. Jetzt erstellen? <button
                                            class="btn btn-primary" v-b-modal:addCompany>Yes</button></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.amountPercentage') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="amount"
                                                      name="title"
                                                      type="text"
                                                      :required="post.isShow"
                                                      :placeholder=" $t('admin.amountPercentage') "
                                                      v-model="post.trade.amountPercentage">
                                        </b-form-input>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.price') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="price"
                                                      name="title" type="text"
                                                      :placeholder=" $t('admin.price') "
                                                      v-model="post.trade.price"
                                                      :required="post.isShow">
                                        </b-form-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.leverage') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="leverage"
                                                      :required="post.isShow"
                                                      name="title" type="number" :placeholder=" $t('admin.leverage') "
                                                      v-model="post.trade.leverage">
                                        </b-form-input>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.stopLoss') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="stopLoss"
                                                      :required="post.isShow"
                                                      name="title" type="text" :placeholder=" $t('admin.stopLoss') "
                                                      v-model="post.trade.stopLoss">
                                        </b-form-input>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                                         v-show="post.isShow">
                                        <label>{{ $t('admin.takeProfit') }}</label>
                                        <b-form-input class="uk-input uk-border-rounded" id="takeProfit"
                                                      :required="post.isShow"
                                                      name="title" type="text" :placeholder=" $t('admin.takeProfit') "
                                                      v-model="post.trade.takeProfit">
                                        </b-form-input>
                                    </div>
                                </div>
                                <div v-show="index !== 0" class="uk-width-1-1@m text-center">
                                    <button class="btn btn-secondary float-left"
                                            id="removePost"
                                            @click="removePost(index)"><i
                                        :class="'fa fa-lg fa-minus mr-2'"></i>{{
                                            $t('admin.removePost')
                                        }}
                                    </button>
                                </div>
                                <div class="uk-width-1-1@m text-center">
                                    <a class="btn btn-primary float-right text-white"
                                            id="attachTrade"
                                            @click="post.isShow = !post.isShow"><i
                                        :class="!post.isShow ? 'fa fa-lg fa-plus mr-2' : 'fa fa-lg fa-minus mr-2'"></i>{{
                                            !post.isShow ? $t('admin.attachTrade') : $t('admin.removeTrade')
                                        }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </iq-card>
            </div>
            <div class="row m-2 pb-2">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary">
                        {{
                            $t('admin.submitTrades')
                        }}
                    </button>
                </div>
                <div class="col-6 text-center">
                    <a class="btn btn-success text-white"
                            id="addPost"
                            @click="addNewPost"><i
                        class="fa fa-lg fa-plus mr-2"></i>{{
                            $t('admin.addPost')
                        }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import GET_ALL_COMPANIES from "../../graphql/queries/getAllCompanies.graphql";
import loader from "../../assets/images/loader.gif";
import {PostService as PostServise} from "../../services/post";
import {Auth} from "../../config/auth";
import {CompanyService} from "../../services/company";

export default {
    name: 'CreatePost',
    mounted() {
        core.index()
    },
    created() {
        this.$apollo.query({
            query: GET_ALL_COMPANIES
        }).then((data) => {
            this.companies = data.data.allCompanies;
        });
        this.addNewPost();
    },
    data() {
        return {
            isShow: false,
            companies: [],
            allUsers: false,
            currentTradeIndex: 0,
            positionOptions: [
                {value: null, text: this.$t('admin.position')},
                {value: 'SHORT', text: 'SHORT'},
                {value: 'LONG', text: 'LONG'},
            ],
            tradeTypeOptions: [
                {value: null, text: this.$t('admin.tradeType')},
                {value: 'DAILY', text: 'DAILY'},
                {value: 'WEEKLY', text: 'WEEKLY'},
            ],
            stockTypeOptions: [
                {value: null, text: this.$t('admin.stockType')},
                {value: 'INDEX', text: 'INDEX'},
                {value: 'DEUTSCHE', text: 'DEUTSCHE'},
                {value: 'US', text: 'US'},
            ],
            loading: true,
            loader: loader,
            content: '',
            trades: [],
            post: {
                user: {
                    connect: Auth.id(),
                },
                isShow: false,
                content: '',
                allUsers: false,
                trade: {
                    company: {
                        symbol: '',
                        exists: true,
                    },
                    position: null,
                    entryDate: null,
                    leverage: null,
                    tradeType: null,
                    stockType: null,
                    price: null,
                    amountPercentage: null,
                    stopLoss: null,
                    takeProfit: null,
                },
            },
            company: {
                selectedStockType: null,
                stockType: '',
                name: '',
                symbol: '',
                company_symbol: '',
            },
        }
    },
    methods: {
        addNewPost() {
            this.trades.push(JSON.parse(JSON.stringify(this.post)));
        },
        removePost(index) {
            this.trades.splice(index, 1);
        },
        addPost() {
            PostServise.createPosts(this.trades).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'));
                } else {
                    location.reload();
                }
            });
        },
        checkCompany(index, symbol) {
            var found = false;
            for (var company of this.companies) {
                if (company.company_symbol === symbol.toUpperCase()) {
                    found = true;
                }
            }
            if (!found) {
                this.trades[index].trade.company.exists = false;
                this.company.company_symbol = symbol.toUpperCase();
                this.currentTradeIndex = index;
            } else {
                this.trades[index].trade.company.exists = true;
                this.currentTradeIndex = null;
            }
        },
        addCompany() {
            if (this.company.selectedStockType && this.company.company_symbol.length > 0) {
                this.company.company_symbol = this.company.company_symbol.toUpperCase();
                this.company.symbol = this.company.company_symbol;

                CompanyService.createCompany(this.company.company_symbol,
                    this.company.name,
                    this.company.selectedStockType,
                    this.company.symbol)
                    .then((success) => {
                        if (!success) {
                            core.showSnackbar('error', this.$t('results.operationFailed'))
                        } else {
                            let newRow = {
                                company_symbol: this.company.company_symbol,
                                name: this.company.name,
                                type: this.company.selectedStockType
                            }
                            this.companies.splice(0, 1, newRow)
                        }
                    })
                core.showSnackbar('success', this.$t('admin.companyAdded'));
                this.$bvModal.hide('addCompany');
                this.trades[this.currentTradeIndex].trade.company.exists = true;
            }
        },
    }
}
</script>
