<template>
    <div>
        <h4 class="card-title">{{ $t('admin.editMailForCampaign') }}</h4>
        <p>
            {{ "1) " }}
            <span style="color: red;">{{ "\{\{name\}\}" }}</span>
            {{ " wird durch den Namen des Empfängers ersetzt" }}
        </p>
        <p>
            2) <span style="color: red;">&lt;br&gt;</span> to insert a new line
        </p>
        <p>
            3) <span style="color: red;">&lt;b&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/b&gt;</span> um einen fetten Text einzufügen
        </p>
        <p>
            4) <span style="color: red;">&lt;i&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/i&gt;</span> um kursiven Text einzufügen
        </p>
        <p>
            5) <span style="color: red;">&lt;h1&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/h1&gt;</span> um großen Text einzufügen. Die Größen sind von 1-6, wobei 1 die
            größte und 6 die kleinste Größe ist. Beispiel: &lt;h3&gt;&lt;/h3&gt;
        </p>
        <p>
            6) Schreiben Sie:
            <span style="color: red;">
                &lt;a href="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;<span style="color: green;">text_hier_einfügen</span>&lt;/a&gt;
            </span>
            , um einen Link einzufügen
        </p>
        <p>
            7) Schreiben Sie:
            <span style="color: red;">
                &lt;img src="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;&lt;/img&gt;
            </span>
            , um einen Image einzufügen
        </p>
        <p>
            8) Schreiben Sie: <br/>
            <span style="color: red;">
               &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/GQ9kbfrXEAg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen&gt;&lt;/iframe&gt;
            </span>
            , um einen Video einzufügen ! <br/>
            Klicke auf youtube teilen und kopiere den Einbettungscode
        </p>
        <div class="container mt-4">
            <div class="row">
                <!--          <div class="col-md-2">-->
                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                <!--          </div>-->

                <div class="col-md-12">
                    <div class="uk-width-1-1 mb-2">
                        <label for="name">Typ</label>
                        <input
                            class="uk-input uk-border-rounded" id="type"
                            name="type"
                            type="text"
                            placeholder="Typ"
                            v-model="email.type">
                    </div>
                    <div class="uk-width-1-1 mb-2">
                        <label for="orderNumber">Nummer</label>
                        <input
                            class="uk-input uk-border-rounded"
                            id="orderNumber"
                            name="orderNumber"
                            type="text"
                            v-model="email.orderNumber">
                    </div>
                    <div class="uk-width-1-1 mb-2">
                        <label for="name">Name</label>
                        <input
                            class="uk-input uk-border-rounded" id="name"
                            name="name"
                            type="text"
                            placeholder="Name"
                            v-model="email.name">
                    </div>
                    <div class="uk-width-1-1 mb-2">
                        <label for="timePeriodInDays">Differenz in Tagen zur vorherigen E-Mail</label>
                        <input
                            class="uk-input uk-border-rounded" id="timePeriodInDays"
                            name="timePeriodInDays"
                            type="text"
                            v-model="email.timePeriodInDays">
                    </div>
                    <div class="uk-width-1-1 mb-2">
                        <label for="subject">Subject</label>
                        <input
                            class="uk-input uk-border-rounded" id="subject"
                            name="subject"
                            type="text"
                            placeholder="Subject"
                            v-model="email.subject">
                    </div>
                    <label for="subject">Email</label>
                    <div class="form-group">
                            <textarea type="text" placeholder="Email" class="rounded form-control" rows="15"
                                      v-model="email.text" required></textarea>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";

export default {
    name: 'EditMailForCampaign',
    props: ['email'],
    mounted() {
        core.index()
    },
    data() {
        return {
            isShow: true,
            loading: true,
            loader: loader,
        }
    },
    methods: {}
}
</script>
