<template>
    <div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="uk-width-1-1 mb-2">

                        <div class="form-group" v-if="bannerModel.isVideo">
                            <iframe class=""
                                    :src="bannerModel.url" allowfullscreen></iframe>
                        </div>
                        <div v-else>
                            <div class="uk-width-1-1 mb-2">
                                <img width="200" height="200" :src="bannerModel.url"/>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <label for="priority">(Upload file for image banner)</label>
                            <b-form-file
                                v-model="bannerModel.image"
                                :state="Boolean(bannerModel.image)"
                                placeholder="Choose a file or drop it here..."
                                drop-placeholder="Drop file here..."
                            ></b-form-file>
                        </div>

                        <div class="uk-width-1-1 mb-3 mt-3">
                            <label for="priority">URL (modify for video, image urls are automatically set)</label>
                            <input
                                class="uk-input uk-border-rounded" id="url"
                                name="url"
                                type="text"
                                v-model="bannerModel.url">
                        </div>

                        <div class="uk-width-1-1 mb-3 mt-3">
                            <label for="link">Link to Redirect (Add Link for the page you want to redirect to)</label>
                            <input
                                class="uk-input uk-border-rounded" id="link"
                                name="link"
                                type="text"
                                v-model="bannerModel.link">
                        </div>

                        <div class="uk-width-1-1 mt-3">
                            <label for="priority">Priority</label>
                            <input
                                class="uk-input uk-border-rounded" id="priority"
                                name="priority"
                                type="number"
                                v-model="bannerModel.priority">
                        </div>

                        <div class="form-group mt-3">
                            <label for="status">Status</label>
                            <div class="uk-width-1-1">
                                <select v-model="bannerModel.status" name="status" id="status"
                                        class="pt-1 pb-1 pl-4 pr-3" style="border-radius: 8px; width: 140px">
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="status">Type</label>
                            <div class="uk-width-1-1">
                                <select v-model="bannerModel.isVideo" name="status" id="type"
                                        class="pt-1 pb-1 pl-4 pr-3" style="border-radius: 8px; width: 140px">
                                    <option value="false">IMAGE</option>
                                    <option value="true">VIDEO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 m-0 float-left pb-3">
                    <button type="submit" class="btn btn-primary float-right"
                            @click="isCreate ? createBanner() : editBanner()">
                        {{ isCreate ? $t('admin.editBanner') : $t('admin.createBanner') }}
                    </button>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";
import UPDATE_BANNER from "../../graphql/mutations/updateBanner.graphql"
import {toBase64} from "../../Utils/utils";
import {AdminService} from "../../services/admin";

export default {
    name: 'EditBanner',
    props: ['banners', 'banner', 'isCreate', 'onCreateClick'],
    mounted() {
        core.index()
    },
    data() {
        return {
            bannerModel: {
                id: this.banner.id,
                image: this.banner.image,
                url: this.banner.url,
                link: this.banner.link,
                isVideo: this.banner.isVideo,
                status: this.banner.status,
                priority: this.banner.priority
            },
            isShow: true,
            loading: true,
            loader: loader,
        }
    },
    methods: {
        async editBanner() {
            try {
                const image = this.bannerModel.image !== undefined && this.bannerModel.image !== null
                    ? await toBase64(this.bannerModel.image)
                    : null;

                let input = {
                    id: parseInt(this.bannerModel.id),
                    image: image,
                    url: this.bannerModel.url,
                    link: this.bannerModel.link,
                    isVideo: (this.bannerModel.isVideo === "true" || this.bannerModel.isVideo === "True"),
                    status: this.bannerModel.status,
                    priority: parseInt(this.bannerModel.priority)
                };
                await this.$apollo.mutate({
                        mutation: UPDATE_BANNER,
                        variables: {
                            input: input
                        }
                    }
                );
                this.banner.id = input.id.toString();
                this.banner.image = input.image;
                this.banner.url = input.url;
                this.banner.isVideo = input.isVideo;
                this.banner.link = input.link;
                this.banner.status = input.status;
                this.banner.priority = input.priority;
                core.showSnackbar('success', this.$t('results.updateSuccess'));
            } catch (e) {
                console.log(e);
                core.showSnackbar('error', this.$t('results.operationFailed'));
            }
        },
        async createBanner() {
            console.log(this.bannerModel)
            AdminService.createBanner(this.bannerModel).then((banner) => {
                if (banner === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.banners.push(banner)
                    this.onCreateClick()
                }
            })
            core.showSnackbar('success', this.$t('admin.createdSuccessfully'))
        },
    }
}
</script>
