<template>
    <div>
        <h4 class="card-title"> {{ toBeEditedPost.name }} </h4>
        <p class="card-title"><i class="fa fa-info-circle mr-2"></i>{{ $t('admin.infoEditPackage') }}</p>
        <div class="container mt-4">
            <div class="row">
                <!--          <div class="col-md-2">-->
                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                <!--          </div>-->
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="monthlyPrice">{{ $t('packages.monthlyPrice') }}</label>
                        <input id="monthlyPrice" type="text" :placeholder="'Monthly Price'" class="rounded form-control"
                               v-model="toBeEditedPost.monthlyPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="discountedMonthlyPrice">{{ $t('packages.discountedMonthlyPrice') }}</label>
                        <input id="discountedMonthlyPrice" type="text" :placeholder="'Discounted Monthly Price'"
                               class="rounded form-control"
                               v-model="toBeEditedPost.discountedMonthlyPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="testPhasePrice">{{ $t('packages.testPhasePrice') }}</label>
                        <input id="testPhasePrice" type="text" :placeholder="'Test Phase Price'"
                               class="rounded form-control"
                               v-model="toBeEditedPost.testPhasePrice" required>
                    </div>
                    <div class="form-group">
                        <label for="annualPrice">{{ $t('packages.annualPrice') }}</label>
                        <input id="annualPrice" type="text" :placeholder="'Annual Price'" class="rounded form-control"
                               v-model="toBeEditedPost.annualPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="discountedAnnualPrice">{{ $t('packages.discountedAnnualPrice') }}</label>
                        <input id="discountedAnnualPrice" type="text" :placeholder="'Discounted Annual Price'"
                               class="rounded form-control"
                               v-model="toBeEditedPost.discountedAnnualPrice" required>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col m-0 float-md-right pb-3">
                    <button type="submit" class="btn btn-primary float-right" @click="editPost">
                        {{ $t('admin.editPost') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";
import UPDATE_PACKAGE_PRICE from "../../graphql/mutations/updatePackagePrice.graphql";
import {Auth} from "../../config/auth";

export default {
    name: 'EditPackagePrice',
    props: ['post'],
    mounted() {
        core.index()
    },
    data() {
        return {
            isShow: true,
            toBeEditedPost: this.post,
            loading: true,
            loader: loader,
            hasTrade: this.post.trade != null
        }
    },
    methods: {
        editPost() {
            try {
                this.$apollo.mutate({
                        mutation: UPDATE_PACKAGE_PRICE,
                        variables: {
                            input: {
                                id: parseInt(this.toBeEditedPost.id),
                                monthlyPrice: parseInt(this.toBeEditedPost.monthlyPrice),
                                discountedMonthlyPrice: parseInt(this.toBeEditedPost.discountedMonthlyPrice),
                                testPhasePrice: parseInt(this.toBeEditedPost.testPhasePrice),
                                annualPrice: parseInt(this.toBeEditedPost.annualPrice),
                                discountedAnnualPrice: parseInt(this.toBeEditedPost.discountedAnnualPrice),
                            }
                        }
                    }
                );
                core.showSnackbar('success', this.$t('post.updateSuccess'));
                location.reload();
            } catch (e) {
                console.log(e);
                core.showSnackbar('error', this.$t('post.postIncorrect'));
            }
        }
    }
}
</script>
