<template>
    <div>
        <h4 class="card-title">{{ $t('admin.editPost') }}</h4>
        <div class="container mt-4">
            <div class="row">
                <!--          <div class="col-md-2">-->
                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                <!--          </div>-->
                <div class="col-md-12">
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('admin.content')" class="rounded form-control"
                                      v-model="toBeEditedPost.content" required></textarea>
                    </div>
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="toBeEditedPost.allUsers" value="true" unchecked-value="false">
                            {{ $t('admin.allUsers') }}
                        </b-form-checkbox>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2">
                            <b-form-select v-if="this.hasTrade" v-model="toBeEditedPost.trade.tradeType"
                                           :options="tradeTypeOptions"></b-form-select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2">
                            <b-form-select v-if="this.hasTrade" v-model="toBeEditedPost.trade.stockType" required
                                           :options="stockTypeOptions"></b-form-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2"
                             v-if="this.hasTrade">
                            <b-form-select v-model="toBeEditedPost.trade.position"
                                           :options="positionOptions"></b-form-select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-md-6 uk-width-1-1 mb-2"
                             v-if="this.hasTrade">
                            <b-form-input class="uk-input uk-border-rounded" id="entryDate"
                                          name="title" type="datetime-local"
                                          :placeholder=" $t('admin.entryDate')"
                                          v-model="toBeEditedPost.trade.entryDate"></b-form-input>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.companySymbol') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="company"
                                          name="title"
                                          type="text"
                                          :placeholder=" $t('admin.companySymbol') "
                                          v-model="toBeEditedPost.trade.company.company_symbol">
                            </b-form-input>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.amountPercentage') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="amount"
                                          name="title"
                                          type="text"
                                          :placeholder=" $t('admin.amountPercentage') "
                                          v-model="toBeEditedPost.trade.amountPercentage">
                            </b-form-input>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.price') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="price"
                                          name="title" type="text" :placeholder=" $t('admin.price') "
                                          v-model="toBeEditedPost.trade.price">
                            </b-form-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.leverage') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="leverage"
                                          name="title" type="number" :placeholder=" $t('admin.leverage') "
                                          v-model="toBeEditedPost.trade.leverage">
                            </b-form-input>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.stopLoss') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="stopLoss"
                                          name="title" type="text" :placeholder=" $t('admin.stopLoss') "
                                          v-model="toBeEditedPost.trade.stopLoss">
                            </b-form-input>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 uk-width-1-1 mb-2 mt-1"
                             v-if="this.hasTrade">
                            <label>{{ $t('admin.takeProfit') }}</label>
                            <b-form-input class="uk-input uk-border-rounded" id="takeProfit"
                                          name="title" type="text" :placeholder=" $t('admin.takeProfit') "
                                          v-model="toBeEditedPost.trade.takeProfit">
                            </b-form-input>
                        </div>
                    </div>

                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col m-0 float-md-right pb-3">
                    <button type="submit" class="btn btn-primary float-right" @click="editPost">
                        {{ $t('admin.editPost') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";
import {PostService as PostService} from "../../services/post";
import moment from "moment";

export default {
    name: 'EditSocialPost',
    props: ['post'],
    mounted() {
        core.index()
    },
    created() {
        if (this.toBeEditedPost.trade != null) {
            this.toBeEditedPost.trade.entryDate = moment(this.toBeEditedPost.trade.entryDate).format('YYYY-MM-DDThh:mm');
        }
    },
    data() {
        return {
            isShow: true,
            toBeEditedPost: JSON.parse(JSON.stringify(this.post)),
            positionOptions: [
                {value: null, text: this.$t('admin.position')},
                {value: 'SHORT', text: 'SHORT'},
                {value: 'LONG', text: 'LONG'},
            ],
            tradeTypeOptions: [
                {value: null, text: this.$t('admin.tradeType')},
                {value: 'DAILY', text: 'DAILY'},
                {value: 'WEEKLY', text: 'WEEKLY'},
            ],
            stockTypeOptions: [
                {value: null, text: this.$t('admin.stockType')},
                {value: 'INDEX', text: 'INDEX'},
                {value: 'DEUTSCHE', text: 'DEUTSCHE'},
                {value: 'US', text: 'US'},
            ],
            loading: true,
            loader: loader,
            hasTrade: this.post.trade != null
        }
    },
    methods: {
        editPost() {
            PostService.editPost(this.toBeEditedPost).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.operationFailed'));
                } else {
                    location.reload();
                }
            });
        }
    }
}
</script>
