<template>
    <div>
        <h4 class="card-title">{{ $t('admin.editPost') }}</h4>
        <h4 class="card-title">{{ $t('admin.editMailForCampaign') }}</h4>
        <p>
            {{ "1) " }}
            <span style="color: red;">{{ "\{\{name\}\}" }}</span>
            {{ " wird durch den Namen des Empfängers ersetzt" }}
        </p>
        <p>
            2) <span style="color: red;">&lt;br&gt;</span> to insert a new line
        </p>
        <p>
            3) <span style="color: red;">&lt;b&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/b&gt;</span> um einen fetten Text einzufügen
        </p>
        <p>
            4) <span style="color: red;">&lt;i&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/i&gt;</span> um kursiven Text einzufügen
        </p>
        <p>
            5) <span style="color: red;">&lt;h1&gt;<span style="color: green;">text_hier_einfügen</span>
            &lt;/h1&gt;</span> um großen Text einzufügen. Die Größen sind von 1-6, wobei 1 die
            größte und 6 die kleinste Größe ist. Beispiel: &lt;h3&gt;&lt;/h3&gt;
        </p>
        <p>
            6) Schreiben Sie:
            <span style="color: red;">
                &lt;a href="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;<span style="color: green;">text_hier_einfügen</span>&lt;/a&gt;
            </span>
            , um einen Link einzufügen
        </p>
        <p>
            7) Schreiben Sie:
            <span style="color: red;">
                &lt;img src="<span style="color: blue;">einfügen_link_hier</span>
                "&gt;&lt;/img&gt;
            </span>
            , um einen Image einzufügen
        </p>
        <p>
            8) Schreiben Sie: <br/>
            <span style="color: red;">
               &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/GQ9kbfrXEAg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen&gt;&lt;/iframe&gt;
            </span>
            , um einen Video einzufügen ! <br/>
            Klicke auf youtube teilen und kopiere den Einbettungscode
        </p>
        <div class="container mt-4">
            <div class="row">
                <!--          <div class="col-md-2">-->
                <!--            <img class="rounded-circle" src="../../../../assets/images/user/user-01.jpg">-->
                <!--          </div>-->
                <div class="col-md-12">
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.title')" class="rounded form-control"
                                      v-model="toBeEditedPost.title" required></textarea>
                    </div>
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.paragraph1')" class="rounded form-control"
                                      v-model="toBeEditedPost.text1"></textarea>
                    </div>
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.paragraph2')" class="rounded form-control"
                                      v-model="toBeEditedPost.text2"></textarea>
                    </div>
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.paragraph3')" class="rounded form-control"
                                      v-model="toBeEditedPost.text3"></textarea>
                    </div>
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.paragraph4')" class="rounded form-control"
                                      v-model="toBeEditedPost.text4"></textarea>
                    </div>
                    <div class="form-group">
                            <textarea type="text" :placeholder="$t('blog.paragraph5')" class="rounded form-control"
                                      v-model="toBeEditedPost.text5"></textarea>
                    </div>

                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col m-0 float-md-right pb-3">
                    <button type="submit" class="btn btn-primary float-right" @click="editPost">
                        {{ $t('admin.editPost') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";
import UPDATE_BLOG_POST from "../../graphql/mutations/updateBlogPost.graphql";
import {Auth} from "../../config/auth";

export default {
    name: 'EditBlogPost',
    props: ['post'],
    mounted() {
        core.index()
    },
    data() {
        return {
            isShow: true,
            toBeEditedPost: this.post,
            loading: true,
            loader: loader,
            hasTrade: this.post.trade != null
        }
    },
    methods: {
        editPost() {
            try {
                this.$apollo.mutate({
                        mutation: UPDATE_BLOG_POST,
                        variables: {
                            input: {
                                id: parseInt(this.toBeEditedPost.id),
                                title: this.toBeEditedPost.title,
                                text1: this.toBeEditedPost.text1,
                                text2: this.toBeEditedPost.text2,
                                text3: this.toBeEditedPost.text3,
                                text4: this.toBeEditedPost.text4,
                                text5: this.toBeEditedPost.text5,
                            }
                        }
                    }
                );
                core.showSnackbar('success', this.$t('post.updateSuccess'));
                location.reload();
            } catch (e) {
                console.log(e);
                core.showSnackbar('error', this.$t('post.postIncorrect'));
            }
        }
    }
}
</script>
