<template>
    <div>
        <h4>E-Mail-Protokolle</h4>
        <div>Hier sehen Sie die verschiedenen Sendungen, die Sie mit dieser E-Mail-Vorlage durchgeführt haben, einschließlich der Personen, an die Sie sie wann gesendet haben.</div>
        <hr>
        <h5 class="mt-3 mb-3">Email: {{ email.name }} </h5>

        <b-table responsive :items="emailLogs" class="mb-0" borderless
                 :fields="fields">
        </b-table>
    </div>
</template>

<script>
import loader from '../../assets/images/loader.gif';
import {core} from "../../config/pluginInit";
import {MailService} from "../../services/mail";

export default {
    name: "EmailInfo",
    props: ['email'],
    mounted() {
        core.index()
        MailService.getEmailSendingLogs(this.email.id).then((data) => {
            this.emailLogs = data
        });
    },
    data() {
        return {
            loader: loader,
            emailLogs: [],
            fields: [
                {
                    key: 'userTargets',
                    label: 'Benutzerziele'
                },
                {
                    key: 'subscriberTargets',
                    label: 'Zielgruppe der Abonnenten'
                },
                {
                    key: 'created_at',
                    label: 'Zeitstempel der Fertigstellung'
                },
            ]
        }
    }
}
</script>

<style scoped>

</style>
