<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">

                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold pb-2">{{ $t('admin.mailCampaign') }}</h4>
                        <b-button class="primary-background-color border-0"
                                  size="sm" @click="showModal('createEmail')">
                            E-Mail erstellen
                        </b-button>
                        <b-modal id="createEmail"
                                 @ok="onCreate()"
                                 cancel-title="Close" size="lg">
                            <EditMailForCampaign :email="cEmail"></EditMailForCampaign>
                        </b-modal>
                    </template>

                    <template v-slot:body>
                        <b-table responsive :items="emails" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(type)="data">
                                <b-badge pill
                                         :variant="data.item.type === 'SALES'
                                         ? 'danger' :
                                         (data.item.type === 'NURTURE' ? 'success' :
                                         (data.item.type === 'USER' ? 'info' :
                                         (data.item.type === 'TEMPLATE' ? 'dark' : 'primary')))">
                                    {{ data.item.type }}
                                </b-badge>
                            </template>

                            <template v-slot:cell(actions)="row">
                                <div class="d-flex">
                                    <div v-if="row.item.type === 'TEMPLATE'">
                                        <b-button variant="info"
                                                  class="border-0 text-center mr-2"
                                                  size="sm" @click="showModal('sendEmailTemplate-' + row.item.id)">
                                            <i class="fas fa-paper-plane p-0"></i>
                                        </b-button>
                                        <b-modal :id="'sendEmailTemplate-' + row.item.id"
                                                 cancel-title="Close" size="lg"
                                                 :hide-footer="true">
                                            <SendEmailTemplate :email="row.item"></SendEmailTemplate>
                                        </b-modal>

                                        <b-button variant="light" class="text-center mr-2"
                                                  size="sm" @click="showModal('info-' + row.item.id)">
                                            <i class="fas fa-info p-0"></i>
                                        </b-button>
                                        <b-modal :id="'info-' + row.item.id"
                                                 cancel-title="Close" size="lg">
                                            <EmailInfo :email="row.item"></EmailInfo>
                                        </b-modal>
                                    </div>

                                    <b-button class="primary-background-color border-0 text-center mr-2"
                                              size="sm" @click="showModal(row.item.id)">
                                        <i class="fas fa-edit p-0"></i>
                                    </b-button>
                                    <b-modal :id="row.item.id"
                                             @ok="onUpdate(row.item)"
                                             cancel-title="Close" size="lg"
                                             :ok-disabled="false">
                                        <EditMailForCampaign :email="row.item"></EditMailForCampaign>
                                    </b-modal>

                                    <b-button variant="success" class="text-center mr-2"
                                              size="sm" @click="showPreviewModal(row.item.id)">
                                        <i class="fas fa-eye p-0"></i>
                                    </b-button>
                                    <b-modal :id="'preview-' + row.item.id"
                                             cancel-title="Close" size="lg">
                                        <div v-html="row.item.text">
                                        </div>
                                    </b-modal>
                                    <b-button variant="danger" class="text-center"
                                              size="sm" @click="onDelete(row.item.id)">
                                        <i class="far fa-trash-alt p-0"></i>
                                    </b-button>
                                </div>

                            </template>
                        </b-table>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import loader from '../../assets/images/loader.gif';
import {MailService} from "../../services/mail";
import EditMailForCampaign from "./EditMailForCampaign";
import SendEmailTemplate from "./SendEmailTemplate";
import EmailInfo from "./EmailInfo";
import {core} from "../../config/pluginInit";

export default {
    name: "MailCampaignPage",
    components: {
        EditMailForCampaign,
        SendEmailTemplate,
        EmailInfo
    },
    created() {
        this.fetchEmails()
    },
    data() {
        return {
            newEmail: null,
            emails: [],
            loading: true,
            loader: loader,
            cEmail: {
                type: '',
                name: '',
                subject: '',
                text: '',
                timePeriodInDays: '',
                orderNumber: '',
            },
            fields: [
                {
                    key: 'type',
                    label: 'Typ'
                },
                {
                    key: 'orderNumber',
                    label: 'Nummer'
                },
                {
                    key: 'name'
                },
                {
                    key: 'subject'
                },
                {
                    key: 'timePeriodInDays',
                    label: 'Differenz'
                },
                {
                    key: 'actions',
                    label: this.$t('admin.editMailForCampaign'),
                    thStyle: {width: "250px"}
                }
            ]
        }
    },
    methods: {
        fetchEmails() {
            MailService.getEmails().then((data) => {
                this.emails = data
                this.emails.sort(this.sortEmails)
                this.loading = false
            })
        },
        sortEmails(a, b) {
            if (a.type === b.type) {
                return a.orderNumber < b.orderNumber ? -1 : 1
            }
            return a.type > b.type ? -1 : 1
        },
        showModal(id) {
            this.$bvModal.show(id)
        },
        showPreviewModal(id) {
            this.$bvModal.show('preview-' + id)
        },
        onUpdate(email) {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.updateEmail(email.id, email).then((email) => {
                if (email === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.email = email
                }
            })
        },
        onCreate() {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.createEmail(this.cEmail).then((email) => {
                if (email === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.emails.push(email)
                    this.emails.sort(this.sortEmails)
                    this.cEmail = {
                        type: '',
                        name: '',
                        subject: '',
                        text: '',
                        timePeriodInDays: '',
                        orderNumber: '',
                    }
                }
            })
        },
        onDelete(id) {
            core.showSnackbar('success', this.$t('results.updateSuccessful'))
            MailService.deleteEmail(id).then((result) => {
                if (!result) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    for (let i = 0; i < this.emails.length; i++) {
                        if (this.emails[i].id === id) {
                            this.emails.splice(i, 1)
                        }
                    }
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
