<template>
    <b-container fluid>
        <div v-if="isLoading">
            <div class="row mt-5">
                <div class="col-5"></div>
                <div class="col-2">
                    <img :src="loader" class="img-fluid align-self-center" alt="logo">
                </div>
                <div class="col-5"></div>
            </div>
        </div>
        <div v-else-if="!isLoading">
            <hr/>
            <h4 class="font-weight-bold mb-3">{{ $t('packages.allSubscriptions') }}</h4>
            <ul class="nav nav-tabs pricing-nav mr-3 ml-3">
                <li v-for="(packageModel,index) in packagesList"
                    :key="packageModel.id"
                    :class="['col-sm-3 col-6 p-0 m-0 text-center', { active : currentTab === null ? index === 0
                                         : currentTab === packageModel.id }]"
                    @click="changeTab(packageModel.id)">
                    <a data-toggle="tab">
                        <div class="nav-tab-container pr-5 pl-5 text-center"
                             style="padding-top: 20px !important;">
                            <h4 :class="['font-weight-bold m-0 pricing-title pb-3',
                                                {'first-pricing-package-title' : index === 0},
                                                {'second-pricing-package-title' : index === 1},
                                                {'third-pricing-package-title' : index === 2},
                                                {'fourth-pricing-package-title' : index === 3},
                                                ]">
                                {{ packageModel.name }}</h4>
                            <p>{{ packageModel.description }}</p>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div v-for="(packageModel, index) in packagesList" :key="packageModel.id">
                    <div
                        :class="['row mb-5 mt-5 p-0 m-0', {'d-none' : (currentTab === null ? index !== 0
                                         : currentTab !== packageModel.id)}]">
                        <PricingPackageAnnual v-for="packageInfo of packageModel.packages" :key="packageInfo.id"
                                              :packageModel="packageInfo"
                                              :is-user-authed="true"
                                              :duration="'MONTHLY'"
                                              :has-discount="numUsers<1001"
                                              :selectable="true"
                                              :user="user"
                                              :from-register="false">
                        </PricingPackageAnnual>
                    </div>
                </div>
            </div>
        </div>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import {mapGetters} from "vuex";
import {toStringWithDecimalization, toStringWithoutDecimalization} from "../../Utils/utils";
import PaypalButton from "../Website/PaypalButton";
import loader from '../../assets/images/loader.gif';
import {SubscriptionService} from "../../services/subscription";
import {UserService} from "../../services/user";
import {PackageService} from "../../services/package";
import Package from "../Website/PricingPackage";
import packageQuery from "../../graphql/queries/getPackageById.graphql";
import PricingPackageAnnual from "../Website/PricingPackageAnnual";
import FunnelResultPage from "../Website/FunnelResultPage";

export default {
    name: "UserPackagesPage",
    components: {FunnelResultPage, PricingPackageAnnual, PaypalButton, Package},
    props: {
        fromRegister: Boolean
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        packages: function () {
            return this.packagesList
        },
        isLoading() {
            return this.loading
        },
        hasSurveyResults() {
            return this.surveyResults !== null &&
                this.surveyResults.a !== null &&
                this.surveyResults.c !== null &&
                this.surveyResults.d !== null &&
                this.surveyResults.e !== null &&
                this.recommendedPackageId !== null
                && !this.hasActiveSubscription();
        },
        activeSubscription() {
            if (this.hasActiveSubscription()) {
                return this.user['activeSubscription'];
            }
        }
    },
    mounted() {
        core.index()
    },
    created() {
        UserService.getNumUsers().then((numUser) => {
            this.numUsers = numUser
            PackageService.getPackages().then((packages) => {
                this.packagesList = packages
                this.loading = false
            })
        });
        const surveyResults = localStorage.getItem('surveyResults');
        this.surveyResults = JSON.parse(JSON.parse(surveyResults));
        this.recommendedPackageId = localStorage.getItem('recommendedPackageId') !== null
            ? parseInt(localStorage.getItem('recommendedPackageId')) : null;
    },
    data() {
        return {
            packagesList: [],
            loader: loader,
            packageQuery: packageQuery,
            surveyResults: {},
            loading: true,
            currentTab: null,
            numUsers: 1001,
            recommendedPackageId: null,
        }
    },
    methods: {
        packagePriceWithSign(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedMonthlyPrice'] : item['monthlyPrice'])
                    : toStringWithoutDecimalization(item['testPhasePrice'])
            } else {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedAnnualPrice'] : item['annualPrice'])
                    : toStringWithoutDecimalization(item['testPhasePrice'])
            }

        },
        packagePrice(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedMonthlyPrice'] : item['monthlyPrice'], false)
                    : toStringWithoutDecimalization(item['testPhasePrice'], false)
            } else {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization((this.numUsers < 1001) ? item['discountedAnnualPrice'] : item['annualPrice'], false)
                    : toStringWithoutDecimalization(item['testPhasePrice'], false)
            }

        },
        hasSubscriptionHistory() {
            if (!this.user) {
                return false
            }

            return this.user['subscriptions'] !== undefined && this.user['subscriptions'] !== null && this.user['subscriptions'].length > 0
        },
        isPackageActive(id, duration) {

            if (!this.user) {
                return false
            }

            if (this.hasActiveSubscription()) {
                const activeSubs = this.user['activeSubscriptions'];
                for (const sub of activeSubs) {
                    if (sub['package']['id'] === id && sub['duration'] === duration) return true;
                }
                return false;
            }
            return false;
        },
        hasActiveSubscription() {
            if (!this.user) {
                return false
            }

            return this.user.activeSubscription !== undefined && this.user.activeSubscription !== null
                && this.user.activeSubscription.status === 'CONFIRMED';
        },
        toStringWithDecimalization(price) {
            return toStringWithDecimalization(price)
        },
        toStringWithoutDecimalization(price) {
            return toStringWithoutDecimalization(price)
        },
        changeTab(tab) {
            this.currentTab = tab;
        },
        closeModal(id) {
            this.$bvModal.hide(id);
        }
    }
}
</script>
<style scoped>
.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}


.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.first-pricing-package-title {
    /*color: #A8E10C*/
    color: #81599F
}

.second-pricing-package-title {
    /*color: #8A6FDF;*/
    color: #36D6E7
}

.third-pricing-package-title {
    /*color: #FFDB15;*/
    /*color: #9BCCFD*/
    color: #65c368
}

.fourth-pricing-package-title {
    /*color: #FF5765;*/
    /*color: #0074DD*/
    color: #DAA520
}

.pricing-nav .active .nav-tab-container {
    border-top: 5px solid #DAA520;
    /*padding-top: 20px;*/
}

.pricing-nav .nav-tab-container {
    border-top: 0;
}

.pricing-nav .active h4 {
    font-weight: bold;
    /*color: black !important;*/
}

.pricing-nav h4 {
    font-weight: normal;
    /*color: grey !important;*/
}

.pricing-nav .active p {
    color: black !important;
}

.pricing-nav p {
    color: grey !important;
}

.pricing-nav a {
    padding: 0;
    margin-top: 15px;
}

.pricing-nav .active a {
    padding: 0;
    margin: 0;
}

.pricing-title {
    font-size: 17px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
    border: 0;
}

/* sm */
@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .pricing-title {
        font-size: 25px;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}


</style>
