<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">

                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold pb-2">{{ $t('admin.rewardsPage') }}</h4>
                        <b-button class="primary-background-color border-0"
                                  size="sm" @click="showModal('createReward')">
                            {{ $t('admin.addReward') }}
                        </b-button>
                        <b-modal id="createReward"
                                 @ok="onCreate()"
                                 cancel-title="Close" size="lg">
                            <AddRewardComponent :reward="cReward"></AddRewardComponent>
                        </b-modal>
                    </template>

                    <template v-slot:body>
                        <b-table responsive :items="rewards" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(actions)="row">
                                <b-button class="primary-background-color border-0 text-center mr-2"
                                          size="sm" @click="showModal(row.item.id)">
                                    <i class="fas fa-edit p-0"></i>
                                </b-button>
                                <b-modal :id="row.item.id"
                                         @ok="onUpdate(row.item)"
                                         cancel-title="Close" size="lg"
                                         :ok-disabled="false"
                                >
                                    <EditRewardComponent :reward="row.item"></EditRewardComponent>
                                </b-modal>

                                <b-button variant="danger" class="text-center"
                                          size="sm" @click="onDelete(row.item.id)">
                                    <i class="far fa-trash-alt p-0"></i>
                                </b-button>

                            </template>
                        </b-table>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import loader from '../../assets/images/loader.gif';
import {MailService} from "../../services/mail";
import EditMailForCampaign from "./EditMailForCampaign";
import {core} from "../../config/pluginInit";
import {AdminService} from "../../services/admin";
import AddRewardComponent from "./AddRewardComponent";
import EditRewardComponent from "./EditRewardComponent";

export default {
    name: "RewardsPage",
    components: {
        AddRewardComponent,
        EditRewardComponent
    },
    created() {
        this.fetchRewards()
    },
    data() {
        return {
            rewards: [],
            loading: true,
            loader: loader,
            cReward: {
                coin_amount: null,
                note: '',
                user_id: null,
            },
            fields: [
                {
                    key: 'id',
                    label: 'ID'
                },
                {
                    key: 'user.email',
                    label: 'Email'
                },
                {
                    key: 'user.name',
                    label: 'Name'
                },
                {
                    key: 'coin_amount',
                    label: this.$t('admin.coinAmount')
                },
                {
                    key: 'note',
                    label: this.$t('admin.note')
                },
                {
                    key: 'actions',
                    label: this.$t('admin.editMailForCampaign')
                }
            ]
        }
    },
    methods: {
        fetchRewards() {
            AdminService.getGivenRewards().then((data) => {
                this.rewards = data
                this.loading = false
            })
        },
        showModal(id) {
            this.$bvModal.show(id)
        },
        showPreviewModal(id) {
            this.$bvModal.show('preview-' + id)
        },
        onUpdate(reward) {
            AdminService.updateReward(reward).then((reward) => {
                if (reward === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))
                }
            })
        },
        onCreate() {
            AdminService.createReward(this.cReward).then((reward) => {
                if (reward === null) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    this.rewards.push(reward)
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))
                    this.cReward = {
                        user_id: '',
                        coin_amount: null,
                        note: '',
                    }
                }
            })
        },
        onDelete(id) {
            AdminService.deleteReward(id).then((result) => {
                if (!result) {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                } else {
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))
                    for (let i = 0; i < this.rewards.length; i++) {
                        if (this.rewards[i].id === id) {
                            this.rewards.splice(i, 1)
                        }
                    }
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
