<template>
    <div>
        <h4>E-Mail an die Zielgruppe senden</h4>
        <hr>
        <h5 class="mt-3">Email: {{ email.name }} </h5>

        <div class="d-flex justify-content-between mt-4">
            <div class="mr-2">
                <b-form-checkbox
                    id="checkbox-1"
                    v-model="allUsers"
                    name="all-users"
                    value="1"
                    unchecked-value="0">
                    An alle Benutzer senden
                </b-form-checkbox>
                <div class="mt-3 mb-1">
                    Oder geben Sie die IDs der Benutzer ein, die Sie ansprechen möchten, getrennt durch ein Komma:
                </div>
                <textarea class="uk-textarea uk-border-rounded"
                          name="text" v-model="usersList" rows="10" placeholder="2,87,534,2"></textarea>
            </div>

            <div class="ml-2">
                <b-form-checkbox
                    id="checkbox-2"
                    v-model="allSubscribers"
                    name="all-subscribers"
                    value="1"
                    unchecked-value="0">
                    An alle Abonnenten senden
                </b-form-checkbox>
                <div class="mt-3 mb-1">
                    Oder geben Sie die IDs der Abonnenten ein, die Sie ansprechen möchten, getrennt durch ein Komma:
                </div>
                <textarea class="uk-textarea uk-border-rounded"
                          name="text" v-model="subscribersList" rows="10" placeholder="2,87,534,2"></textarea>
            </div>
        </div>
        <button class="btn btn-primary float-left mt-4"
                @click="sendEmailTemplate()">
            <i :class="'fa fa-lg fa-paper-plane mr-2'"></i>
            Senden Sie
        </button>
    </div>
</template>
<script>

import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import {core} from "../../config/pluginInit";
import {MailService} from "../../services/mail";

export default {
    name: 'SendEmailTemplate',
    props: ['email'],
    mounted() {
        core.index()
    },
    data() {
        return {
            allUsers: 0,
            allSubscribers: 0,
            usersList: '',
            subscribersList: '',
        }
    },
    methods: {
        sendEmailTemplate() {
            let userTargets, subscriberTargets

            if(this.allUsers === "1") {
                userTargets = 'allUsers'
            } else {
                userTargets = this.usersList + ','
            }

            if(this.allSubscribers === "1") {
                subscriberTargets = 'allSubscribers'
            } else {
                subscriberTargets = this.subscribersList + ','
            }

            core.showSnackbar('success', this.$t('admin.emailsAreBeingSent'))
            MailService.sendEmailTemplate(this.email.id, userTargets, subscriberTargets).then((result) => {
                if (result) {
                    core.showSnackbar('success', this.$t('results.emailsSentSuccessfully'))
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
    }
}
</script>
