<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">
                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold">{{ $t('admin.emailSubscribers') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-table responsive :items="leads" class="mb-0" borderless
                                 :fields="fields">
                            <template v-slot:cell(cTimestamp)="data">
                                {{ new Date(data.item.cTimestamp).toLocaleString() }}
                            </template>
                            <template v-slot:cell(has_unsubscribed)="data">
                                <b-badge pill :variant="data.item.has_unsubscribed ? 'danger' : 'success'">
                                    {{ data.item.has_unsubscribed ? $t('admin.unsubscribed') : $t('admin.active') }}
                                </b-badge>
                            </template>
                        </b-table>
                        <b-button v-if="shouldShowMore" @click="showMore" variant="primary" class="mt-3">
                            {{ $t('buttons.loadMore') }}
                        </b-button>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import {LeadService} from "../../services/lead";
import loader from '../../assets/images/loader.gif';

export default {
    name: "SubscribersPage",
    computed: {
        leads: function () {
            return this.leadsData
        },
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    created() {
        this.showMore()
    },
    data() {
        return {
            page: 1,
            showMoreEnabled: true,
            leadsData: [],
            loading: true,
            loader: loader,
            fields: [
                {
                    key: 'id'
                },
                {
                    key: 'type'
                },
                {
                    key: 'email'
                },
                {
                    key: 'cTimestamp',
                    label: this.$t('admin.date')
                },
                {
                    key: 'has_unsubscribed',
                    label: this.$t('admin.status')
                }
            ]
        }
    },
    methods: {
        showMore() {
            if (this.showMoreEnabled) {
                LeadService.loadLeads(this.leadsData, this.page).then((data) => {
                    this.leadsData = data['data'];
                    this.leadsData.sort((a, b) => (a.id < b.id) ? 1 : -1);

                    if (data['lastPage'] === this.page) {
                        this.showMoreEnabled = false
                    }

                    this.loading = false
                    this.page++
                })
            }

        },
    }
}
</script>

<style scoped>

</style>
