<template>
    <b-container fluid>
        <b-row>
            <b-col sm="12">
                <iq-card body-class=" profile-page p-0">
                    <template v-slot:body>
                        <div class="profile-header">
                            <div class="profile-info p-4">
                                <b-row>
                                    <b-col md="6" sm="12">
                                        <div class="user-detail">
                                            <div class="d-flex flex-wrap align-items-center">
                                                <!--                        <div class="profile-img pr-4">-->
                                                <!--                          <b-img v-bind:src="user.profile" alt="profile-img" fluid class="avatar-130" />-->
                                                <!--                        </div>-->
                                                <div class="profile-detail d-flex align-items-center">
                                                    <h3>{{ user['name'] + ' ' + user['surname'] }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </b-col>
                                    <b-col md="6" sm="12">
                                        <tab-nav :pills="true" id="pills-tab"
                                                 class="profile-feed-items d-flex justify-content-end">
                                            <tab-nav-items :active="true" id="pills-feed-tab" href="#profile-profile"
                                                           class="mt-2"
                                                           ariaControls="pills-home" role="tab" :ariaSelected="true"
                                                           :title="$t('profile.profile')"/>
                                            <tab-nav-items :active="false" id="pills-activity-tab" class="mt-2"
                                                           href="#profile-activity" ariaControls="pills-profile"
                                                           role="tab" :ariaSelected="false"
                                                           :title="$t('profile.productsBought')"/>
                                            <tab-nav-items :active="false" id="pills-friend-tab" href="#profile-friends"
                                                           class="mt-2"
                                                           ariaControls="pills-contact" role="tab" :ariaSelected="false"
                                                           :title="$t('profile.referrals')"/>
                                            <tab-nav-items :active="false" id="pills-cash-out-requests" class="mt-2"
                                                           href="#profile-cash-out-requests"
                                                           ariaControls="pills-contact" role="tab" :ariaSelected="false"
                                                           :title="$t('admin.cashOutRequests')"/>
                                        </tab-nav>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                    </template>
                </iq-card>
            </b-col>
            <b-col sm="12">
                <b-row>
                    <b-col class="profile-center">
                        <tab-content id="pills-tabContent-2">
                            <tab-content-item :active="true" id="profile-profile" aria-labelled-by="pills-profile-tab">
                                <iq-card>
                                    <template v-slot:headerTitle>
                                        <h4 class="card-title">{{ $t('profile.aboutUser') }}</h4>
                                    </template>
                                    <template v-slot:body>
                                        <b-row>
                                            <b-col sm="6">
                                                <h6>{{ $t('auth.name') }}:</h6>
                                                <p>{{ user['name'] + ' ' + user['surname'] }}</p>
                                                <h6>{{ $t('profile.phoneNumber') }}:</h6>
                                                <p>{{ user['phone_number'] }}</p>
                                                <h6>Email:</h6>
                                                <p>{{ user['email'] }}</p>
                                                <h6>{{ $t('post.capital') }}</h6>
                                                <p>{{ toStringWithDecimalization(user['capital']) }}</p>
                                            </b-col>
                                            <b-col sm="6">
                                                <div v-if="hasActivePackage">
                                                    <h6>{{ $t('admin.product') }}:</h6>
                                                    <b-badge class="mb-2" pill
                                                             :variant="activePackage['color_variant']">{{
                                                            activePackage['parentPackage']['name'] + ' ' +
                                                            activePackage['name']
                                                        }}
                                                    </b-badge>
                                                </div>
                                                <h6>{{ $t('auth.referralCode') }}:</h6>
                                                <p>{{ user['referral_code'] }}</p>
                                                <h6>{{ $t('referral.coins') }}:</h6>
                                                <p>{{ user['coin_amount'] }}</p>

                                                <div v-if="hasProductLaunchWorkshop">
                                                    <h6>{{ $t('admin.hasProductLaunchFunnelSubscription') }}</h6><i
                                                    class="fas fa-solid fa-check"></i>
                                                </div>
                                                <div v-if="hasIndividualSupport">
                                                    <h6>{{ $t('packages.individualSupport') }}</h6><i
                                                    class="fas fa-solid fa-check"></i>
                                                </div>
                                            </b-col>
                                        </b-row>
                                    </template>
                                </iq-card>
                            </tab-content-item>
                            <tab-content-item :active="false" id="profile-activity"
                                              aria-labelled-by="pills-activity-tab">
                                <iq-card>
                                    <template v-slot:headerTitle>
                                        <h4 class="card-title">{{ $t('profile.productsBought') }}</h4>
                                    </template>
                                    <template v-slot:body>
                                        <TimeLine :items="user['subscriptions']"/>
                                    </template>
                                </iq-card>
                            </tab-content-item>
                            <tab-content-item :active="false" id="profile-friends" aria-labelled-by="pills-friend-tab">
                                <b-row>
                                    <b-col sm="12">
                                        <iq-card body-class=" profile-page p-0">
                                            <template v-slot:body>
                                                <div class="profile-header">
                                                    <div class="profile-info p-4">
                                                        <b-row>
                                                            <b-col md="6" sm="12">
                                                                <div class="user-detail align-items-left">
                                                                    <h3 class="text-left d-inline-block">
                                                                        {{ user['referral_code'] }}</h3>
                                                                </div>
                                                            </b-col>
                                                        </b-row>
                                                    </div>
                                                </div>
                                            </template>
                                        </iq-card>
                                    </b-col>
                                    <b-col lg="3" class="profile-center">
                                        <iq-card>
                                            <template v-slot:headerTitle>
                                                <h4 class="card-title font-weight-bold">{{
                                                        $t('referral.coins')
                                                    }}</h4>
                                            </template>
                                            <template v-slot:body>
                                                <ul class="m-0 p-0">
                                                    <li class="d-flex mb-3">
                                                        <p class="news-detail mb-0" v-html=""></p>
                                                        <div class="news-icon mb-0"
                                                        ><i class="fas fa-coins"
                                                            style="color: #DAA520!important;"></i></div>
                                                        <h5 class="news-detail mb-0">{{
                                                                $t('referral.balance') + ': '
                                                            }}<span class="font-weight-bold">{{
                                                                    user['coin_amount']
                                                                }}</span>
                                                            <span>{{ ' ' + $t('referral.coins') }}</span></h5>
                                                    </li>
                                                    <li class="d-flex mb-4">
                                                        <p class="news-detail mb-0" v-html=""></p>
                                                        <div class="news-icon mb-0"
                                                        ><i class="fas fa-euro-sign"
                                                            style="color: #DAA520!important;"></i></div>
                                                        <h5 class="news-detail mb-0">{{
                                                                $t('referral.fiatValue') + ': '
                                                            }}<span
                                                                class="font-weight-bold">{{
                                                                    toStringWithDecimalization(user['coins_fiat_amount'])
                                                                }}</span>
                                                        </h5>
                                                    </li>
                                                </ul>
                                            </template>
                                        </iq-card>
                                    </b-col>
                                    <b-col>
                                        <iq-card>
                                            <template v-slot:headerTitle>
                                                <h4 class="card-title font-weight-bold">{{
                                                        $t('referral.referrals')
                                                    }}</h4>
                                            </template>

                                            <ApolloQuery :query="referredFriendsQuery"
                                                         :variables="{ referrerId: id }">
                                                <template v-slot="{ result: { loading, error, data } }">
                                                    <div v-if="loading"></div>
                                                    <div v-else-if="error">{{ $t('results.error') }}</div>
                                                    <div v-else-if="data">
                                                        <ul class="suggestions-lists p-3">
                                                            <li v-for="(item,index) in data['referredFriends']"
                                                                :key="index"
                                                                class="d-flex mb-4 align-items-center">
                                                                <!--                                                        <div :class="'profile-icon iq-bg-' + invoice.color" ><span><i class="ri-check-fill"></i></span></div>-->

                                                                <div
                                                                    :class="'profile-icon mr-2 iq-bg-' + (item['verified'] ? 'success' : 'danger')">
                                                                    <i class="ri-check-fill">
                                                                    </i>
                                                                </div>
                                                                <div class="media-support-info">
                                                                    <h6>
                                                                        {{
                                                                            item['invitedUser'].name + ' ' + item['invitedUser'].surname
                                                                        }}</h6>
                                                                    <h6 class="text-info">
                                                                        {{
                                                                            '# ' + item['payment_id']
                                                                        }}</h6>
                                                                    <p class="mb-0" v-if="!item['verified']"
                                                                       style="color: red"
                                                                    >({{
                                                                            $t('referral.friendHasNotYetPurchasedAPackage')
                                                                        }})
                                                                    </p>
                                                                    <div v-else>
                                                                        <p class="mb-0"
                                                                           :style="'color:' + (item['verified'] ? 'green' : 'red')">
                                                                            {{
                                                                                $t('profile.level') + ' ' + item['stage']
                                                                            }}
                                                                        </p>
                                                                        <p v-if="item['description'] != null"
                                                                           class="mb-1 mt-0">
                                                                            {{ item['description'] }}</p>
                                                                        <div
                                                                            v-if="item['valid_from_date'] !== null && new Date(item['valid_from_date']).valueOf() > new Date().valueOf()">
                                                                            <p class="mb-2 mt-0 text-danger">Diese
                                                                                Belohnung wird aktiviert bei: {{
                                                                                    item['valid_from_date'].toLocaleString()
                                                                                }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="media-support-info text-right">
                                                                    <h5 class="font-weight-bold mr-2"
                                                                        :style="[item['verified'] && new Date(item['valid_from_date']).valueOf() <= new Date().valueOf() ? {color: `var(--iq-primary)`} : {color: `red`} ]">
                                                                        + {{ item['coin_reward'] }}
                                                                        <i class="fas fa-coins"
                                                                           :style="[item['verified'] && new Date(item['valid_from_date']).valueOf() <= new Date().valueOf() ? {color: `var(--iq-primary)`} : {color: `red`} ]"></i>
                                                                    </h5>
                                                                    <p class="mb-0 mt-2">
                                                                        {{ item['cTimestamp'].toLocaleString() }}</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </template>
                                            </ApolloQuery>

                                        </iq-card>
                                        <iq-card>
                                            <template v-slot:headerTitle>
                                                <h4 class="card-title font-weight-bold">{{
                                                        $t('admin.coinRewards')
                                                    }}</h4>
                                            </template>
                                            <ApolloQuery :query="rewardsByAdminQuery"
                                                         :variables="{ id: id }">
                                                <template v-slot="{ result: { loading, error, data } }">
                                                    <div v-if="loading"></div>
                                                    <div v-else-if="error">{{ $t('results.error') }}</div>
                                                    <div v-else-if="data">
                                                        <ul class="suggestions-lists p-3">
                                                            <li v-for="(item,index) in data['rewardsByUserId']"
                                                                :key="index"
                                                                class="d-flex mb-4 align-items-center">
                                                                <!--                                                        <div :class="'profile-icon iq-bg-' + invoice.color" ><span><i class="ri-check-fill"></i></span></div>-->

                                                                <div
                                                                    :class="'profile-icon mr-2 iq-bg-' + (item['verified'] ? 'success' : 'danger')">
                                                                    <i class="ri-check-fill">
                                                                    </i>
                                                                </div>
                                                                <div class="media-support-info">
                                                                    <p class="mb-0" style="color: black">
                                                                        {{ item['note'] }}
                                                                    </p>
                                                                    <!--                                                                        <p class="mb-0">{{ item['cTimestamp'] }}</p>-->
                                                                </div>
                                                                <div
                                                                    class="iq-card-header-toolbar d-flex align-items-center">
                                                                    <h5 class="font-weight-bold mr-2"
                                                                        :style="[{color: `var(--iq-primary)`} ]">
                                                                        + {{ item['coin_amount'] }}
                                                                    </h5>
                                                                    <i class="fas fa-coins"
                                                                       :style="[{color: `var(--iq-primary)`}]"></i>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </template>
                                            </ApolloQuery>
                                        </iq-card>
                                    </b-col>
                                </b-row>
                            </tab-content-item>
                            <tab-content-item :active="false" id="profile-cash-out-requests"
                                              aria-labelled-by="pills-friend-tab">
                                <b-row>
                                    <b-col>
                                        <iq-card>
                                            <template v-slot:headerTitle>
                                                <h4 class="card-title font-weight-bold">{{
                                                        $t('admin.cashOutRequests')
                                                    }}</h4>
                                            </template>
                                            <template v-slot:body>
                                                <b-table responsive :items="user['cashOutRequests']" class="mb-0"
                                                         borderless
                                                         :fields="cashOutFields" :tbody-tr-class="rowClass">
                                                    <template v-slot:cell(cTimestamp)="data">
                                                        {{ new Date(data.item.cTimestamp).toLocaleString() }}
                                                    </template>
                                                    <template v-slot:cell(approvedTimestamp)="row">
                                                        <b-button variant="secondary" v-if="!row.item.approvedTimestamp"
                                                                  size="sm" @click="approveCashOutRequest(row.item)">
                                                            {{ $t('admin.approve') }}
                                                        </b-button>
                                                    </template>
                                                </b-table>
                                            </template>
                                        </iq-card>
                                    </b-col>
                                </b-row>
                            </tab-content-item>
                        </tab-content>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import {core} from '../../config/pluginInit'
import {UserService} from "../../services/user";
import referredFriends from '../../graphql/queries/getReferredFriends.graphql';
import rewardsByAdminQuery from '../../graphql/queries/rewardsByUserId.graphql';
import {AdminService} from "../../services/admin";
import {toStringWithDecimalization} from "../../Utils/utils";

export default {
    name: 'Profile',
    created() {
        this.fetchUser()
    },
    mounted() {
        core.index()
    },
    props: {
        id: null,
    },
    methods: {
        toStringWithDecimalization(value) {
            return toStringWithDecimalization(value)
        },
        rowClass(item, type) {
            if (!item || type !== 'row') return
            if (item.approvedTimestamp) return 'table-success'
            return 'table-danger'
        },
        fetchUser() {
            UserService.getUser(this.id).then((data) => {
                this.userData = data;
            })
        },
        approveCashOutRequest(item) {
            AdminService.approveCashOutRequest(item.id).then((success) => {
                if (success) {
                    core.showSnackbar('success', this.$t('results.updateSuccessful'))
                    item.approvedTimestamp = new Date()
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            })
        }
    },
    computed: {
        user: function () {
            return this.userData
        },
        activePackage: function () {
            if (this.hasActivePackage) {
                return this.userData['activeSubscription']['package']
            }
            return {}
        },
        hasActivePackage: function () {
            return this.userData['activeSubscription']
        },
        hasProductLaunchWorkshop: function () {
            return this.userData['productLaunchSubscription'] === true;
        },
        hasIndividualSupport: function () {
            return this.userData['individualSupport'] === true;
        }
    },
    data() {
        return {
            userData: {},
            referredFriendsQuery: referredFriends,
            rewardsByAdminQuery: rewardsByAdminQuery,
            cashOutFields: [
                {
                    key: 'id'
                },
                {
                    key: 'paypal_email'
                },
                {
                    key: 'coin_amount',
                    label: this.$t('referral.coins')
                },
                {
                    key: 'fiat_amount',
                    label: this.$t('referral.fiatValue')
                },
                {
                    key: 'cTimestamp',
                    label: this.$t('admin.date')
                },
                {
                    key: 'approvedTimestamp',
                    label: this.$t('admin.action')
                }
            ],
        }
    }
}
</script>
