<template>
    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <b-container v-else fluid>
        <b-row>
            <b-col lg="12">
                <iq-card class="iq-card-block iq-card-stretch iq-card-height overflow-hidden">
                    <template v-slot:headerTitle>
                        <h4 class="card-title font-weight-bold">{{ $t('admin.users') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-table responsive :items="users" class="mb-0 cursor-pointer" borderless
                                 @row-clicked="goToUser"
                                 :fields="fields" :tbody-tr-class="rowClass">
                            <template v-slot:cell(package_name)="data">
                                <b-badge v-if="data.item.package_name" pill :variant="data.item.color_variant">
                                    {{ data.item.package_name }}
                                </b-badge>
                            </template>
                        </b-table>
                        <b-button v-if="shouldShowMore" @click="showMore" variant="primary" class="mt-3">
                            {{ $t('buttons.loadMore') }}
                        </b-button>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import loader from '../../assets/images/loader.gif';
import {UserService} from "../../services/user";

export default {
    name: "UsersPage",
    computed: {
        users: function () {
            return this.usersData
        },
        shouldShowMore: function () {
            return this.showMoreEnabled
        }
    },
    created() {
        this.showMore()
    },
    data() {
        return {
            page: 1,
            showMoreEnabled: true,
            usersData: [],
            loading: true,
            loader: loader,
            fields: [
                {
                    key: 'id'
                },
                {
                    key: 'name',
                    label: this.$t('auth.name')
                },
                {
                    key: 'surname',
                    label: this.$t('auth.surname')
                },
                {
                    key: 'email',
                    label: 'Email'
                },
                {
                    key: 'phone_number',
                    label: this.$t('profile.phoneNumber')
                },
                {
                    key: 'coin_amount',
                    label: this.$t('referral.coins'),
                    variant: 'warning'
                },
                {
                    key: 'package_name',
                    label: this.$t('admin.product'),
                },
                {
                    key: 'cTimestamp',
                    label: this.$t('admin.date')
                }
                // {
                //     key: 'extraNotes',
                //     label: 'Notes'
                // }
            ]
        }
    },
    methods: {
        showMore() {
            if (this.showMoreEnabled) {
                UserService.getUsers(this.usersData, this.page).then((data) => {
                    this.usersData = data['data']
                    this.usersData.sort((a, b) => (a.id < b.id) ? 1 : -1);

                    if (data['lastPage'] === this.page) {
                        this.showMoreEnabled = false
                    }

                    this.loading = false
                    this.page++
                })
            }
        },
        goToUser(item, index, event) {
            this.$router.push({name: 'admin.customer', params: {id: item.id}})
        },
        rowClass(item, type) {
            if (!item || type !== 'row') return

            for (var i = 0; i < item.cashOutRequests.length; i++) {
                if (!item.cashOutRequests[i].approvedTimestamp) return 'table-danger'
            }
        }
    }
}
</script>

<style scoped>

</style>
