<template>
    <div>
        <section class="sign-in-page">
            <b-container class="bg-white mt-5 p-0">
                <div class="row no-gutters">
                    <div class="col-sm-6 align-self-center">
                        <div class="sign-in-from">
                            <router-view></router-view>
                        </div>
                    </div>
                    <div class="col-sm-6 align-self-center">
                        <div class="sign-in-detail text-white">
                            <Swiper :options="options">
                                <!--                                <SwiperSlide>-->
                                <!--                                    <div class="intro-video">-->
                                <!--                                        <div class="embed-responsive" style="padding-top: 56.25%">-->
                                <!--                                            <iframe class="embed-responsive-item"-->
                                <!--                                                    :src="'https://www.youtube.com/embed/t268BibLQHg?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'"-->
                                <!--                                                    allowfullscreen></iframe>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </SwiperSlide>-->
                                <SwiperSlide class="item">
                                    <img :src="img1" class="img-fluid mb-4" alt="logo">
                                    <!--                                    <h4 class="mb-1 text-white">{{ $t('auth.signInSideTitle1') }}</h4>-->
                                    <!--                                    <p>{{ // $t('auth.signInSideMessage1') }}</p>-->
                                </SwiperSlide>
                                <SwiperSlide class="item">
                                    <img :src="img2" class="img-fluid mb-4" alt="logo">
                                    <!--                                    <h4 class="mb-1 text-white">{{ $t('auth.signInSideTitle2') }}</h4>-->
                                    <!--                                    <p>{{ $t('auth.signInSideMessage2') }}</p>-->
                                </SwiperSlide>
                            </Swiper>
                        </div>
                    </div>
                </div>
            </b-container>
        </section>
    </div>
</template>
<script>
import img1 from '../../assets/images/login/mission-statement.png'
import img2 from '../../assets/images/login/sign-in-2.jpeg'
import {core} from '../../config/pluginInit'
import bgImage from '../../assets/images/login/login-2.jpg'
import Swiper from '../../components/core/slider/Swiper'
import SwiperSlide from '../../components/core/slider/SwiperSlide'

export default {
    name: 'AuthLayout',
    components: {
        Swiper,
        SwiperSlide
    },
    mounted() {
        core.index()
    },
    data() {
        return {
            options: {
                slidesPerView: 1,
                loop: true
            },
            img1: img1,
            img2: img1,
            bgImageURL: bgImage
        }
    }
}
</script>
<style scoped>
@import url("../../assets/css/custom.css");
</style>
