<template>
<div>
  <footer class="iq-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><RouterLink :to="{ name: 'agb-page' }">Privacy Policy</RouterLink></li>
            <li class="list-inline-item"><RouterLink :to="{ name: 'agb-page' }">Terms of Use</RouterLink></li>
          </ul>
        </div>
        <div class="col-lg-6 text-right">
          Copyright 2021 <RouterLink :to="{ name: 'impressum' }">{{ appName }}</RouterLink> All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</div>
</template>
<script>
import { APPNAME } from '../../config/pluginInit'
export default {
  name: 'LayoutFooter',
  components: {
  },
  data () {
    return {
      appName: APPNAME
    }
  }
}
</script>
