<template>
    <div>
        <main>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <!--            <div class="uk-section col-12">-->
                    <!--                <div class="uk-container">-->
                    <!--                    <div class="uk-grid">-->
                    <!--                        <div class="uk-width-1-1 in-content-10">-->
                    <!--                            <div-->
                    <!--                                class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">-->
                    <!--                                <div class="uk-grid uk-flex uk-flex-center">-->
                    <!--                                    <div class="uk-width-3-7@m uk-text-center">-->
                    <!--                                        <h2 class="uk-margin-small-top font-weight-bold text-black pb-1">-->
                    <!--                                            Traderista - (AGB)</h2>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--            </div>-->

                    <div class="">
                        <div class="uk-container">
                            <div class="uk-grid uk-flex uk-flex-center in-blog-1">
                                <div class="uk-width-3-8@m uk-width-3-6">
                                    <article class="uk-card uk-card-default uk-border-rounded">
                                        <div class="uk-card-body">
                                            <p class="uk-dropcap">Diese allgemeinen Geschäftsbedingungen gelten für die
                                                Geschäftsbeziehung zwischen der Traderista Trading Service UG (nachfolgend
                                                Traderista) und dem Kunden in ihrer zum Zeitpunkt einer Bestellung oder dem
                                                Abschließen eines Abonnements gültigen Fassung.

                                                Traderista bietet auf ihren Webseiten und Webshop viele verschiedene
                                                Börseninformationen, Marktanalysen, Trading-Signalservices, Newsletter, finanz-
                                                und wirtschaftsbezogene Lerninhalte, Produkte und Webinare an. Diese werden
                                                zusammengefasst im Folgenden als "Inhalte", "Produkte" oder "Abonnements"
                                                bezeichnet. Registrierte und nicht-registrierte Nutzer können entsprechend ihrer
                                                Zugangsmöglichkeiten die jeweiligen Inhalte entgeltlich oder unentgeltlich
                                                nutzen. Informationen zu diesen Angeboten finden sich regelmäßig in den
                                                Preislisten von Traderista.
                                            </p>
                                            <br>
                                            <p>Vertragsschluss:</p>
                                            <p>Folgende Bedingungen sind für den Nutzer verbindlich, sobald er ihnen
                                                (beispielsweise durch Anklicken der entsprechenden Checkbox) zugestimmt hat.
                                            </p>
                                            <ul class="uk-list uk-list-decimal">
                                                <li><h6 class="line-height-17 pb-3">Registrierung einer kostenlosen
                                                    Mitgliedschaft (Free Member):</h6>
                                                    Die Nutzung einiger Inhalte auf der Plattform von Traderista erfordert
                                                    mindestens eine kostenlose Mitgliedschaft. Die Registrierung sowie Nutzung
                                                    eines solchen Online-Kundenkontos als Free Member sind kostenfrei, sofern
                                                    nicht anders festgelegt.
                                                    Die Registrierung ist nur für solche Personen möglich, die das 18.
                                                    Lebensjahr vollendet und nach deutschem Recht unbeschränkt geschäftsfähig
                                                    sind. Die Nutzung eines Kontos als Free Member ist nur möglich, wenn der
                                                    Nutzer den allgemeinen Geschäftsbedingungen sowie den
                                                    Datenschutzbestimmungen explizit zustimmt.
                                                    Bei der Registrierung für ein Konto als Free Member wird nach Angabe aller
                                                    Daten automatisch eine Aktivierungs-E-Mail an den Nutzer bzw. die von ihm
                                                    angegebene E-Mail-Adresse versandt. Diese enthält einen Registrierungslink,
                                                    durch deren Anklicken der Nutzer seine Registrierung bestätigen und
                                                    abschließen kann. Er erhält anschließend eine Bestätigungs-Email und der
                                                    Nutzungsvertrag zwischen Traderista und dem Nutzer als Free Member ist
                                                    abgeschlossen. Damit hat der Nutzer Zugriff auf alle im kostenlosen Bereich
                                                    zugänglichen Inhalte.
                                                    Sollte der Nutzer die Registrierung innerhalb von 14 Tagen nach Übersendung
                                                    der Aktivierungs-E-Mail nicht durch Anklicken des Registrierungslinks
                                                    abgeschlossen haben, wird die Registrierung seitens Traderista ohne Kosten
                                                    für den potentiellen Nutzer storniert.
                                                    Potentielle Nutzer können keinen rechtlichen Anspruch auf Registrierung
                                                    erheben. Traderista kann jederzeit die Nutzung seiner Portale für bestimmte
                                                    Nutzer ohne Angabe von Gründen verweigern. In diesem Fall wird dem
                                                    potentiellen Nutzer innerhalb von 14 Tagen nach seinem Antrag auf
                                                    Registrierung eine Ablehnung an die angegebene E-Mail-Adresse gesandt.
                                                    <ul class="pl-0">
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Nutzung der
                                                            kostenpflichtigen
                                                            Inhalte</h6>
                                                            Die Nutzung zusätzlicher Inhalte, die über eine Nutzung als Free
                                                            Member
                                                            hinausgehen, bedürfen des Abschlusses eines kostenpflichtigen
                                                            Kaufvertrages.
                                                            Diese Inhalte werden in Form einzelner Produkte (einmaliger
                                                            Kaufpreis) oder
                                                            in Form eines Abonnements (Kaufpreis in regelmäßigen
                                                            Zeitintervallen, z.B.
                                                            monatlich) zur Verfügung gestellt. Die Zahlungsabwicklung und der
                                                            Bestellprozess können dabei auch über Drittanbieter (z.B.
                                                            Digistore24)
                                                            abgewickelt werden.
                                                            Die Darstellung einzelner Produkte und Inhalte auf der Webseite von
                                                            Traderista stellt eine unverbindliche Aufforderung an den Nutzer zur
                                                            Abgabe
                                                            eines Angebots dar, welches er durch das Anklicken des Buttons
                                                            "Jetzt
                                                            kostenpflichtig bestellen" abgibt.
                                                            Die Aufgabe einer Bestellung von Abonnements, Produkten und anderen
                                                            zahlungspflichtigen Inhalten stellt lediglich ein Angebot des
                                                            potentiellen
                                                            Kunden an Traderista dar, was noch nicht dem Abschluss eines
                                                            Kaufvertrages
                                                            entspricht. Die nachfolgende E-Mail von Traderista dient hierbei der
                                                            Bestätigung des Eingangs dieses Angebots (Bestellbestätigung). Sie
                                                            informiert den möglichen Kunden lediglich darüber, dass das Angebot
                                                            eingegangen ist. Ein gültiger Kaufvertrag kommt erst mit der
                                                            ausdrücklichen
                                                            Annahme oder der Lieferung/ Erbringung der Dienstleistung sowohl
                                                            durch
                                                            Traderista als auch des Drittanbieters zustande.
                                                            Traderista behält sich jederzeit vor, die Angebote zu Inhalten auf
                                                            der
                                                            Webseite zu entfernen, zu ersetzen sowie Änderungen an den Preisen,
                                                            Eigenschaften und Bestandteilen der Produkte sowie weiterer
                                                            Bedingungen
                                                            vorzunehmen. Die Vereinbarungen bereits bestehender Verträge bleiben
                                                            dadurch
                                                            unberührt.
                                                            Traderista richtet sich mit seinem Angebot ausschließlich an
                                                            volljährige
                                                            Personen, weshalb Vertragsabschlüsse auch nur mit diesen gültig
                                                            vollzogen
                                                            werden. Sollten minderjährige Personen einen Kaufvertrag durch
                                                            falsche
                                                            Angaben (insb. des Alters) erwirkt haben, ist dieser von Anfang an
                                                            nichtig.
                                                            Neukunden können bei einer Bestellung dazu aufgefordert werden, sich
                                                            durch
                                                            eine Authentifizierung per Eingabe eines zugesandten SMS-Codes als
                                                            natürliche Person zu identifizieren. Traderista behält sich das
                                                            Recht vor,
                                                            bei erfolglosen Authentifizierungsprozessen die Registrierung und
                                                            damit die
                                                            Bestellung ohne Angabe weiterer Gründe abzulehnen. Eine solche
                                                            Ablehnung
                                                            wird dem Antragsteller spätestens 14 Tage nach Abgabe seines
                                                            Angebots
                                                            mitgeteilt.

                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Vertragssprache und
                                                            -text</h6>
                                                            Sollte Traderista Teile dieser Vertragstexte in andere Sprachen
                                                            übersetzen,
                                                            so sind diese übersetzten Texte keine Vertragsbestandteile. Zudem
                                                            richtet
                                                            sich das Angebot von Traderista ausdrücklich nicht an US-Personen im
                                                            Sinne
                                                            der Regulation S des US Securities Act von 1933 sowie
                                                            Internet-Nutzer in
                                                            Großbritannien, Nordirland, Kanada und Japan.
                                                            Dem Nutzer werden bei Bestätigungen per E-Mail auch die für den
                                                            entsprechenden Vertrag gültigen Nutzungsbedingungen und AGB
                                                            zugesandt. Diese
                                                            werden von Traderista nach späteren Änderungen nicht gespeichert
                                                            und/ oder
                                                            für den Nutzer/ Kunden im Internet zugänglich gemacht. Die
                                                            geschlossenen
                                                            Verträge zwischen Traderista und dem Kunden/ Nutzer folgt daher aus
                                                            den per
                                                            E-Mail zugesandten Nutzungsbedingungen, AGB und Verträgen. Spätere
                                                            Änderungen der AGB und Nutzungsbedingungen können von Traderista
                                                            vorgenommen
                                                            werden. Außerdem behält sich Traderista das Recht vor, diese AGB
                                                            regelmäßig
                                                            zu aktualisieren und im Rahmen der gesetzlichen Vorschriften
                                                            anzupassen. In
                                                            einem solchen Fall werden diese dem Kunden/ Nutzer per Mail
                                                            zugesandt.

                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Preise</h6>
                                                    Die angegebenen Preise auf der Webseite, insbesondere der Preisliste von
                                                    Traderista zum Zeitpunkt des Vertragsschlusses gelten für die gültigen
                                                    Verträge. Die Preise sind inkl. Umsatzsteuer und weiterer Nebenkosten.
                                                    Der einmalige oder fortlaufende Kaufpreis für das Beziehen eines Abonnements
                                                    ist solcher, der in der Beschreibung des jeweiligen Produkts zu finden ist.
                                                    Traderista behält sich vor, die Preise für Abonnements jederzeit zu erhöhen,
                                                    wobei der Kunde hierüber mindestens 6 Wochen zuvor per E-Mail darüber
                                                    informiert werden muss. In diesem Fall hat er das Recht zur Kündigung seines
                                                    Abonnements bis zu einem Monat nach Zugang der Mitteilung über die
                                                    Preiserhöhung, sollte die Preiserhöhung höher sein als 5%. Preiserhöhungen
                                                    sind grundsätzlich bedingt durch erhöhte Kosten innerhalb des Unternehmens
                                                    zur Erstellung der Produkte/ Dienstleistungen, z.B. durch erhöhten
                                                    technischen oder personellen Aufwand.
                                                    Seine Kündigung vollzieht der Kunde durch eine Kündigung in Textform an
                                                    Traderista per E-Mail oder Nachricht an den Kundenservice. Nach Ablauf der
                                                    oben genannten außerordentlichen Kündigungsfrist geht Traderista von einem
                                                    Einverständnis des höheren Preises aus und es gelten anschließend wieder die
                                                    ordentlichen Kündigungsfristen.
                                                    Eine Preiserhöhung, die durch gesetzliche Bestimmungen, wie z.B. einer
                                                    Umsatzsteuererhöhung, zustande kommt, ist von den vorstehenden
                                                    außerordentlichen Kündigungsmöglichkeiten unberührt, insofern der neue
                                                    Gesamtpreis die prozentuale Steuererhöhung zzgl. 5% nicht überschreitet.
                                                </li>
                                                <li><h6 class="line-height-17 pb-3">Leistungen:</h6>
                                                    Alle Leistungen von Traderista sind in der jeweiligen Artikelbeschreibung zu
                                                    finden.
                                                    <ul class="pl-0">
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Kostenpflichtige
                                                            Leistungen</h6>
                                                            Traderista kann diese Informations- oder Dienstleistungen jederzeit
                                                            beliebig erweitern, soweit dem Kunden hierdurch ausschließlich
                                                            Vorteile entstehen. Die notwendigen technischen Voraussetzungen zur
                                                            Nutzung der Leistungen sind vom Kunden bereitzustellen.
                                                            Beim Versand oder Bereitstellung von Newslettern, der Leistung aus
                                                            Abonnements und weiteren Leistungen kann aufgrund der technischen
                                                            Abhängigkeit von Drittanbietern keine Garantie für die fehlerfreie
                                                            Zustellung übernommen werden. Traderista übernimmt keine Haftung für
                                                            fehlerhaften Versand und technische Ausfälle.
                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Newsletter und
                                                            kostenlose Inhalte</h6>
                                                            Der Nutzer hat die Möglichkeit, sich für verschiedene Newsletter und
                                                            Zusendung von bestimmten Inhalten zu registrieren. Zum Versand wird
                                                            die vom Nutzer angegebene E-Mail-Adresse verwendet. Der Versand
                                                            solcher Inhalte und Newsletter erfolgt nur, wenn der Nutzer der
                                                            Zusendung ausdrücklich eingewilligt hat.
                                                            Neben den Inhalten und Informationen können die Newsletter und Mails
                                                            auch Werbung von Traderista oder Dritten enthalten. Diesem stimmt
                                                            der Nutzer durch Anklicken einer entsprechenden Checkbox "Ich
                                                            erlaube der Traderista UG, mir Werbung Dritter in den Newslettern
                                                            zukommen zu lassen" ausdrücklich zu. Näheres hierzu ist in der
                                                            Datenschutzerklärung nachzulesen.
                                                            Jeder Newsletter enthält einen Link, über den der Nutzer sich von
                                                            dem Erhalt entsprechender Mails und Newsletter abmelden kann.
                                                            Sollten hierbei technische Probleme auftreten, so steht ihm
                                                            jederzeit der Kundenservice von Traderista unter der E-Mail-Adresse
                                                            info@traderista.com zur technischen Unterstützung bei der Abmeldung
                                                            zur Verfügung.
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Abonnementswechsel</h6>
                                                    Ein Abonnementwechsel ist erst nach Ablauf des Abrechnungszeitraums möglich.
                                                    Der Wechsel in ein höherpreisiges Abonnement der gleichen Kategorie ist
                                                    jederzeit möglich.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Pflichten des Kunden</h6>
                                                    Der Kunde verpflichtet sich zur wahrheitsgemäßen und vollständigen Angabe
                                                    aller zur Bestellung erforderlichen Daten an Traderista oder
                                                    zwischengeschalteten Drittanbietern. Änderungen zu seinen persönlichen Daten
                                                    kann und muss der Kunde im dafür vorgesehenen Profil seines Memberbereichs
                                                    ändern oder Traderista per Mail mitteilen. Für Nachteile des Kunden durch
                                                    nicht ordnungsgemäße Übermittlung oder fehlerhafte Eingabe übernimmt
                                                    Traderista keine Haftung.
                                                    Im Falle des Missbrauchs der Daten durch den Kunden, z.B. durch
                                                    Mehrfachanmeldung oder Weitergabe seiner Zugangsdaten an Dritte, ist
                                                    Traderista berechtigt, die Leistungserbringung gegenüber diesem Nutzer/
                                                    Kunden ganz oder teilweise zu verweigern und den Zugang zu seinem
                                                    Kundenkonto zu sperren. Außerdem ist der Nutzer verpflichtet, den Zugang
                                                    durch Dritte an seinem Kundenkonto zu verhindern, indem er seine
                                                    Zugangsdaten sicher aufbewahrt und nicht schuldhaft weitergibt bzw. Zugang
                                                    zu diesen gewährt.
                                                    Sollte ihm dies nicht gelungen sein, hat er Traderista sofort nach Kenntnis
                                                    darüber zu informieren, wobei ihm die rechtswidrige Angabe von Daten Dritter
                                                    nicht gestattet ist. In diesem Fall sperrt Traderista das Kundenkonto und
                                                    verhindert dadurch die Weitergabe von Inhalten an unberechtigte Dritte. Der
                                                    Nutzer/ Kunde haftet für jede Nutzung dieser Inhalte, die unter seinen
                                                    Zugangsdaten durchgeführt wurde, im Rahmen der gesetzlichen Bestimmungen.
                                                    Sollten dem Kunden keine Informationen zukommen, mit denen er üblicherweise
                                                    rechnen müsste (z.B. Rechnungen oder die erworbene Leistung an sich), so hat
                                                    er hiervon Traderista in Kenntnis zu setzen. Für Nachteile des Kunden durch
                                                    Versäumung dieser Pflicht kann Traderista keine Haftung übernehmen.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Vertragsdauer</h6>
                                                    Die Laufzeiten kann der Kunde der jeweiligen Produktbeschreibung und
                                                    Bestellformularen des abgeschlossenen Abonnements oder erworbenen Produkts
                                                    entnehmen.
                                                    Die unentgeltlichen Leistungen können durch den Nutzer zu jeder Zeit durch
                                                    Abmeldung gekündigt werden, falls für diese zum jeweiligen Zeitpunkt keine
                                                    entgeltlichen Leistungen von ihm beansprucht werden, für die er die
                                                    Zugangsdaten für sein Kundenkonto benötigt. Traderista kann Verträge über
                                                    unentgeltliche Leistungen jederzeit und ohne Angabe von Gründen mit einer
                                                    Frist von 7 Tagen kündigen. Das Recht zur außerordentlichen fristlosen
                                                    Kündigung aus wichtigem Grund bleibt unberührt.
                                                    Für entgeltliche Leistungen gelten die im jeweiligen Vertrag festgelegten
                                                    Vertragslaufzeiten. Bei einer bestimmten Mindestvertragslaufzeit verlängert
                                                    sich der Vertrag nach Ablauf der Mindestvertragslaufzeit jeweils automatisch
                                                    um die vereinbarte Laufzeit, jedoch maximal um ein Jahr. Diese Bestimmung
                                                    tritt nur in Kraft, sofern keine der beiden Parteien den Vertrag unter
                                                    Einhaltung der festgeschriebenen Kündigungsfrist vor Ablauf der
                                                    Mindestvertragslaufzeit bzw. der jeweiligen Verlängerungsperiode in
                                                    Schriftform, Textform oder im Mitgliederbereich kündigt.
                                                    Eine Beendigung von Verträgen vor Ablauf der jeweiligen vertraglich
                                                    festgelegten Mindestlaufzeit ist nicht möglich, wobei sich Traderista
                                                    vorbehält, einer solchen Kündigung im Einzelfall zuzustimmen. Ein
                                                    Rechtsanspruch hierauf besteht jedoch nicht.
                                                    Ist keine Mindestvertragslaufzeit angegeben, so läuft der Vertrag auf
                                                    unbestimmte Zeit und kann von den beteiligten Parteien ordentlich und ohne
                                                    Angabe von Gründen mit einer Frist von einem Monat zum jeweiligen Stichtag
                                                    des Vertrages gekündigt werden.
                                                    Sobald die Kündigung wirksam ist, endet das Vertragsverhältnis und der
                                                    Nutzer hat keinen Zugang mehr zu seinen zuvor zugänglichen Inhalten.
                                                    Traderista behält sich das Recht vor, das Kundenkonto mit Inkrafttreten der
                                                    Kündigung zu sperren.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Kündigungsfristen der
                                                    Abonnements</h6>
                                                    Abonnements können jeweils zum Ende des Rechnungszeitraums gekündigt werden.
                                                    Dies ist in der Regel alle 30 Tage (gemessen am Versand der Zugangsdaten),
                                                    bei Abschluss eines längeren Abonnements (z.B. Jahresabo, bei dem ein
                                                    Preisvorteil gewährt wird) ggf. in längeren Zeitintervallen. Die Kündigung
                                                    kann der Kunde jederzeit per Mail oder Post an Traderista richten. Hierbei
                                                    zählt das Datum des Eingangs beim Kundenservice. Bevorzugt kann der Kunde
                                                    seine Kündigung im Mitgliederbereich aussprechen, wobei er mit einem
                                                    sofortigen Zugang bei Traderista rechnen kann. Traderist bestätigt den
                                                    Eingang der Kündigung umgehend.
                                                    Jedes Abonnement läuft grundsätzlich so lange weiter, bis der Kunde eine
                                                    Kündigung ausspricht. Lediglich ausdrücklich befristete Abonnements enden
                                                    mit dem vereinbarten Vertragsende. Ausnahmen hierzu stellen gesonderte
                                                    Vereinbarungen dar, die zuvor oder anschließend in Textform zwischen dem
                                                    Kunden und Traderista vereinbart wurden. Bei vorzeitiger Kündigung eines
                                                    solchen Abonnements mit festgelegter Laufzeit hat der Kunde seinen
                                                    Zahlungsverpflichtungen bis zum Ende dieses Zeitraums nachzukommen.
                                                    Traderista behält sich vor, diese Verpflichtung jederzeit aufzuheben. Ein
                                                    Anspruch des Kunden hierauf besteht nicht.
                                                </li>
                                                <li><h6 class="line-height-17 pb-3">Widerruf – Widerrufsbelehrungen</h6>
                                                    Ist der Nutzer ein Verbraucher, das heißt eine natürliche Person, die den
                                                    Vertrag zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch
                                                    ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (vgl. §
                                                    13 BGB), gilt je nach Art der von Traderista erbrachten Leistungen ggf. ein
                                                    gesetzliches Widerrufsrecht, über das Traderista wie folgt belehrt:
                                                    <ul class="pl-0">
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Widerrufsbelehrung
                                                            bei Verträgen über Dienstleistungen
                                                            <br><br>Widerrufsbelehrung
                                                            <br>Widerrufsrecht
                                                        </h6>
                                                            Sie haben das Recht, binnen 14 Tagen ohne Angabe von Gründen diesen
                                                            Vertrag zu widerrufen. Die Widerrufsfrist beträgt 14 Tage ab dem Tag
                                                            des Vertragsabschlusses. Um Ihr Widerrufsrecht auszuüben, müssen Sie
                                                            uns,
                                                            <div class="bs-docs-section m-t-25">
                                                                <address>
                                                                    <strong>Traderista Trading Service UG</strong><br>
                                                                    Corrensstr. 7<br>
                                                                    48149 Münster<br>
                                                                    <abbr title="Telefonnummer">Tel.</abbr> 025197313360<br>
                                                                    <abbr title="Email-Adresse">Email</abbr> <a
                                                                    href="mailto:info@traderista.com">info@traderista.com</a>
                                                                </address>
                                                            </div>
                                                            <br>
                                                            mittels einer eindeutigen Erklärung (z. B. ein mit der Post
                                                            versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag
                                                            zu widerrufen, informieren. Sie können dafür das beigefügte
                                                            Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben
                                                            ist.
                                                            Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die
                                                            Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der
                                                            Widerrufsfrist absenden.
                                                            <h6 class="line-height-17 m-t-25">Folgen des Widerrufs</h6>
                                                            Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen,
                                                            die wir von Ihnen erhalten haben, unverzüglich und spätestens binnen
                                                            14 Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren
                                                            Widerruf dieses Vertrags bei uns eingegangen ist. Für diese
                                                            Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der
                                                            ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen
                                                            wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden
                                                            Ihnen wegen dieser Rückzahlung Entgelte berechnet.

                                                            Haben Sie verlangt, dass die Dienstleistung während der
                                                            Widerrufsfrist beginnen soll, so haben Sie uns einen angemessenen
                                                            Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem
                                                            Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses
                                                            Vertrags unterrichtet haben, bereits erbrachten Dienstleistungen im
                                                            Vergleich zum Gesamtumfang der im Vertrag vorgesehenen
                                                            Dienstleistungen entspricht. Ein Musterwiderrufsformular liegt dem
                                                            Nutzer zum Download als PDF-Datei bereit.

                                                            <h6 class="line-height-17 m-t-25">Vorzeitiges Erlöschen des
                                                                Widerrufsrechts</h6>
                                                            Bei einem Vertrag zur Erbringung von Dienstleistungen, erlischt Ihr
                                                            Widerrufsrecht vorzeitig, wenn Traderista die Dienstleistung
                                                            vollständig erbracht hat und mit der Ausführung der Dienstleistung
                                                            erst begonnen hat, nachdem Sie dazu Ihre ausdrückliche Zustimmung
                                                            gegeben haben und bestätigt haben, dass Ihnen bekannt ist, dass Sie
                                                            Ihr Widerrufsrecht mit vollständiger Vertragserfüllung durch die
                                                            Traderista Trading Service UG verlieren.
                                                            <h6 class="line-height-17 m-t-25">Nichtbestehen des
                                                                Widerrufrechts</h6>
                                                            Das Widerrufsrecht besteht gem. § 312g Abs. 2 Nr. 9 BGB nicht bei
                                                            Dienstleistungen im Zusammenhang mit Freizeitbetätigungen, wenn der
                                                            Vertrag für die Erbringung einen spezifischen Termin oder Zeitraum
                                                            vorsieht (z.B. bei Tickets für Vortragsveranstaltungen, die zu einem
                                                            bestimmten Termin oder innerhalb eines bestimmten Zeitraums erbracht
                                                            werden).
                                                        </li>

                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Widerrufsbelehrung
                                                            bei Verträgen über die Lieferung von digitalen Inhalten
                                                            <br><br>Widerrufsbelehrung
                                                            <br>Widerrufsrecht
                                                        </h6>
                                                            Sie haben das Recht, binnen 14 Tagen ohne Angabe von Gründen diesen
                                                            Vertrag zu widerrufen. Die Widerrufsfrist beträgt 14 Tage ab dem Tag
                                                            des Vertragsabschlusses. Um Ihr Widerrufsrecht auszuüben, müssen Sie
                                                            uns,
                                                            <div class="bs-docs-section m-t-25">
                                                                <address>
                                                                    <strong>Traderista Trading Service UG</strong><br>
                                                                    Corrensstr. 7<br>
                                                                    48149 Münster<br>
                                                                    <abbr title="Telefonnummer">Tel.</abbr> 025197313360<br>
                                                                    <abbr title="Email-Adresse">Email</abbr> <a
                                                                    href="mailto:info@traderista.com">info@traderista.com</a>
                                                                </address>
                                                            </div>
                                                            <br>
                                                            mittels einer eindeutigen Erklärung (z. B. ein mit der Post
                                                            versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag
                                                            zu widerrufen, informieren. Sie können dafür das beigefügte
                                                            Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben
                                                            ist.
                                                            Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die
                                                            Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der
                                                            Widerrufsfrist absenden.
                                                            <h6 class="line-height-17 m-t-25">Folgen des Widerrufs</h6>

                                                            Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen,
                                                            die wir von Ihnen erhalten haben, unverzüglich und spätestens binnen
                                                            14 Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren
                                                            Widerruf dieses Vertrags bei uns eingegangen ist. Für diese
                                                            Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der
                                                            ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen
                                                            wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden
                                                            Ihnen wegen dieser Rückzahlung Entgelte berechnet.
                                                            <h6 class="line-height-17 m-t-25">Besondere Hinweise
                                                            </h6>
                                                            Haben Sie verlangt, dass die Dienstleistung während der
                                                            Widerrufsfrist beginnen soll, so haben Sie uns einen angemessenen
                                                            Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem
                                                            Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses
                                                            Vertrags unterrichtet haben, bereits erbrachten Dienstleistungen im
                                                            Vergleich zum Gesamtumfang des im Vertrag vorgesehenen
                                                            Dienstleistungen entspricht. Ein Musterwiderrufsformular liegt dem
                                                            Nutzer zum Download als PDF-Datei bereit.
                                                            <h6 class="line-height-17 m-t-25">Vorzeitiges Erlöschen des
                                                                Widerrufsrechts
                                                            </h6>
                                                            Bei der Bestellung von digitalen Inhalten erlischt Ihr
                                                            Widerrufsrecht vorzeitig, sofern Sie bei der Bestellung ausdrücklich
                                                            zustimmen, dass vor Ablauf der Widerrufsfrist mit der Ausführung des
                                                            Vertrages begonnen wird und dass Ihnen bekannt ist, dass Sie durch
                                                            diese Zustimmung mit Beginn der Ausführung dieses Vertrages Ihr
                                                            Widerrufsrecht verlieren.

                                                            <h6 class="line-height-17 m-t-25">Muster-Widerrufsformular
                                                            </h6>
                                                            (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte
                                                            dieses Formular aus und senden Sie es zurück.)
                                                            <div class="bs-docs-section m-t-25">
                                                                <address>
                                                                    <strong>Traderista Trading Service UG</strong><br>
                                                                    Corrensstr. 7<br>
                                                                    48149 Münster<br>
                                                                    <abbr title="Telefonnummer">Tel.</abbr> 025197313360<br>
                                                                    <abbr title="Email-Adresse">Email</abbr> <a
                                                                    href="mailto:info@traderista.com">info@traderista.com</a><br>
                                                                    <strong>Hiermit widerrufe(n) ich*/wir* den von mir*/uns*
                                                                        abgeschlossenen Vertrag über den Kauf der folgenden
                                                                        Waren*/die Erbringung der folgenden
                                                                        Dienstleistung*:</strong>
                                                                    <br><br><strong>Bestellt am*/erhalten am*:</strong>
                                                                    <br><br><strong>Name des/der Verbraucher(s):</strong>
                                                                    <br><br><strong>Anschrift des/der Verbraucher(s):</strong>
                                                                    <br><br><strong>Unterschrift des/der Verbraucher(s) (nur bei
                                                                    Mitteilung auf Papier):</strong>
                                                                    <br><br><strong>Datum:</strong>
                                                                </address>
                                                                <h6 class="line-height-17 m-t-20">* Unzutreffendes bitte
                                                                    streichen</h6>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Einlösen von Gutscheinen</h6>
                                                    Traderista bietet in unregelmäßigen Abständen Aktionsgutscheine an. Als
                                                    Aktionsgutscheine werden alle Gutscheine verstanden, die nicht käuflich
                                                    erworben werden können und die im Rahmen von Werbemaßnahmen mit einer
                                                    bestimmten Gültigkeitsdauer schenkweise ausgegeben werden.

                                                    <br><br>Diese Aktionsgutscheine sind ausschließlich für die auf dem
                                                    Gutschein
                                                    angegebenen Produkte, nur im angegebenen Zeitraum und ausschließlich über
                                                    den regulären Bestellprozess von Traderista oder ausgewiesenen Partnern wie
                                                    bspw. Digistore24 einlösbar. Es besteht kein Anspruch auf eine nachträgliche
                                                    Einlösung. Aktionsgutscheine sind nicht übertragbar.

                                                    <br><br>Vorbehaltlich anderer Bestimmung auf dem Aktionsgutschein selbst,
                                                    muss der
                                                    Warenwert mindestens dem Betrag des Aktionsgutscheins entsprechen. Etwaige
                                                    Restguthaben können grundsätzlich nicht verrechnet werden. Der
                                                    Aktionsgutschein ist nicht auf Dritte übertragbar und kann, so nicht
                                                    explizit anders vermerkt, nur von Verbrauchern i.S. von § 13 BGB eingelöst
                                                    werden.

                                                    <br><br>Aktionsgutscheine können ausschließlich vor Abschluss der Bestellung
                                                    und
                                                    einmalig eingelöst werden. Sie können nicht nachträglich verrechnet werden.
                                                    Sie können darüber hinaus auch nicht mit anderen Gutscheinen kombiniert oder
                                                    mit bestehenden Angeboten verrechnet werden.

                                                    <br><br>Eine Erstattung eines Aktionsgutscheines im Falle eines Widerrufs
                                                    ist
                                                    grundsätzlich nicht möglich. Traderista behält es sich zudem vor, Kunden mit
                                                    ausstehenden Forderungen gegenüber Traderista von Gutscheinaktionen
                                                    auszuschließen.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Rechnungsstellung,
                                                    Fälligkeit</h6>
                                                    Die Abonnementgebühren sowie alle Kaufpreise sind grundsätzlich im Voraus
                                                    fällig und werden vom Drittanbieter Digistore24 in der ausgewählten
                                                    Zahlungsart abgebucht bzw. eingefordert. Die Abrechnung der Abonnements
                                                    erfolgt jeweils nach dem Ende der Testphase für den vereinbarten
                                                    Bezugszeitraum. Sofern nichts anderes vereinbart, ist dies monatlich, kann
                                                    jedoch bei Abschluss eines entsprechenden Pakets auch in längeren
                                                    Zeitintervallen erfolgen, was in der Regel mit einem günstigeren Preis
                                                    einhergeht.

                                                    <br><br>Die Zahlung hat rechtzeitig an den Drittanbieter Digistore24 zu
                                                    erfolgen.
                                                    Jeglicher Verzug durch mangelhafte Kontodeckung des Kunden oder Ähnlichem
                                                    wird von Digistore24 an Traderista inkl. Bearbeitungsgebühren weitergegeben.
                                                    Diese Gebühren gibt Traderista wiederum in voller Höhe zzgl. einer
                                                    Bearbeitungsgebühr gemäß Preisliste an den Kunden weiter. Diese sind in der
                                                    Regel dann auf das Konto von Traderista per Überweisung zu zahlen. Die
                                                    entsprechende Bankverbindung wird in einem solchen Fall auf der Rechnung/
                                                    Mahnung angegeben.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Rechnungsstellung,
                                                    Fälligkeit</h6>
                                                    Die Abonnementgebühren sowie alle Kaufpreise sind grundsätzlich im Voraus
                                                    fällig und werden vom Drittanbieter Digistore24 in der ausgewählten
                                                    Zahlungsart abgebucht bzw. eingefordert. Die Abrechnung der Abonnements
                                                    erfolgt jeweils nach dem Ende der Testphase für den vereinbarten
                                                    Bezugszeitraum. Sofern nichts anderes vereinbart, ist dies monatlich, kann
                                                    jedoch bei Abschluss eines entsprechenden Pakets auch in längeren
                                                    Zeitintervallen erfolgen, was in der Regel mit einem günstigeren Preis
                                                    einhergeht.

                                                    <br><br>Die Zahlung hat rechtzeitig an den Drittanbieter Digistore24 zu
                                                    erfolgen.
                                                    Jeglicher Verzug durch mangelhafte Kontodeckung des Kunden oder Ähnlichem
                                                    wird von Digistore24 an Traderista inkl. Bearbeitungsgebühren weitergegeben.
                                                    Diese Gebühren gibt Traderista wiederum in voller Höhe zzgl. einer
                                                    Bearbeitungsgebühr gemäß Preisliste an den Kunden weiter. Diese sind in der
                                                    Regel dann auf das Konto von Traderista per Überweisung zu zahlen. Die
                                                    entsprechende Bankverbindung wird in einem solchen Fall auf der Rechnung/
                                                    Mahnung angegeben.
                                                </li>
                                                <li><h6 class="line-height-17 pb-3">Verzug</h6>
                                                    Der Nutzer kommt mit Ablauf der Zahlungsfrist in Verzug. Soweit nachfolgend
                                                    nichts anderes bestimmt, gelten die gesetzlichen Verzugsregelungen.
                                                    <ul class="pl-0">
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">
                                                            Leistungsverweigerungsrecht</h6>
                                                            Im Falle des Zahlungsverzuges des Nutzers ist Traderista u.a. dazu
                                                            berechtigt, die Erbringung der Traderista vertraglich obliegenden
                                                            Leistungen zurückzubehalten, insbesondere den Versand von
                                                            Newslettern und Börsenbriefen einzustellen sowie den Zugang zu
                                                            kostenpflichtigen Leistungen zu sperren. Ein Zahlungsverzug liegt
                                                            insbesondere vor, wenn das fällige Entgelt trotz Mahnung mehr als 6
                                                            Tage nach der vereinbarten Zahlungsfrist nicht bei Traderista
                                                            eingegangen ist. Bei einem Zahlungsverzug trotz Mahnung von mehr als
                                                            10 Tagen nach Ende der vereinbarten Zahlungsfrist ist Traderista
                                                            zusätzlich berechtigt, das vollständige Online-Kundenkonto des
                                                            Nutzers solange zu sperren, bis alle offenen Forderungen beglichen
                                                            sind. Im Falle von Seminaren/Online-Seminaren bedeutet dies, dass es
                                                            dem Nutzer verwehrt wird, am Seminar/Online-Seminar teilzunehmen.
                                                            Nach Ausgleich der offenstehenden Forderungen wird die Leistung
                                                            wieder aufgenommen bzw. der Zugang wieder geöffnet. Weitere und
                                                            weitergehende Ansprüche, insbesondere der Ersatz von Verzugsschäden
                                                            und der Schäden aufgrund etwaiger außergerichtlicher
                                                            Rechtsverfolgung, behält sich Traderista ebenso vor wie die
                                                            Erklärung einer außerordentlichen Kündigung, sollten die
                                                            gesetzlichen Voraussetzungen vorliegen.
                                                            <br><br>
                                                            Bei Zahlungsverzug sind auch die noch nicht fälligen
                                                            Rechnungsbeträge sofort zahlbar, sofern der Verzug die Folge einer
                                                            schwerwiegenden Vertragsverletzung des Nutzers ist.
                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">
                                                            Geltendmachung von Verzugszinsen</h6>
                                                            Kommt der Nutzer in Zahlungsverzug, so ist Traderista berechtigt,
                                                            Verzugszinsen in Höhe von 5 Prozent über dem von der Europäischen
                                                            Zentralbank bekannt gegebenen Basiszinssatz p.a. zu fordern. Falls
                                                            Traderista ein höherer Verzugsschaden nachweisbar entstanden ist,
                                                            ist Traderista berechtigt, diesen geltend zu machen. Dem Nutzer
                                                            bleibt es unbenommen, einen ggf. geringeren Schaden nachzuweisen.
                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Geltendmachung von
                                                            Mahngebühren</h6>
                                                            Bei erfolgter Mahnung werden Mahngebühren in Höhe von 3 Euro pro
                                                            Mahnung berechnet und sofort fällig. Zusätzlich werden
                                                            möglicherweise durch Drittanbieter entstandene Gebühren an den
                                                            Kunden weitergereicht, die durch den Verzug entstanden sind. Dem
                                                            Nutzer steht es frei, nachzuweisen, dass Traderista durch die
                                                            Mahnung kein oder ein geringerer als der vorgenannte pauschalierte
                                                            Schaden entstanden ist.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Aufrechnung,
                                                    Zurückbehaltung</h6>
                                                    Ein Recht zur Aufrechnung steht dem Kunden nur zu, wenn seine Gegenansprüche
                                                    rechtskräftig festgestellt oder von Traderista anerkannt sind. Außerdem ist
                                                    er zur Ausübung eines Zurückbehaltungsrechts nur insoweit befugt, als sein
                                                    Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Gewährleistung – Rechte bei
                                                    Mängeln</h6>
                                                    Bezüglich kostenpflichtiger Leistungen stehen dem Nutzer grundsätzlich die
                                                    gesetzlichen Gewährleistungsrechte zu.
                                                </li>
                                                <li><h6 class="line-height-17 pb-3">Risikohinweise und Haftungsausschluss</h6>
                                                    <ul class="pl-0">
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Haftung für
                                                            Informationen</h6>
                                                            Traderista übernimmt keine Haftung für bereitgestellte
                                                            Handelsanregungen. Diese stellen in keiner Weise einen Aufruf zur
                                                            individuellen oder allgemeinen Nachbildung, auch nicht
                                                            stillschweigend, dar. Handelsanregungen oder anderweitige
                                                            Informationen stellen keine Aufforderung zum Kauf oder Verkauf von
                                                            Wertpapieren oder derivativen Finanzprodukten dar. Eine Haftung für
                                                            mittelbare und unmittelbare Folgen der veröffentlichten Inhalte ist
                                                            somit ausgeschlossen.
                                                            <br><br>Die Redaktion bezieht Informationen aus Quellen, die sie als
                                                            vertrauenswürdig erachtet. Eine Gewähr hinsichtlich Qualität und
                                                            Wahrheitsgehalt dieser Informationen kann gleichwohl nicht
                                                            übernommen werden. Leser, die aufgrund der veröffentlichten Inhalte
                                                            Anlageentscheidungen treffen bzw. Transaktionen durchführen, handeln
                                                            in vollem Umfang auf eigene Gefahr und auf eigenes Risiko.
                                                            <br><br>Traderista übernimmt keine Haftung für die erteilten
                                                            Informationen. Insbesondere weist Traderista hierbei auf die bei
                                                            Geschäften mit CFDs, Optionsscheinen, Derivaten und derivativen
                                                            Finanzinstrumenten besonders hohen Risiken hin. Der Handel mit
                                                            Optionsscheinen bzw. Derivaten ist ein Finanztermingeschäft. Den
                                                            erheblichen Chancen stehen entsprechende Risiken bis hin zum
                                                            Totalverlust gegenüber. Nur Verbraucher, die die gem. § 37d WpHG bei
                                                            Banken und Sparkassen ausliegende Broschüre „Basisinformationen über
                                                            Finanztermingeschäfte“ gelesen und verstanden haben, sowie das
                                                            Formular „Wichtige Information über die Verlustrisiken bei
                                                            Finanztermingeschäften“ gelesen und unterschrieben haben, sind
                                                            berechtigt, am Handel mit Optionsscheinen und sonstigen
                                                            Finanztermingeschäften teilzunehmen. Der Kunde handelt gleichwohl
                                                            auf eigenes Risiko und auf eigene Gefahr.
                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Haftung für
                                                            Erfüllungsgehilfen</h6>
                                                            Traderista haftet bei der Erfüllung ihrer Verpflichtungen für jedes
                                                            Verschulden ihrer Mitarbeiter und der Personen, die sie zur
                                                            Erfüllung ihrer Verpflichtungen hinzuzieht. Hat der Kunde durch ein
                                                            schuldhaftes Verhalten zu der Entstehung eines Schadens beigetragen,
                                                            bestimmt sich nach den Grundsätzen des Mitverschuldens, in welchem
                                                            Umfang Traderista und der Kunde den Schaden zu tragen haben.
                                                        </li>
                                                        <li class="m-t-25"><h6 class="line-height-17 pb-3">Haftung für höhere
                                                            Gewalt</h6>
                                                            Traderista haftet nicht für Schäden, die durch höhere Gewalt,
                                                            Aufruhr, Kriegs- und Naturereignisse oder durch sonstige von ihr
                                                            nicht zu vertretende Vorkommnisse (z.B. Streik, Aussperrung,
                                                            Verkehrsstörung, Verfügungen von hoher Hand im In- oder Ausland)
                                                            oder auf nicht schuldhaft verursachte, technische Störungen (wie
                                                            z.B. das EDV-System oder Webhosting) zurückzuführen sind. Als höhere
                                                            Gewalt gelten auch Computerviren oder vorsätzliche Angriffe auf
                                                            EDV-Systeme durch „Hacker“, sofern jeweils angemessene
                                                            Schutzvorkehrungen hiergegen getroffen wurden.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Haftung für höhere
                                                    Gewalt</h6>
                                                    Traderista haftet nicht für Schäden, die durch höhere Gewalt, Aufruhr,
                                                    Kriegs- und Naturereignisse oder durch sonstige von ihr nicht zu vertretende
                                                    Vorkommnisse (z.B. Streik, Aussperrung, Verkehrsstörung, Verfügungen von
                                                    hoher Hand im In- oder Ausland) oder auf nicht schuldhaft verursachte,
                                                    technische Störungen (wie z.B. das EDV-System oder Webhosting)
                                                    zurückzuführen sind. Als höhere Gewalt gelten auch Computerviren oder
                                                    vorsätzliche Angriffe auf EDV-Systeme durch „Hacker“, sofern jeweils
                                                    angemessene Schutzvorkehrungen hiergegen getroffen wurden.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Datenangabe und
                                                    Datenschutz</h6>
                                                    Der Kunde versichert gegenüber Traderista, alle zur Bestellung
                                                    erforderlichen Daten wahrheitsgemäß und vollständig anzugeben und Traderista
                                                    über etwaige Änderungen zu informieren. Hinsichtlich des Datenschutzes
                                                    finden die gesetzlichen Bestimmungen Anwendung.
                                                    <br><br>Der Kunde erklärt sich ausdrücklich damit einverstanden, dass
                                                    sämtliche zur Erfüllung des Vertrages von ihm angegebenen Daten
                                                    diesbezüglich gespeichert und genutzt werden, sowie an Erfüllungsgehilfen
                                                    weitergegeben werden dürfen. Dabei beachtet Traderista insbesondere die
                                                    Vorschriften des Bundesdatenschutzgesetzes, der Datenschutz-Grundverordnung
                                                    (DSGVO) und des Telemediendienstes.
                                                    <br><br>Des Weiteren gilt diesbezüglich die allgemeine Datenschutzerklärung
                                                    von Traderista, die unter www.traderista.de/datenschutz abgerufen werden
                                                    kann.
                                                </li>

                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Risikohinweis</h6>
                                                    Die Informationen und Services auf den Portalen von Traderista wenden sich
                                                    an registrierte sowie nichtregistrierte Nutzer. Die Angebote, die der Nutzer
                                                    auf den Portalen von Traderista findet, richten sich jedoch ausdrücklich
                                                    nicht an Personen in Ländern, die das Vorhalten bzw. den Aufruf der darin
                                                    eingestellten Inhalte untersagen, insbesondere nicht an US-Personen im Sinne
                                                    der Regulation S des US Securities Act von 1933 sowie Internet-Nutzer in
                                                    Großbritannien, Nordirland, Kanada und Japan. Jeder Nutzer ist selbst
                                                    verantwortlich, sich über etwaige Beschränkungen vor Aufruf der Portale zu
                                                    informieren und diese einzuhalten.
                                                    <br><br>Insbesondere weist Traderista hierbei auf die bei Geschäften mit
                                                    CFDs, Optionsscheinen, Derivaten und derivativen Finanzinstrumenten
                                                    besonders hohen Risiken hin. Der Handel mit Optionsscheinen bzw. Derivaten
                                                    ist ein Finanztermingeschäft. Den erheblichen Chancen stehen entsprechende
                                                    Risiken gegenüber, die nicht nur einen Totalverlust des eingesetzten
                                                    Kapitals, sondern darüber hinausgehende Verluste nach sich ziehen können.
                                                    Aus diesem Grund setzt diese Art von Geschäften vertiefte Kenntnisse in
                                                    Bezug auf diese Finanzprodukte, die Wertpapiermärkte,
                                                    Wertpapierhandelstechniken und -strategien voraus.

                                                    <br><br>Soweit Traderista Börsen- oder Wirtschaftsinformationen, Kurse,
                                                    Indizes, Preise, Nachrichten, Marktdaten sowie sonstige allgemeine
                                                    Marktinformationen auf ihren Portalen bereitstellt, dienen diese nur zur
                                                    Information und zur Unterstützung der selbstständigen Anlageentscheidung des
                                                    Nutzers. Auch wenn Traderista alle eingebundenen Informationen sorgsam
                                                    überprüft, erhebt Traderista keinen Anspruch auf inhaltliche Richtigkeit,
                                                    Vollständigkeit oder Aktualität. Es obliegt dem Nutzer selbst, die
                                                    Richtigkeit, Vollständigkeit und Aktualität dieser Daten zu überprüfen. Dies
                                                    betrifft insbesondere, aber nicht ausschließlich, Kursdaten von
                                                    Drittquellen. Die genannten Informationen stellen keine Aufforderung zum
                                                    Kaufen, Halten oder Verkaufen von Wertpapieren und derivativen
                                                    Finanzprodukten dar und begründen kein individuelles Beratungs- oder
                                                    Auskunftsverhältnis. Sie sind keine Rechts-, Steuer- oder sonstige Beratung
                                                    und können eine solche auch nicht ersetzen.

                                                    <br><br>Bevor der Nutzer Investmententscheidungen trifft, sollte er sich
                                                    sorgfältig über die Chancen und Risiken des Investments informiert haben.
                                                    Aus einer positiven Wertentwicklung eines Finanzprodukts in der
                                                    Vergangenheit kann keinesfalls auf zukünftige Erträge geschlossen werden.
                                                    Traderista übernimmt keine Haftung für die erteilten Informationen, die von
                                                    Traderista als vertrauenswürdig erachtet wurden, für bereitgestellte
                                                    Handelsanregungen sowie für deren Vollständigkeit.

                                                    <br><br>Leser sowie Teilnehmer an multimedialen Veranstaltungen wie
                                                    Webinare, Online-Seminare, Seminare oder Vortragsveranstaltungen, die
                                                    aufgrund der veröffentlichten Inhalte Anlageentscheidungen treffen bzw.
                                                    Transaktionen durchführen, handeln in vollem Umfang auf eigene Gefahr und
                                                    auf eigenes Risiko.

                                                    <br><br>Traderista übernimmt keine Haftung für die Inhalte verlinkter
                                                    Internetseiten.
                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Anwendbares Recht und
                                                    Gerichtsstand</h6>
                                                    Die in diesem Vertrag niedergelegten Vereinbarungen beider Vertragspartner
                                                    sowie alle weiteren Vereinbarungen unterliegen deutschem Recht. Als
                                                    Gerichtsstand wird der Sitz der Traderista Trading Service UG vereinbart,
                                                    soweit der Nutzer Unternehmer i.S. des § 14 BGB ist.
                                                    <br>Ladungsfähige Anschrift:
                                                    <address>
                                                        <strong>Traderista Trading Service UG</strong><br>
                                                        Corrensstr. 7<br>
                                                        48149 Münster<br>
                                                    </address>

                                                </li>
                                                <li class="m-t-25"><h6 class="line-height-17 pb-3">Salvatorische Klausel</h6>
                                                    Sind einzelne Bestimmungen des Abonnementvertrages oder der AGB unwirksam,
                                                    so bleibt die Gültigkeit der übrigen Bestimmungen davon unberührt. An die
                                                    Stelle der unwirksamen Bestimmung treten die gesetzlichen Bestimmungen.
                                                    <br><br>Münster, der 1. November 2020
                                                </li>
                                            </ul>
                                        </div>

                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    <div class="uk-section">-->
            <!--        <div class="uk-container">-->
            <!--            <div class="uk-grid">-->
            <!--                <div class="uk-width-1-1">-->
            <!--                    <div-->
            <!--                        class="uk-card primary-background-color uk-box-shadow-small uk-border-rounded uk-background-cover">-->
            <!--                        <div class="uk-card-body">-->
            <!--                            <h2 class="uk-margin-remove-bottom">Teste es jetzt für nur 1€ ganze 30 Tage lang!</h2>-->
            <!--                            <p class="uk-margin-small-top">Ein simples Trading-System, mit dem sich jeder-->
            <!--                                Startkapital<br>-->
            <!--                                aufbauen und es zu einem Vermögen aufbauen kann!-->
            <!--                                Mit nur 10 Minuten pro Tag Geld verdienen</p>-->
            <!--                            <a class="uk-button uk-button-primary uk-border-rounded bg-white text-black" href="#">Jetzt-->
            <!--                                für 1€ sichern</a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->

            <!-- section content end -->
        </main>
    </div>
</template>

<script>
import {TrackingService} from "../../services/tracking";

export default {
    name: 'agb-page',
    mounted() {
        TrackingService.pageView("AGB Page",  this.$route);
    },
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
</style>
