<template>
    <div class="px-2">
        <b-row>
            <b-col cols="12">
                <div class="py-5">
                    <h1 class="text-center">
                        {{ $t('alternativeLandingPage.title1') }}
                    </h1>
                    <h1 class="text-center">
                        {{ $t('alternativeLandingPage.title2') }}
                    </h1>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-center gold-bg py-5">
            <!-- Title Column -->
            <b-col cols="12" md="8">
                <div>
                    <div class="embed-responsive" style="padding-top: 56.25%">
                        <iframe class="embed-responsive-item"
                                :src="frames.frame4.url"
                                allowfullscreen></iframe>
                        <iframe :src="frames.frame4.url"
                                width="560" height="315"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <!-- 1 Euro offer Button -->
                    <div v-if="!isAuthed" class="text-center mt-5">
                        <div class="border-1 p-4" style="border: 5px solid black;">
                            <h1>
                                {{ $t('alternativeLandingPage.testen1Euro') }}
                            </h1>
                            <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                        @click.native="buttonClick('Starter-Paket Click')"
                                        class="uk-button uk-button-secondary uk-border-rounded text-white col-sm-5 col-12 pt-2 pb-2 mr-sm-2"
                                        style="line-height: 2.25">
                                {{ $t('alternativeLandingPage.clickHere') }}
                            </RouterLink>
                        </div>
                    </div>
                </div>
            </b-col>
        </b-row>

        <!-- Lead Section -->
        <b-row align-v="stretch" class="justify-content-center gold-bg pb-5">
            <b-col cols="12" md="8" style="padding-top: 30px">
                <div class="border-1 p-2" style="border: 5px solid black;">
                    <div class="mx-auto" v-bind:style="hubertusBackgroundImg"
                         style="height: 650px;">
                        <div v-show="!subscribed">
                            <b-form v-on:submit.prevent="noop"
                                    class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                <div class="p-4 mx-auto"
                                     style="background-color: black; margin-top: 250px; max-width: 600px;">
                                    <h3 class="px-3 font-weight-bold pb-2 text-white">
                                        {{ $t('alternativeLandingPage.emailSubscriptionText') }}
                                    </h3>
                                    <ValidationProvider name="lead" rules="required"
                                                        v-slot="{ errors }">
                                        <b-form-input type="email" v-model="email" @keyup.enter="subscribe"
                                                      :placeholder="'Ihre E-Mail eingeben'"
                                                      :class="(errors.length > 0 ? ' is-invalid uk-search-input uk-border-pill text-center rounded-0' : 'uk-search-input uk-border-pill text-center rounded-0')">
                                        </b-form-input>
                                    </ValidationProvider>
                                    <div class="invalid-feedback font-20" v-if="errorMsg !== ''"
                                         style="display: block">
                                        <span>{{ errorMsg }}</span>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3 col-2"></div>
                                        <div class="mt-5 col-sm-6 col-8 primary-background-color">
                                            <a @click="subscribe">
                                                <h5 class="text-black m-0 py-3">
                                                    {{ $t('alternativeLandingPage.sendMailAddress') }}
                                                </h5></a>
                                        </div>
                                        <div class="col-sm-3 col-2"></div>
                                    </div>
                                </div>
                            </b-form>
                        </div>
                        <div v-show="subscribed">
                            <div class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                <div class="p-4 mx-auto"
                                     style="background-color: black; margin-top: 250px; max-width: 600px;">
                                    <h3 class="px-3 font-weight-bold pb-2 text-white">
                                        {{ $t('alternativeLandingPage.emailSubscriptionText') }}
                                    </h3>
                                    <div class="mt-4">
                                        <h5 class="text-center text-white" style="color: white;">
                                            Vielen Dank für Ihr Abonnement!
                                        </h5>
                                        <div class="align-content-center text-center">
                                            <i class="fa fa-check-circle align-content-center"
                                               style="font-size:48px;color:green"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </b-col>
        </b-row>

        <!-- Second Section (White Background)-->
        <b-row class="justify-content-center transparent-bg m-t-50">
            <b-col md="2"></b-col>
            <b-col cols="12" md="8">
                <div class="my-4">
                    <h2 class="font-weight-bold text-center">
                        {{ $t('alternativeLandingPage.title3') }}
                    </h2>
                    <h2 class="font-weight-bold text-center">
                        {{ $t('alternativeLandingPage.title4') }}
                    </h2>
                </div>

                <div class="pt-4">
                    <div class="gold-border-3">
                        <div class="text-center border-0 p-4">
                            <h2>
                                Start Your Journey!
                            </h2>
                            <div style="font-size: 24px;">
                                Nicht sicher, wo Du anfangen sollst?
                            </div>

                            <div style="font-size: 24px;">
                                So beginnen die meisten Menschen...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-5 my-5">
                    <h2 class="font-weight-bold text-center">
                        Step #1: Schau Dir die "5-Minuten-Webinare" an
                    </h2>
                    <p class="text-center font-20">
                        {{ $t('landingPage.5MinutenWebinar') }}
                    </p>
                    <b-row>
                        <b-col cols="12" lg="6" class="text-center justify-content-center">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog25.url}"
                                            @click.native="buttonClick('Blog25 - Click')" class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Was wäre, wenn Du Geld verdienen könntest ohne Startkapital,
                                                Erfahrung oder Zeitaufwand?
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="6">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.partner.url}"
                                            @click.native="buttonClick('Partner - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Was Du tun kannst, damit Traderista Dich mit 5.000€ (oder mehr)
                                                sponsert...
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="6">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog21.url}"
                                            @click.native="buttonClick('Blog21 - Click')" class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie funktioniert das Trading-System genau?
                                                <br>
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="6">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog20.url}"
                                            @click.native="buttonClick('Blog20 - Click')" class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie funktioniert das Partnership-System im Detail?
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="py-5 px-4 my-5" style="background-color: black;">
                    <h2 class="font-weight-bold text-center text-white">
                        Step #2: {{ $t('landingPage.NimmQuizTeil') }}
                    </h2>
                    <p class="text-center font-20 text-white">
                        {{ $t('landingPage.QuizPaketen') }}
                    </p>
                    <b-row>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.survey.url}"
                                            @click.native="buttonClick('SurveyButtonLeft - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie viel Geld kannst Du mit Traderista Trading (an der Börse) verdienen?
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.survey.url}"
                                            @click.native="buttonClick('SurveyButtonMid - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie viel Geld kannst Du als
                                                <br>
                                                Traderista Partner
                                                verdienen?
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.survey.url}"
                                            @click.native="buttonClick('SurveyButtonRight - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie hoch kann Dein Jahreseinkommen mit Traderista sein?
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="py-5 my-5">
                    <h2 class="font-weight-bold text-center">
                        Step #3: Nimm teil an den 4 x 15-Minuten-Workshops!
                    </h2>
                    <p class="text-center font-20">
                        In diesen Workshops erkläre ich Dir alles, was Du über Traderista wissen kannst. Sie sind
                        die Vertiefung der &quot;5-Minuten-Webinare&quot; und beantworten Dir alle Fragen, die Du Dir
                        vielleicht noch stellst... Unter anderem, wie genau Dich das System zu (finanziellem) Erfolg
                        führt!
                    </p>
                    <b-row>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { workShop: true}}"
                                            @click.native="buttonClick('SignUpWithWorkshop1 - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Wie Menschen mit großen Zielen, wie Du, 9.384€ pro Monat verdienen
                                                können...
                                                in nur 12 Monaten!
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { workShop: true}}"
                                            @click.native="buttonClick('SignUpWithWorkshop2 - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Die
                                                WAHRHEIT darüber, wie Du 9.384€ pro Monat verdienst und Deinen Frustjob
                                                kündigen
                                                kannst!
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { workShop: true}}"
                                            @click.native="buttonClick('SignUpWithWorkshop3 - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <div class="d-flex justify-content-between">
                                            <p class="text-left m-0 mr-3">
                                                Für alle,
                                                die mehr aus ihrem Leben <br> machen wollen... denn Trading ist nur der
                                                Anfang!
                                            </p>
                                            <i class="fa fa-angle-right my-auto" style="font-size: 30px;"></i>
                                        </div>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="py-5 px-4 my-5" style="background-color: black;">
                    <h2 class="font-weight-bold text-center text-white">
                        Step #4: Komm in die Umsetzung!
                    </h2>
                    <p class="text-center font-20 text-white">
                        Wir eignen uns einen Haufen Wissen an und sammeln Informationen ohne Ende... ohne
                        am Ende ins Handeln zu kommen. Die Coachings helfen Dir dabei, nicht nur in der Theorie
                        gut zu sein (womit Du kein Geld verdienst), sondern auch in der Praxis!
                    </p>
                    <b-row>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog26.url}"
                                            @click.native="buttonClick('GruppencoachingTrader - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Gruppencoaching Trader
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog27.url}"
                                            @click.native="buttonClick('GruppencoachingPartner - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Gruppencoaching Partner
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog28.url}"
                                            @click.native="buttonClick('GruppencoachingFinanzen - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Gruppencoaching Finanzen
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="py-5 my-5">
                    <h2 class="font-weight-bold text-center">
                        Step #5: Beschleunige Deinen Erfolg!
                    </h2>
                    <p class="text-center font-20">
                        Neben dem Wissen und den Coachings bieten wir Dir dafür individuellen Support bei der
                        Umsetzung hin zu Deinen Zielen! Und damit Du das Traden auch genießen kannst, biete ich
                        Dir eine Erfolgsgarantie für die Trades an! Wenn Du all das noch günstiger haben und bis zu
                        70% sparen möchtest, sichere Dir dazu ein Jahresabo...
                    </p>
                    <b-row>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog29.url}"
                                            @click.native="buttonClick('InvidiuellerSupport - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Individueller Support für Deinen Erfolg
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog30.url}"
                                            @click.native="buttonClick('ErfolgsgarantieFurTraderistaTrades - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Erfolgsgarantie für Traderista Trades
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12" lg="4">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog31.url}"
                                            @click.native="buttonClick('SpareBisZu70% - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Spare bis zu 70% mit Jahresabos
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="py-5 px-4 my-5" style="background-color: black;">
                    <h2 class="font-weight-bold text-center text-white">
                        Step #6: Verwirkliche Deine Träume...
                    </h2>
                    <p class="text-center font-20 text-white">
                        ... wenn du möchtest, mit meiner Hilfe. Hierbei bin ich Dein persönlicher Coach und
                        Mentor. Wir gehen ganz privat auf Deine individuellen Bedürfnisse, Deinen Wissensstand
                        und Deine Ziele ein. Ich helfe Dir beim Entfalten Deines einzigartigen Potentials, der
                        Verwirklichung Deiner Träume und zu einem Leben in Freiheit!
                    </p>
                    <b-row>
                        <b-col cols="12">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog32.url}"
                                            @click.native="buttonClick('Privates Coaching Trader - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Privates Coaching Trader
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog33.url}"
                                            @click.native="buttonClick('Privates Coaching Partner - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Privates Coaching Partner
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog34.url}"
                                            @click.native="buttonClick('Privates Coaching Finanzen - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Privates Coaching Finanzen
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog35.url}"
                                            @click.native="buttonClick('Privates Coaching Ziele Träume - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Privates Coaching Ziele &amp; Träume
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                        <b-col cols="12">
                            <div class="my-2">
                                <RouterLink :to="{ path: routingButtons.blog36.url}"
                                            @click.native="buttonClick('Privates Coaching Erfolg - Click')"
                                            class="text-decoration-none ">
                                    <div class="gold-bg text-black p-3" style="border-radius: 4px;">
                                        <p class="text-center m-0">
                                            Privates Coaching Erfolg
                                        </p>
                                    </div>
                                </RouterLink>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </b-col>
            <b-col md="2"></b-col>
        </b-row>
    </div>
</template>

<script>
import eToroImg from "../../assets/img/website/etoro.png";
import guidants from "../../assets/img/website/guidants.png";
import finanze from "../../assets/img/website/finanz.png";
import finanzen100 from "../../assets/img/website/finanzen100.png";
import icon14 from "../../assets/img/website/in-liquid-icon-14.svg";
import icon18 from "../../assets/img/website/in-liquid-icon-18.svg";
import icon17 from "../../assets/img/website/in-liquid-icon-17.svg";
import icon10 from "../../assets/img/website/in-liquid-icon-10.svg";
import icon21 from "../../assets/img/website/in-liquid-icon-21.svg";
import icon6 from "../../assets/img/website/in-liquid-icon-6.svg";
import icon5 from "../../assets/img/website/in-liquid-icon-5.svg";
import {Auth} from "../../config/auth";
import LEAD_OPT_IN from "../../graphql/mutations/leadOptIn.graphql";
import {TrackingService} from "../../services/tracking";

export default {
    name: "alternative-landing-page",
    mounted() {
        TrackingService.pageView("Splash Page",  this.$route);
    },
    data() {
        return {
            subscribed: false,
            errorMsg: '',
            email: null,
            eToroImg: eToroImg,
            guidants: guidants,
            finanze: finanze,
            finanzen100: finanzen100,
            icon14: icon14,
            icon18: icon18,
            icon17: icon17,
            icon10: icon10,
            icon21: icon21,
            icon6: icon6,
            icon5: icon5,
            isAuthed: Auth.isAuthed(),
            frames: {
                frame1: {
                    url: 'https://www.youtube.com/embed/bWND0qcMiz0?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                },
                frame2: {
                    url: 'https://www.youtube.com/embed/Jh7IeXxn13k?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                },
                frame3: {
                    url: 'https://www.youtube.com/embed/ep9zMTqPbew?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                },
                frame4: {
                    url: 'https://www.youtube.com/embed/vI0Agk4qLZA?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                }
            },
            routingButtons: {
                blog25: {
                    url: "blog/25"
                },
                blog21: {
                    url: "/blog/21"
                },
                partner: {
                    url: "/partner"
                },
                blog20: {
                    url: "/blog/20"
                },
                survey: {
                    url: "/survey"
                },
                blog26: {
                    url: "/blog/26"
                },
                blog27: {
                    url: "/blog/27"
                },
                blog28: {
                    url: "/blog/28"
                },
                blog29: {
                    url: "/blog/29"
                },
                blog30: {
                    url: "/blog/30"
                },
                blog31: {
                    url: "/blog/31"
                },
                blog32: {
                    url: "/blog/32"
                },
                blog33: {
                    url: "/blog/33"
                },
                blog34: {
                    url: "/blog/34"
                },
                blog35: {
                    url: "/blog/35"
                },
                blog36: {
                    url: "/blog/36"
                },
            }
        }
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
        hubertusBackgroundImg() {
            return {
                'background-image': `url( ${require('../../assets/img/website/hubertus.png')} )`,
                'background-repeat': 'no-repeat',
                'background-position': 'center',
            }
        },
        whiteTriangle() {
            return {
                'background-image': `url( ${require('../../assets/img/website/white_triangle.png')} )`,
            }
        }
    },
    methods: {
        buttonClick(buttonName) {
            this.scrollToTop();
            TrackingService.buttonClick(buttonName, );
        },
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        subscribe() {
            if (this.email === '' || !this.email.match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                this.errorMsg = 'Bitte geben Sie eine gültige E-Mail ein'
            } else {
                this.$apollo.mutate({
                    mutation: LEAD_OPT_IN,
                    variables: {
                        input: {
                            email: this.email,
                            type: 'SUBSCRIPTION',
                            surveyResults: null,
                            recommendedPackageId: null
                        }
                    }
                }).then((_) => {
                    TrackingService.generateLead();
                    this.subscribed = true;
                });

                let routeData = this.$router.resolve({name: 'subscription-opt-in-mail'});
                window.open(routeData.href, '_blank');
            }
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");

/* sm */
.intro-video {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.intro-message {
    padding: 50px 30px 30px;
}

.in-highlight {
    color: #DAA520;
}

.transparent-bg {
    background-color: transparent !important;
}

.gold-bg {
    background-color: #DAA520;
}

.gold-border-3 {
    border: 5px solid #DAA520;
}

.gray-bg {
    background-color: #393D47;
}

.intro-message h1 {
    font-size: 35px;
    min-height: 120px;
    /*color: #dec950;*/
}

.intro-icons {
    display: none !important;
}

@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 20px;
        padding-left: 50px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .intro-icons {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-message h1 {
        font-size: 40px;
        min-height: 120px;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

/* Custom media queries */
/* xxl */
@media (min-width: 1650px) {
    .intro-video {
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 160px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-icons {
        display: none !important;
    }
}


/* Intro section in sales page */
/* [ 4. slideshow ] */
.intro-section {
    height: 730px;
    margin-top: -125px;
}

.intro-section .uk-button {
    margin-top: 10px;
}

.intro-section .uk-grid-medium {
    position: relative;
    top: 182px;
}

.intro-section .uk-grid-medium .in-slide-img {
    margin-top: -40px;
}

@media (max-width: 960px) {
    .intro-section {
        height: auto;
    }

    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -30px;
        text-align: center;
    }

    .intro-section img {
        width: 90%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -10px;
        text-align: center;
    }

    .intro-section img {
        width: 100%;
        margin-left: -60px;
    }
}

.intro-section {
    background-color: #212224;
}

.ebook-button {
    border-radius: 32px;
    background-color: black
}


.intro-section .uk-slidenav {
    bottom: 175px;
    color: #fff;
}

.intro-section .intro-section-features {
    height: 220px;
    background: linear-gradient(0deg, #212224 65%, rgba(33, 34, 36, 0.3) 100%);
    margin-top: -190px;
}

.intro-section .intro-section-features .uk-container {
    position: relative;
    top: 124px;
}

.intro-section .intro-section-features .uk-label {
    font-weight: 500;
    padding: 2px 9px 2px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.intro-section .intro-section-features .uk-label i {
    margin-right: 5px;
}

.intro-section .intro-section-features .uk-label-success {
    color: #176639;
    background-color: #2ecc71;
}

.intro-section .intro-section-features .uk-label-danger {
    color: #772838;
    background-color: #ee4f6f;
}

.intro-section .intro-section-features .uk-text-lead {
    color: #fff;
    margin-top: -80px;
}

.intro-section .intro-section-features .slide-icons-1 {
    margin-top: -25px;
}

.intro-section .intro-section-features .slide-icons-1 i {
    color: #DAA520;
}

.intro-section .intro-section-features .slide-icons-2 {
    margin-top: -32px;
}

.intro-section .intro-section-features .slide-icons-2 img {
    margin-top: 5px;
}

@media (max-width: 960px) {
    .intro-section .uk-slidenav {
        display: none;
    }
}

</style>
