<template>
    <main>
        <div class="uk-section mt-4">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m uk-text-center">
                            <p style="font-size: 20px">
                                Herzlichen Glückwunsch, dass Du Dir Deinen Account gesichert hast! Schließ Dein
                                Browser-Fenster noch nicht, denn Deine Bestellung ist noch nicht ganz abgeschlossen.
                                <br><br>
                                Du hast eine intelligente Entscheidung getroffen und Dir Deine Trades gesichert, um Geld
                                zu verdienen und genau das wird dieses System auch für Dich tun.
                                <br><br>

                                Lass mich Dir eine Frage stellen. Jetzt, wo einige Leute meine Trades nutzen, fragen
                                mich viele davon, wie sie definitiv am Ball bleiben und ihr Potential entfalten können.
                                <br><br>

                                Deshalb habe ich mir überlegt, wie auch das möglich sein wird und kam auf die Idee, ein
                                individuelles Coaching mit mir anzubieten.
                                <br><br>

                                Dieses Angebot ist natürlich nicht für jeden. Ich mache dies nur zugänglich für Dich,
                                weil Du bewiesen hast, dass Du ein wahrer Traderista bist, als Du Dir Dein Jahresabo
                                gesichert hast.
                                <br><br>

                                Deshalb mache ich Dir ein einmaliges Angebot, das nur hier und jetzt erhältlich ist.
                                <br><br>

                                Was ich jetzt mit Dir teilen werde, wird Dir helfen, Dein volles Potential zu entfalten
                                auf Basis Deines neuen Einkommens.
                                <br><br>

                                Ich biete dir deshalb ein individuelles Coaching mit mir für 1 Jahr an - Limitless
                                Potential. Ich kann Dir jetzt leider nicht alles erklären, was wir durchgehen werden in
                                diesem Coaching, weil wir sonst noch für Stunden die Strategien darin durchgehen
                                könnten, die Dir helfen, Dein volles Potential schon in den nächsten 12 Monaten zu
                                entfalten. Lass mich Dir kurz erklären, wie wir Dein Potential finden und aufwecken:
                                <br><br>

                                Wir gehen in individuellen Meetings 1-2 Mal pro Woche auf Deine Herausforderungen im
                                Alltag ein und wie Du diese dauerhaft ausschaltest.Denn dann kannst Du Dich darauf
                                fokussieren, die Dinge zu optimieren, die Deinem Potential auf die Beine helfen.
                                Genauso, wie Du erst das Unkraut entfernen musst, bevor Du Blumen pflanzen kannst.
                                Diesen Blumen helfen wir dann beim massiven Wachstum, indem wir sie immer wieder gießen
                                und sie mit hochwertigem Dünger füttern. Wir gehen hierbei auf die Top-Schritte ein, die
                                Du umsetzen kannst, um Dein Potential 3 Stufen auf einmal gehen zu lassen. Und wie ein
                                guter Coach es macht, helfe ich Dir vor allem dabei, diszipliniert diese Top Schritte
                                umzusetzen.
                                <br><br>

                                Gemeinsam gehen wir auf Dich individuell ein, finden und wecken Dein Potential, und
                                machen es unglaublich riesig!
                                <br><br>

                                Kannst Du Dir vorstellen, wie Dein Leben aussehen würde, wenn Du Dein Potential zu 100%
                                ausschöpfst?
                                <br><br>

                                Also bewirb Dich gern in der Nachrichtenbox unten für „Limitless Potential“, Deinem
                                individuellen Coaching-Programm.
                                <br><br>

                                Mit diesem Coaching ist Dir Dein Erfolg und das Entfalten Deines vollen Potentials
                                garantiert.
                                <br><br>

                                Dieses „Limitless Potential“ - Coaching ist nur für Jahresabonnenten direkt nach dem
                                Kauf zugänglich! Dies ist also eine einmalige Gelegenheit, die auch in der Anzahl
                                begrenzt ist. Ich coache maximal 10 Personen gleichzeitig, um auch die Qualität zu
                                garantieren. Wenn Du also diese Seite verlässt, ist das Angebot für immer weg.
                                <br><br>

                                Jetzt ist der Zeitpunkt, zu starten, also bewirb Dich in folgendem Feld, um von mir 1
                                Jahr gecoacht zu werden.

                            </p>


                            <div class="uk-section">
                                <div class="uk-container">
                                    <div class="uk-grid uk-flex uk-flex-center">
                                        <div class="uk-width-1-2@m uk-text-center">
                                            <h2 class="uk-margin-small-bottom"><span class="in-highlight">Limitless Potential Coaching</span>
                                            </h2>
                                        </div>
                                        <div class="uk-width-1-1@m uk-margin-large-top">
                                            <div>
                                                <form id="contact-form" class="uk-form uk-grid-small" data-uk-grid>
                                                    <div class="uk-width-1-1">
                                                        <input v-model="name" class="uk-input uk-border-rounded"
                                                               id="name" name="name" type="text" placeholder="Name">
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <input v-model="email" class="uk-input uk-border-rounded"
                                                               id="email" name="email" type="email"
                                                               placeholder="Email">
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <textarea v-model="message"
                                                                  class="uk-textarea uk-border-rounded" id="message"
                                                                  name="message" rows="6"
                                                                  placeholder="Motivationsmeldung"></textarea>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <ApolloMutation
                                                            :mutation="submitCoachingApplication"
                                                            :variables="{
                                                            input: {
                                                                name: name,
                                                                email: email,
                                                                message: message,
                                                                type: 'LIMITLESS_POTENTIAL_COACHING_APPLICATION',
                                                            }
                                                        }"
                                                            @done="onDone">
                                                            <template v-slot="{ mutate, loading, error }">
                                                                <div class="uk-width-1-1">
                                                                    <form @submit.prevent="submitApplication(mutate)">
                                                                        <button :disabled="loading"
                                                                                class="uk-width-1-1 uk-button primary-background-color text-white uk-border-rounded"
                                                                                id="sendemail" type="submit"
                                                                                name="submit">
                                                                            Bewerbung
                                                                            abschicken
                                                                        </button>
                                                                    </form>
                                                                    <p v-if="error">An error occurred: {{
                                                                            error
                                                                        }}</p>
                                                                </div>
                                                            </template>
                                                        </ApolloMutation>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import submitCoachingApplication from "../../graphql/mutations/submitCoachingApplication.graphql";
import {core} from '../../config/pluginInit'
import {TrackingService} from "../../services/tracking";

export default {
    name: "ApplicationFunnelPage",
    mounted() {
        core.index();
        TrackingService.pageView("Coaching Application Page",  this.$route);
    },
    data() {
        return {
            submitCoachingApplication: submitCoachingApplication,
            name: '',
            email: '',
            message: '',
        }
    },
    methods: {
        onDone() {
            // core.showSnackbar('success', 'Ihre Bewerbung wurde eingereicht')
        },
        submitApplication(mutate) {
            if (this.name.length === 0 || this.email.length === 0 || this.message.length === 0) {
                core.showSnackbar('error', 'Bitte fügen Sie alle Formulare bei')
            } else {
                mutate()
                core.showSnackbar('success', 'Ihre Bewerbung wurde eingereicht')
                this.scrollToTop()
                this.$router.push({
                    name: 'dashboard.home-1'
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
