<template>
    <div>
        <main>
            <ApolloQuery :query="blogPosts">
                <template v-slot="{ result: { loading, error, data } }">
                    <div v-if="loading">
                        <div class="row mt-5 mb-5">
                            <div class="col-md-5 col-4"></div>
                            <div class="col-md-2 col-4">
                                <img :src="loader" class="img-fluid align-self-center" alt="logo">
                            </div>
                            <div class="col-md-5 col-4"></div>
                        </div>
                    </div>
                    <div v-else-if="error">{{ $t('results.error') }}</div>
                    <div v-else-if="data">
                        <!-- section content begin -->
                        <div class="uk-section uk-margin-small-top">
                            <div class="uk-container">
                                <div class="uk-grid" data-uk-grid>
                                    <div class="uk-width-2-3@m">
                                        <div class="uk-child-width-1-1@m in-blog-1" data-uk-grid>

                                            <div v-for="(post,index) of data.blogPosts"
                                                 :key="post.id">
                                                <div v-if="index===0" class="uk-width-1-1 uk-first-column">
                                                    <article class="uk-card uk-card-default uk-border-rounded">
                                                        <!--                                                        <div class="uk-card-media-top">-->
                                                        <!--                                                            <img src="../../assets/images/bg-03.jpg" alt="sample-image">-->
                                                        <!--                                                        </div>-->
                                                        <div class="uk-card-body">
                                                            <h3>
                                                                <RouterLink @click.native="scrollToTop"
                                                                            v-if="isInsideApp"
                                                                            :to="{ path: '/app/blog/' + post.id }">
                                                                    {{ post.title }}
                                                                </RouterLink>
                                                                <RouterLink @click.native="scrollToTop" v-else
                                                                            :to="{ path: '/blog/' + post.id }">
                                                                    {{ post.title }}
                                                                </RouterLink>
                                                            </h3>
                                                            <p v-if="post.text1 && post.text1.length > 0"
                                                               v-html="post.text1">
                                                            </p>
                                                            <p v-else-if="post.text2 && post.text2.length > 0"
                                                               v-html="post.text2.substring(0, 200) + '...' "></p>
                                                            <p v-else-if="post.text3 && post.text3.length > 0"
                                                               v-html="post.text3.substring(0, 200) + '...'">
                                                            </p>
                                                            <p v-else-if="post.text4 && post.text4.length > 0"
                                                               v-html="post.text4.substring(0, 200) + '...'"></p>
                                                            <p v-else-if="post.text5 && post.text5.length > 0"
                                                               v-html="post.text5.substring(0, 200) + '...'"></p>
                                                            <div class="uk-flex uk-flex-middle">
                                                                <div class="uk-margin-small-right">
                                                                    <img class="uk-border-pill uk-background-muted"
                                                                         src="../../assets/img/website/hubertus.png"
                                                                         alt="image-team"
                                                                         width="24"
                                                                         height="24">
                                                                </div>
                                                                <div>
                                                                    <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                                                        <a href="#">Hubertus Mertens</a>
                                                                        <span
                                                                            class="uk-margin-small-left uk-margin-small-right">•</span>
                                                                        {{ post.date_time | formatDate }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-card-footer uk-clearfix">
                                                            <!--                                                            <div class="uk-float-left">-->
                                                            <!--                                                                <a href="#"><span-->
                                                            <!--                                                                    class="uk-label uk-label-success uk-text-small uk-border-pill">Automotive</span></a>-->
                                                            <!--                                                            </div>-->
                                                            <div class="uk-float-right">

                                                                <div v-if="isInsideApp">
                                                                    <RouterLink @click.native="scrollToTop"
                                                                                :to="{ path: '/app/blog/' + post.id }"
                                                                                class="uk-button uk-button-text">
                                                                        {{ $t('blog.readMore') }}<i
                                                                        class="fas fa-long-arrow-alt-right uk-margin-small-left"></i>
                                                                    </RouterLink>
                                                                </div>
                                                                <div v-else>
                                                                    <RouterLink @click.native="scrollToTop"
                                                                                :to="{ path: '/blog/' + post.id }"
                                                                                class="uk-button uk-button-text">
                                                                        {{ $t('blog.readMore') }}<i
                                                                        class="fas fa-long-arrow-alt-right uk-margin-small-left"></i>
                                                                    </RouterLink>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div v-else class="m-t-20">
                                                    <article class="uk-card uk-card-default uk-border-rounded">
                                                        <div class="uk-card-body">
                                                            <h3>
                                                                <RouterLink @click.native="scrollToTop"
                                                                            :to="{ path: '/blog/' + post.id }">
                                                                    {{ post.title }}
                                                                </RouterLink>
                                                            </h3>
                                                            <!--                                                            <p v-html=" post.text1.substring(0, 100) + '...'"></p>-->
                                                            <!--                                                                {{ post.text1.substring(0, 100) + '...' }}</p>-->
                                                            <!--                                                            <p v-else-if="post.text2 && post.text2.length > 0">-->
                                                            <!--                                                                {{ post.text2.substring(0, 100) + '...' }}</p>-->
                                                            <!--                                                            <p v-else-if="post.text3 && post.text3.length > 0">-->
                                                            <!--                                                                {{ post.text3.substring(0, 100) + '...' }}</p>-->
                                                            <!--                                                            <p v-else-if="post.text4 && post.text4.length > 0">-->
                                                            <!--                                                                {{ post.text4.substring(0, 100) + '...' }}</p>-->
                                                            <!--                                                            <p v-else-if="post.text5 && post.text5.length > 0">-->
                                                            <!--                                                                {{ post.text5.substring(0, 100) + '...' }}</p>-->
                                                            <div class="uk-flex uk-flex-middle">
                                                                <div class="uk-margin-small-right">
                                                                    <img class="uk-border-pill uk-background-muted"
                                                                         src="../../assets/img/website/hubertus.png"
                                                                         alt="image-team"
                                                                         width="24"
                                                                         height="24">
                                                                </div>
                                                                <div>
                                                                    <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                                                        <a href="#">Hubertus Mertens</a>
                                                                        <span
                                                                            class="uk-margin-small-left uk-margin-small-right">•</span>
                                                                        {{ post.date_time | formatDate }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-card-footer uk-clearfix">
                                                            <!--                                                            <div class="uk-float-left">-->
                                                            <!--                                                                <a href="#"><span-->
                                                            <!--                                                                    class="uk-label uk-label-success uk-text-small uk-border-pill">Investments</span></a>-->
                                                            <!--                                                            </div>-->
                                                            <div class="uk-float-right">
                                                                <RouterLink @click.native="scrollToTop"
                                                                            :to="{ path: '/blog/' + post.id }"
                                                                            class="uk-button uk-button-text">
                                                                    {{ $t('blog.readMore') }}<i
                                                                    class="fas fa-long-arrow-alt-right uk-margin-small-left"></i>
                                                                </RouterLink>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>

                                        </div>
                                        <!--                            &lt;!&ndash; module pagination begin &ndash;&gt;-->
                                        <!--                            <ul class="uk-pagination uk-flex-center uk-margin-medium-top">-->
                                        <!--                                <li class="uk-active"><a href="#">1</a></li>-->
                                        <!--                                <li><p @click="showMore">2</p></li>-->
                                        <!--                                <li><a href="#">3</a></li>-->
                                        <!--                                <li><a href="#"><i class="fas fa-angle-right fa-xs"></i></a></li>-->
                                        <!--                            </ul>-->
                                        <!--                            &lt;!&ndash; module pagination end &ndash;&gt;-->
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <aside v-if="isAdmin" class="uk-margin-medium-bottom">
                                            <div
                                                class="uk-card uk-card-default uk-card-body uk-border-rounded text-center">
                                                <RouterLink @click.native="scrollToTop"
                                                            :to="{ path: '/admin/new-blog-post' }"
                                                            class="uk-button uk-button-primary uk-border-rounded primary-background-color text-white">
                                                    <i class="fa fa-plus"></i> {{ $t('admin.newBlogPost') }}
                                                </RouterLink>
                                            </div>
                                        </aside>
                                        <!-- widget content end -->
                                        <!-- widget content begin -->
                                        <!--                                        <aside class="uk-margin-medium-bottom">-->
                                        <!--                                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">-->
                                        <!--                                                <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">-->
                                        <!--                                                    Categories</h5>-->
                                        <!--                                                <ul class="uk-list in-widget-category">-->
                                        <!--                                                    <li><a href="#">Top stories<span-->
                                        <!--                                                        class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">2</span></a>-->
                                        <!--                                                    </li>-->
                                        <!--                                                    <li><a href="#">Investments<span-->
                                        <!--                                                        class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">6</span></a>-->
                                        <!--                                                    </li>-->
                                        <!--                                                    <li><a href="#">Opinions<span-->
                                        <!--                                                        class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">3</span></a>-->
                                        <!--                                                    </li>-->
                                        <!--                                                    <li><a href="#">Community<span-->
                                        <!--                                                        class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">4</span></a>-->
                                        <!--                                                    </li>-->
                                        <!--                                                    <li><a href="#">News<span-->
                                        <!--                                                        class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">7</span></a>-->
                                        <!--                                                    </li>-->
                                        <!--                                                </ul>-->
                                        <!--                                            </div>-->
                                        <!--                                        </aside>-->
                                        <!-- widget content end -->
                                        <!-- widget content begin -->
                                        <aside class="uk-margin-medium-bottom">
                                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                                <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">
                                                    {{ $t('blog.popular') }}</h5>
                                                <ul class="uk-list in-widget-popular">
                                                    <li v-for="index in  (data.blogPosts.length > 3 ? 3 : data.blogPosts.length)"
                                                        :key="index">
                                                        <div class="uk-grid-collapse uk-flex uk-flex-middle"
                                                             data-uk-grid>
                                                            <div class="uk-width-expand uk-margin-left">
                                                                <RouterLink @click.native="scrollToTop"
                                                                            :to="{ path: '/blog/' + data.blogPosts[index-1].id }">
                                                                    {{ data.blogPosts[index - 1].title }}
                                                                    <span class="uk-article-meta uk-text-small"><br><i
                                                                        class="fas fa-clock fa-sm uk-margin-small-right"></i>
                                                                                                                                            {{
                                                                            data.blogPosts[index - 1].date_time | formatDate
                                                                        }}
                                                                    </span>
                                                                </RouterLink>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </aside>
                                        <!-- widget content end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </ApolloQuery>
            <!-- section content end -->
        </main>
    </div>

</template>

<script>
import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';

import BlogPost from "../UserApp/BlogPost";
import {Auth} from "../../config/auth";
import {core} from "../../config/pluginInit";

import getBlogPosts from '../../graphql/queries/getBlogPosts.graphql'
import loader from "../../assets/images/loader.gif";
import {TrackingService} from "../../services/tracking";

export default {
    name: 'blog-page',
    components: {BlogPost},
    mounted() {
        core.index();
        TrackingService.pageView("Blog Overview Page",  this.$route);
    },
    computed: {
        user: function () {
            let user = Auth.user();

            return {
                name: user['name'],
                surname: user['surname'],
                email: user['email'],
                phoneNumber: (user['phone_number'] !== undefined && user['phone_number']
                    !== null && user['phone_number'].length > 0) ? user['phone_number'] : '+49',
            }
        },
        isInsideApp: function () {
            return this.$route.name === 'app.blog-page';
        },
    },
    data() {
        return {
            blogPosts: getBlogPosts,
            isAdmin: Auth.isAdminAuthed(),
            loader: loader,
            // page: 0,
            // showMoreEnabled: true,
        }
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    },
    // apollo: {
    //     // Pages
    //     blogPosts: {
    //         // GraphQL Query
    //         query: getBlogPosts,
    //         // Initial variables
    //         variables: {
    //             page: 1
    //         },
    //     },
    // },
    // methods: {
    //     showMore() {
    //         this.page++
    //         // Fetch more data and transform the original result
    //         this.$apollo.queries.blogPosts.fetchMore({
    //             // New variables
    //             variables: {
    //                 page: this.page,
    //             },
    //             // Transform the previous result with new data
    //             updateQuery: (previousResult, {fetchMoreResult}) => {
    //                 console.log(fetchMoreResult);
    //                 const newTags = fetchMoreResult.blogPosts.data
    //                 const hasMore = fetchMoreResult.blogPosts.paginatorInfo.hasMorePages
    //
    //                 this.showMoreEnabled = hasMore
    //
    //                 console.log(previousResult);
    //                 console.log(newTags);
    //                 console.log([...previousResult.blogPosts.data, ...newTags])
    //                 return {
    //                     blogPage: {
    //                         __typename: previousResult.blogPosts.__typename,
    //                         // Merging the tag list
    //                         blogPosts: [...previousResult.blogPosts.data, ...newTags],
    //                         hasMore,
    //                     },
    //                 }
    //             },
    //         })
    //     }
    // }
}
</script>


<style scoped>
@import url("../../assets/css/website/main.css");
</style>
