<template>

    <div v-if="loading">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 col-4"></div>
            <div class="col-md-2 col-4">
                <img :src="loader" class="img-fluid align-self-center" alt="logo">
            </div>
            <div class="col-md-5 col-4"></div>
        </div>
    </div>
    <div v-else>
        <b-container fluid="" class="no-margin-mobile">
            <div v-if="loading">
                <div class="row mt-5">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                    </div>
                    <div class="col-5"></div>
                </div>
            </div>
            <div class="uk-section uk-margin-small-top no-margin-top-mobile">
                <div class="uk-container no-margin-mobile">
                    <div class="uk-grid uk-flex uk-flex-center in-blog-1 in-article mb-5">
                        <!--                        <div class="uk-width-1-1 in-figure-available">-->
                        <!--                            <div class="uk-width-1-1 uk-border-rounded primary-background-color">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="uk-width-1-1@m">
                            <article class="uk-card uk-card-default uk-border-rounded">
                                <div class="uk-card-body">
                                    <div class="uk-flex uk-flex-middle uk-margin-remove-bottom">
                                        <div class="uk-margin-small-right">
                                            <img class="uk-border-pill uk-background-muted"
                                                 src="../../assets/img/website/hubertus.png"
                                                 alt="image-team" width="24"
                                                 height="24">
                                        </div>
                                        <div>
                                            <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                                <a href="#">Hubertus Mertens</a>
                                                <span
                                                    class="uk-margin-small-left uk-margin-small-right">•</span>
                                                {{ article.date_time | formatDate }}
                                            </p>
                                        </div>
                                    </div>
                                    <h2 class="uk-margin-top uk-margin-medium-bottom">{{
                                            article.title
                                        }}</h2>
                                    <div v-if="article.text1 && article.text1.length > 0">
                                        <p v-html="article.text1"></p>
                                        <br>
                                    </div>
                                    <div v-if="article.text2 && article.text2.length > 0">
                                        <p v-html="article.text2"></p>
                                        <br>
                                    </div>
                                    <div v-if="article.text3 && article.text3.length > 0">
                                        <p v-if="article.text3 && article.text3.length > 0" v-html="article.text3"></p>
                                        <br>
                                    </div>
                                    <div v-if="article.text4 && article.text4.length > 0">
                                        <p v-html="article.text4"></p>
                                        <br>
                                    </div>
                                    <div v-if="article.text5 && article.text5.length > 0">
                                        <p v-html="article.text5"></p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- section content begin -->
                    <div v-if="article.blogComments.length > 0" class="uk-section uk-section-small in-offset-top-50">
                        <div class="uk-container">
                            <div class="uk-grid uk-flex uk-flex-center">
                                <div class="uk-width-1-1@m">
                                    <h3 class="uk-margin-medium-bottom">{{ $t('blog.comments') }}</h3>
                                    <ul class="uk-comment-list">
                                        <li v-for="comment in article.blogComments" class="mt-4">
                                            <article class="uk-comment uk-visible-toggle"
                                                     tabindex="-1">
                                                <div class="uk-grid uk-grid-medium">
                                                    <div class="uk-width-expand">
                                                        <div
                                                            class="uk-comment-body uk-position-relative pb-4">
                                                            <h5 class="font-weight-normal uk-margin-remove">
                                                                <a
                                                                    class="uk-link-reset font-weight-normal"
                                                                    href="#">{{
                                                                        comment.user.name + ' ' + comment.user.surname
                                                                    }}
                                                                    <b-button v-if="isCommentOfUser(comment.user.id)"
                                                                              variant="link"
                                                                              @click="deleteComment(comment.id)"
                                                                              href='javascript:void();'
                                                                              class="text-decoration-none">
                                                                        <div
                                                                            class="iq-card-header-toolbar d-flex align-items-center text-danger text-decoration-none">
                                                                            <small>
                                                                                {{ $t('dropdown.delete') }}
                                                                            </small>
                                                                        </div>
                                                                    </b-button>
                                                                </a>
                                                            </h5>
                                                            <p class="uk-comment-meta uk-margin-remove-top mb-2">
                                                                <span>
                                                                            {{ comment.date_time | formatDate }}
                                                                </span>
                                                            </p>
                                                            <p class="m-0 p-0"> {{ comment.content }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- section content end -->
                    <!-- section content begin -->
                    <div class="uk-section in-offset-top-50">
                        <div class="uk-container" style="padding-right: 20px;padding-left: 20px">
                            <div class="uk-grid uk-flex uk-flex-center">
                                <div class="uk-width-3-4@m">
                                    <h4 class="uk-margin-bottom">{{ $t('blog.leaveAComment') }}</h4>
                                    <b-form class="uk-form uk-grid-small" data-uk-grid action="javascript:void(0);">
                                        <div class="uk-width-1-1">
                                          <textarea class="uk-textarea uk-border-rounded mt-1"
                                                    name="message" rows="3"
                                                    v-model="comment"
                                                    :placeholder="$t('blog.comment')"
                                                    v-if="isLoggedIn">

                                            </textarea>
                                        </div>
                                        <b-link class="uk-width-1-1 m-t-20">
                                            <button
                                                class="uk-width-1-1 uk-button primary-background-color text-white
                                                font-weight-bold uk-border-rounded"
                                                @click="saveComment"> {{
                                                    isLoggedIn ? $t('blog.postComment') : $t('blog.loginToComment')
                                                }}
                                            </button>
                                        </b-link>
                                    </b-form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- section content end -->
                </div>
            </div>
        </b-container>
    </div>
</template>

<script>
import '../../assets/js/vendors/blockit.min';
import '../../assets/js/vendors/uikit.min';
import '../../assets/js/config-theme';


import BlogPost from "../UserApp/BlogPost";
import {Auth} from "../../config/auth";
import {core} from "../../config/pluginInit";

import {BlogService} from "../../services/blog";
import {mapGetters} from "vuex";

import loader from '../../assets/images/loader.gif';
import router from "../../router";
import DELETE_BLOG_POST from "../../graphql/mutations/deleteBlogPost.graphql";
import EditBlogPost from "../AdminApp/EditBlogPost";
import {TrackingService} from "../../services/tracking";

export default {
    name: 'blog-article-page',
    components: {BlogPost, EditBlogPost},
    mounted() {
        core.index();
        TrackingService.pageView("Blog Article Page", this.$route);
    },
    props: [
        'post',
    ],
    created() {
        BlogService.getBlogPost(this.$route.params.id).then((_) =>
            this.loading = false
        )
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
            article: 'Setting/activeBlogPost',
        }),
        user: function () {
            let user = Auth.user();

            return {
                name: user['name'],
                surname: user['surname'],
                email: user['email'],
                phoneNumber: (user['phone_number'] !== undefined && user['phone_number']
                    !== null && user['phone_number'].length > 0) ? user['phone_number'] : '+49',
            }
        },
        isLoggedIn: function () {
            return Auth.isUserAuthed();
        }
    },
    data() {
        return {
            isAdmin: Auth.isAdminAuthed(),
            loading: true,
            loader: loader,
            comment: ''
        }
    },
    methods: {
        saveComment() {
            if (this.isLoggedIn) {
                core.showSnackbar('success', this.$t('post.commentWasSubmitted'))
                BlogService.createBlogComment(this.article.id, this.comment).then((success) => {
                    if (success) {
                        this.comment = ''
                    } else {
                        core.showSnackbar('error', this.$t('results.error'))
                    }
                })
            } else {
                this.scrollToTop();
                router.push({path: '/auth/sign-in'});
            }
        },
        deleteComment(id) {
            core.showSnackbar('success', this.$t('post.commentDeleted'))
            BlogService.deleteBlogPostComment(id).then((success) => {
                if (!success) {
                    core.showSnackbar('error', this.$t('results.error'))
                }
            })
        },
        isCommentOfUser(userId) {
            return Number(userId) === Number(Auth.user().id)
        },
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>


<style scoped>
@import url("../../assets/css/website/main.css");

@media (max-width: 960px) {
    .in-article article.uk-card {
        z-index: 9 !important;
    }
    .no-margin-mobile {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .no-margin-top-mobile{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
</style>
