<template>
    <main>
        <div class="uk-section mt-4">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m uk-text-center">
                            <h1><span class="in-highlight font-weight-bold">DU BIST JETZT EIN TRADERISTA!</span></h1>
                            <p class="mt-5 mb-5" style="font-size: 20px">
                                Vielen Dank und herzlichen Glückwunsch!
                                <br><br>
                                Du nimmst Dein Leben ab jetzt selbst in die Hand und dabei möchte ich Dich noch
                                intensiver unterstützen!
                                <br><br>
                                Damit Du auch wirklich am Ball bleibst, möchte ich Dir gern das Jahresabo zu Deinem
                                bereits gebuchten Paket anbieten.
                                <br><br>
                                Denn dadurch verpflichtest Du Dich zu Deinem persönlichen Erfolg in den nächsten 12
                                Monaten!
                                <br><br>
                                Außerdem sparst Du Dir den Preis für 2 Monate, also {{ this.savings }} €!
                            </p>

                            <!--                            <RouterLink :to="{ name: 'auth1.sign-up1' }">-->
                            <!--                                <button class="btn primary-background-color col-12 rounded-0">-->
                            <!--                                    <h4 class="text-white font-weight-bold m-0 p-3">SICHERE DIR JETZT DEIN-->
                            <!--                                        JAHRESABO</h4>-->
                            <!--                                </button>-->
                            <!--                            </RouterLink>-->

                            <div v-if="isLoading">
                                <div class="row mt-5">
                                    <div class="col-5"></div>
                                    <div class="col-2">
                                        <img :src="loader" class="img-fluid align-self-center" alt="logo">
                                    </div>
                                    <div class="col-5"></div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-lg-2">
                                        </div>
                                        <div class="col-lg-8">
                                            <PricingPackageAnnual :package-model="this.packageModel"
                                                                  :is-user-authed="this.isAuthed"
                                                                  :duration="'ANNUAL'"
                                                                  :user="this.user"
                                                                  :has-discount=true>
                                            </PricingPackageAnnual>
                                        </div>
                                        <div class="col-lg-2">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="mt-5 mb-5" style="font-size: 20px" v-html="text2"></p>

                            <!--                            <RouterLink :to="{ name: 'auth1.sign-up1' }">-->
                            <!--                                <button class="btn primary-background-color col-12 rounded-0">-->
                            <!--                                    <h4 class="text-white font-weight-bold m-0 p-3">DANN SICHERE DIR JETZT DEIN-->
                            <!--                                        JAHRESABO FÜR NUR X €</h4>-->
                            <!--                                </button>-->
                            <!--                            </RouterLink>-->

                            <div class="uk-section-secondary pt-5 pb-5 mt-5 mb-5">
                                <ul class="p-0 m-0">
                                    <li class="li-countdown" style=" color: white"><span
                                        class="span-countdown font-weight-bold"
                                        style="font-size: 60px">{{
                                            minutes
                                        }}</span>Minuten
                                    </li>
                                    <li class="li-countdown" style=" color: white"><span
                                        class="span-countdown font-weight-bold"
                                        style="font-size: 60px">{{
                                            seconds
                                        }}</span>Sekunden
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-5 mb-5">
                                <h5 class="font-weight-bold mb-4">Du erhältst dazu</h5>
                                <ul style="font-size: 20px" class="p-0">
                                    <p>Ein 30-Tage-Coaching zum erfolgreichen Trader, in dem Du die
                                        wichtigsten Aspekte lernst, die einen guten Trader ausmachen.
                                        Zusätzlich gibt es 1x pro Woche eine Q&A-Session mit allen Teilnehmern,
                                        sodass Du mir Deine Fragen stellen und auch von den Fragen anderer
                                        profitieren
                                        kannst
                                    </p>
                                    <p>
                                        Und ein 30-Tage-Coaching für finanziellen Erfolg gebe ich Dir auch, damit
                                        Du lernst, welche Gesetze und Handlungsweisen Du für Deinen Wohlstand
                                        beherzigen
                                        solltest. Auch hierfür gibt es wöchentliche Q&A-Sessions
                                    </p>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</template>

<script>
import {Auth} from "../../config/auth";
import getPackageById from "../../graphql/queries/getPackageById.graphql";
import {PackageService} from "../../services/package";
import loader from '../../assets/images/loader.gif';
import PricingPackageAnnual from "./PricingPackageAnnual";
import {toStringWithDecimalization} from "../../Utils/utils";
import {mapGetters} from "vuex";
import {TrackingService} from "../../services/tracking";

export default {
    name: "CartFunnelPage",
    components: {PricingPackageAnnual},
    props: {
        packageId: String
    },
    mounted() {
        TrackingService.pageView("Cart Funnel Page",  this.$route);
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        minutes() {
            return this.minutesCnt;
        },
        seconds() {
            return this.secondsCnt;
        },
        packageModel() {
            return this.package;
        },
        savings() {
            if (!this.isLoading) {
                return toStringWithDecimalization(this.package.annualPrice - this.package.discountedAnnualPrice, false);
            }
            return 'X';
        }
    },
    created() {
        const countDownDate = new Date(new Date().getTime() + 15 * 60000)

        let x = setInterval(() => {
            const distance = countDownDate - new Date().getTime()

            if (distance < 0) {
                clearInterval(x)
                this.minutesCnt = 0
                this.secondsCnt = 0
            } else {
                this.minutesCnt = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
                this.secondsCnt = Math.floor((distance % (1000 * 60)) / 1000)
            }
        }, 1000);

        PackageService.getPackage(this.packageId).then((data) => {
            this.package = data;
            this.isLoading = false;
        });
    },
    data() {
        return {
            packageQuery: getPackageById,
            isAuthed: Auth.isAuthed(),
            package: null,
            isLoading: true,
            loader: loader,
            id: this.packageId,
            minutesCnt: 14,
            secondsCnt: 59,
            savingText: '',
            text1: 'Vielen Dank und herzlichen Glückwunsch!' +
                '<br><br>' +
                'Du nimmst Dein Leben ab jetzt selbst in die Hand und dabei möchte ich Dich noch intensiver unterstützen! ' +
                '<br><br>' +
                'Damit Du auch wirklich am Ball bleibst, möchte ich Dir gern das Jahresabo zu Deinem bereits gebuchten Paket anbieten.' +
                '<br><br>' +
                'Denn dadurch verpflichtest Du Dich zu Deinem persönlichen Erfolg in den nächsten 12 Monaten! ' +
                '<br><br>' +
                'Außerdem sparst Du Dir den Preis für 2 Monate, also ',
            // + this.savingText + ' €!',
            text2: 'Weil ich weiß, dass Du neu dabei und Dir vielleicht noch etwas unsicher bist, gebe ich Dir eine 30-TAGE-GELD-ZURÜCK-GARANTIE!' +
                '<br><br>' +
                'Wenn Die Limitless Trading nicht gefällt, schreib uns einfach und Du erhältst Dein Geld zurück.' +
                '<br><br>' +
                'Denn bei Traderista ist alles ganz einfach!' +
                '<br><br>' +
                'Diesen Sonderpreis biete ich Dir nur für die nächsten 15 Minuten ab - denn die Nummer 1 Regel für Erfolg ist, schnelle Entscheidungen zu treffen. ' +
                '<br><br>' +
                'Willst Du diesen Erfolg?'
        }
    }
}
</script>

<style scoped>
.li-countdown {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.span-countdown {
    display: block;
}

@media all and (max-width: 768px) {
    .li-countdown {
        font-size: 1.125rem;
        padding: .75rem;
        text-transform: uppercase;
    }

    .span-countdown span {
        font-size: 3.375rem;
    }
}
</style>
