<template>
    <main>
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-1-2@m uk-text-center">
                        <h2 class="uk-margin-small-bottom">{{ $t('contact.title') }}</h2>
                        <p class="uk-text-lead uk-text-muted uk-margin-remove">{{ $t('contact.subTitle') }}</p>
                    </div>
                    <div class="uk-width-1-1@m uk-margin-large-top">
                        <div class="uk-grid uk-grid-large uk-child-width-1-2@m" data-uk-grid>
                            <div>
                                <form id="contact-form" class="uk-form uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <input class="uk-input uk-border-rounded" id="name" name="name" type="text" v-model="name"
                                               :placeholder="$t('contact.fullName')">
                                    </div>
                                    <div class="uk-width-1-1">
                                        <input class="uk-input uk-border-rounded" id="email" name="email" type="email" v-model="email"
                                               placeholder="Email">
                                    </div>
                                    <div class="uk-width-1-1">
                                        <input class="uk-input uk-border-rounded" id="subject" name="subject" v-model="phoneNumber"
                                               type="text" :placeholder="$t('contact.phoneNumber')">
                                    </div>
                                    <div class="uk-width-1-1">
                                        <textarea class="uk-textarea uk-border-rounded" id="message" name="message" v-model="message"
                                                  rows="6" :placeholder="$t('contact.message')"></textarea>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <ApolloMutation
                                            :mutation="submitCoachingApplication"
                                            :variables="{
                                                            input: {
                                                                name: name,
                                                                email: email,
                                                                phone_number: phoneNumber,
                                                                message: message,
                                                                type: 'CONTACT_US'
                                                            }
                                                        }"
                                            @done="onDone">
                                            <template v-slot="{ mutate, loading, error }">
                                                <form @submit.prevent="submitApplication(mutate)">
                                                    <button :disabled="loading"
                                                        class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded"
                                                        id="sendemail" type="submit" name="submit">{{
                                                            $t('contact.sendMessage')
                                                        }}
                                                    </button>
                                                </form>
                                                <p v-if="error">An error occurred: {{
                                                        error
                                                    }}</p>
                                            </template>
                                        </ApolloMutation>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <h4 class="uk-margin-remove-bottom">{{ $t('contact.contactInformation') }}</h4>
                                <div class="uk-flex uk-flex-middle uk-margin">
                                    <div class="uk-margin-small-right">
                                        <i class="fas fa-envelope fa-sm in-icon-wrap circle small primary-color"></i>
                                    </div>
                                    <div>
                                        <p class="uk-margin-remove">info@traderista-trading.com</p>
                                    </div>
                                </div>
                                <hr class="uk-margin-medium">
                                <h4 class="uk-margin-bottom">{{ $t('contact.socialMedia') }}</h4>
                                <!--                                <a href="#" class="fab fa-facebook-square fa-lg uk-margin-right"></a>-->
                                <!--                                <a href="#" class="fab fa-twitter fa-lg uk-margin-right"></a>-->
                                <a href="https://www.youtube.com/watch?v=bWND0qcMiz0" target="_blank" class="fab fa-youtube fa-lg uk-margin-right"></a>
                                <a href="https://www.instagram.com/traderista/?hl=de" target="_blank" class="fab fa-instagram fa-lg uk-margin-right"></a>
                                <!--                                <a href="#" class="fab fa-telegram-plane fa-lg uk-margin-right"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
</template>

<script>
import {core} from "../../config/pluginInit";
import submitCoachingApplication from "../../graphql/mutations/submitCoachingApplication.graphql";

export default {
    name: "ContactPage",
    mounted() {
        core.index()
    },
    data() {
        return {
            submitCoachingApplication: submitCoachingApplication,
            name: '',
            email: '',
            message: '',
            phoneNumber: ''
        }
    },
    methods: {
        onDone() {
            // core.showSnackbar('success', 'Ihre Bewerbung wurde eingereicht')
        },
        submitApplication(mutate) {
            if (this.name.length === 0 || this.email.length === 0 || this.message.length === 0) {
                core.showSnackbar('error', 'Bitte fügen Sie alle Formulare bei')
            } else {
                mutate()
                core.showSnackbar('success', 'Ihre Bewerbung wurde eingereicht')
            }
        }
    }
}
</script>

<style scoped>

</style>
