<template>
    <div class="ml-5 mr-5 mt-5">
        <h1>{{ $t('cookiePolicy.cookiePolicyH1') }}</h1>

        <p>{{ $t('cookiePolicy.thisisTraderistaCookiePolicy') }}</p>

        <p><strong>{{ $t('cookiePolicy.whatAreCookies') }}</strong></p>

        <p>{{
                $t('cookiePolicy.p1')
            }}</p>

        <p><strong>{{ $t('cookiePolicy.howWeUseCookies') }}</strong></p>

        <p>{{
                $t('cookiePolicy.p2')
            }}</p>

        <p><strong>{{ $t('cookiePolicy.disablingCookies') }}</strong></p>

        <p>{{
                $t('cookiePolicy.p3')
            }}<a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">Cookies Policy
                Generator
                from CookiePolicyGenerator.com</a>.</p>

        <p>{{ $t('cookiePolicy.clickHereToOptOut') }}
            <a href="#" @click="optOutCookies()">{{ $t('cookiePolicy.optOut') }}</a>
        </p>


        <p><strong>{{ $t('cookiePolicy.theCookiesWeSet') }}</strong></p>

        <ul>

            <li>
                <p>{{ $t('cookiePolicy.sitePreferencesCookies') }}</p>
                <p>{{
                        $t('cookiePolicy.p4')
                    }}</p>
            </li>

        </ul>

        <p><strong>{{ $t('cookiePolicy.thirdPartyCookies') }}</strong></p>

        <p>{{
                $t('cookiePolicy.thirdParties')
            }}</p>

        <ul>

            <li>
                <p>{{ $t('cookiePolicy.ga') }}</p>
                <p>{{ $t('cookiePolicy.ga2') }}</p>
            </li>


            <li>
                <p>{{
                        $t('cookiePolicy.statistics')
                    }}</p>
            </li>


            <li>
                <p>{{
                        $t('cookiePolicy.socialMedia')
                    }}</p>
            </li>

        </ul>

        <p><strong>{{ $t('cookiePolicy.moreInformation') }}</strong></p>

        <p>{{
                $t('cookiePolicy.clarify')
            }}</p>

        <p>{{ $t('cookiePolicy.pleaseRead') }} <a
            href="https://www.generateprivacypolicy.com/#cookies" class="primary-color">"Cookies"
            {{ $t('cookiePolicy.article') }}</a>.</p>

        <p>{{
                $t('cookiePolicy.contact')
            }}</p>

        <ul>

            <li>{{
                    $t('cookiePolicy.visitingThisLink')
                }} <a class="primary-color" href="https://traderista-trading.de/contact">
                    https://traderista-trading.de/contact</a></li>
        </ul>
    </div>

</template>

<script>
export default {
    name: "CookiePolicy",

    methods: {
        optOutCookies() {
            this.$gtag.optOut();
            localStorage.removeItem('vue-cookie-accept-decline-myPanel1');
            localStorage.setItem('vue-cookie-accept-decline-myPanel1', 'decline');
        }
    }
}
</script>

<style scoped>

</style>
