<template>
    <main>

        <Navbar></Navbar>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center">"Wie man Verluste an der Börse mit besonderen
                                    Handelsstrategien vermeiden kann... Garantiert!"</h1>
                                <h2 class="text-center text-primary-color">OHNE dabei auf hohe Gewinne verzichten zu
                                    müssen!</h2>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img class="in-slide-img"
                                             src="../../assets/img/website/stock-market-secrets.png"
                                             alt="image-slide" width="500" height="400">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h2 class="text-black">Die Geheimnisse hinter über 10 Millionen
                                                getesteten Strategien - Jetzt für Dich verfügbar</h2>
                                            <hr class="uk-divider-small">
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet in-list-check text-black">
                                                        <li>Erziele endlich dauerhaft Gewinne an der Börse mit
                                                            Aktienhandel
                                                        </li>
                                                        <li>Vervielfache deine Trading-Gewinne durch eine besondere
                                                            Stop Loss Strategie
                                                        </li>
                                                        <li>Werde unabhängig vom Auf und Ab an den Märkten -
                                                            verdiene konstant Geld
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="m-3">
                                                    <button @click="showSubscribeBox = !showSubscribeBox"
                                                            class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                                        Jetzt Stock Market Secrets sichern! <i
                                                        :class="['fas', showSubscribeBox ? 'fa-angle-down' : 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                                    </button>
                                                    <p class="text-center text-black">Jetzt für kurze Zeit
                                                        gratis! </p>
                                                    <!--                                                    <a class="uk-button uk-button-primary uk-border-rounded" href="#">-->
                                                    <!--                                                    </a>-->

                                                    <div v-show="!subscribed && showSubscribeBox">
                                                        <b-form v-on:submit.prevent="noop"
                                                                class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                                            <div class="p-4 mx-auto"
                                                                 style="background-color: black; margin-top:20px; max-width: 600px;">
                                                                <h3 class="px-3 font-weight-bold pb-2 text-white">
                                                                    {{
                                                                        $t('ebookFunnel.iWillSendTheEbook')
                                                                    }}
                                                                </h3>
                                                                <ValidationProvider name="lead" rules="required"
                                                                                    v-slot="{ errors }">
                                                                    <b-form-input type="email" v-model="email"
                                                                                  @keyup.enter="subscribe"
                                                                                  :placeholder="'E-Mail eingeben'"
                                                                                  style="background-color: white;color: black"
                                                                                  :class="[errors.length > 0 ?  'is-invalid' : '','uk-search-input' ,'uk-border-pill', 'text-center','rounded-0']">
                                                                    </b-form-input>
                                                                </ValidationProvider>
                                                                <div class="invalid-feedback font-20"
                                                                     v-if="errorMsg !== ''"
                                                                     style="display: block">
                                                                    <span>{{ errorMsg }}</span>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-3 col-2"></div>
                                                                    <div
                                                                        class="mt-5 col-sm-6 col-8 primary-background-color">
                                                                        <a @click="subscribe">
                                                                            <h5 class="text-black m-0 py-3">
                                                                                {{
                                                                                    $t('alternativeLandingPage.sendMailAddress')
                                                                                }}
                                                                            </h5></a>
                                                                    </div>
                                                                    <div class="col-sm-3 col-2"></div>
                                                                </div>
                                                            </div>
                                                        </b-form>
                                                    </div>
                                                    <div v-show="subscribed && showSubscribeBox">
                                                        <div
                                                            class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                                            <div class="p-4 mx-auto"
                                                                 style="background-color: black; margin-top: 20px; max-width: 600px;">
                                                                <h3 class="px-3 font-weight-bold pb-2 text-white">
                                                                    {{
                                                                        $t('alternativeLandingPage.emailSubscriptionText')
                                                                    }}
                                                                </h3>
                                                                <div class="mt-4">
                                                                    <h5 class="text-center text-white"
                                                                        style="color: white;">
                                                                        Vielen Dank für Ihr Abonnement!
                                                                    </h5>
                                                                    <div class="align-content-center text-center">
                                                                        <i class="fa fa-check-circle align-content-center"
                                                                           style="font-size:48px;color:green"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="uk-container text-center mb-3">
                                <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                                   style="font-size: 30px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h2 style=" color: rgba(0, 0, 0, 0.8) !important;">Analyse aus über 10 Millionen
                                    getesteten
                                    Handelsstrategien und
                                    über 40 Büchern zum Thema Börse
                                </h2>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h4 style=" color: rgba(0, 0, 0, 0.8) !important;">Statistisch bewiesene
                                                Handelsstrategien bleiben auch
                                                2022 die beste Möglichkeit, Gewinne an der Börse zu erzielen.

                                                Jedoch treten immer häufiger folgende Probleme bei der
                                                Verlässlichkeit
                                                auf, die Dir mit Sicherheit auch schon widerfahren sind:
                                            </h4>
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet text-black">
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du hast unzählige Handelsideen
                                                            ausprobiert, aber keine hat
                                                            auf Dauer funktioniert
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du hast viel Kapital in "heiße
                                                            Tipps" investiert und nur
                                                            Geld verbrannt
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du mühst Dich jeden Tag ab,
                                                            neue
                                                            Aktien zu finden, aber
                                                            keine scheint Erfolg zu bringen
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du verlierst langsam den
                                                            Glauben
                                                            daran, dass Börsenhandel
                                                            tatsächlich in der realen Welt funktioniert
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <div class="uk-overlay">
                                            <img class="in-slide-img"
                                                 src="../../assets/img/website/angry-trader.jpeg"
                                                 alt="angry-trader"
                                                 width="500" height="400">
                                        </div>
                                    </div>

                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay">
                                            <h4 class="text-black font-weight-normal">
                                                    <span style="color:#339966"
                                                          class="font-weight-bold">Fakt ist: </span>
                                                Über 90% der privaten Trader versuchen bei diesen
                                                Problemen neue
                                                Einstiegsvarianten aus und denken, dass diese die Ursache für Ihr
                                                Scheitern
                                                an der Börse sind.
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay" style="border:1pt dotted black">
                                            <h2 style="color:red;text-decoration: underline" class="text-center">Die
                                                schockierende
                                                Realität:</h2>
                                            <h4 class="text-black text-center font-weight-normal">
                                                Die allerwenigsten wissen, dass das Scheitern beim Börsenhandel an
                                                den
                                                anderen Parametern ihrer Handelsstrategien liegt.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-2@m uk-width-1-1@s">
                            <img class="in-slide-img" src="../../assets/img/website/trading.jpeg"
                                 alt="photo-output-6"
                                 width="400" height="300">
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-2@m">
                            <div class="uk-overlay">
                                <p style=" color: rgba(0, 0, 0, 0.8) !important;">Ich habe in den letzten Jahren
                                    über
                                    10 Millionen Strategien getestet und dabei herausgefunden, was eine
                                    gute Handelsstrategie ausmacht.
                                </p>

                                <p style=" color: rgba(0, 0, 0, 0.8) !important;">In mehr als 90% der Fälle
                                    scheitert es
                                    daran, dass keine vernünftige Handelsstrategie
                                    vorhanden ist.
                                </p>

                                <p style=" color: rgba(0, 0, 0, 0.8) !important;text-decoration: underline">Mit den
                                    richtigen Fundamenten und
                                    meinen bewährten Strategien wirst Du aus Deinem
                                    Trading das Maximum rausholen und stabile Gewinne erzielen können...</p>

                                <p class="font-weight-bold text-black" style="text-decoration: underline">... mit
                                    diesen
                                    Börsengeheimnissen und den darin
                                    enthaltenen
                                    5 grundlegenden Gesetzen
                                    gehörst Du endlich zu den Gewinnern an der Börse und gelangst auf die
                                    Überholspur
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path d="M0 0L2600 0 2600 69.1 0 0z" fill="#DAA520"></path>
            <path style="opacity:0.5;" fill="#DAA520"
                  d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path style="opacity:0.25" fill="#DAA520" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h2 style=" color: rgba(0, 0, 0, 0.8) !important;">Bisher profitiert nur mein
                                    engster
                                    Kreis von diesen exklusiven Strategien
                                </h2>
                            </div>
                            <hr class="uk-divider-small primary-background-color">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h3 style=" color: rgba(0, 0, 0, 0.8)" class="text-center">Warum
                                                diese
                                                Börsengeheimnisse unbezahlbar sind...
                                            </h3>
                                            <p style="color: rgba(0, 0, 0, 0.8); font-size: 22px">Die Inhalte von
                                                Stock Market Secrets sind das Resultat aus über 10 Millionen
                                                getesteten Strategien und sind die Basis für Algorithmen, die in
                                                den letzten 23 Jahren eine jährliche Pro-forma-Rendite von 96,7%
                                                aufweisen - also aus nur 5.000€ über 56 Milliarden Euro.
                                            </p>
                                            <p style=" color: rgba(0, 0, 0, 0.8);font-size: 22px"
                                               class="font-weight-bold">
                                                Du bekommst die
                                                Basis für diese Algorithmen und Strategien per Knopfdruck auf
                                                Deinen Bildschirm geliefert.
                                            </p>
                                            <p style=" color: rgba(0, 0, 0, 0.8);font-size:22px;text-decoration: underline">
                                                Du sparst Dir nicht nur jahrelanges Testen von nicht
                                                funktionierenden Strategien und Systemen, sondern auch eine
                                                große Menge an Lehrgeld!</p>

                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <div class="uk-overlay">
                                            <img
                                                src="../../assets/img/website/cover-1.jpeg"
                                                alt="cover-1"
                                                width="500" height="400">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="uk-section uk-padding-remove-vertical" style="background-color: #f5f5f5">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s hidden-in-mobile">
                                        <img
                                            src="../../assets/img/website/cover-1.jpeg"
                                            alt="cover-1" class="mt-5 mb-5"
                                            width="500" height="400">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h2 class="text-black text-center mt-2">Was Du mit diesem Handbuch
                                                erreichst...
                                            </h2>
                                            <hr class="uk-divider-small">
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet in-list-check text-black font-20">
                                                        <li>Du erzielst Gewinne an der Börse und schlägst den Markt
                                                        </li>
                                                        <li>Du bleibst verschont von nicht profitablen Handelsideen,
                                                            weil Du statistisch geprüfte Strategien für deine
                                                            Entscheidungen nutzt
                                                        </li>
                                                        <li>Du ersparst Dir schmerzhafte Fehler beim Börsenhandel
                                                            dank
                                                            bewährter Handelsstrategien
                                                        </li>
                                                        <li>
                                                            Du baust Dir langfristig ein Vermögen mit Aktienhandel
                                                            auf
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay justify-content-center">
                                            <h2 class="text-black mt-5">Welche Auswirkungen haben diese
                                                Börsengeheimnisse für Dich und Dein Vermögen?
                                            </h2>
                                            <hr class="uk-divider-small" style="color:#DAA520">
                                            <p style="color: rgba(0, 0, 0, 0.8); font-size: 22px">Du musst Dich nie
                                                wieder auf nicht funktionierende Handelsideen verlassen, bei denen
                                                Du
                                                schon im Vorhinein ein mulmiges Gefühl hast. Stattdessen wirst Du
                                                mit
                                                Leichtigkeit Gewinne an der Börse erzielen können, ohne viel Zeit
                                                und
                                                Geld zu verschwenden.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img
                                            src="../../assets/img/website/cover-2.jpeg"
                                            alt="cover-1" class="mt-5 mb-5"
                                            width="500" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="uk-section uk-padding-remove-vertical margin-lg" style="background-color: #f5f5f5;">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay">
                                            <h1 style=" color: rgba(0, 0, 0, 0.8) !important;" class="text-center">
                                                Was passiert, wenn Du auf diese bewährte Trading-System verzichtest?
                                            </h1>

                                            <div class="mt-5">
                                                <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                    <div>
                                                        <ul class="uk-list uk-list-bullet text-black font-20">
                                                            <li class="mt-2">🚫 ... Du wirst weiterhin die ganze
                                                                Zeit Geld durch schlechte oder gar keine Strategien
                                                                verlieren, bis Du irgendwann komplett bei null bist
                                                                und nichts mehr machen kannst
                                                            </li>
                                                            <li class="mt-2">🚫 ... aber das Schlimmste jedoch ist:
                                                                Du wirst irgendwann so frustriert sein, weil Du
                                                                tausende Euros in den Sand gesetzt hast für das
                                                                Versprechen der großen Gewinne an der Börse (bspw.
                                                                mit Kryptos)
                                                            </li>
                                                            <li class="mt-2">🚫 ... Du wirst wahrscheinlich für
                                                                immer gebrandmarkt sein und so viel Abstand wie
                                                                möglich von dem ganzen Börsen-Thema nehmen, weil Du
                                                                Angst hast, den gleichen Schmerz nochmal zu
                                                                durchleben.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <br/>
                                            <br/>
                                            <h2 style=" color: rgba(0, 0, 0, 0.8) !important;" class="text-center">
                                                Du kannst Dir heute die ultimative Abkürzung sichern und Dir 9 Jahre
                                                an
                                                Börsen-Erfahrung sparen, ohne denselben steinigen Weg gehen zu
                                                müssen.
                                            </h2>
                                            <br/>

                                            <div class="justify-content-center text-center">
                                                <img src="../../assets/img/website/e-book-on-table.png"
                                                     alt="cover-UXVAB2-F4-S" border="0"
                                                     style="width: 417px; height: 388px">
                                            </div>
                                            <br/>

                                            <div class="m-3 justify-content-center text-center">
                                                <p class="text-center text-black">Einmaliges Angebot: Für kurze Zeit
                                                    <span style="color:#339966"
                                                          class="font-weight-bold">GRATIS!</span>
                                                </p>


                                                <button @click="showSubscribeBox = !showSubscribeBox"
                                                        class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                                    Jetzt Stock Market Secrets sichern! <i
                                                    :class="['fas', showSubscribeBox ? 'fa-angle-down' : 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                                </button>
                                            </div>

                                            <div v-show="!subscribed && showSubscribeBox">
                                                <b-form v-on:submit.prevent="noop"
                                                        class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                                    <div class="p-4 mx-auto"
                                                         style="background-color: black; margin-top:20px; max-width: 600px;">
                                                        <h3 class="px-3 font-weight-bold pb-2 text-white">
                                                            {{
                                                                $t('ebookFunnel.iWillSendTheEbook')
                                                            }}
                                                        </h3>
                                                        <ValidationProvider name="lead" rules="required"
                                                                            v-slot="{ errors }">
                                                            <b-form-input type="email" v-model="email"
                                                                          @keyup.enter="subscribe"
                                                                          :placeholder="'E-Mail eingeben'"
                                                                          style="background-color: white;color: black"
                                                                          :class="[errors.length > 0 ?  'is-invalid' : '','uk-search-input' ,'uk-border-pill', 'text-center','rounded-0']">
                                                            </b-form-input>
                                                        </ValidationProvider>
                                                        <div class="invalid-feedback font-20"
                                                             v-if="errorMsg !== ''"
                                                             style="display: block">
                                                            <span>{{ errorMsg }}</span>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-3 col-2"></div>
                                                            <div
                                                                class="mt-5 col-sm-6 col-8 primary-background-color">
                                                                <a @click="subscribe">
                                                                    <h5 class="text-black m-0 py-3">
                                                                        {{
                                                                            $t('alternativeLandingPage.sendMailAddress')
                                                                        }}
                                                                    </h5></a>
                                                            </div>
                                                            <div class="col-sm-3 col-2"></div>
                                                        </div>
                                                    </div>
                                                </b-form>
                                            </div>
                                            <div v-show="subscribed && showSubscribeBox">
                                                <div
                                                    class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                                    <div class="p-4 mx-auto"
                                                         style="background-color: black; margin-top: 20px; max-width: 600px;">
                                                        <h3 class="px-3 font-weight-bold pb-2 text-white">
                                                            {{
                                                                $t('alternativeLandingPage.emailSubscriptionText')
                                                            }}
                                                        </h3>
                                                        <div class="mt-4">
                                                            <h5 class="text-center text-white"
                                                                style="color: white;">
                                                                Vielen Dank für Ihr Abonnement!
                                                            </h5>
                                                            <div class="align-content-center text-center">
                                                                <i class="fa fa-check-circle align-content-center"
                                                                   style="font-size:48px;color:green"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <br/>
                                            <br/>

                                            <div class="uk-container">
                                                <div class="uk-grid-medium" data-uk-grid>
                                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                                        <div class="uk-overlay">
                                                            <img
                                                                src="../../assets/img/website/hubertus-author.jpeg"
                                                                alt="cover-1"
                                                                width="500" height="400">
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                                        <div class="uk-overlay">
                                                            <p style="color: rgba(0, 0, 0, 0.8);">
                                                                Hubertus Justus Amadeus Mertens ist seit 8 Jahren an
                                                                der
                                                                Börse tätig und inzwischen sehr erfolgreich. Durch
                                                                seine
                                                                jahrelange Erfahrung und die Kombination des Wissens
                                                                aus
                                                                fast 50 Büchern sowie Seminaren und Webinaren hat er
                                                                eine Expertise für das Erstellen von
                                                                Trading-Strategien
                                                                entwickelt. Seine Spezialität dabei sind
                                                                Algorithmen,
                                                                die konstant Gewinne liefern.
                                                            </p>

                                                            <br/>
                                                            <div>
                                                                <ul class="uk-list text-black font-18 font-weight-bold">
                                                                    <li class="mt-2">📈 Über 10 Millionen Strategien
                                                                        getestet
                                                                    </li>
                                                                    <li class="mt-2">📈 Algorithmen mit
                                                                        durchschnittlich 96,7% Rendite pro Jahr
                                                                        entwickelt
                                                                    </li>
                                                                    <li class="mt-2">📈 Über 4 Millionen Euro
                                                                        Handelskapital gemanaged
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1@m uk-width-1-1@s">
                                                        <div class="justify-content-center text-center">
                                                            <img src="../../assets/img/website/hubertus-qoute.jpeg"
                                                                 alt="cover-UXVAB2-F4-S" border="0">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-bottom-nav">
            <b-form v-on:submit.prevent="noop"
                    class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                <div class="p-4 mx-auto justify-content-center"
                     style="background-color: #333333;max-width: 800px; ">
                    <div class="row justify-content-center">
                        <ValidationProvider name="lead" rules="required"
                                            v-slot="{ errors }">
                            <b-form-input type="email" v-model="email"
                                          @keyup.enter="subscribe"
                                          :placeholder="'E-Mail eingeben'"
                                          :class="(errors.length > 0 ? ' is-invalid uk-search-input uk-border-pill text-center rounded-0 min-width-420' : 'uk-search-input uk-border-pill text-center rounded-0 min-width-420')">
                            </b-form-input>
                        </ValidationProvider>
                        <div class="invalid-feedback font-20"
                             v-if="errorMsg !== ''"
                             style="display: block">
                            <span>{{ errorMsg }}</span>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <a @click="subscribe" class="primary-background-color p-2 min-width-420">
                            <h5 class="text-black m-0 p-1">
                                {{
                                    $t('alternativeLandingPage.sendMailAddress')
                                }}
                            </h5></a>
                    </div>
                </div>
            </b-form>
        </div>
    </main>
</template>

<script>
import LEAD_OPT_IN from "../../graphql/mutations/leadOptIn.graphql";
import {TrackingService} from "../../services/tracking";
import Navbar from "../../components/Website/layout/Navbar";

export default {
    name: "EbookFunnelPage",
    components: {
        Navbar
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
        hubertusBackgroundImg() {
            return {
                'background-image': `url( ${require('../../assets/img/website/hubertus.png')} )`,
                'background-repeat': 'no-repeat',
                'background-position': 'center',
            }
        },
        whiteTriangle() {
            return {
                'background-image': `url( ${require('../../assets/img/website/white_triangle.png')} )`,
            }
        }
    },
    data() {
        return {
            subscribed: false,
            errorMsg: '',
            email: null,
            showSubscribeBox: false,
        }
    },
    methods: {
        subscribe() {
            if (this.email === '' || !this.email.match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                this.errorMsg = 'Bitte geben Sie eine gültige E-Mail ein'
            } else {
                this.$apollo.mutate({
                    mutation: LEAD_OPT_IN,
                    variables: {
                        input: {
                            email: this.email,
                            type: 'SUBSCRIPTION',
                            surveyResults: null,
                            recommendedPackageId: null
                        }
                    }
                }).then((_) => {
                    TrackingService.generateLead();
                    this.subscribed = true;
                });

                let routeData = this.$router.resolve({name: 'webinar-offer'});
                window.open(routeData.href, '_blank');
            }
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");

.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}

.margin-lg {
    margin-bottom: 200px;
}

.min-width-420 {
    min-width: 420px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }

    .min-width-420 {
        min-width: 300px;
    }
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666 !important;
    opacity: 1 /* Firefox */ !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666 !important;
}
</style>
