<template>
    <main>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center font-weight-bold">Hier kannst Du Dir das gratis E-Book
                                    „Stock Market
                                    Secrets“ herunterladen!
                                </h1>
                            </div>
                        </div>

                        <div class="uk-width-1-1 justify-content-center" style="display: flex">
                            <div class="uk-overlay">
                                <img class="text-center"
                                     :src="require('../../assets/img/website/e-book-extended-version.png')"
                                     alt="image-slide" width="500" height="400">
                            </div>
                        </div>

                        <div class="uk-width-1-1 justify-content-center" style="display: flex">
                            <button @click="download()"
                                    class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                Jetzt Stock Market Secrets herunterladen!<i
                                class="fas fa-angle-right uk-margin-small-left"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    name: "EbookExtendedDownloadPage",
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        }
    },
    methods: {
        download() {
            const a = document.createElement('a')
            const url = 'Traderista E-Book - 12 Punkte, mit denen Du Verluste an der Börse vermeidest... Garantiert!.pdf';
            a.href = url;
            a.download = url.split('/').pop()
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
            this.$router.push({name: 'starter-offer'});
        }
    }
}
</script>

<style scoped>

</style>
