<template>
    <div>
        <main>
            <!-- slideshow content begin -->
            <div class="uk-section uk-padding-remove-vertical">
                <div class="uk-light intro-section uk-background-cover uk-background-top-center"
                     v-bind:style="mainBgImage">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div v-if="this.type !== 'subscription' && this.token !== undefined" class="intro-message mt-5 p-0 pt-5 pb-2">
                                <h1 class=" text-center mt-5 mb-0  pt-md-5">Deine Anfrage war erfolgreich! 💪🏽</h1>
                                <p class="uk-text-lead text-center ml-md-5 mr-md-5 mr-2 ml-2 mb-3 pb-4">
                                    Du hast Deine Ergebnisse erfolgreich angefordert!<br/>
                                    Klick einfach auf den Button und sieh Dir an, wie viel Geld Du mit dem einzigartigen
                                    Trading-MLM-System von Traderista verdienen kannst!
                                    <br/>
                                    ACHTUNG: Du kannst doppelt Geld verdienen, also achte auf alle Zahlen, die ich Dir
                                    nenne! 🔥📈
                                </p>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10 text-center justify-content-center">
                                        <RouterLink @click.native="scrollToTop" :to="{ name: 'survey-result' ,params: {
                                        a: this.surveyResults.a,
                                        b: this.surveyResults.b,
                                        c: this.surveyResults.c,
                                        d: this.surveyResults.d,
                                        e: this.surveyResults.e
                                    }}"
                                                    class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 mr-sm-2">
                                            Weiter zu den Ergebnissen
                                        </RouterLink>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                            <div v-else class="mt-5 p-0 pt-5 pb-2">
                                <h1 class=" text-center mt-5 mb-0  pt-md-5">Deine Anfrage war erfolgreich! 💪🏽</h1>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>

import SUBSCRIBE_LEAD from "../../graphql/mutations/subscribeLead.graphql"
import GET_LEAD_BY_TOKEN from "../../graphql/queries/getLeadByToken.graphql"
import {TrackingService} from "../../services/tracking";
import LEAD_OPT_IN from "../../graphql/mutations/leadOptIn.graphql";

export default {
    name: 'email-opt-in-success',
    props: {
        type: String,
        token: String,
        redirect: String
    },
    created() {
        TrackingService.buttonClick('Double Opt In Confirmed - Click');

        // SUBSCRIPTION FLOW
        if (this.token !== undefined) {
            this.$apollo.mutate({
                mutation: SUBSCRIBE_LEAD,
                variables: {
                    input: {
                        token: this.token
                    }
                }
            }).then((_) => {
                if (this.type === 'subscription') {
                    setTimeout(() =>
                        this.$router.push({
                            name: 'e-book-download', query: {
                                redirect: this.redirect
                            }
                        }), 2000);
                }
            }).catch((err) => {
                // console.log(err);
            });
        }

        // SURVEY FLOW
        if (this.type !== 'subscription' && this.token !== undefined) {
            this.$apollo.query({
                query: GET_LEAD_BY_TOKEN,
                variables: {
                    token: this.token
                }
            }).then((data) => {
                // console.log(data);
                const lead = data.data.lead;
                this.surveyResults = JSON.parse(lead.surveyResults);
                localStorage.setItem('surveyResults', JSON.stringify(lead.surveyResults));
                localStorage.setItem('recommendedPackageId', lead.recommendedPackageId);
            }).catch((err) => {
                // console.log(err);
            })
        }

        // EMAIL WEBINAR FLOW
        if (this.$route.query.email !== undefined) {
            this.subscribe(this.$route.query.email);
        }

        // const surveyResults = localStorage.getItem('surveyResults');
        // this.surveyResults = JSON.parse(surveyResults);
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        }
    },
    data() {
        return {
            surveyResults: {}
        }
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        subscribe(email) {
            this.$apollo.mutate({
                mutation: LEAD_OPT_IN,
                variables: {
                    input: {
                        email: email,
                        type: 'SUBSCRIPTION',
                        surveyResults: null,
                        recommendedPackageId: null
                    }
                }
            }).then((response) => {
                TrackingService.generateLead();
                var token = response['data']['optInLead']['token'];
                this.$apollo.mutate({
                    mutation: SUBSCRIBE_LEAD,
                    variables: {
                        input: {
                            token: token
                        }
                    }
                }).then((_) => {
                    setTimeout(() =>
                        this.$router.push({
                            name: 'e-book-extended-download',
                            query: {
                                redirect: this.redirect
                            }
                        }), 2000);
                }).catch((err) => {
                    // console.log(err);
                });
            });

            let routeData = this.$router.resolve({name: 'webinar-offer'});
            window.open(routeData.href, '_blank');
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
/* sm */
.intro-video {
    padding-top: 125px;
    padding-right: 30px;
    padding-left: 30px;
}

.intro-message {
    padding: 50px 30px 30px;
}

.intro-message h1 {
    font-size: 35px;
    min-height: 120px;
    /*color: #dec950;*/
}

.intro-icons {
    display: none !important;
}

@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 20px;
        padding-left: 50px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .intro-icons {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-message h1 {
        font-size: 40px;
        min-height: 120px;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

/* Custom media queries */
/* xxl */
@media (min-width: 1650px) {
    .intro-video {
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 160px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-icons {
        display: none !important;
    }
}


/* Intro section in sales page */
/* [ 4. slideshow ] */
.intro-section {
    height: 730px;
    margin-top: -125px;
}

.intro-section .uk-button {
    margin-top: 10px;
}

.intro-section .uk-grid-medium {
    position: relative;
    top: 182px;
}

.intro-section .uk-grid-medium .in-slide-img {
    margin-top: -40px;
}

@media (max-width: 960px) {
    .intro-section {
        height: auto;
    }

    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -30px;
        text-align: center;
    }

    .intro-section img {
        width: 90%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -10px;
        text-align: center;
    }

    .intro-section img {
        width: 100%;
        margin-left: -60px;
    }
}

.intro-section {
    background-color: #212224;
}

.intro-section .uk-slidenav {
    bottom: 175px;
    color: #fff;
}

.intro-section .intro-section-features {
    height: 220px;
    background: linear-gradient(0deg, #212224 65%, rgba(33, 34, 36, 0.3) 100%);
    margin-top: -190px;
}

.intro-section .intro-section-features .uk-container {
    position: relative;
    top: 124px;
}

.intro-section .intro-section-features .uk-label {
    font-weight: 500;
    padding: 2px 9px 2px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.intro-section .intro-section-features .uk-label i {
    margin-right: 5px;
}

.intro-section .intro-section-features .uk-label-success {
    color: #176639;
    background-color: #2ecc71;
}

.intro-section .intro-section-features .uk-label-danger {
    color: #772838;
    background-color: #ee4f6f;
}

.intro-section .intro-section-features .uk-text-lead {
    color: #fff;
    margin-top: -80px;
}

.intro-section .intro-section-features .slide-icons-1 {
    margin-top: -25px;
}

.intro-section .intro-section-features .slide-icons-1 i {
    color: #DAA520;
}

.intro-section .intro-section-features .slide-icons-2 {
    margin-top: -32px;
}

.intro-section .intro-section-features .slide-icons-2 img {
    margin-top: 5px;
}

@media (max-width: 960px) {
    .intro-section .uk-slidenav {
        display: none;
    }
}
</style>
