<template>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-error">
                    <img :src="image404" class="img-fluid iq-error-img mb-10" alt="404">
                    <h2 class="mb-0 mt-4">{{ $t('landingPage.pageNotFound') }}</h2>
                    <p>{{ $t('landingPage.theRequestedPageDoesntExist') }}</p>
                    <button @click="$router.go(-1)" class="btn primary-background-color mt-3"><i
                        class="ri-home-4-line"></i>{{ $t('landingPage.backToApp') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {core} from '../../config/pluginInit'

export default {
    name: 'ErrorPage',
    mounted() {
        core.index()
    },
    data() {
        return {
            image404: require('../../assets/images/error/error-01.png'),
            image500: require('../../assets/images/error/error-.png')
        }
    }
}
</script>
