<template>

    <main>
        <div class="uk-section mt-4">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m uk-text-center">
                            <h2 class="font-weight-bold"><span class="in-highlight">{{ getPage().title }}</span></h2>
                            <p style="font-size: 20px" class="mt-4" v-html="getPage().html1"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-2 pr-4 pl-4 pb-4" v-if="getPage().video !== null">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 ">
                <div class="embed-responsive " style="padding-top: 56.25%">
                    <iframe class="embed-responsive-item"
                            :src="getPage().video"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="uk-section mt-4" v-if="getPage().html2 !== null">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m uk-text-center">
                            <p style="font-size: 20px" class="mt-4" v-html="getPage().html2"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="getPage().packageId !== null">
            <ApolloQuery :query="packageQuery" :variables="{ id: getPage().packageId}">
                <template v-slot="{ result: { loading, error, data } }">
                    <div v-if="loading"></div>
                    <div v-else-if="data">
                        <div class="tab-content">
                            <!--                            <div v-for="(packageModel, index) in data.parentPackages" :key="packageModel.id">-->
                            <!--                                <div v-for="packageInfo of packageModel.packages" :key="packageInfo.id">-->
                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <PricingPackageAnnual v-on:triggerIndividualSupport="triggerIndividualSupport"
                                                      :packageModel="data.package"
                                                      :is-user-authed="isUserAuthed"
                                                      :duration="'MONTHLY'"
                                                      :selectable="false"
                                                      :has-discount="true"
                                                      :user="user"
                                                      :from-register="true">
                                </PricingPackageAnnual>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 pb-2 pr-3 pl-3 pb-5">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 ">
                            <button class="btn primary-background-color col-12" @click="showAllPackages()">
                                <h3 class="text-white font-18 font-weight-bold m-0 p-2">
                                    {{ $t('packages.showAllPackages') }}
                                </h3>
                            </button>
                        </div>
                    </div>
                </template>
            </ApolloQuery>
        </div>
        <div class="row pt-4 pb-2 pr-3 pl-3 pb-5" v-if="getPage().title === 'Weniger als 1.000€'">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 ">
                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                            @click.native="scrollToTop">
                    <button class="btn primary-background-color col-12" @click="showAllPackages()">
                        <h3 class="text-white font-18 font-weight-bold m-0 p-2">
                            {{ $t('landingPage.startFor1Euro') }}
                        </h3>
                    </button>
                </RouterLink>
            </div>
        </div>
        <!--        <b-modal :id="'individual-support-modal'" centered hide-header-close-->
        <!--                 ok-disabled cancel-disabled hide-footer size="md" :no-close-on-backdrop="true"-->
        <!--                 header-bg-variant="primary">-->
        <!--            <IndividualSupportModal :modal-id="'individual-support-modal'"-->
        <!--                                    :package-id="packageId"-->
        <!--                                    :duration="durationSelected"-->
        <!--                                    :from-register="fromRegister">-->
        <!--            </IndividualSupportModal>-->
        <!--        </b-modal>-->
    </main>
</template>

<script>
import getPackageById from "../../graphql/queries/getPackageById.graphql"
import Package from "./PricingPackage";
import {Auth} from "../../config/auth";
import PricingPackageAnnual from "./PricingPackageAnnual";
import IndividualSupportModal from "../UserApp/IndividualSupportModal";
import {mapGetters} from "vuex";
import {TrackingService} from "../../services/tracking";

export default {
    name: "FunnelResultPage",
    props: {
        a: Number,
        b: Number,
        c: Number,
        d: Number,
        e: Number,
        packageIdProp: String,
        isStarter: Boolean,
    },
    components: {
        PricingPackageAnnual,
        Package,
        IndividualSupportModal
    },
    mounted() {
        TrackingService.pageView("Survey Funnel Result",  this.$route);
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        isUserAuthed: function () {
            return Auth.isUserAuthed()
        }
    },
    created() {
        if (this.packageIdProp != null) {
            this.page = this.page14;
        } else {
            if (this.c === 1) {
                this.page = this.page1
            }
            if (this.c === 2 && this.a === 1) {
                this.page = this.page2
            }
            if (this.c === 2 && this.a === 2) {
                this.page = this.page3
            }
            if (this.c === 2 && this.a === 3) {
                this.page = this.page4
            }
            if (this.c === 3 && this.a === 1) {
                this.page = this.page5
            }
            if (this.c === 3 && this.a === 2) {
                this.page = this.page6
            }
            if (this.c === 3 && this.a === 3) {
                this.page = this.page7
            }
            if (this.c === 4 && this.a === 1) {
                this.page = this.page8
            }
            if (this.c === 4 && this.a === 2) {
                this.page = this.page9
            }
            if (this.c === 4 && this.a === 3) {
                this.page = this.page10
            }
            if (this.c === 5 && this.a === 1) {
                this.page = this.page11
            }
            if (this.c === 5 && this.a === 2) {
                this.page = this.page12
            }
            if (this.c === 5 && this.a === 3) {
                this.page = this.page13
            }
        }

        // var object = {
        //     a: this.a,
        //     b: this.b,
        //     c: this.c,
        //     d: this.d,
        //     e: this.e
        // };
        //
        // localStorage.setItem('surveyResults', JSON.stringify(object));

        localStorage.setItem('recommendedPackageId', this.page.packageId);

    },
    data() {
        return {
            page: null,
            packageQuery: getPackageById,
            page1: {
                title: 'Weniger als 1.000€',
                html1: 'Ich will ehrlich zu Dir sein, denn ich möchte Dich nur als zufriedenen Kunden. ' +
                    'Du würdest nicht genug Geld verdienen, um das spätere Abo zu bezahlen… deshalb biete ' +
                    'ich Dir an, als mein Partner Trading-Kapital aufzubauen… Lass mich Dir zeigen, wie… ',
                video: 'https://www.youtube.com/embed/bWND0qcMiz0?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1',
                html2: null,
                packageId: 1,
            },
            page2: {
                title: '1.000€ - 2.000€, 1x pro Woche 5 Minuten am Wochenende',
                html1: 'Du kannst 300€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-Partnership-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades Deutsche Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit Deutschen Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 1.000 - 2.000€ zur Verfügung und damit kannst Du 15% pro Jahr verdienen. Das sind 150 - 300€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 2,
            },
            page3: {
                title: '1.000€ - 2.000€, 1x pro Tag (Mo-Fr) 5 Minuten',
                html1: 'Ich will ehrlich zu Dir sein, denn ich möchte Dich nur als zufriedenen Kunden. Du würdest nicht genug Geld verdienen, um das spätere Abo auf Basis Deiner Antworten zu bezahlen… \n' +
                    '<br><br>' +
                    'Deshalb biete ich Dir an, die Trades von Paket "Weekly Trades Deutsche Aktien" auszuwählen und Dir parallel dazu Trading-Kapital als mein Partner aufzubauen… Lass mich Dir zeigen, wie… \n',
                video: 'https://www.youtube.com/embed/2h5ryPi6ZYo?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=0',
                html2: 'Du kannst 300€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades Deutsche Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit Deutschen Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 1.000 - 2.000€ zur Verfügung und damit kannst Du 15% pro Jahr verdienen. Das sind 150 - 300€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                packageId: 2,
            },
            page4: {
                title: '1.000€ - 2.000€, 6x pro Woche je 5 Minuten',
                html1: 'Ich will ehrlich zu Dir sein, denn ich möchte Dich nur als zufriedenen Kunden. Du würdest nicht genug Geld verdienen, um das spätere Abo auf Basis Deiner Antworten zu bezahlen… \n' +
                    '<br><br>' +
                    'Deshalb biete ich Dir an, die Trades von Paket "Weekly Trades Deutsche Aktien" auszuwählen und Dir parallel dazu Trading-Kapital als mein Partner aufzubauen… Lass mich Dir zeigen, wie…\n',
                video: 'https://www.youtube.com/embed/2h5ryPi6ZYo?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=0',
                html2: 'Du kannst 300€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades Deutsche Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit Deutschen Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 1.000 - 2.000€ zur Verfügung und damit kannst Du 15% pro Jahr verdienen. Das sind 150 - 300€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                packageId: 2,
            },
            page5: {
                title: '2.000€ - 3.000€, 1x pro Woche 5 Minuten am Wochenende',
                html1: 'Du kannst 750€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades US-Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit US-Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 2.000 - 3.000€ zur Verfügung und damit kannst Du 25% pro Jahr verdienen. Das sind 500 - 750€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 3,
            },
            page6: {
                title: '2.000€ - 3.000€, 1x pro Tag (Mo-Fr) 5 Minuten',
                html1: 'Du kannst 600€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Daily Trades Deutsche Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Tag (Mo-Fr) 5 Minuten mit Deutschen Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 2.000 - 3.000€ zur Verfügung und damit kannst Du 20% pro Jahr verdienen. Das sind 400 - 600€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 5,
            },
            page7: {
                title: '2.000€ - 3.000€, 6x pro Woche je 5 Minuten',
                html1: 'Du kannst 900€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Alle Trades Indizes" auf Basis Deiner Antworten. \n' +
                    '<br><br>' +
                    'Damit tradest Du 6x pro Woche je 5 Minuten mit Indizes, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 2.000 - 3.000€ zur Verfügung und damit kannst Du 30% pro Jahr verdienen. Das sind 600 - 900€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 10,
            },
            page8: {
                title: '3.000€ - 5.000€, 1x pro Woche 5 Minuten am Wochenende',
                html1: 'Du kannst 2.500€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades Alle Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit Deutschen Aktien, US-Aktien und Indizes, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 3.000 - 5.000€ zur Verfügung und damit kannst Du 50% pro Jahr verdienen. Das sind 1.500 - 2.500€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 7,
            },
            page9: {
                title: '3.000€ - 5.000€, 1x pro Tag (Mo-Fr) 5 Minuten',
                html1: 'Du kannst 2.500€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Daily Trades US-Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Tag (Mo-Fr) 5 Minuten mit US-Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 3.000 - 5.000€ zur Verfügung und damit kannst Du 50% pro Jahr verdienen. Das sind 1.500 - 2.500€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 6,
            },
            page10: {
                title: '3.000€ - 5.000€, 6x pro Woche je 5 Minuten',
                html1: 'Du kannst 2.250€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Alle Trades Deutsche Aktien" auf Basis Deiner Antworten. \n' +
                    '<br><br>' +
                    'Damit tradest Du 6x pro Woche je 5 Minuten mit Deutschen Aktien, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 3.000 - 5.000€ zur Verfügung und damit kannst Du 30% pro Jahr verdienen. Das sind 1.350 - 2.250€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 11,
            },
            page11: {
                title: '5.000€ - 10.000€, 1x pro Woche 5 Minuten am Wochenende',
                html1: 'Du kannst 5.000€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Weekly Trades Alle Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Woche 5 Minuten am Wochenende mit Deutschen Aktien, US-Aktien und Indizes, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 5.000 - 10.000€ zur Verfügung und damit kannst Du 50% pro Jahr verdienen. Das sind 2.500 - 5.000€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 7,
            },
            page12: {
                title: '5.000€ - 10.000€, 1x pro Tag (Mo-Fr) 5 Minuten',
                html1: 'Du kannst 10.000€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Daily Trades Alle Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 1x pro Tag (Mo-Fr) 5 Minuten mit Deutschen Aktien, US-Aktien und Indizes, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 5.000 - 10.000€ zur Verfügung und damit kannst Du 100% pro Jahr verdienen. Das sind 5.000 - 10.000€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 8,
            },
            page13: {
                title: '5.000€ - 10.000€, 6x pro Woche je 5 Minuten',
                html1: 'Du kannst 15.000€ pro Jahr mit Trading verdienen und monatlich ' + this.getValue() + '€ mit dem einzigartigen Trading-MLM-System von Traderista.\n' +
                    '<br><br>' +
                    'Deshalb empfehle ich Dir Paket "Alle Trades Alle Aktien" auf Basis Deiner Antworten.\n' +
                    '<br><br>' +
                    'Damit tradest Du 6x pro Woche je 5 Minuten mit Deutschen Aktien, US-Aktien und Indizes, weil Dir das am meisten Gewinn bringt bei Deinem Kapital.\n' +
                    '<br><br>' +
                    'Du hast 5.000 - 10.000€ zur Verfügung und damit kannst Du 150% pro Jahr verdienen. Das sind 7.500 - 15.000€ bei Deiner Summe und damit das Optimum.\n' +
                    '<br><br>' +
                    'Weil ich weiß, dass Du mit meinen Trading-Strategien Geld verdienst, indem Du sie einfach eingibst, wie ich es Dir zeige, möchte ich Dir gern ein Angebot machen:\n',
                video: null,
                html2: null,
                packageId: 9,
            },
            page14: {
                title: this.packageIdProp === "1" ? 'Jetzt 30 Tage für nur 1€ testen' : '',
                html1: '',
                video: null,
                html2: null,
                packageId: this.packageIdProp,
            },
            fromRegister: false,
            durationSelected: "MONTHLY",
            packageId: null,
        }
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        getPage() {
            return this.page;
        },
        getValue() {
            if (this.d === 2) {
                return "0"
            }
            if (this.e === 1) {
                return "250"
            }
            if (this.e === 2) {
                return "500"
            }
            if (this.e === 3) {
                return "1.000"
            }
            if (this.e === 4) {
                return "2.500"
            }
            if (this.e === 5) {
                return "5.000"
            }
            return "12.500"
        },
        showAllPackages() {
            localStorage.removeItem('recommendedPackageId');
            localStorage.removeItem('surveyResults');
            if (this.$route.name.match('app.packages')) {
                if (this.packageIdProp != null) {
                    this.$router.replace({name: 'app.packages'});
                } else {
                    location.reload();
                }
            } else {
                this.$router.push({name: 'app.packages'})
            }
        },
        triggerIndividualSupport(args) {
            this.packageId = args.packageId;
            this.durationSelected = args.durationSelected;
            this.fromRegister = args.fromRegister;
            this.$bvModal.show(args.modalId);
        },
    }
}
</script>

<style scoped>

</style>
