<template>
    <main>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center font-weight-bold">Grundkurs "Wahrer Wohlstand" für nur 19,99€
                                </h1>
                            </div>
                        </div>

                        <div class="uk-width-1-1 justify-content-center" style="display: flex">
                            <div class="uk-overlay">
                                <img class="text-center"
                                     :src="require('../../assets/img/website/grundkurs.png')"
                                     alt="image-slide" width="500" height="600">
                            </div>
                        </div>

                        <div class="uk-width-1-1 justify-content-center" style="display: flex;min-width: 400px">
                            <paypal-buttons :on-approve="onApprove" :create-order="createOrder"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

import Vue from "vue";
import {core} from "../../config/pluginInit";

const PayPalButton = paypal_orders.Buttons.driver("vue", Vue);

export default {
    name: "GrundkursPage",
    components: {
        "paypal-buttons": PayPalButton
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
        createOrder: function () {
            return (data, actions) => {
                return actions.order.create({
                    purchase_units: [
                        {
                            description: "Grundkurs \"Wahrer Wohlstand\"",
                            amount: {
                                value: "19.99",
                                currency: "EUR"
                            },
                        },
                    ],
                });
            }
        },
        onApprove: function () {
            return async (data, actions) => {
                const response = await actions.order.capture();
                if (response.status === "COMPLETED") {
                    window.location.href = "https://drive.google.com/file/d/1jSSMCwnrqPOkuSDPxmkz5jJeIJrUSUyT/view?usp=sharing"
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }
            }
        }
    },
}
</script>

<style scoped>

</style>
