<template>
    <main>
        <div class="uk-section">
            <div class="uk-container">
                <h1 class="uk-margin-small-bottom mb-5">Impressum</h1>
                <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                <p>Traderista Trading Service UG (haftungsbeschr&auml;nkt)<br />
                    Sternstr. 5<br />
                    53111 Bonn</p>
                <p>Handelsregister: HRB 26958<br />
                    Registergericht:Amtsgericht Bonn</p>

                <p><strong>Vertreten durch:</strong><br />
                    Hubertus Justus Amadeus Mertens</p>

                <h2>Kontakt</h2>
                <p>E-Mail: info@traderista-trading.com</p>

                <h2>Umsatzsteuer-ID</h2>
                <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                    DE328875182</p>

                <h2>EU-Streitschlichtung</h2>
                <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
                    <a href="https://ec.europa.eu/consumers/odr/"  class="text-primary"
                       target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

                <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
                <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

                <p>Quelle: <a class="text-primary" href="https://www.e-recht24.de">eRecht24</a></p>
            </div>
        </div>
        <!-- section content end -->
    </main>
</template>

<script>
export default {
    name: "ImpressumPage"
}
</script>

<style scoped>

</style>
