<template>
    <div>
        <main>
            <!-- slideshow content begin -->
            <div class="uk-section uk-padding-remove-vertical">
                <div class="uk-light intro-section uk-background-cover uk-background-top-center"
                     v-bind:style="mainBgImage">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="intro-video">
                                <div class="embed-responsive" style="padding-top: 56.25%">
                                    <iframe class="embed-responsive-item"
                                            :src="frames.frame1.url"
                                            allowfullscreen></iframe>
                                </div>
                                <div v-if="!isAuthed" class="text-center mt-5">
                                    <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                                @click.native="scrollToTop"
                                                class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 pt-2 pb-2 mr-sm-2"
                                                style="line-height: 2.25">
                                        {{ $t('landingPage.startFor1Euro') }}
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="intro-message">
                                <h1 class="text-lg-left text-center">{{ $t('landingPage.methods') }}<br
                                    class="">{{ $t('landingPage.firstMillion') }}</h1>
                                <p class="uk-text-lead">{{ $t('landingPage.simpleSystem') }}</p>
                                <div class="row p-0 m-0">
                                    <RouterLink :to="{ name: 'survey' }" @click.native="scrollToTop"
                                                class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 pt-2 pb-1 mr-sm-2"
                                                style="line-height: 2.25">
                                        {{ $t('landingPage.explain') }}
                                    </RouterLink>
                                    <RouterLink v-if="!isAuthed" :to="{ name: 'auth1.sign-in1' }"
                                                @click.native="scrollToTop"
                                                class="uk-button uk-button-default uk-border-rounded col-sm-6 col-12 pt-2 pb-1">
                                        {{ $t('landingPage.loginToPlatform') }}
                                    </RouterLink>
                                    <RouterLink v-else :to="{ name: 'dashboard.home-1' }" @click.native="scrollToTop"
                                                class="uk-button uk-button-default uk-border-rounded col-sm-6 col-12 pt-2 pb-1">
                                        {{ $t('landingPage.sendToHome') }}
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pt-4 intro-icons">
                            <div class="uk-container">
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-5-6@m">
                                        <div class="uk-grid uk-child-width-1-4@m uk-text-center" data-uk-grid>
                                            <div class="uk-width-1-1 ">
                                                <p class="uk-text-lead">{{ $t('landingPage.actions') }}</p>
                                            </div>
                                            <div class="slide-icons-1">
                                                <img :src="icon10"
                                                     alt="sample-icon"
                                                     width="48" height="48">
                                                <a class="uk-button uk-button-text uk-align-center"
                                                   href="#">{{ $t('landingPage.bestTrades') }}</a>
                                            </div>
                                            <div class="slide-icons-1">
                                                <img :src="icon6"
                                                     alt="sample-icon"
                                                     width="48" height="48">
                                                <a class="uk-button uk-button-text uk-align-center"
                                                   href="#">{{ $t('landingPage.shares') }}</a>
                                            </div>
                                            <div class="slide-icons-1">
                                                <img :src="icon5"
                                                     alt="sample-icon"
                                                     width="48" height="48">
                                                <a class="uk-button uk-button-text uk-align-center"
                                                   href="#">{{ $t('landingPage.usShares') }}</a>
                                            </div>
                                            <div class="slide-icons-1">
                                                <img :src="icon21"
                                                     alt="sample-icon"
                                                     width="48" height="48">
                                                <a class="uk-button uk-button-text uk-align-center"
                                                   href="#">{{ $t('landingPage.notification') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-section uk-section-muted uk-padding-large in-liquid-8">
                <div class="uk-container">
                    <div class="row container-fluid">
                        <div class="col-md-5 col-12 pb-4 pt-md-0 pt-3">
                            <h3>{{ $t('landingPage.frustration') }}</h3><br class="d-md-none d-block">
                            <ul class="uk-list uk-list-bullet in-list-check">
                                <li>{{ $t('landingPage.lose') }}</li>
                                <li>{{ $t('landingPage.noCapital') }}</li>
                                <li>{{ $t('landingPage.missedOportunities') }}</li>
                                <li>{{ $t('landingPage.tradingStrategy') }}</li>
                                <li>{{ $t('landingPage.noKnowledge') }}</li>
                                <li>{{ $t('landingPage.confusation') }}</li>
                                <li>{{ $t('landingPage.invest') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5 col-12">
                            <h3>{{ $t('landingPage.neverWorry') }}</h3><br>
                            <ul class="uk-list uk-list-bullet in-list-check">
                                <li>{{ $t('landingPage.moreMoney') }}</li>
                                <li>{{ $t('landingPage.lessTime') }}</li>
                                <li>{{ $t('landingPage.simple') }}</li>
                                <li>{{ $t('landingPage.noRisk') }}</li>
                                <li>{{ $t('landingPage.permanent') }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 text-center pt-md-3 pt-5">
                        <p class="uk-margin-remove">{{ $t('landingPage.knowTheFeel') }}</p>
                    </div>
                </div>
            </div>

            <div class="uk-section in-offset-top-60 in-offset-top-50@s">
                <div class="uk-container">
                    <div class="uk-grid-medium uk-child-width-1-3@m in-testimonial-7" data-uk-grid>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                                <div class="uk-card-body">
                                    <blockquote>
                                        <p>{{ $t('landingPage.easyTrading') }}</p>
                                    </blockquote>
                                </div>
                                <!--                                <div class="uk-card-footer">-->
                                <!--                                    <blockquote>-->
                                <!--                                        <footer>Hubertus Justus Amadeus<br><cite>Trader</cite></footer>-->
                                <!--                                    </blockquote>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                                <div class="uk-card-body">
                                    <blockquote>
                                        <p>{{ $t('landingPage.extraMoneyQuote') }}</p>
                                    </blockquote>
                                </div>
                                <!--                                <div class="uk-card-footer">-->
                                <!--                                    <blockquote>-->
                                <!--                                        <footer>Hubertus Justus Amadeus<br><cite>Trader</cite></footer>-->
                                <!--                                    </blockquote>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                                <div class="uk-card-body">
                                    <blockquote>
                                        <p>{{ $t('landingPage.startCapitalQuote') }}</p>
                                    </blockquote>
                                </div>
                                <!--                                <div class="uk-card-footer">-->
                                <!--                                    <blockquote>-->
                                <!--                                        <footer>Hubertus Justus Amadeus<br><cite>Trader</cite></footer>-->
                                <!--                                    </blockquote>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row uk-section-secondary p-5">
                <div class="col-sm-3 col-6 text-center pb-4">
                    <i class="fab fa-instagram fa-2x in-icon-wrap primary-background-color text-black d-inline-flex"></i>
                </div>
                <div class="col-sm-3 col-6 text-center pb-4">
                    <i class="fab fa-facebook-f fa-2x in-icon-wrap primary-background-color text-black d-inline-flex"></i>
                </div>
                <div class="col-sm-3 col-6 text-center pb-4">
                    <i class="fab fa-youtube fa-2x in-icon-wrap primary-background-color text-black d-inline-flex"></i>
                </div>
                <div class="col-sm-3 col-6 text-center pb-4">
                    <i class="fas fa-envelope fa-2x in-icon-wrap primary-background-color text-black d-inline-flex"></i>
                </div>
                <div class="col-sm-3 col-6 text-center pb-3">
                    <div class="fa-sm in-icon-wrap primary-background-color p-2">
                        <img :src="eToroImg" alt="sample-icon"
                             width="35" height="35">
                    </div>
                </div>
                <div class="col-sm-3 col-6 text-center pb-3">
                    <img :src="guidants" class="fa-2x in-icon-wrap primary-background-color p-2"
                         alt="sample-icon"
                         width="48" height="48">
                </div>
                <div class="col-sm-3 col-6 text-center pb-3">
                    <img :src="finanze" class="fa-lg in-icon-wrap primary-background-color p-2"
                         alt="sample-icon"
                         width="48" height="48">
                </div>
                <div class="col-sm-3 col-6 text-center pb-3">
                    <img :src="finanzen100" class="fa-lg in-icon-wrap primary-background-color p-2"
                         alt="sample-icon"
                         width="48" height="48">
                </div>
            </div>


            <div
                class="uk-grid-divider uk-section-secondary uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center in-offset-top-10 p-4"
                data-uk-grid>
                <div class="pb-4">
                    <h2 class="uk-margin-small-bottom">8,532,000</h2>
                    <p class="uk-text-small uk-text-uppercase uk-margin-remove-top text-primary-color">
                        {{ $t('landingPage.testedStrategies') }}</p>
                </div>
                <div class="pb-4">
                    <h2 class="uk-margin-small-bottom">426,600</h2>
                    <p class="uk-text-small uk-text-uppercase uk-margin-remove-top text-primary-color">
                        {{ $t('landingPage.tradedStrategies') }}</p>
                </div>
                <div class="pb-md-4">
                    <h2 class="uk-margin-small-bottom">23.408 %</h2>
                    <p class="uk-text-small uk-text-uppercase uk-margin-remove-top text-primary-color">
                        {{ $t('landingPage.proForma') }}</p>
                </div>
            </div>

            <div class="uk-section-secondary row pt-5 pb-2 pr-4 pl-4 pb-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 ">
                    <div class="embed-responsive " style="padding-top: 56.25%">
                        <iframe class="embed-responsive-item"
                                :src="frames.frame2.url" allowfullscreen></iframe>
                    </div>
                </div>
                <div v-show="!isAuthed" class="col-12 mt-5 text-center">
                    <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                @click.native="scrollToTop"
                                class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 pt-2 pb-1 mr-sm-2"
                                style="line-height: 2.25">
                        {{ $t('landingPage.startFor1Euro') }}
                    </RouterLink>
                </div>
            </div>

            <!--            <div class="uk-section-secondary row p-4">-->
            <!--                <div class="col-lg-6 col-md-12 col-sm-12 ">-->
            <!--                    <RouterLink :to="{ name: 'survey' }" @click.native="scrollToTop"-->
            <!--                                class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 pt-2 pb-1 mr-sm-2"-->
            <!--                                style="line-height: 2.25">-->
            <!--                        {{ $t('landingPage.explain') }}-->
            <!--                    </RouterLink>-->
            <!--                </div>-->
            <!--            </div>-->


            <div class="uk-section uk-section-secondary in-liquid-10">
                <div class="uk-container uk-light">
                    <div class="uk-grid-medium uk-child-width-1-4@m uk-flex uk-flex-middle" data-uk-grid>
                        <div class="pb-5 text-center text-lg-left">
                            <h2>Plan</h2>
                            <p class="uk-text-lead">{{ $t('landingPage.threeStepPlan') }}</p>
                            <!--                    <a class="uk-button uk-button-default uk-border-rounded uk-margin-top" href="#">Start trading<i class="fas fa-angle-right uk-margin-small-left"></i></a>-->
                        </div>
                        <div>
                            <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                                <img class="uk-margin-small-bottom" :src="icon14"
                                     alt="wave-award" width="72" height="72"
                                >
                                <h3 class="uk-margin-top">{{ $t('landingPage.oneEuroPlan') }}</h3>
                                <p>{{ $t('landingPage.freeOneMonth') }}</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                                <img class="uk-margin-small-bottom" :src="icon18"
                                     alt="wave-award" width="72" height="72"
                                >
                                <h3 class="uk-margin-top">{{ $t('landingPage.choosePackage') }}</h3>
                                <p>{{ $t('landingPage.forBeginners') }}</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                                <img class="uk-margin-small-bottom" :src="icon17"
                                     alt="wave-award" width="72" height="72"
                                >
                                <h3 class="uk-margin-top">{{ $t('landingPage.enterFirstTrades') }}</h3>
                                <p>{{ $t('landingPage.firstBonus') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-section-secondary row pt-5 pb-2 pr-4 pl-4 pb-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 ">
                    <div class="embed-responsive " style="padding-top: 56.25%">
                        <iframe class="embed-responsive-item"
                                :src="frames.frame3.url" allowfullscreen></iframe>
                    </div>
                </div>
                <div v-show="!isAuthed" class="col-12 mt-5 text-center">
                    <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                @click.native="scrollToTop"
                                class="uk-button uk-button-default uk-border-rounded col-sm-5 col-12 pt-2 pb-1 mr-sm-2"
                                style="line-height: 2.25">
                        {{ $t('landingPage.startFor1Euro') }}
                    </RouterLink>
                </div>
            </div>


            <div class="uk-section uk-margin-small-top">
                <div class="uk-container">
                    <div class="uk-grid uk-flex uk-flex-center in-blog-1 ">
                        <div class="uk-width-3-8@m">
                            <article class="uk-card uk-card-default uk-border-rounded">
                                <div class="uk-card-body">
                                    <p class="uk-margin-bottom font-18">
                                        {{ $t('landingPage.hubertusQuote') }}
                                        <br><br>
                                        {{ $t('landingPage.hubertusQuotePart2') }}
                                        <br><br>
                                        {{ $t('landingPage.hubertusQuotePart3') }}
                                        <br><br>
                                        {{ $t('landingPage.hubertusQuotePart4') }}
                                    </p>
                                    <h3>Hubertus Justus Amadeus</h3>

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid-match uk-grid-medium uk-child-width-1-2@s uk-child-width-1-2@m in-card-10"
                         data-uk-grid>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-green">
                                <i class="fas fa-seedling fa-lg in-icon-wrap circle uk-margin-bottom d-inline-flex"></i>
                                <h4 class="uk-margin-top">
                                    <a href="#">{{ $t('landingPage.systemWork') }}</a>
                                </h4>
                                <hr>
                                <p>{{ $t('landingPage.limitlessTrading') }}</p>
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-blue">
                                <i class="fas fa-chart-bar fa-lg in-icon-wrap circle uk-margin-bottom d-inline-flex"></i>
                                <h4 class="uk-margin-top">
                                    <a href="#">{{ $t('landingPage.traderistaIsBetter') }}</a>
                                </h4>
                                <hr>
                                <p>{{ $t('landingPage.encounteredProblem') }}</p>
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-purple">
                                <i class="fas fa-chart-pie fa-lg in-icon-wrap circle uk-margin-bottom d-inline-flex"></i>
                                <h4 class="uk-margin-top">
                                    <a href="#">{{ $t('landingPage.dontLikeTraderista') }}</a>
                                </h4>
                                <hr>
                                <p>{{ $t('landingPage.cancelAtAnyTime') }}</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-navy">
                                <i class="fas fa-chalkboard-teacher fa-lg in-icon-wrap circle uk-margin-bottom d-inline-flex"></i>
                                <h4 class="uk-margin-top">
                                    <a href="#">{{ $t('landingPage.notSuccesful') }}</a>
                                </h4>
                                <hr>
                                <p>{{ $t('landingPage.smallGains') }}</p>
                                <div class="uk-width-auto">
                                    <RouterLink class="uk-button uk-button-primary uk-border-rounded text-black"
                                                :to="{ name: 'partner-page' }" @click.native="scrollToTop">
                                        {{ $t('landingPage.traderistaPartner') }}
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>

import eToroImg from '../../assets/img/website/etoro.png'
import guidants from '../../assets/img/website/guidants.png'
import finanze from '../../assets/img/website/finanz.png'
import finanzen100 from '../../assets/img/website/finanzen100.png'
import icon14 from '../../assets/img/website/in-liquid-icon-14.svg'
import icon18 from '../../assets/img/website/in-liquid-icon-18.svg'
import icon17 from '../../assets/img/website/in-liquid-icon-17.svg'
import icon10 from '../../assets/img/website/in-liquid-icon-10.svg'
import icon6 from '../../assets/img/website/in-liquid-icon-6.svg'
import icon5 from '../../assets/img/website/in-liquid-icon-5.svg'
import icon21 from '../../assets/img/website/in-liquid-icon-21.svg'
import {Auth} from "../../config/auth"
import {TrackingService} from "../../services/tracking";

export default {
    name: 'landing-page',
    mounted() {
        TrackingService.pageView("Old Splash Page",  this.$route);
    },
    data() {
        return {
            eToroImg: eToroImg,
            guidants: guidants,
            finanze: finanze,
            finanzen100: finanzen100,
            icon14: icon14,
            icon18: icon18,
            icon17: icon17,
            icon10: icon10,
            icon21: icon21,
            icon6: icon6,
            icon5: icon5,
            isAuthed: Auth.isAuthed(),
            frames: {
                frame1: {
                    url: 'https://www.youtube.com/embed/bWND0qcMiz0?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                },
                frame2: {
                    url: 'https://www.youtube.com/embed/Jh7IeXxn13k?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                },
                frame3: {
                    url: 'https://www.youtube.com/embed/ep9zMTqPbew?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'
                }
            }
        }
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        }
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
/* sm */
.intro-video {
    padding-top: 125px;
    padding-right: 30px;
    padding-left: 30px;
}

.intro-message {
    padding: 50px 30px 30px;
}

.intro-message h1 {
    font-size: 35px;
    min-height: 120px;
    /*color: #dec950;*/
}

.intro-icons {
    display: none !important;
}

@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 20px;
        padding-left: 50px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .intro-icons {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-message h1 {
        font-size: 40px;
        min-height: 120px;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

/* Custom media queries */
/* xxl */
@media (min-width: 1650px) {
    .intro-video {
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 160px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-icons {
        display: none !important;
    }
}


/* Intro section in sales page */
/* [ 4. slideshow ] */
.intro-section {
    height: 730px;
    margin-top: -125px;
}

.intro-section .uk-button {
    margin-top: 10px;
}

.intro-section .uk-grid-medium {
    position: relative;
    top: 182px;
}

.intro-section .uk-grid-medium .in-slide-img {
    margin-top: -40px;
}

@media (max-width: 960px) {
    .intro-section {
        height: auto;
    }

    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -30px;
        text-align: center;
    }

    .intro-section img {
        width: 90%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -10px;
        text-align: center;
    }

    .intro-section img {
        width: 100%;
        margin-left: -60px;
    }
}

.intro-section {
    background-color: #212224;
}

.intro-section .uk-slidenav {
    bottom: 175px;
    color: #fff;
}

.intro-section .intro-section-features {
    height: 220px;
    background: linear-gradient(0deg, #212224 65%, rgba(33, 34, 36, 0.3) 100%);
    margin-top: -190px;
}

.intro-section .intro-section-features .uk-container {
    position: relative;
    top: 124px;
}

.intro-section .intro-section-features .uk-label {
    font-weight: 500;
    padding: 2px 9px 2px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.intro-section .intro-section-features .uk-label i {
    margin-right: 5px;
}

.intro-section .intro-section-features .uk-label-success {
    color: #176639;
    background-color: #2ecc71;
}

.intro-section .intro-section-features .uk-label-danger {
    color: #772838;
    background-color: #ee4f6f;
}

.intro-section .intro-section-features .uk-text-lead {
    color: #fff;
    margin-top: -80px;
}

.intro-section .intro-section-features .slide-icons-1 {
    margin-top: -25px;
}

.intro-section .intro-section-features .slide-icons-1 i {
    color: #DAA520;
}

.intro-section .intro-section-features .slide-icons-2 {
    margin-top: -32px;
}

.intro-section .intro-section-features .slide-icons-2 img {
    margin-top: 5px;
}

@media (max-width: 960px) {
    .intro-section .uk-slidenav {
        display: none;
    }
}

</style>
