<template>
    <div>
        <main>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-section col-12">
                        <div class="uk-container">
                            <div class="uk-grid">
                                <div class="uk-width-1-1 in-content-10">
                                    <div
                                        class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                                        <div class="uk-grid uk-flex uk-flex-center">
                                            <div class="uk-width-3-7@m uk-text-center">
                                                <h2 class="uk-margin-small-top font-weight-bold text-black pb-3">
                                                    {{ $t('lead.getYourResultsNow1') }}
                                                    <br>
                                                    {{ $t('lead.getYourResultsNow2') }}
                                                </h2>
                                            </div>
                                            <div v-show="!subscribed" class="uk-width-3-5@m uk-text-center">
                                                <form v-on:submit.prevent="noop"
                                                      class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                                                    <ValidationProvider name="lead" rules="required"
                                                                        v-slot="{ errors }">
                                                        <b-form-input type="email"
                                                                      :placeholder="'Ihre E-Mail eingeben'"
                                                                      v-model="email" @keyup.enter="subscribe"
                                                                      :class="(errors.length > 0 ? ' is-invalid uk-search-input uk-border-pill text-center' : 'uk-search-input uk-border-pill text-center')">
                                                        </b-form-input>
                                                    </ValidationProvider>
                                                    <div class="invalid-feedback font-20" v-if="errorMsg !== ''"
                                                         style="display: block">
                                                        <span>{{ errorMsg }}</span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3 col-2"></div>
                                                        <div class="p-2 mt-5 col-sm-6 col-8 ebook-button">
                                                            <a @click="subscribe"><h5 class="text-white m-0">
                                                                {{ $t('lead.getMyResult') }}</h5></a>
                                                        </div>
                                                        <div class="col-sm-3 col-2"></div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div v-show="subscribed">
                                                <h5 class="text-center text-black"> {{
                                                        $t('lead.thankYouForSubscribing')
                                                    }}
                                                </h5>
                                                <div class="align-content-center text-center">
                                                    <i class="fa fa-check-circle align-content-center"
                                                       style="font-size:48px;color:green"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!--            <div class="uk-section">-->
            <!--                <div class="uk-container">-->
            <!--                    <div class="uk-grid">-->
            <!--                        <div class="uk-width-1-1">-->
            <!--                            <div-->
            <!--                                class="uk-card primary-background-color uk-box-shadow-small uk-border-rounded uk-background-cover">-->
            <!--                                <div class="uk-card-body">-->
            <!--                                    <h2 class="uk-margin-remove-bottom">Teste es jetzt für nur 1€ ganze 30 Tage-->
            <!--                                        lang!</h2>-->
            <!--                                    <p class="uk-margin-small-top">Ein simples Trading-System, mit dem sich jeder-->
            <!--                                        Startkapital<br>-->
            <!--                                        aufbauen und es zu einem Vermögen aufbauen kann!-->
            <!--                                        Mit nur 10 Minuten pro Tag Geld verdienen</p>-->
            <!--                                    <RouterLink :to="{ name: 'pricing-page' }">-->
            <!--                                        <a class="uk-button uk-button-primary uk-border-rounded bg-white text-black"-->
            <!--                                           href="#">Jetzt für 1€ sichern</a>-->
            <!--                                    </RouterLink>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!-- section content end -->
        </main>
        <Footer></Footer>
    </div>

</template>

<script>

import LEAD_OPT_IN from '../../graphql/mutations/leadOptIn.graphql';
import Footer from "../../components/Website/layout/Footer";
import {TrackingService} from "../../services/tracking";

export default {
    name: 'lead-generator-page',
    components: {
        Footer
    },
    mounted() {
        TrackingService.pageView("Lead Generator Email Page", this.$route);
    },
    props: {
        a: Number,
        b: Number,
        c: Number,
        d: Number,
        e: Number
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        subscribe() {
            if (this.email === '' || !this.email.match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                this.errorMsg = 'Bitte geben Sie eine gültige E-Mail ein'
            } else {
                this.subscribed = true;
                this.$apollo.mutate({
                    mutation: LEAD_OPT_IN,
                    variables: {
                        input: {
                            email: this.email,
                            type: 'SURVEY',
                            surveyResults: JSON.stringify({
                                a: this.a,
                                b: this.b,
                                c: this.c,
                                d: this.d,
                                e: this.e,
                            }),
                            recommendedPackageId: null
                        }
                    }
                }).then((_) => {
                    TrackingService.generateLead();
                    TrackingService.buttonClick('First Opt In Click');
                });

                this.scrollToTop()
                this.$router.push({
                    name: 'opt-in-mail', params: {
                        email: this.email,
                        a: this.a,
                        b: this.b,
                        c: this.c,
                        d: this.d,
                        e: this.e,
                    }
                })
            }
        },
        noop() {

        }
    },
    data() {
        return {
            email: '',
            subscribed: false,
            errorMsg: '',
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
@import url("../../assets/css/website/lead-generator.css");
</style>
