<template>
    <div>
        <main>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-flex uk-flex-center">
                            <div class="uk-width-3-4@m uk-text-center">
                                <h2><span class="in-highlight">{{ $t('mission.ourMission') }}</span></h2>
                                <h2 class="uk-margin-small-bottom">{{ $t('mission.achieve') }}<span
                                    class="in-highlight"></span></h2>
                                <p class="uk-text-lead uk-text-muted uk-margin-remove">{{
                                        $t('mission.opportunity')
                                    }}</p>
                            </div>
                        </div>
                        <!--                <div class="uk-grid uk-grid-large uk-child-width-1-1@m" style="margin-top: 30px; margin-left: 10px"-->
                        <!--                     data-uk-grid>-->
                        <!--                    <div class="uk-flex uk-flex-left">-->

                        <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" style="margin-top: 50px">
                            <div class="uk-width-auto">
                                <i class="fas fa-hand-holding-usd fa-lg in-icon-wrap circle primary-color d-inline-flex"></i>
                            </div>
                            <div class="uk-width-expand">
                                <p style="color: black; font-size: 20px">{{ $t('mission.financialFreedom') }}</p>
                            </div>
                        </div>

                        <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" style="margin-top: 40px">
                            <div>
                                <i class="fas fa-business-time fa-lg in-icon-wrap circle primary-color d-inline-flex"></i>
                            </div>
                            <div class="uk-width-expand">
                                <p style="color: black; font-size: 20px">{{ $t('mission.timeAndEnergy') }}</p>
                            </div>
                        </div>

                        <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" style="margin-top: 40px">
                            <div class="uk-width-auto">
                                <i class="fas fa-hand-rock fa-lg in-icon-wrap circle primary-color d-inline-flex"></i>
                            </div>
                            <div class="uk-width-expand">
                                <p style="color: black; font-size: 20px">
                                    {{ $t('mission.thinkDifferently') }}
                                </p>
                            </div>
                        </div>

                        <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" style="margin-top: 40px">
                            <div class="uk-width-auto">
                                <i class="fab fa-think-peaks fa-lg in-icon-wrap circle primary-color d-inline-flex"></i>
                            </div>
                            <div class="uk-width-expand">
                                <p style="color: black; font-size: 20px">{{ $t('mission.possibilities') }}</p>
                            </div>
                        </div>

                        <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" style="margin-top: 40px">
                            <div class="uk-width-auto">
                                <i class="fas fa-flag fa-lg in-icon-wrap circle primary-color d-inline-flex"></i>
                            </div>
                            <div class="uk-width-expand">
                                <p style="color: black; font-size: 20px"> {{ $t('mission.bigPicture') }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="uk-flex uk-flex-left" style="margin-top: 40px">
                        <div>
                            <ol>
                                <li>{{ $t('mission.framework') }}
                                    <br>
                                    <br>
                                </li>

                                <li>{{ $t('mission.dreamFocused') }}
                                    <br>
                                    <br>
                                </li>
                                <li>{{ $t('mission.hugeChanges') }}
                                    <br>
                                    <br>
                                </li>
                                <li> {{ $t('mission.deliverSolutions') }}
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    {{ $t('mission.longTerm') }}
                                    <br>
                                </li>
                            </ol>


                        </div>
                    </div>
                    <div class="uk-flex uk-flex-left">
                        <div>
                            <h3></h3>
                            <p>
                                {{ $t('mission.ourGoal') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--        </div>-->
            <!-- section content end -->
            <!-- section content begin -->
            <div class="uk-section in-offset-top-40 in-offset-bottom-20">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div
                                class="uk-card uk-card-default uk-border-rounded uk-background-center uk-background-contain uk-background-image@m"
                                style="background-image: url(../../assets/img/website/in-team-background-1.png);"
                                data-uk-parallax="bgy: -100">
                                <div class="uk-card-body">
                                    <div class="uk-grid uk-flex uk-flex-center">
                                        <div class="uk-width-3-4@m uk-text-center">
                                            <h2>Trust the Professionals</h2>
                                            <p>{{ $t('mission.hubertusIndependent') }}</p>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
                                            <div class="uk-width-3-4@m uk-text-center">
                                                <h4 class="mt-4 mt-md-1 mb-0 ">Hubertus Mertens</h4>
                                                <p class="uk-text-small uk-text-muted uk-text-uppercase mt-0 pt-0">
                                                    Trader</p>
                                                <p>
                                                    {{ $t('mission.hubertusInfo') }}
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3 col-5">
                                                        <a class="uk-link-muted"
                                                           href="https://www.facebook.com/hubertus.mertens"
                                                           target="_blank"><i
                                                            class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                                        <a class="uk-link-muted"
                                                           href="https://www.instagram.com/hubertusmertens/"
                                                           target="_blank"><i
                                                            class="fab fa-instagram uk-margin-small-right"></i></a>
                                                        <a class="uk-link-muted"
                                                           href="https://www.linkedin.com/in/hubertus-mertens-063202141/"
                                                           target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                    </div>
                                                    <div class="col-md-5 col-1"></div>
                                                    <div class="col-md-4 col-6 text-right">
                                                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">
                                                            {{ $t('mission.textWrittenByRisdeit') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</template>

<script>
import {TrackingService} from "../../services/tracking";

export default {
    name: 'our-mission-page',
    mounted() {
        TrackingService.pageView("Mission Page",  this.$route);
    },
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
</style>
