<template>
    <div>
        <main>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-section col-12">
                        <div class="uk-container">
                            <div class="uk-grid">
                                <div class="uk-width-1-1 in-content-10">
                                    <div
                                        class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                                        <div class="uk-grid uk-flex uk-flex-center">
                                            <div class="uk-width-3-7@m uk-text-center">
                                                <h4 v-html="text"
                                                    class="uk-margin-small-top font-weight-bold text-black pb-5"></h4>
                                            </div>
                                            <div class="uk-width-3-5@m uk-text-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- section content end -->
        </main>
        <Footer></Footer>
    </div>

</template>

<script>

import Footer from "../../components/Website/layout/Footer";
import Navbar from "../../components/Website/layout/Navbar";
import getPackageById from "../../graphql/queries/getPackageById.graphql";
import UPDATE_LEAD from "../../graphql/mutations/updateLead.graphql";
import {TrackingService} from "../../services/tracking";

export default {
    name: 'opt-in-mail',
    components: {
        Navbar,
        Footer
    },
    mounted() {
        TrackingService.pageView("Double Opt In Confirmation Page",  this.$route);
        TrackingService.generateLead();
    },
    created() {
        if (this.c === 1) {
            this.page = this.page1
        }
        if (this.c === 2 && this.a === 1) {
            this.page = this.page2
        }
        if (this.c === 2 && this.a === 2) {
            this.page = this.page3
        }
        if (this.c === 2 && this.a === 3) {
            this.page = this.page4
        }
        if (this.c === 3 && this.a === 1) {
            this.page = this.page5
        }
        if (this.c === 3 && this.a === 2) {
            this.page = this.page6
        }
        if (this.c === 3 && this.a === 3) {
            this.page = this.page7
        }
        if (this.c === 4 && this.a === 1) {
            this.page = this.page8
        }
        if (this.c === 4 && this.a === 2) {
            this.page = this.page9
        }
        if (this.c === 4 && this.a === 3) {
            this.page = this.page10
        }
        if (this.c === 5 && this.a === 1) {
            this.page = this.page11
        }
        if (this.c === 5 && this.a === 2) {
            this.page = this.page12
        }
        if (this.c === 5 && this.a === 3) {
            this.page = this.page13
        }

        var object = {
            a: this.a,
            b: this.b,
            c: this.c,
            d: this.d,
            e: this.e
        };

        this.$apollo.mutate({
            mutation: UPDATE_LEAD,
            variables: {
                input: {
                    email: this.email,
                    type: 'SURVEY',
                    surveyResults: JSON.stringify(object),
                    recommendedPackageId: this.page.packageId
                }
            }
        }).then((_) => {
        });

        localStorage.setItem('surveyResults', JSON.stringify(object));
        localStorage.setItem('recommendedPackageId', this.page.packageId);
    },
    props: {
        a: Number,
        b: Number,
        c: Number,
        d: Number,
        e: Number,
        email: String,
    },
    data() {
        return {
            text:
                'Bitte bestätige die Anfrage für Deine Ergebnisse.' +
                '</br></br>' +
                'Dann kann ich Dir verraten, ob Du Geld mit Trading verdienen kannst und wenn ja, wie viel... 💶' +
                '</br></br>' +
                'Ich habe Dir gerade eine Mail geschickt. ' +
                '</br></br>' +
                'Bitte bestätige Deine Anfrage mit einem Klick auf den Link in dieser Mail (gesetzliche Anforderungen mal wieder 🙄 aus Spaß oder um dich zu nerven, mache ich das nicht 😂).' +
                '</br></br>' +
                'Du hast keine Mail erhalten? Dann schau bitte im Spam-/ Unbekannt-Ordner nach.' +
                '</br></br>' +
                'Bei Problemen helfe ich Dir gern unter info@traderista-trading.com</h2>',
            page: null,
            packageQuery: getPackageById,
            page1: {
                packageId: null,
            },
            page2: {
                packageId: 2,
            },
            page3: {
                packageId: 2,
            },
            page4: {
                packageId: 2,
            },
            page5: {
                packageId: 3,
            },
            page6: {
                packageId: 5,
            },
            page7: {
                packageId: 10,
            },
            page8: {
                packageId: 7,
            },
            page9: {
                packageId: 6,
            },
            page10: {
                packageId: 11,
            },
            page11: {
                packageId: 7,
            },
            page12: {
                packageId: 8,
            },
            page13: {
                packageId: 9,
            }
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
@import url("../../assets/css/website/lead-generator.css");
</style>
