<template>
    <div>
        <main>
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1 in-content-10">
                            <div
                                class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-3-7@m uk-text-center">
                                        <h2 class="uk-margin-small-top font-weight-bold text-black pb-5">
                                            {{ $t('partner.start') }}
                                            <br>
                                            <!--                                            {{ $t('partner.thankYou') }} -->
                                        </h2>
                                    </div>
                                    <div class="embed-responsive text-center ml-5" style="padding-top: 56.25%">
                                        <iframe class="embed-responsive-item"
                                                :src="'https://www.youtube.com/embed/T1tke8NMz38?rel=0&modestbranding=1&autohide=1&showinfo=1&controls=1&autoplay=1'"
                                                allowfullscreen></iframe>
                                    </div>
                                    <div class="text-center mt-4 mb-2">
                                        <RouterLink :to="{ name: 'auth1.sign-up1'}"
                                                    @click.native="scrollToTop"
                                                    class="uk-button uk-button-primary uk-border-rounded bg-white text-black">
                                            {{ $t('partner.becomePartner') }}
                                        </RouterLink>
                                    </div>
                                    <!--                                    <div class="uk-width-1-1@m uk-text-center">-->
                                    <!--                                        <h5 class="text-black pb-4 font-weight-light">{{ $t('partner.happy') }}</h5>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-flex uk-flex-center m-t-20 text-center">
                            <h4 class="uk-width-expand ">
                                „Noch im Aufbau - bei konkreten Fragen zu unserer Partnership und wie Du damit Geld
                                verdienen kannst, wende dich gern an
                                <a href="mailto:partner@traderista.com">info@traderista-trading.com</a>
                            </h4>
                        </div>
                    </div>
                    <!--        </div>-->
                    <!-- section content end -->
                </div>

                <div class="uk-section">
                    <div class="uk-container">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <div
                                    class="uk-card primary-background-color uk-box-shadow-small uk-border-rounded uk-background-cover">
                                    <div class="uk-card-body">
                                        <h2 class="uk-margin-remove-bottom">Teste es jetzt für nur 1€ ganze 30 Tage
                                            lang!</h2>
                                        <p class="uk-margin-small-top">Ein simples Trading-System, mit dem sich jeder
                                            Startkapital<br>
                                            aufbauen und es zu einem Vermögen aufbauen kann!
                                            Mit nur 10 Minuten pro Tag Geld verdienen</p>
                                        <RouterLink @click.native="scrollToTop"
                                                    class="uk-button uk-button-primary uk-border-rounded bg-white text-black"
                                                    :to="{ name: 'pricing-page' }">Jetzt
                                            für 1€ sichern
                                        </RouterLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</template>

<script>
import {TrackingService} from "../../services/tracking";

export default {
    name: 'partner-page',
    mounted() {
        TrackingService.pageView("Partner Page",  this.$route);
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
</style>
