<template>
    <paypal-buttons v-if="isUser()" :on-approve="onApprove"
                    :create-subscription="createSubscription"
                    :style-object="styles != null ? styles : defaultStyle"
    />
</template>

<script>
import Vue from 'vue';
import {core} from "../../config/pluginInit";
import {toStringWithDecimalization} from "../../Utils/utils";
import {Auth} from "../../config/auth";
import {SubscriptionService} from "../../services/subscription";
import {mapGetters} from "vuex";
import {TrackingService} from "../../services/tracking";

const PayPalButton = paypal_subscriptions.Buttons.driver("vue", Vue);

export default {
    name: "PaypalButton",
    props: {
        packageId: String,
        planId: String,
        hasDiscount: Boolean,
        packagePrice: String,
        duration: String,
        hasSubscriptionHistory: Boolean,
        fromRegister: Boolean,
        cancelOptions: Object,
        styles: Object
    },
    components: {
        "paypal-buttons": PayPalButton,
    },
    methods: {
        isUser() {
            return Auth.isUserAuthed()
        },
        showIndividualSupport(args) {
            this.$parent.$emit('triggerIndividualSupport', args)
        },
        toStringWithDecimalization(price, hasCurrency) {
            return toStringWithDecimalization(price, hasCurrency)
        },
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        toBeSubtractedSubscription() {
            if (this.duration === "ANNUAL" && this.activeSubscriptions !== null
                && this.activeSubscriptions !== undefined) {
                for (const sub of this.activeSubscriptions) {
                    if (sub.package.id === this.packageId && sub.duration === "MONTHLY") {
                        return sub;
                    }
                }
            }
            return null;
        },
        hasActiveSubscription() {
            var activeSubs = this.user['activeSubscriptions'];
            if (activeSubs !== null && activeSubs.length > 0) {
                for (const sub of activeSubs) {
                    if (sub.status === 'CONFIRMED') {
                        return true;
                    }
                }
                return false;
            }
            return false;
        }
    },
    computed: {
        defaultStyle: function () {
            return {}
        },
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        createSubscription: function () {
            return (data, actions) => {
                const planWithNoTrial = {
                    billing_cycles: [{
                        frequency: {
                            interval_unit: (this.duration === "MONTHLY") ? "MONTH" : "YEAR",
                            interval_count: 1
                        },
                        tenure_type: "REGULAR",
                        sequence: 1,
                        pricing_scheme: {
                            fixed_price: {
                                value: this.packagePrice,
                                currency_code: "EUR"
                            }
                        }
                    }]
                };

                return actions.subscription.create({
                    plan_id: this.planId,
                    plan: this.hasSubscriptionHistory ? planWithNoTrial : null,
                })
            }
        },
        onApprove: function () {
            TrackingService.initiateCheckout();
            return (data, actions) => {
                let dualPackageStateObject = null;
                if (this.$store.state.Setting['dualPackageState'] !== null && this.$store.state.Setting['dualPackageState'] !== undefined) {
                    dualPackageStateObject = {
                        packagesToBeBought: this.$store.state.Setting['dualPackageState'].packagesToBeBought,
                        packagesBought: this.$store.state.Setting['dualPackageState'].packagesBought
                    }
                }
                SubscriptionService.createSubscription(Number(this.packageId), this.duration, data['subscriptionID'], this.cancelOptions, dualPackageStateObject).then(success => {
                    if (success) {
                        core.showSnackbar('success', this.$t('results.paymentCompleted'))
                        localStorage.removeItem('recommendedPackageId');
                        localStorage.removeItem('surveyResults');
                        if (!this.hasSubscriptionHistory) {
                            var args = {
                                packageId: this.packageId,
                                fromRegister: this.fromRegister,
                                durationSelected: this.duration,
                                modalId: 'individual-support-modal'
                            }
                            this.showIndividualSupport(args);
                        } else {

                            if (this.duration === "MONTHLY" && this.fromRegister === true) {
                                this.scrollToTop()
                                this.$router.push({
                                    name: 'cart-funnel',
                                    query: {
                                        packageId: this.packageId,
                                    },
                                });
                            }

                            if (this.duration === "ANNUAL") {
                                this.scrollToTop()
                                this.$router.push({
                                    name: 'application-funnel'
                                });
                            }
                        }

                        /* logic to remove subscription when user buys a second one and chooses the cancel the existing */
                        let toBeSubtractedSubscription = this.toBeSubtractedSubscription()
                        if (toBeSubtractedSubscription != null) {
                            SubscriptionService.deleteSubscription(toBeSubtractedSubscription.id).then((success) => {
                                if (success) {
                                    core.showSnackbar('success', this.$t('results.paymentCompleted'))
                                } else {
                                    core.showSnackbar('error', this.$t('results.error'))
                                }
                            });
                        }

                        TrackingService.purchase(this.packagePrice);
                    } else {
                        core.showSnackbar('error', this.$t('packages.subscriptionError'))
                    }
                })
            }
        }
    },
}
</script>
