<template>
    <paypal-buttons v-if="isUser()" :on-approve="onApprove" :create-order="createOrder" @click="closeModal('modal-1')"/>
</template>

<script>
import {mapGetters} from "vuex";
import {UserService} from "../../services/user";
import {core} from "../../config/pluginInit";
import Vue from "vue";
import {Auth} from "../../config/auth";

const PayPalButton = paypal_orders.Buttons.driver("vue", Vue);

export default {
    name: "PaypalSecondaryButton",
    props: {
        packageId: String,
        destination: String,
        individualSupportDiscount: Boolean
    },
    components: {
        "paypal-buttons": PayPalButton
    },
    methods: {
        isUser() {
            return Auth.isUserAuthed()
        },
        evaluateDiscount() {
            return this.individualSupportDiscount ? "18.90" : "99.00"
        },
        closeModal(id) {
            this.$bvModal.hide(id);
        },
    },
    computed: {
        ...mapGetters({
            user: 'Setting/authUserState',
        }),
        createOrder: function () {
            return (data, actions) => {
                return actions.order.create({
                    purchase_units: [
                        {
                            description: "Individuellen Support",
                            amount: {
                                value: this.evaluateDiscount(),
                                currency: "EUR"
                            },
                        },
                    ],
                });
            }
        },
        onApprove: function () {
            return async (data, actions) => {
                const response = await actions.order.capture();

                console.log(this.destination)

                if (response.status === "COMPLETED") {
                    UserService.updateIndividualSupport().then((success) => {
                        if (!success) {
                            core.showSnackbar('error', this.$t('results.operationFailed'))
                        }
                    });
                } else {
                    core.showSnackbar('error', this.$t('results.operationFailed'))
                }

                if (this.destination === 'cart-funnel') {
                    await this.$router.push({
                        name: 'cart-funnel',
                        query: {
                            packageId: this.packageId,
                        },
                    });
                } else if (this.destination === 'application-funnel') {
                    await this.$router.push({
                        name: 'application-funnel'
                    });
                }
                this.$bvModal.hide('individual-support-modal');
            }
        }
    }
}
</script>

<style scoped>

</style>
