<template>
    <div>
        <main>
            <div class=" row p-3">
                <div class="col-xl-1"></div>
                <div class="col-xl-10">
                    <div class="uk-width-1-1 uk-flex uk-flex-center mt-5 mb-2">
                        <div class="uk-width-1-1@m justify-content-center fill uk-margin-medium-bottom" style="max-width: 400px">
                            <img :src="img" class="img-fluid mb-4" alt="logo">
                            <!--                            <h1 class="uk-margin-small-bottom font-weight-bold text-center">Sichere dir JETZT-->
                            <!--                                Limitless Trading <span-->
                            <!--                                    class="in-highlight">zum absoluten Einführungspreis!</span>-->
                            <!--                            </h1>-->
                            <!--                            <h3 class="text-center">Die besten Trades aus über 8 Millionen Strategien.</h3>-->
                        </div>
                    </div>
                    <!--                    <RouterLink :to="{ name: 'survey' }">-->
                    <!--                        <button-->
                    <!--                            class="uk-width-1-1 uk-button primary-background-color text-white font-15 survey-button-->
                    <!--                                                font-weight-bold uk-border-rounded mb-5">Nicht sicher, welches Paket das-->
                    <!--                            beste für dich ist? Finde es in diesem kurzen Quiz heraus-->
                    <!--                        </button>-->
                    <!--                    </RouterLink>-->

                    <ApolloQuery :query="packagesQuery">
                        <template v-slot="{ result: { loading, error, data } }">
                            <div v-if="loading"></div>
                            <div v-else-if="error">{{ $t('results.error') }}</div>
                            <div v-else-if="data">
                                <!--                                <ul class="nav nav-tabs pricing-nav mr-3 ml-3">-->
                                <!--                                    <li v-for="(packageModel,index) in data.parentPackages"-->
                                <!--                                        :key="packageModel.id" :id="'package-category' + packageModel.id"-->
                                <!--                                        :class="['col-sm-12 col-12 p-0 m-0 text-center', { active : currentTab === null ? index === 0-->
                                <!--                                         : currentTab === packageModel.id }]"-->
                                <!--                                        @click="changeTab(packageModel.id)">-->
                                <!--                                        <a data-toggle="tab">-->
                                <!--                                            <div class="nav-tab-container text-center">-->
                                <!--                                                <div class="pt-1 pb-1"-->
                                <!--                                                     v-if="packageModel.image_path !== undefined && packageModel.image_path !== null">-->
                                <!--                                                    <img-->
                                <!--                                                        :src="require('../../assets/images/packages/' + packageModel.image_path)"-->
                                <!--                                                        class="img-fluid m-2"-->
                                <!--                                                        style="max-height: 250px;"-->
                                <!--                                                        :alt="packageModel.image_path">-->
                                <!--                                                </div>-->
                                <!--                                                <div v-else class="pr-5 pl-5" style="padding-top: 20px !important;">-->
                                <!--                                                    <h4 :class="['font-weight-bold m-0 pricing-title pb-3',-->
                                <!--                                                        {'first-pricing-package-title' : index === 0},-->
                                <!--                                                        {'second-pricing-package-title' : index === 1},-->
                                <!--                                                        {'third-pricing-package-title' : index === 2},-->
                                <!--                                                        {'fourth-pricing-package-title' : index === 3},-->
                                <!--                                                        ]">-->
                                <!--                                                        {{ packageModel.name }}</h4>-->
                                <!--                                                    <p>{{ packageModel.description }}</p>-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                                <!--                                        </a>-->
                                <!--                                    </li>-->
                                <!--                                </ul>-->

                                <div class="tab-content">
                                    <div v-for="(packageModel, index) in data.parentPackages" :key="packageModel.id">
                                        <div
                                            :class="['row mb-5 mt-5 p-0 m-0', {'d-none' : (currentTab === null ? index !== 0
                                         : currentTab !== packageModel.id)}]">
                                            <Package v-for="packageInfo of packageModel.packages" :key="packageInfo.id"
                                                     :packageModel="packageInfo"
                                                     :is-user-authed="isUserAuthed"></Package>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </ApolloQuery>
                </div>
            </div>
        </main>
    </div>

</template>

<script>

import getPackages from '../../graphql/queries/getPackages.graphql';
import Package from "./PricingPackage";
import {Auth} from "../../config/auth";
import img1 from '../../assets/images/login/mission-statement.png'

export default {
    name: 'pricing-page',
    components: {
        Package
    },
    mounted() {
        // TrackingService.pageView("Pricing Page", this.$route);
    },
    data() {
        return {
            packagesQuery: getPackages,
            currentTab: null,
            img: img1
        }
    },
    methods: {
        changeTab(tab) {
            this.currentTab = tab;
        }
    },
    computed: {
        // a computed getter
        isUserAuthed: function () {
            return Auth.isUserAuthed()
        }
    }
}
</script>

<style scoped>
.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}


.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.first-pricing-package-title {
    /*color: #A8E10C*/
    color: #81599F
}

.second-pricing-package-title {
    /*color: #8A6FDF;*/
    color: #36D6E7
}

.third-pricing-package-title {
    /*color: #FFDB15;*/
    /*color: #9BCCFD*/
    color: #65c368
}

.fourth-pricing-package-title {
    /*color: #FF5765;*/
    /*color: #0074DD*/
    color: #DAA520
}

.pricing-nav .active .nav-tab-container {
    border-top: 5px solid #DAA520;
    /*padding-top: 20px;*/
}

.pricing-nav .nav-tab-container {
    border-top: 0;
}

.pricing-nav .active h4 {
    font-weight: bold;
    /*color: black !important;*/
}

.pricing-nav h4 {
    font-weight: normal;
    /*color: grey !important;*/
}

.pricing-nav .active p {
    color: black !important;
}

.pricing-nav p {
    color: grey !important;
}

.pricing-nav a {
    padding: 0;
    margin-top: 15px;
}

.pricing-nav .active a {
    padding: 0;
    margin: 0;
}

.pricing-title {
    font-size: 17px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
    border: 0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* sm */
@media (max-width: 576px) {
    #package-category1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #package-category4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 550px) {
    .survey-button {
        font-size: 11px !important;
    }
}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .pricing-title {
        font-size: 25px;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}
</style>
