<template>
    <div :class="['pr-0 pl-0  pb-4', {'col-lg-4' : duration === 'MONTHLY'}]">
        <div class="mr-3 ml-3 shadow-sm rounded bg-white">
            <div class="text-center">
                <div class="pt-1 pb-1 text-center"
                     v-if="packageModel.image_path !== undefined && packageModel.image_path !== null">
                    <img :src="require('../../assets/images/packages/' + packageModel.image_path)"
                         class="img-fluid m-2"
                         style="max-height: 500px;"
                         :alt="packageModel.image_path">
                </div>
                <div v-else>
                    <div :class="['text-center', 'p-4',
                                        {'first-pricing-package' : packageModel.priority === 1},
                                        {'second-pricing-package': this.packageModel.priority === 2},
                                        {'third-pricing-package': this.packageModel.priority === 3}
                                        ]">
                        <h2 :class="['font-weight-bold',
                                        {'first-pricing-package-title' : packageModel.priority === 1},
                                        {'second-pricing-package-title': this.packageModel.priority === 2},
                                        {'third-pricing-package-title': this.packageModel.priority === 3}]">{{
                                packageModel.name
                            }}
                        </h2>
                        <p class="pricing-package-desc">{{ packageModel.description }}</p>
                    </div>
                </div>
                <div class="text-center">
                    <i class="fa fa-info-circle ml-1 cursor-pointer"
                       v-b-modal="'infoPackage' + packageModel.id" style="font-size:20px; color: lightgrey"></i>
                    <b-modal :id="'infoPackage'+packageModel.id"
                             ok-disabled cancel-disabled hide-footer size="md"
                             header-bg-variant="danger">
                        <div class="justify-content-center text-center">
                            <p class="text-center" v-if="packageModel.name === 'Starter'">
                                „Starter: Du erhältst von mir 1x pro Woche am Samstag oder Sonntag Trades zu 8 Indizes,
                                darunter der Dow
                                Jones und der DAX. Dauer: ca. 2 Minuten pro Woche; Rendite: in der Regel ca. 5% pro
                                Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Basic'">
                                „Basic: Du erhältst von mir 1x pro Woche am Samstag oder Sonntag Trades zu 42 deutschen
                                Aktien, darunter
                                Adidas, BMW und Siemens. Dauer: ca. 3 Minuten pro Woche; Rendite: in der Regel ca. 10%
                                pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Fortgeschritten'">
                                „Fortgeschritten: Du erhältst von mir 1x pro Woche am Samstag oder Sonntag Trades zu 64
                                Aktien aus den
                                USA, darunter Apple, Netflix und Google. Dauer: ca. 5 Minuten pro Woche; Rendite: in der
                                Regel ca. 15%
                                pro Jahr.“
                            </p>
                            <p class="text-center"
                               v-else-if="packageModel.name === 'Profi' && packageModel.description === 'Signale für 8 Indizes'">
                                “Profi: Du erhältst von mir 1x pro Tag am Vorabend um ca. 0 Uhr Trades zu 8 Indizes,
                                darunter der Dow
                                Jones und der DAX. Dauer: ca. 2 Minuten pro Tag, zwischen 0 und 8 Uhr morgens; Rendite:
                                in der Regel ca.
                                10% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Weltklasse'">
                                „Weltklasse: Du erhältst von mir 1x pro Tag am Vorabend um ca. 0 Uhr Trades zu 42
                                deutschen Aktien,
                                darunter Adidas, BMW und Siemens. Dauer: ca. 3 Minuten pro Tag, zwischen 0 und 8 Uhr
                                morgens; Rendite:
                                in der Regel ca. 20% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Legende'">
                                „Legende: Du erhältst von mir 1x pro Tag am Vorabend um ca. 0 Uhr Trades zu 64 Aktien
                                aus den USA,
                                darunter Apple, Netflix und Google. Dauer: ca. 5 Minuten pro Tag, zwischen 0 und 14 Uhr
                                morgens/
                                mittags; Rendite: in der Regel ca. 30% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Weekly V.I.P'">
                                „Weekly V.I.P.: Die Kombination aus allen Weekly Trades! Du erhältst von mir 1x pro
                                Woche am Samstag
                                oder Sonntag Trades zu 8 Indizes, 42 deutschen Aktien und 64 Aktien aus den USA. Du
                                handelst unter
                                anderem den Dow Jones, DAX, Adidas, BMW, Siemens, Apple, Netflix, Google und viele mehr.
                                Dauer: ca. 10
                                Minuten pro Woche am Sonntag; Rendite: in der Regel ca. 30% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Daily V.I.P'">
                                “Daily V.I.P: Die Kombination aus allen Daily Trades! Du erhältst von mir 1x pro pro Tag
                                am Vorabend um
                                ca. 0 Uhr Trades zu 8 Indizes, 42 deutschen Aktien und 64 Aktien aus den USA. Du
                                handelst unter anderem
                                den Dow Jones, DAX, Adidas, BMW, Siemens, Apple, Netflix, Google und viele mehr. Dauer:
                                ca. 10 Minuten
                                pro Tag zwischen 0 und 8 Uhr; Rendite: in der Regel ca. 60% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'V.I.P Plus'">
                                „V.I.P. Plus: Die Kombination aus allen Daily und Weekly Trades! Du erhältst von mir 1x
                                pro pro Tag am
                                Vorabend um ca. 0 Uhr Trades zu 8 Indizes, 42 deutschen Aktien und 64 Aktien aus den
                                USA. Du handelst
                                unter anderem den Dow Jones, DAX, Adidas, BMW, Siemens, Apple, Netflix, Google und viele
                                mehr. Das
                                Gleiche bekommst Du zusätzlich auch 1 x am Wochenende am Sonntag. Dauer: ca. 10 Minuten
                                pro Tag zwischen
                                0 und 8 Uhr, sowie 1x am Sonntag; Rendite: in der Regel ca. 90% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'Indizes'">
                                „Indizes: Die Kombination aus allen Index Trades! Du erhältst von mir 1x pro pro Tag am
                                Vorabend um ca.
                                0 Uhr Trades zu 8 Indizes. Du handelst unter anderem den Dow Jones und den DAX. Das
                                Gleiche bekommst Du
                                zusätzlich auch 1 x am Wochenende am Sonntag. Dauer: ca. 2 Minuten pro Tag zwischen 0
                                und 8 Uhr, sowie
                                1x am Sonntag; Rendite: in der Regel ca. 15% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'DE Aktien'">
                                „DE Aktien: Die Kombination aus allen Trades deutscher Aktien! Du erhältst von mir 1x
                                pro pro Tag am
                                Vorabend um ca. 0 Uhr Trades zu 42 deutschen Aktien. Du handelst unter anderem Adidas,
                                BMW und Siemens.
                                Das Gleiche bekommst Du zusätzlich auch 1 x am Wochenende am Sonntag. Dauer: ca. 3
                                Minuten pro Tag
                                zwischen 0 und 8 Uhr, sowie 1x am Sonntag; Rendite: in der Regel ca. 30% pro Jahr.“
                            </p>
                            <p class="text-center" v-else-if="packageModel.name === 'US Aktien'">
                                “US Aktien: Die Kombination aus allen Trades zu Aktien aus den USA! Du erhältst von mir
                                1x pro pro Tag
                                am Vorabend um ca. 0 Uhr Trades zu 64 US-Aktien. Du handelst unter anderem Apple, Tesla
                                und Facebook.
                                Das Gleiche bekommst Du zusätzlich auch 1 x am Wochenende am Sonntag. Dauer: ca. 5
                                Minuten pro Tag
                                zwischen 0 und 14 Uhr, sowie 1x am Sonntag; Rendite: in der Regel ca. 45% pro Jahr.“
                            </p>

                        </div>
                    </b-modal>
                </div>
            </div>
            <div class="p-4">
                <div v-if="durationSelected === 'MONTHLY'" class="text-center mb-5">
                    <h1 class="font-weight-bold">{{ toStringWithoutDecimalization(packageModel.testPhasePrice) }}</h1>
                    <p class="m-0">Erster Monatspreis</p>
                </div>

                <!--                &lt;!&ndash; In case the package is active &ndash;&gt;-->
                <!--                <div v-if="isPackageActive">-->
                <!--                    <i class="fas fa-check fa-2x" style="color: green !important;"></i>-->
                <!--                    <h4>{{ $t('packages.activePackage') }}</h4>-->
                <!--                    <b-button @click="cancelSubscription" variant="outline-danger"-->
                <!--                              style="border: none;">-->
                <!--                        {{ $t('packages.cancelSubscription') }}-->
                <!--                    </b-button>-->
                <!--                </div>-->

                <!--                <div class="wrapper">-->
                <!--                    <input type="radio" :name="packageModel.id" id="option-1" checked v-model="durationSelected">-->
                <!--                    <input type="radio" :name="packageModel.id" id="option-2" v-model="durationSelected">-->
                <!--                    <label for="option-1" class="option option-1">-->
                <!--                        <div class="dot"></div>-->
                <!--                        <span>Monthly</span>-->
                <!--                    </label>-->
                <!--                    <label for="option-2" class="option option-2">-->
                <!--                        <div class="dot"></div>-->
                <!--                        <span>Yearly</span>-->
                <!--                    </label>-->
                <!--                </div>-->

                <!--                <div class="row" v-if="selectable && !isPackageActive()">-->
                <!--                    <div class="col-lg-6">-->
                <!--                        <input type="radio" :id="packageModel.id + '-monthly'" value="MONTHLY"-->
                <!--                               v-model="durationSelected">-->
                <!--                        <label :for=" packageModel.id + '-monthly'">Monthly</label>-->
                <!--                    </div>-->
                <!--                    <div class="col-lg-6">-->
                <!--                        <input type="radio" :id="packageModel.id + '-annual'" value="ANNUAL"-->
                <!--                               v-model="durationSelected">-->
                <!--                        <label :for="packageModel.id + '-annual'">Yearly</label>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div v-if="selectable && !isPackageActive()">
                    <input type="checkbox" :id="packageModel.id + '-switch'" v-model="annualChecked">
                    <div class="app">
                        <label :for="packageModel.id + '-switch'">
                            <div class="toggle"></div>
                            <div class="names">
                                <p class="light text-center p-margin">Monthly</p>
                                <p class="dark text-center p-margin">Yearly</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div v-if="isAdmin">
                    <a v-b-modal="packageModel.id">
                        <b-button variant="primary" size="lg" style="width: 100%">
                            Preis bearbeiten
                        </b-button>
                    </a>
                    <b-modal :id="packageModel.id"
                             cancel-title="Close" size="lg">
                        <EditPackagesPrice :post="packageModel"></EditPackagesPrice>
                    </b-modal>
                </div>
                <div v-else>
                    <div v-if="isUserAuthed && !isPackageActive()">

                        <b-button
                            v-if="hasActiveSubscription() && this.duration !== 'ANNUAL' && this.$route.query.packageId === null"
                            @click="runCombinations()" href="#"
                            class="paypal-buy-now-button">
                            <!--                        <span>Buy now with</span>-->
                            <svg aria-label="PayPal" xmlns="http://www.w3.org/2000/svg" width="90" height="33"
                                 viewBox="34.417 0 90 33">
                                <path fill="#253B80"
                                      d="M46.211 6.749h-6.839a.95.95 0 0 0-.939.802l-2.766 17.537a.57.57 0 0 0 .564.658h3.265a.95.95 0 0 0 .939-.803l.746-4.73a.95.95 0 0 1 .938-.803h2.165c4.505 0 7.105-2.18 7.784-6.5.306-1.89.013-3.375-.872-4.415-.972-1.142-2.696-1.746-4.985-1.746zM47 13.154c-.374 2.454-2.249 2.454-4.062 2.454h-1.032l.724-4.583a.57.57 0 0 1 .563-.481h.473c1.235 0 2.4 0 3.002.704.359.42.469 1.044.332 1.906zM66.654 13.075h-3.275a.57.57 0 0 0-.563.481l-.146.916-.229-.332c-.709-1.029-2.29-1.373-3.868-1.373-3.619 0-6.71 2.741-7.312 6.586-.313 1.918.132 3.752 1.22 5.03.998 1.177 2.426 1.666 4.125 1.666 2.916 0 4.533-1.875 4.533-1.875l-.146.91a.57.57 0 0 0 .562.66h2.95a.95.95 0 0 0 .939-.804l1.77-11.208a.566.566 0 0 0-.56-.657zm-4.565 6.374c-.316 1.871-1.801 3.127-3.695 3.127-.951 0-1.711-.305-2.199-.883-.484-.574-.668-1.392-.514-2.301.295-1.855 1.805-3.152 3.67-3.152.93 0 1.686.309 2.184.892.499.589.697 1.411.554 2.317zM84.096 13.075h-3.291a.955.955 0 0 0-.787.417l-4.539 6.686-1.924-6.425a.953.953 0 0 0-.912-.678H69.41a.57.57 0 0 0-.541.754l3.625 10.638-3.408 4.811a.57.57 0 0 0 .465.9h3.287a.949.949 0 0 0 .781-.408l10.946-15.8a.57.57 0 0 0-.469-.895z"></path>
                                <path fill="#179BD7"
                                      d="M94.992 6.749h-6.84a.95.95 0 0 0-.938.802l-2.767 17.537a.57.57 0 0 0 .563.658h3.51a.665.665 0 0 0 .656-.563l.785-4.971a.95.95 0 0 1 .938-.803h2.164c4.506 0 7.105-2.18 7.785-6.5.307-1.89.012-3.375-.873-4.415-.971-1.141-2.694-1.745-4.983-1.745zm.789 6.405c-.373 2.454-2.248 2.454-4.063 2.454h-1.031l.726-4.583a.567.567 0 0 1 .562-.481h.474c1.233 0 2.399 0 3.002.704.358.42.467 1.044.33 1.906zM115.434 13.075h-3.272a.566.566 0 0 0-.562.481l-.146.916-.229-.332c-.709-1.029-2.289-1.373-3.867-1.373-3.619 0-6.709 2.741-7.312 6.586-.312 1.918.131 3.752 1.22 5.03 1 1.177 2.426 1.666 4.125 1.666 2.916 0 4.532-1.875 4.532-1.875l-.146.91a.57.57 0 0 0 .563.66h2.949a.95.95 0 0 0 .938-.804l1.771-11.208a.57.57 0 0 0-.564-.657zm-4.565 6.374c-.314 1.871-1.801 3.127-3.695 3.127-.949 0-1.711-.305-2.199-.883-.483-.574-.666-1.392-.514-2.301.297-1.855 1.805-3.152 3.67-3.152.93 0 1.686.309 2.184.892.501.589.699 1.411.554 2.317zM119.295 7.23l-2.807 17.858a.569.569 0 0 0 .562.658h2.822c.469 0 .866-.34.938-.803l2.769-17.536a.57.57 0 0 0-.562-.659h-3.16a.571.571 0 0 0-.562.482z"></path>
                            </svg>
                        </b-button>

                        <!--                        <b-button v-else-if="!hasActiveSubscription()" @click="showIndividualSupport()" href="#"-->
                        <!--                                  class="paypal-buy-now-button">-->
                        <!--                            &lt;!&ndash;                        <span>Buy now with</span>&ndash;&gt;-->
                        <!--                            <svg aria-label="PayPal" xmlns="http://www.w3.org/2000/svg" width="90" height="33"-->
                        <!--                                 viewBox="34.417 0 90 33">-->
                        <!--                                <path fill="#253B80"-->
                        <!--                                      d="M46.211 6.749h-6.839a.95.95 0 0 0-.939.802l-2.766 17.537a.57.57 0 0 0 .564.658h3.265a.95.95 0 0 0 .939-.803l.746-4.73a.95.95 0 0 1 .938-.803h2.165c4.505 0 7.105-2.18 7.784-6.5.306-1.89.013-3.375-.872-4.415-.972-1.142-2.696-1.746-4.985-1.746zM47 13.154c-.374 2.454-2.249 2.454-4.062 2.454h-1.032l.724-4.583a.57.57 0 0 1 .563-.481h.473c1.235 0 2.4 0 3.002.704.359.42.469 1.044.332 1.906zM66.654 13.075h-3.275a.57.57 0 0 0-.563.481l-.146.916-.229-.332c-.709-1.029-2.29-1.373-3.868-1.373-3.619 0-6.71 2.741-7.312 6.586-.313 1.918.132 3.752 1.22 5.03.998 1.177 2.426 1.666 4.125 1.666 2.916 0 4.533-1.875 4.533-1.875l-.146.91a.57.57 0 0 0 .562.66h2.95a.95.95 0 0 0 .939-.804l1.77-11.208a.566.566 0 0 0-.56-.657zm-4.565 6.374c-.316 1.871-1.801 3.127-3.695 3.127-.951 0-1.711-.305-2.199-.883-.484-.574-.668-1.392-.514-2.301.295-1.855 1.805-3.152 3.67-3.152.93 0 1.686.309 2.184.892.499.589.697 1.411.554 2.317zM84.096 13.075h-3.291a.955.955 0 0 0-.787.417l-4.539 6.686-1.924-6.425a.953.953 0 0 0-.912-.678H69.41a.57.57 0 0 0-.541.754l3.625 10.638-3.408 4.811a.57.57 0 0 0 .465.9h3.287a.949.949 0 0 0 .781-.408l10.946-15.8a.57.57 0 0 0-.469-.895z"></path>-->
                        <!--                                <path fill="#179BD7"-->
                        <!--                                      d="M94.992 6.749h-6.84a.95.95 0 0 0-.938.802l-2.767 17.537a.57.57 0 0 0 .563.658h3.51a.665.665 0 0 0 .656-.563l.785-4.971a.95.95 0 0 1 .938-.803h2.164c4.506 0 7.105-2.18 7.785-6.5.307-1.89.012-3.375-.873-4.415-.971-1.141-2.694-1.745-4.983-1.745zm.789 6.405c-.373 2.454-2.248 2.454-4.063 2.454h-1.031l.726-4.583a.567.567 0 0 1 .562-.481h.474c1.233 0 2.399 0 3.002.704.358.42.467 1.044.33 1.906zM115.434 13.075h-3.272a.566.566 0 0 0-.562.481l-.146.916-.229-.332c-.709-1.029-2.289-1.373-3.867-1.373-3.619 0-6.709 2.741-7.312 6.586-.312 1.918.131 3.752 1.22 5.03 1 1.177 2.426 1.666 4.125 1.666 2.916 0 4.532-1.875 4.532-1.875l-.146.91a.57.57 0 0 0 .563.66h2.949a.95.95 0 0 0 .938-.804l1.771-11.208a.57.57 0 0 0-.564-.657zm-4.565 6.374c-.314 1.871-1.801 3.127-3.695 3.127-.949 0-1.711-.305-2.199-.883-.483-.574-.666-1.392-.514-2.301.297-1.855 1.805-3.152 3.67-3.152.93 0 1.686.309 2.184.892.501.589.699 1.411.554 2.317zM119.295 7.23l-2.807 17.858a.569.569 0 0 0 .562.658h2.822c.469 0 .866-.34.938-.803l2.769-17.536a.57.57 0 0 0-.562-.659h-3.16a.571.571 0 0 0-.562.482z"></path>-->
                        <!--                            </svg>-->
                        <!--                        </b-button>-->

                        <!--                    <b-button v-if="hasActiveSubscription()" @click="runCombinations()">-->
                        <!--                        Buy this package-->
                        <!--                    </b-button>-->
                        <PaypalButton v-else :package-id="packageModel.id"
                                      :plan-id="durationSelected === 'MONTHLY' ? packageModel.monthlyPlanId : packageModel.annuallyPlanId"
                                      :package-price="packagePrice(packageModel,durationSelected)"
                                      :has-discount="this.hasDiscount"
                                      :duration="durationSelected"
                                      :has-subscription-history="hasSubscriptionHistory()"
                                      :from-register="fromRegister">
                        </PaypalButton>

                        <b-modal :id="'combination-' + packageModel.id"
                                 ok-disabled cancel-disabled hide-footer size="xl"
                                 header-bg-variant="success">
                            <PackageCombinationModal :packages="packages" :combination-object="combinationObject">
                            </PackageCombinationModal>
                        </b-modal>

                    </div>
                    <div v-else-if="isUserAuthed && isPackageActive()" class="text-center">
                        <i class="fas fa-check fa-2x" style="color: green !important;"></i>
                        <h4>{{ $t('packages.activePackage') }}</h4>
                        <!--                        <b-button @click="showModal()" variant="outline-danger"-->
                        <!--                                  style="border: none;">-->
                        <!--                            {{ $t('packages.cancelSubscription') }}-->
                        <!--                        </b-button>-->

                        <!--                        <b-modal :id="'package-' + packageModel.id"-->
                        <!--                                 @ok="cancelSubscription()"-->
                        <!--                                 ok-disabled cancel-disabled hide-footer size="lg"-->
                        <!--                                 header-bg-variant="danger">-->
                        <!--                            <div class="justify-content-center text-center">-->
                        <!--                                <p class="text-center">-->
                        <!--                                    Bist du sicher, dass du kündigen möchtest? 💔 <br/>-->

                        <!--                                    Du kannst die Inhalte weiterhin bis zum Ende deines Zahlungszeitraums nutzen,-->
                        <!--                                    verlierst jedoch ggf. deine Provisionszahlungen als Traderista Partner 🙈<br/>-->

                        <!--                                    Wenn dir etwas nicht gefällt, sag uns gern Bescheid.-->
                        <!--                                    <br>Wir finden gemeinsam eine-->
                        <!--                                    Lösung und du erhältst Boni für Feedback, das wir umsetzen 😊-->
                        <!--                                    <br/>-->
                        <!--                                </p>-->

                        <!--                                <div class="row uk-align-center">-->
                        <!--                                    <img alt="sad-dog" class="uk-align-center" src="../../assets/images/dog.gif"-->
                        <!--                                         width="311" height="203"/>-->
                        <!--                                </div>-->
                        <!--                                <div class="row uk-align-right">-->
                        <!--                                    <button @click="closeModal('package-' + packageModel.id)"-->
                        <!--                                            class="btn btn-primary mr-3">-->
                        <!--                                        Nein, ich bleibe ein Traderista! 💪🏽-->
                        <!--                                    </button>-->
                        <!--                                    <button @click="cancelSubscription(packageModel.id)" class="btn btn-secondary mr-3">-->
                        <!--                                        ja, ich möchte kündigen-->
                        <!--                                    </button>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </b-modal>-->
                    </div>
                    <!-- case when no user -->
                    <div v-if="!isUserAuthed">
                        <RouterLink :to="{ name: 'auth1.sign-up1' }">
                            <button class="btn primary-background-color col-12">
                                <h3 class="text-white font-18 font-weight-bold m-0 p-2">
                                    {{ $t('packages.startNow') }}
                                </h3>
                            </button>
                        </RouterLink>
                    </div>
                </div>

                <div v-if="durationSelected === 'MONTHLY'">
                    <div class="row mt-5">
                        <div class="col-6 m-auto ">
                            <p class="m-0">Monatlicher Preis nach 30 Tagen Testphase</p>
                        </div>
                        <div class="col-6 text-right"
                             v-if="packageModel.discountedMonthlyPrice && packageModel.monthlyPrice !== packageModel.discountedMonthlyPrice && hasDiscount">
                            <p class="font-weight-bold m-0">
                                <del>{{ toStringWithDecimalization(packageModel.monthlyPrice) }}</del>
                            </p>
                            <h4 class="font-weight-bold">{{
                                    toStringWithDecimalization(packageModel.discountedMonthlyPrice)
                                }}</h4>
                        </div>
                        <div v-else class="col-6 text-right">
                            <h5 class="font-weight-bold">{{
                                    toStringWithDecimalization(packageModel.monthlyPrice)
                                }}</h5>
                        </div>
                    </div>
                    <br/>
                </div>


                <div v-else>
                    <div class="row mt-4 mb-5">
                        <div class="col-6 m-auto ">
                            <p class="m-0">Jahresabo Sonderangebot nur für die ersten 1,000 Kunden</p>
                        </div>

                        <div class="col-6 text-right" v-if="packageModel.discountedAnnualPrice && hasDiscount">
                            <p class="font-weight-bold m-0">
                                <del>{{ toStringWithDecimalization(packageModel.annualPrice) }}</del>
                            </p>
                            <h4 class="font-weight-bold">
                                {{ toStringWithDecimalization(packageModel.discountedAnnualPrice) }}</h4>
                        </div>
                        <div class="col-6 text-right" v-else>
                            <h2 class="font-weight-bold">{{ toStringWithDecimalization(packageModel.annualPrice) }}</h2>
                        </div>
                    </div>
                    <br/>
                </div>

                <ul class="uk-list uk-list-bullet in-list-check font-18 mb-5">
                    <li v-show="packageModel.id==='1'">Statistisch geprüfte Strategien über 25 Jahre</li>
                    <li> Simple Umsetzung mit Copy & Paste</li>
                    <li v-show="packageModel.id==='1'">Nur 5-10 Minuten Aufwand pro Woche (jeden Sonntag)</li>
                    <li>Jederzeit kündbar</li>
                    <li v-show="packageModel.id==='2' || packageModel.id==='3'">Aufwand pro Woche (jeden Sonntag) 5-10
                        Minuten
                    </li>
                    <li v-show="packageModel.id==='3'">+ Boni: mehrere Mentoring-Programme zu Trading & Finanzen im Wert
                        von über 500€. Gratis dazu.
                    </li>
                </ul>

                <div class="row font-20 text-center">
                    <div class="col">
                        Durchschnittlicher jährlicher Gewinn
                    </div>
                </div>
                <div class="row text-center font-weight-bold font-20">
                    <div class="col">
                        {{
                            toStringWithDecimalization(packageModel.avgAnnuallyProfit)
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {toStringWithDecimalization, toStringWithoutDecimalization} from "../../Utils/utils";
import PaypalButton from "./PaypalButton";
import {SubscriptionService} from "../../services/subscription";
import {core} from "../../config/pluginInit";
import CancelSubscriptionModal from "../UserApp/CancelSubscriptionModal";
import {Auth} from "../../config/auth";
import EditPackagesPrice from "../AdminApp/EditPackagesPrice";
import PackageCombinationModal from "../UserApp/PackageCombinationModal";

export default {
    name: "PricingPackageAnnual",
    props: {
        packageModel: Object,
        isUserAuthed: Boolean,
        duration: String,
        hasDiscount: Boolean,
        user: Object,
        selectable: Boolean,
        fromRegister: Boolean,
        packages: Array
    },
    components: {
        PackageCombinationModal,
        PaypalButton,
        CancelSubscriptionModal,
        EditPackagesPrice,
    },
    computed: {
        durationSelected: function () {
            if (this.annualChecked === true) return 'ANNUAL';
            return 'MONTHLY';
        }
    },
    data() {
        return {
            isAdmin: Auth.isAdminAuthed(),
            annualChecked: this.duration === 'ANNUAL',
            combinationObject: null
        }
    },
    methods: {
        showIndividualSupport() {
            this.$root.$emit('bv::show::modal', 'modal-1')
        },
        packagePriceWithSign(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization(this.hasDiscount ? this.packageModel.discountedMonthlyPrice : this.packageModel.monthlyPrice)
                    : toStringWithoutDecimalization(this.packageModel.testPhasePrice)
            } else {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization(this.hasDiscount ? this.packageModel.discountedAnnualPrice : this.packageModel.annualPrice)
                    : toStringWithoutDecimalization(this.packageModel.testPhasePrice)
            }

        },
        packagePrice(item, duration) {
            if (duration === 'MONTHLY') {
                return this.hasSubscriptionHistory()
                    ? toStringWithDecimalization(this.hasDiscount ? this.packageModel.discountedMonthlyPrice : this.packageModel.monthlyPrice, false)
                    : toStringWithoutDecimalization(this.packageModel.testPhasePrice, false)
            } else {
                return toStringWithDecimalization(this.hasDiscount ? this.packageModel.discountedAnnualPrice : this.packageModel.annualPrice, false);
            }

        },
        getUserActiveSubscriptions() {
            if (this.user === null || this.user === undefined) {
                return null;
            }
            return this.user['activeSubscriptions'];
        },
        hasSubscriptionHistory() {
            if (!this.user) {
                return false
            }

            return this.user['subscriptions'] !== undefined && this.user['subscriptions'] !== null && this.user['subscriptions'].length > 0
        },
        isPackageActive() {
            if (!this.user) {
                return false
            }

            if (this.hasActiveSubscription()) {
                const activeSubs = this.user['activeSubscriptions'];
                for (const sub of activeSubs) {
                    if (sub.package.id === this.packageModel.id && sub.status === 'CONFIRMED') {
                        if (this.duration !== null && this.duration !== undefined && this.duration === 'ANNUAL') {
                            return sub.duration === this.duration;
                        } else {
                            return true
                        }
                    }
                }
                return false;
            }
            return false;
        },
        hasActiveSubscription() {
            if (!this.user) {
                return false
            }

            if (this.user['activeSubscriptions'] !== undefined && this.user['activeSubscriptions'] !== null && this.user['activeSubscriptions'].length > 0) {
                const activeSubs = this.user['activeSubscriptions'];
                for (const sub of activeSubs) {
                    if (sub.status === 'CONFIRMED') {
                        return true;
                    }
                }
                return false;
            }
            return false;
        },
        cancelSubscription(packageId) {
            var id;
            const activeSubs = this.user['activeSubscriptions'];
            for (const sub of activeSubs) {
                if (sub['package']['id'] === packageId && sub['status'] === 'CONFIRMED') {
                    id = sub['id'];
                    break;
                }
            }
            SubscriptionService.deleteSubscription(id).then((success) => {
                if (success) {
                    core.showSnackbar('success', this.$t('results.subscriptionCanceled'))
                } else {
                    core.showSnackbar('error', this.$t('results.error'))
                }
            })
        },
        toStringWithDecimalization(price) {
            return toStringWithDecimalization(price)
        },
        toStringWithoutDecimalization(price) {
            return toStringWithoutDecimalization(price)
        },
        showModal() {
            this.$bvModal.show('package-' + this.packageModel.id);
        },
        closeModal(id) {
            this.$bvModal.hide(id);
        },
        runCombinations() {
            var newId = parseInt(this.packageModel.id);
            var operation;
            var newPackageIdSuggested;
            var package2Id;

            // we know there are active subscriptions so we take the active subscription.
            var oldId;
            var oldDuration;
            var currentSubId;
            const activeSubs = this.user['activeSubscriptions'];
            for (const sub of activeSubs) {
                if (sub['status'] === 'CONFIRMED') {
                    currentSubId = sub['id'];
                    oldId = parseInt(sub['package']['id']);
                    oldDuration = sub['duration'];
                    break;
                }
            }


            if (oldId === 1 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 4) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 10;
            } else if (oldId === 1 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 7) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 7;
            } else if (oldId === 1 && newId === 8) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 1 && newId === 10) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 10;
            } else if (oldId === 1 && newId === 11) {
                operation = 'ADD';
            } else if (oldId === 1 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 5) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 11;
            } else if (oldId === 2 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 7) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 7;
            } else if (oldId === 2 && newId === 8) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 2 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 2 && newId === 11) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 11;
            } else if (oldId === 2 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 6) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 12;
            } else if (oldId === 3 && newId === 7) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 7;
            } else if (oldId === 3 && newId === 8) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 3 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 11) {
                operation = 'ADD';
            } else if (oldId === 3 && newId === 12) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 12;
            } else if (oldId === 4 && newId === 1) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 10;
            } else if (oldId === 4 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 7) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 8) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 8;
            } else if (oldId === 4 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 4 && newId === 10) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 10;
            } else if (oldId === 4 && newId === 11) {
                operation = 'ADD';
            } else if (oldId === 4 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 2) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 11;
            } else if (oldId === 5 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 7) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 8) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 8;
            } else if (oldId === 5 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 5 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 5 && newId === 11) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 11;
            } else if (oldId === 5 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 3) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 12;
            } else if (oldId === 6 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 7) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 8) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 8;
            } else if (oldId === 6 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 6 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 11) {
                operation = 'ADD';
            } else if (oldId === 6 && newId === 12) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 12;
            } else if (oldId === 7 && newId === 1) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 1;
            } else if (oldId === 7 && newId === 2) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 2;
            } else if (oldId === 7 && newId === 3) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 3;
            } else if (oldId === 7 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 7 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 7 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 7 && newId === 8) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 7 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 7 && newId === 10) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 4;
            } else if (oldId === 7 && newId === 11) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 5;
            } else if (oldId === 7 && newId === 12) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 6;
            } else if (oldId === 8 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 8 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 8 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 8 && newId === 4) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 4;
            } else if (oldId === 8 && newId === 5) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 5;
            } else if (oldId === 8 && newId === 6) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 6;
            } else if (oldId === 8 && newId === 7) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 8 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 8 && newId === 10) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 1;
            } else if (oldId === 8 && newId === 11) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 2;
            } else if (oldId === 8 && newId === 12) {
                operation = 'BUY-NEW';
                newPackageIdSuggested = 3;
            } else if (oldId === 9 && newId === 1) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 1;
            } else if (oldId === 9 && newId === 2) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 2;
            } else if (oldId === 9 && newId === 3) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 3;
            } else if (oldId === 9 && newId === 4) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 4;
            } else if (oldId === 9 && newId === 5) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 5;
            } else if (oldId === 9 && newId === 6) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 6;
            } else if (oldId === 9 && newId === 7) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 7;
            } else if (oldId === 9 && newId === 8) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 8;
            } else if (oldId === 9 && newId === 10) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 10;
            } else if (oldId === 9 && newId === 11) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 11;
            } else if (oldId === 9 && newId === 12) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 12;
            } else if (oldId === 10 && newId === 1) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 1;
            } else if (oldId === 10 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 10 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 10 && newId === 4) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 4;
            } else if (oldId === 10 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 10 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 10 && newId === 7) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 7;
                package2Id = 4;
            } else if (oldId === 10 && newId === 8) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 8;
                package2Id = 1;
            } else if (oldId === 10 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 10 && newId === 11) {
                operation = 'ADD';
            } else if (oldId === 10 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 2) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 2;
            } else if (oldId === 11 && newId === 3) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 5) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 5;
            } else if (oldId === 11 && newId === 6) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 7) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 7;
                package2Id = 5;
            } else if (oldId === 11 && newId === 8) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 8;
                package2Id = 2;
            } else if (oldId === 11 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 11 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 11 && newId === 12) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 1) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 2) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 3) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 3;
            } else if (oldId === 12 && newId === 4) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 5) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 6) {
                operation = 'DOWNGRADE';
                newPackageIdSuggested = 6;
            } else if (oldId === 12 && newId === 7) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 7;
                package2Id = 6;
            } else if (oldId === 12 && newId === 8) {
                operation = 'BUY-NEW-2';
                newPackageIdSuggested = 8;
                package2Id = 3;
            } else if (oldId === 12 && newId === 9) {
                operation = 'UPGRADE';
                newPackageIdSuggested = 9;
            } else if (oldId === 12 && newId === 10) {
                operation = 'ADD';
            } else if (oldId === 12 && newId === 11) {
                operation = 'ADD';
            }

            this.combinationObject = {
                operation: operation,
                newId: newId,
                oldId: oldId,
                newPackageIdSuggested: newPackageIdSuggested,
                package2Id: package2Id,
                duration: this.durationSelected,
                oldDuration: oldDuration,
                hasDiscount: this.hasDiscount,
                currentSubId: currentSubId
            };

            this.$bvModal.show('combination-' + this.packageModel.id);
        }
    }
}
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}

.first-pricing-package-title {
    color: rgb(0, 123, 255);
}

.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.second-pricing-package-title {
    color: rgb(103, 42, 189);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.third-pricing-package-title {
    color: rgb(207, 119, 39);
}


label, .toggle {
    height: 2.8rem;
    border-radius: 100px;
}

label {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    margin: 1.8rem 0 1.8rem 0;
    cursor: pointer;
}

.p-margin {
    margin-top: 0.5rem;
}

.toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
    /*font-size: 90%;*/
    font-weight: bolder;
    width: 65%;
    margin-left: 17.5%;
    margin-top: .5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
    display: none;
}

/* Toggle */
[type="checkbox"]:checked + .app .toggle {
    transform: translateX(100%);
    background-color: white;
}

[type="checkbox"]:checked + .app .dark {
    opacity: 1
}

[type="checkbox"]:checked + .app .light {
    opacity: 1;
}

.paypal-buy-now-button {
    display: inline-flex;
    position: relative;
    background: #ffc439;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 0 0 #ffd699;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 0 23px;
    height: 42px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.paypal-buy-now-button:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffaf00 0%, #dc911d 100%);
    z-index: 1;
}

.paypal-buy-now-button:after {
    content: "";
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffc439;
    box-shadow: inset 0 1px 0 0 #ffd699;
    z-index: 1;
}

.paypal-buy-now-button span {
    padding-top: 3px;
    padding-right: 7px;
    text-shadow: 0 1px 0 #ffd699;
    z-index: 2;
}

.paypal-buy-now-button svg {
    filter: drop-shadow(0 1px 0 #fff);
    z-index: 2;
}


</style>
