<template>
    <div class="col-lg-4 pr-0 pl-0  pb-4">
        <div class="mr-3 ml-3 shadow-sm rounded">

            <div class="pt-1 pb-1 text-center"
                 v-if="packageModel.image_path !== undefined && packageModel.image_path !== null">
                <img :src="require('../../assets/images/packages/' + packageModel.image_path)"
                     class="img-fluid m-1"
                     style="max-height: 500px;"
                     :alt="packageModel.image_path">
            </div>
            <div v-else>
                <div :class="['text-center', 'p-4',
                {'first-pricing-package' : packageModel.priority === 1},
                {'second-pricing-package': this.packageModel.priority === 2},
                {'third-pricing-package': this.packageModel.priority === 3}
            ]">
                    <h2 :class="['font-weight-bold',
                {'first-pricing-package-title' : packageModel.priority === 1},
                {'second-pricing-package-title': this.packageModel.priority === 2},
                {'third-pricing-package-title': this.packageModel.priority === 3}]">{{
                            packageModel.name
                        }}
                    </h2>
                    <p class="pricing-package-desc">{{ packageModel.description }}</p>
                </div>
            </div>

            <div class="p-4">
                <div class="text-center mb-5">
                    <h1 class="font-weight-bold">{{ toStringWithoutDecimalization(packageModel.testPhasePrice) }}</h1>
                    <p class="m-0">Erster Monatspreis</p>
                </div>

                <div v-if="isUserAuthed">
                    <RouterLink @click.native="scrollToTop" :to="{ name: 'app.packages' }">
                        <button class="btn primary-background-color col-12">
                            <h3 class="text-white font-18 font-weight-bold m-0 p-2">
                                {{ $t('packages.startNow') }}
                            </h3>
                        </button>
                    </RouterLink>
                </div>
                <div v-else>
                    <RouterLink @click.native="scrollToTop" :to="{ name: 'auth1.sign-up1' }">
                        <button class="btn primary-background-color col-12">
                            <h3 class="text-white font-18 font-weight-bold m-0 p-2">
                                {{ $t('packages.startNow') }}
                            </h3>
                        </button>
                    </RouterLink>
                </div>


                <div class="row mt-5">
                    <div class="col-6 m-auto ">
                        <p class="m-0">Monatlicher Preis nach 30 Tagen Testphase</p>
                    </div>
                    <div class="col-6 text-right"
                         v-if="packageModel.discountedMonthlyPrice && packageModel.monthlyPrice !== packageModel.discountedMonthlyPrice">
                        <p class="font-weight-bold m-0">
                            <del>{{ toStringWithDecimalization(packageModel.monthlyPrice) }}</del>
                        </p>
                        <h4 class="font-weight-bold">{{
                                toStringWithDecimalization(packageModel.discountedMonthlyPrice)
                            }}</h4>
                    </div>
                    <div v-else class="col-6 text-right">
                        <h5 class="font-weight-bold">{{ toStringWithDecimalization(packageModel.monthlyPrice) }}</h5>
                    </div>
                </div>
                <div class="row mt-4 mb-5">
                    <div class="col-6 m-auto ">
                        <p class="m-0">Jahresabo Sonderangebot (6 Monate geschenkt)</p>
                    </div>

                    <div class="col-6 text-right" v-if="packageModel.discountedAnnualPrice">
                        <p class="font-weight-bold m-0">
                            <del>{{ toStringWithDecimalization(packageModel.annualPrice) }}</del>
                        </p>
                        <h4 class="font-weight-bold">
                            {{ toStringWithDecimalization(packageModel.discountedAnnualPrice) }}</h4>
                    </div>
                    <div class="col-6 text-right" v-else>
                        <h2 class="font-weight-bold">{{ toStringWithDecimalization(packageModel.annualPrice) }}</h2>
                    </div>
                </div>

                <ul class="uk-list uk-list-bullet in-list-check font-18 mb-5">
                    <li>Statistisch geprüfte Strategien über 25 Jahre</li>
                    <li> Simple Umsetzung mit Copy & Paste</li>
                    <li>Jederzeit kündbar</li>
                    <li>Aufwand pro Woche (jeden Sonntag) 5-10 Minuten</li>
                    <li v-show="packageModel.id==='3'">+ Boni: mehrere Mentoring-Programme zu Trading & Finanzen im Wert
                        von über 500€. Gratis dazu.
                    </li>
                </ul>

                <!--                <div class="row font-20 text-center">-->
                <!--                    <div class="col">-->
                <!--                        Durchschnittlicher jährlicher Gewinn-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="row text-center font-weight-bold font-20">-->
                <!--                    <div class="col">-->
                <!--                        {{-->
                <!--                            toStringWithDecimalization(packageModel.avgAnnuallyProfit)-->
                <!--                        }}-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>
        </div>
    </div>
</template>

<script>
import {toStringWithDecimalization, toStringWithoutDecimalization} from "../../Utils/utils";

export default {
    name: "package",
    props: {
        packageModel: Object,
        isUserAuthed: Boolean
    },
    methods: {
        toStringWithDecimalization(price) {
            return toStringWithDecimalization(price)
        },
        toStringWithoutDecimalization(price) {
            return toStringWithoutDecimalization(price)
        },
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>

.first-pricing-package {
    background-color: rgba(0, 123, 255, .05);
}

.first-pricing-package-title {
    color: rgb(0, 123, 255);
}

.pricing-package-desc {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.second-pricing-package {
    background-color: rgba(103, 42, 189, .05);
}

.second-pricing-package-title {
    color: rgb(103, 42, 189);
}

.third-pricing-package {
    background-color: rgba(207, 119, 39, .05);
}

.third-pricing-package-title {
    color: rgb(207, 119, 39);
}

</style>
