<template>
    <main>
        <div v-if="loading">
            <div class="row mt-5">
                <div class="col-5"></div>
                <div class="col-2">
                    <img :src="loader" class="img-fluid align-self-center" alt="logo">
                </div>
                <div class="col-5"></div>
            </div>
        </div>

        <div v-else>
            <div class="uk-section mt-2" v-if="hasSubscription">
                <div class="container" v-if="parseInt(videos[getActiveVideo].id) === 1">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="intro-video">
                                <div class="embed-responsive" style="padding-top: 56.25%; height: 50%">
                                    <iframe class="embed-responsive-item"
                                            :src="videosList[getActiveVideo].videoUrl"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div v-else class="uk-container">
                    <div class="uk-grid">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="intro-video">
                                    <div class="embed-responsive" style="padding-top: 56.25%">
                                        <iframe class="embed-responsive-item"
                                                :src="videosList[getActiveVideo].videoUrl"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class=" uk-flex uk-flex-center">
                                    <div>
                                        <div class="uk-text-center mt-4">
                                            <!--                                            <h3><span-->
                                            <!--                                                class="in-highlight font-weight-bold">This is the title of the video</span>-->
                                            <!--                                            </h3>-->
                                            <!--                                            <p class="mt-1 mb-1" style="font-size: 16px">This is the placeholder of some-->
                                            <!--                                                text regarding this video-->
                                            <!--                                            </p>-->
                                            <h1>
                                                NUR NOCH FÜR KURZE ZEIT VERFÜGBAR!
                                            </h1>
                                            <p style="font-size: 16px">
                                                Diese Videos zeigen Dir, wie Du 10.000€ und mehr pro Monat in 12
                                                Monaten
                                                verdienen
                                                kannst/ wie Du in 5 Jahren zum Millionär wirst mit einem
                                                einzigartigen
                                                Trading-MLM-System…
                                            </p>
                                            <button
                                                class="btn primary-background-color rounded-0 mt-1 text-white"
                                                @click="moveToApplicationFunnel()">
                                                Ja, ich möchte das limitierte Sonderangebot!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else class="uk-section mt-2">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="intro-video">
                                    <img :src="videosList[getActiveVideo].previewImage" alt="video">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="uk-width-1-1 uk-flex uk-flex-center">
                                    <div class="uk-text-center">
                                        <h3><span
                                            class="in-highlight font-weight-bold">DU BIST JETZT EIN ERFOLGREICHER TRADERISTA!</span>
                                        </h3>
                                        <p class="mt-1 mb-1" style="font-size: 16px">Und weil ich will, dass
                                            Du noch
                                            erfolgreicher
                                            wirst, lade ich Dich zu meinem GRATIS 4-TAGE-WORKSHOP ein!
                                        </p>
                                        <p style="font-size: 16px">
                                            Diese Videos zeigen Dir, wie Du 10.000€ und mehr pro Monat in 12
                                            Monaten
                                            verdienen
                                            kannst/ wie Du in 5 Jahren zum Millionär wirst mit einem
                                            einzigartigen
                                            Trading-MLM-System…
                                        </p>
                                        <button
                                            class="btn primary-background-color col-12 rounded-0 mt-1 text-white"
                                            @click="subscribeToProductLaunch">
                                            KLICK HIER FÜR DEINEN SOFORT-ZUGANG ZU DEINEM GRATIS
                                            4-TAGE-WORKSHOP
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-2">
                <div class="row">
                    <div v-for="(video,index) in videosList" class="col-lg-3 col-md-6 col-sm-12">
                        <div class="intro-video" v-if="video.unlocked">
                            <img style="object-fit: cover" :src="video.previewImage" alt="video" class="mb-2"
                                 @click="setActiveVideo(index)">
                        </div>
                        <div class="intro-video" v-else>
                         <span class="d-inline-block" tabindex="0" v-b-popover.hover
                               :title="$t('home.waitUntilNextDay')">
                             <img v-if="index === 0"
                                  style="object-fit: fill"
                                  src="../../assets/images/lock1.png"
                                  alt="Tag 1">
                             <img v-else-if="index === 1"
                                  style="object-fit: fill"
                                  src="../../assets/images/lock2.png"
                                  alt="Tag 2 ">
                             <img v-else-if="index === 2"
                                  style="object-fit: fill"
                                  src="../../assets/images/lock3.png"
                                  alt="Tag 3">
                             <img v-else-if="index === 3"
                                  style="object-fit: fill"
                                  src="../../assets/images/lock4.png"
                                  alt="Tag 4">
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
    </main>
</template>

<script>
import {Auth} from "../../config/auth";
import {FunnelService} from "../../services/funnel";
import {core} from "../../config/pluginInit";
import loader from "../../assets/images/loader.gif";
import {TrackingService} from "../../services/tracking";

export default {
    name: "ProductFunnelPage",
    created() {
        FunnelService.getFunnelVideos().then((data) => {
            this.videos = data;

            for (var video of this.videos) {
                if (video.unlocked === true) {
                    this.subscribed = true;
                }
            }
            this.loading = false;
        });
    },
    mounted() {
        TrackingService.pageView("Workshop Page",  this.$route);
    },
    computed: {
        hasSubscription: function () {
            return this.subscribed;
        },
        isUserAuthed: function () {
            return Auth.isUserAuthed()
        },
        videosList: function () {
            return this.videos;
        },
        getActiveVideo: function () {
            return this.activeVideo;
        }
    },
    data() {
        return {
            videos: [],
            loading: true,
            loader: loader,
            activeVideo: 0,
            subscribed: false,
        }
    },
    methods: {
        setActiveVideo(index) {
            this.activeVideo = index;
        },
        subscribeToProductLaunch() {
            FunnelService.subscribeToProductFunnel().then((data) => {
                core.showSnackbar('success', 'Sie haben den kostenlosen Workshop erfolgreich abonniert');
                this.videos = data;
                this.subscribed = true;
            });
        },
        moveToApplicationFunnel() {
            this.scrollToTop()
            this.$router.push({
                name: 'cart-funnel',
                query: {
                    packageId: 9,
                },
            });
        },
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>
#over {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: white; /* for unknow reason is color important for IE*/
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>
