<template>
    <main>

        <div class="uk-section uk-padding-remove-vertical" style="background-color: #333333">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 data-uk-slideshow>
                <div class="uk-container">
                    <p class="text-center text-white font-20 pt-2 pb-2">
                        Glückwunsch, Das hat geklappt Dein Platz ist gesichert, Du bekommst per E-Mail den persönlichen
                        Webinar-Link zugesendet!
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%"
                                         aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"> Halt warte ... 80%
                                    </div>
                                </div>
                            </div>
                            <div class="uk-overlay">
                                <p class="text-black text-center responsive-font">
                                    <span style="color: #FFB900" class="font-weight-bold"> ⚠ Halt, warte! </span> Bevor
                                    Du gehst, hast Du jetzt die Chance auf deinen Einstieg ins erfolgreiche Trading
                                    <span class="font-weight-bold"> für nur 1€!</span>
                                </p>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@m uk-width-1-1@s justify-content-center"
                                         style="display: flex">
                                        <img class="text-center"
                                             :src="require('../../assets/img/website/weekly-pakete.png')"
                                             alt="starter-package" width="500" height="400">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@m uk-width-1-1@s justify-content-center"
                                         style="display: flex">
                                        <p>
                                            Sichere Dir jetzt den Zugang zum Starter-Paket mit nur einem Klick und
                                            erhalte Zugang zu deinen ersten Trades plus zum Kurs „Traders Excellence“
                                            gratis dazu im Mitgliederbereich und starte heute schon durch!
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-container text-center mb-5">
                                <p class="text-center font-20" style="color: rgb(0,0,0,0.8)">
                                    Sichere Dir jetzt den Zugang zum Starter-Paket
                                    <span class="font-weight-bold" style="text-decoration: underline"> mit nur einem Klick </span>
                                    und erhalte Zugang zu deinen <b> ersten Trades plus zum Kurs „Traders Excellence“
                                    gratis dazu im Mitgliederbereich </b> und starte heute schon durch!
                                </p>
                            </div>

                            <div class="uk-container text-center mt-3">
                                <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                                   style="font-size: 30px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center">Vorteile, die für Dich entstehen:
                                </h1>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img class="in-slide-img"
                                             src="../../assets/img/website/traderista-webinar.png"
                                             alt="image-slide" width="500" height="400">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h2 class="text-black">Mit dem <b>Einstieg ins erfolgreiche Trading</b>
                                                bekommst Du:</h2>
                                            <br/>
                                            <hr style="margin: 0 auto;background-color: #FFB900;width: 50%;height: 2px">
                                            <br/>
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet in-list-check text-black font-20">
                                                        <li><b>Deine ersten Trades schon heute</b> - lerne das einfache
                                                            und erfolgreiche Trading-System von Traderista kennen und
                                                            wende sofort meine Strategien an.
                                                        </li>
                                                        <li><b>Zugang zum Online-Kurs „Traders Excellence“ </b> -
                                                            geballtes Wissen aus 9 Jahren Börsenerfahrung und über 50
                                                            Büchern gebündelt in 5 Minuten pro Tag. 30 Tage lang gratis
                                                            für Dich!
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="uk-container">
                                <div class=" mt-5 mb-5 text-center">
                                    <p class="text-center text-black">Dieses Angebot endet in:</p>
                                    <ul class="p-0 m-0">
                                        <li class="li-countdown" style=" color: black"><span
                                            class="span-countdown font-weight-bold"
                                            style="font-size: 60px">{{
                                                minutes
                                            }}</span>Minuten
                                        </li>
                                        <li class="li-countdown" style=" color: black"><span
                                            class="span-countdown font-weight-bold"
                                            style="font-size: 60px">{{
                                                seconds
                                            }}</span>Sekunden
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="justify-content-center text-center">

                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                            class="btn primary-background-color text-white rounded-0 font-weight-bold small-font">
                                    Jetzt Einstieg ins erfolgreiche Trading sichern!
                                    <i class="fas fa-angle-right uk-margin-small-left"></i>
                                </RouterLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <div class="sticky-bottom-nav">
            <div class=" uk-width-1-1 uk-text-center">
                <div class="div uk-overlay">
                    <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}"
                                class="btn primary-background-color text-white rounded-0 font-weight-bold small-font">
                        Jetzt Einstieg ins erfolgreiche Trading sichern!
                        <i class="fas fa-angle-right uk-margin-small-left"></i>
                    </RouterLink>
                </div>
                <!--                <div class="p-4 mx-auto justify-content-center"-->
                <!--                     style="background-color: black;max-width: 800px;">-->
                <!--                    <br/>-->
                <!--                    <div class="row justify-content-center">-->
                <!--                       -->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>

        <Footer></Footer>
    </main>

</template>

<script>


import Footer from "../../components/Website/layout/Footer";

export default {
    name: "VipOffer",
    components: {Footer},
    computed: {
        minutes() {
            return this.minutesCnt;
        },
        seconds() {
            return this.secondsCnt;
        },
    },
    created() {
        const countDownDate = new Date(new Date().getTime() + 15 * 60000)

        let x = setInterval(() => {
            const distance = countDownDate - new Date().getTime()

            if (distance < 0) {
                clearInterval(x)
                this.minutesCnt = 0
                this.secondsCnt = 0
            } else {
                this.minutesCnt = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
                this.secondsCnt = Math.floor((distance % (1000 * 60)) / 1000)
            }
        }, 1000);
    },
    data() {
        return {
            minutesCnt: 14,
            secondsCnt: 59,
        }
    }
}
</script>

<style scoped>
path {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}


.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}

.li-countdown {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.span-countdown {
    display: block;
}

.responsive-font {
    font-size: 40px;
}

.small-font {
    font-size: 30px;
}

@media all and (max-width: 768px) {
    .li-countdown {
        font-size: 1.125rem;
        padding: .75rem;
        text-transform: uppercase;
    }

    .span-countdown span {
        font-size: 3.375rem;
    }

    .responsive-font {
        font-size: 30px;
    }

    .small-font {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}
</style>
