<template>
    <div>
        <main>
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-section col-12">
                        <div class="uk-container">
                            <div class="uk-grid">
                                <div class="uk-width-1-1 in-content-10">
                                    <div
                                        class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                                        <div class="uk-grid uk-flex uk-flex-center">
                                            <div class="uk-width-3-7@m uk-text-center">
                                                <h4 v-html="text"
                                                    class="uk-margin-small-top font-weight-bold text-black pb-5"></h4>
                                            </div>
                                            <div class="uk-width-3-5@m uk-text-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- section content end -->
        </main>
        <Footer></Footer>
    </div>

</template>

<script>
import Navbar from "../../components/Website/layout/Navbar";
import Footer from "../../components/Website/layout/Footer";
import {TrackingService} from "../../services/tracking";

export default {
    name: "subscription-opt-in-mail",
    components: {
        Navbar,
        Footer
    },
    mounted() {
        TrackingService.pageView("First Opt In Page",  this.$route);
    },
    data() {
        return {
            text:
                'Ich habe Dir gerade eine Mail geschickt. ' +
                '</br></br>' +
                'Bitte bestätige Deine Anfrage mit einem Klick auf den Link in dieser Mail (gesetzliche Anforderungen mal wieder 🙄 aus Spaß oder um dich zu nerven, mache ich das nicht 😂).' +
                '</br></br>' +
                'Du hast keine Mail erhalten? Dann schau bitte im Spam-/ Unbekannt-Ordner nach.' +
                '</br></br>' +
                'Bei Problemen helfe ich Dir gern unter info@traderista-trading.com</h2>',
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
@import url("../../assets/css/website/lead-generator.css");
</style>
