<template>
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <p style="font-size: 30px">
                    {{ $t('survey.title') }}
                </p>
                <p style="font-size: 20px; margin-bottom: 40px;">
                    {{ $t('survey.subTitle') }}
                </p>
                <div class="border">
                    <div class="question bg-white p-4 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4 class="m-0">Traderista Quiz</h4><span>({{ activeIndex + 1 }} von 5)</span>
                        </div>
                    </div>
                    <div v-for="(question, qi) in questions">
                        <div v-if="activeIndex === qi" class="question bg-white border-bottom pl-4 pr-4 pt-5 pb-5">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-primary-color">{{ qi + 1 }}.</h3>
                                <h5 class="mt-1 ml-2">{{ $t(question.name) }}</h5>
                            </div>

                            <div v-for="(choice) in question.choices" class="ans">
                                <label class="mul-choice-question">
                                    <input type="checkbox" :name="'question-' + question.id" :value="choice.id"
                                           @click="selectAnswer(qi, choice.id)"
                                           :checked="activeIndex !== 1 ? question.answerId === choice.id : question.multipleAnswers.includes(choice.id)">
                                    <span>{{ getChoiceLetter(choice.id) + ')  ' + $t(choice.name) }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <button class="btn survey-btn btn-primary d-flex align-items-center btn-danger" type="button"
                                @click="prevQuestion">
                            <i class="fa fa-angle-left mt-1 mr-1">
                            </i>&nbsp;{{ $t('survey.previous') }}
                        </button>
                        <button class="btn survey-btn align-items-center" v-if="Number(activeIndex) !== 4"
                                @click="nextQuestion"
                                type="button" style="background-color: #DAA520; border-color: #DAA520; color:white">
                            {{ $t('survey.next') }}<i
                            class="fa fa-angle-right ml-2"></i>
                        </button>
                        <button class="btn survey-btn align-items-center" v-else
                                @click="submitChoices"
                                type="button" style="background-color: #DAA520; border-color: #DAA520; color:white">
                            {{ $t('survey.seeResults') }}<i
                            class="fa fa-angle-right ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
import {TrackingService} from "../../services/tracking";

export default {
    name: "SurveyFunnelPage",
    mounted() {
        TrackingService.pageView("Survey Funnel Page", this.$route);
    },
    computed: {
        activeQuestion() {
            return this.questions[this.activeIndex];
        },
        activeIndex() {
            return this.activeQuestionIndex;
        }
    },
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        nextQuestion() {
            if (this.activeQuestionIndex < 4 && this.questions[this.activeQuestionIndex].answerId !== null) {
                this.activeQuestionIndex++;

                TrackingService.buttonClick('SurveyQuizQuestion - ' + this.activeQuestionIndex - 1 + ' Klik');
            }
        },
        prevQuestion() {
            if (this.activeQuestionIndex > 0) {
                this.activeQuestionIndex--;
            }
        },
        getChoiceLetter(id) {
            return String.fromCharCode(96 + id)
        },
        selectAnswer(qi, id) {
            this.questions[qi].answerId = id
            if (this.activeIndex === 1) {
                if (this.questions[qi].multipleAnswers.includes(id)) {

                    const index = this.questions[qi].multipleAnswers.indexOf(id);
                    if (index > -1) {
                        this.questions[qi].multipleAnswers.splice(index, 1);
                    }
                } else {
                    this.questions[qi].multipleAnswers.push(id)
                }
            }
        },
        submitChoices() {
            this.scrollToTop()
            TrackingService.buttonClick('Survey Quiz Finish - Klik');
            this.$router.push({
                name: 'lead-generator-page', params: {
                    a: this.questions[0].answerId,
                    b: this.questions[1].answerId,
                    c: this.questions[2].answerId,
                    d: this.questions[3].answerId,
                    e: this.questions[4].answerId,
                }
            })
        }
    },
    data() {
        return {
            activeQuestionIndex: 0,
            questions: [
                {
                    name: 'survey.question1',
                    choices: [
                        {
                            id: 1,
                            name: 'survey.q1a1',
                        },
                        {
                            id: 2,
                            name: 'survey.q1a2',
                        },
                        {
                            id: 3,
                            name: 'survey.q1a3',
                        },
                    ],
                    answerId: null,
                },
                {
                    name: 'survey.question2',
                    choices: [
                        {
                            id: 1,
                            name: 'survey.q2a1',
                        },
                        {
                            id: 2,
                            name: 'survey.q2a2',
                        },
                        {
                            id: 3,
                            name: 'survey.q2a3',
                        },
                    ],
                    answerId: null,
                    multipleAnswers: []
                },
                {
                    name: 'survey.question3',
                    choices: [
                        {
                            id: 1,
                            name: 'survey.q3a1',
                        },
                        {
                            id: 2,
                            name: 'survey.q3a2',
                        },
                        {
                            id: 3,
                            name: 'survey.q3a3',
                        },
                        {
                            id: 4,
                            name: 'survey.q3a4',
                        },
                        {
                            id: 5,
                            name: 'survey.q3a5',
                        },
                    ],
                    answerId: null,
                },
                {
                    name: 'survey.question4',
                    choices: [
                        {
                            id: 1,
                            name: 'survey.q4a1',
                        },
                        {
                            id: 2,
                            name: 'survey.q4a2',
                        },
                    ],
                    answerId: null,
                },
                {
                    name: 'survey.question5',
                    choices: [
                        {
                            id: 1,
                            name: 'survey.q5a1',
                        },
                        {
                            id: 2,
                            name: 'survey.q5a2',
                        },
                        {
                            id: 3,
                            name: 'survey.q5a3',
                        },
                        {
                            id: 4,
                            name: 'survey.q5a4',
                        },
                        {
                            id: 5,
                            name: 'survey.q5a5',
                        },
                        {
                            id: 6,
                            name: 'survey.q5a6',
                        },
                    ],
                    answerId: null,
                },
            ]
        }
    }
}
</script>

<style scoped>
label.mul-choice-question {
    cursor: pointer
}

label.mul-choice-question input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.mul-choice-question span {
    padding: 4px 0 4px 0;
    display: inline-block;
    color: black;
    border-radius: 3px;
    margin-top: 20px;
    text-align: left;
}

label.mul-choice-question input:checked + span {
    padding: 4px 10px 4px 10px;
    border-color: #DAA520;
    background-color: #DAA520;
    color: #fff
}

.ans {
    margin-left: 36px !important
}

.survey-btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.survey-btn:active {
    outline: 0 !important;
    box-shadow: none !important
}
</style>
