<template>
    <div>
        <main>

            <div class="uk-section">
                <div class="uk-container uk-container-color">
                    <div class="uk-grid justify-content-center">
                        <div class="uk-width-1-1">
                            <div class="uk-card">
                                <div class="align-items-center" style="padding: 10px; align-content: center">
                                    <div
                                        style="padding: 10px; text-align: center; justify-content: center; font-size: 48px; margin-top: 0px;">
                                        <i class="fas fa-check-circle check-circle"></i>
                                    </div>
                                    <h1 style="font-size: 50px; text-align: center; padding: 10px;">
                                        Vielen Dank für Ihr Abonnement!</h1>
                                    <div style="padding: 20px; text-align: center">
                                        <p style="display: inline-block">
                                            Wir haben Ihren kostenlosen Bericht an Ihren Posteingang geschickt, damit Sie ihn leicht abrufen können. Sie finden mehr
                                            Informationen
                                            finden Sie auf unserer Website und unseren sozialen Seiten.
                                        </p>
                                    </div>
                                    <div style="height: 50px;"></div>
                                </div>

                                <!-- Container -->
                                <div class="container">
                                    <!-- Row -->
                                    <div class="row">
                                        <!-- Connect with us -->
                                        <div class="col-5 connect-with-us">
                                            <h1 class="connect-with-us-h1"> Mit uns verbinden </h1>
                                            <div style="padding: 20px; text-align: center;">

                                                <a href="" target="_blank" rel="noopener" class="facebook-icon no-underline">
                                                    <i class="fab fa-facebook" style="font-size: 40px;"></i>
                                                </a>
                                                <a href="" target="_blank" class="linkedin-icon no-underline" rel="noopener">
                                                    <i class="fa-fw fa-linkedin fab" style="font-size: 40px;"></i>
                                                </a>
                                                <a href="" target="_blank" rel="noopener" class="instagram-icon no-underline">
                                                    <i class="fab fa-instagram-square" style="font-size: 40px;"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-2"></div>

                                        <!-- Visit dashboard div -->
                                        <div class="col-5 visit-dashboard">
                                            <h1 style="font-size: 25px; text-align: center; padding: 10px; margin-top: 0;">
                                                Weiter zum Dashboard </h1>
                                            <div style="padding: 10px; margin-top: 0; text-align: center;">
                                                <a href="" target="" class="dashboard-button">
                                                    <span>Dashboard</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Row -->
                                    </div>
                                    <!-- Container -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section -->
            </div>

        </main>
    </div>

</template>

<script>
export default {
    name: 'thank-you-page'
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
.uk-container-color {
    background-image: url(../../assets/img/website/in-team-background-1.png);
}
.check-circle {
    font-size: 48px;
    color: #DAA520;
}
.connect-with-us {
    padding: 50px 55px;
    background-color: rgb(255, 255, 255);
}
.connect-with-us-h1 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.visit-dashboard {
    padding: 50px 55px;
    background-color: #ffffff;
}
.dashboard-button {
    font-size: 22px;
    background-color: #DAA520 !important;
    color: rgb(255, 255, 255);
    width: auto;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none !important;
}
.dashboard-button:hover {
    color: inherit;
}
.facebook-icon {
    height: 39px;
    margin: 0 10px 0 0;
    border-radius: 99px;
    color: #DAA520
}
.linkedin-icon {
    width: 39px;
    height: 39px;
    margin: 0 10px 0 0;
    border-radius: 99px;
    color: #DAA520
}
.instagram-icon {
    width: 39px;
    height: 39px;
    margin: 0 10px 0 0;
    border-radius: 99px;
    color: #DAA520
}
.no-underline {
    text-decoration: none !important;
}
.no-underline:hover {
    color: inherit;
}
</style>
