<template>
    <div class="px-2">
        <b-row>
            <b-col cols="12">
                <div class="py-5">
                    <h1 class="text-center">
                        Teste 30 Tage für nur 1€
                    </h1>
                    <h3 class="text-center">
                        Und so funktioniert das Ganze... <br/>
                    </h3>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-center gold-bg py-5">
            <!-- Title Column -->
            <b-col cols="12" md="8">
                <div>
                    <div style="padding:55.54% 0 0 0;position:relative;">
                        <iframe
                            src="https://player.vimeo.com/video/725131239?h=e3981edda7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                            style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            title="Dein erster Trade mit Traderista"></iframe>
                    </div>
                </div>
            </b-col>
        </b-row>

        <br/>
        <div class="mt-2 text-center justify-content-center">

            <h4>Du kopierst einfach meine statistisch geprüften und erfolgserprobten Trading-Strategien. <br/> <br/>

                Diese handle ich auch selbst mit meinem eigenen Geld. <br/> <br/>

                Wie die Eingabe eines solchen Trades aussieht, siehst Du im Video oben <br/> <br/>


                Alle weiteren Erklärvideos findest Du im Mitgliederbereich <br/>
            </h4>
            <h3>Wähle jetzt zwischen 3 Optionen:</h3>
        </div>


        <div class="uk-container text-center" style="margin-bottom: -30px">
            <i class="fa fa-chevron-circle-down my-auto text-primary-color"
               style="font-size: 30px;"></i>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container justify-content-center text-center">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1@s uk-width-1-1@m">
                            <div class="uk-overlay">
                                <img class="in-slide-img img-size"
                                     src="../../assets/img/website/weekly-pakete-3.png"
                                     alt="angry-trader"
                                     width="800" height="600">
                                <div class="justify-content-center">
                                    <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}">
                                        <a
                                            class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                            Starter Trading-Strategien testen (1x am Sonntag handeln)<i
                                            :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                        </a>
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <br/>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container justify-content-center text-center">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1@s uk-width-1-1@m">
                            <div class="uk-overlay">
                                <img class="in-slide-img img-size"
                                     src="../../assets/img/website/alles-packages.png"
                                     alt="angry-trader"
                                     width="800" height="600">
                                <div class="justify-content-center">
                                    <RouterLink :to="{ name: 'vip-offer'}">
                                        <a
                                            class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                            V.I.P. Plus Trading-Strategien testen (1x täglich handeln) + Bonus-Bundle
                                            mit
                                            Coachings
                                            & Garantien!<i
                                            :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                        </a>
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <br/>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container justify-content-center text-center">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1@s uk-width-1-1@m">
                            <div class="uk-overlay">
                                <img class="in-slide-img img-size"
                                     src="../../assets/img/website/quiz-cover.png"
                                     alt="angry-trader"
                                     width="800" height="600">
                                <div class="justify-content-center">
                                    <RouterLink :to="{ name: 'survey'}">
                                        <a
                                            class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                            Quiz: Finde heraus, welche Trading-Strategie am besten zu Dir passt<i
                                            :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                        </a>
                                    </RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <br/>
        <br/>
        <div class="justify-content-center text-center">
            <h4>
                Alle Trades kosten nur 1€ für die ersten 30 Tage und sind jederzeit einfach kündbar. <br/>

                Du gehst mit einem Kauf also keine weiteren Verpflichtungen ein. <br/>

                Wähle jetzt und starte sofort: <br/>
            </h4>
        </div>

        <div class="justify-content-center text-center hidden-in-mobile">
            <div class="uk-grid-medium" data-uk-grid>
                <div class="uk-width-1-1@s uk-width-1-3@m">
                    <div class="uk-overlay">
                        <img class="in-slide-img"
                             src="../../assets/img/website/weekly-pakete-3.png" style="height: 600px;width: auto"
                             alt="angry-trader"
                             width="800" height="600">
                        <div class="justify-content-center">
                            <RouterLink :to="{ name: 'auth1.sign-up1' , query: { packageId: '1'}}">
                                <a
                                    class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                    Starter Trading-Strategien testen (1x am Sonntag handeln)<i
                                    :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                </a>
                            </RouterLink>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@s uk-width-1-3@m">
                    <div class="uk-overlay">
                        <img class="in-slide-img"
                             src="../../assets/img/website/all-packages.png" style="height: 600px;width: auto"
                             alt="angry-trader"
                             width="800" height="600">
                        <div class="justify-content-center">
                            <RouterLink :to="{ name: 'vip-offer'}">
                                <a
                                    class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                    V.I.P. Plus Trading-Strategien testen (1x täglich handeln) + Bonus-Bundle mit
                                    Coachings
                                    & Garantien!<i
                                    :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                </a>
                            </RouterLink>
                        </div>
                    </div>

                </div>
                <div class="uk-width-1-1@s uk-width-1-3@m">
                    <div class="uk-overlay">
                        <img class="in-slide-img" style="height: 600px;width: auto"
                             src="../../assets/img/website/quiz-cover.png"
                             alt="angry-trader"
                             width="800" height="600">
                        <div class="justify-content-center">
                            <RouterLink :to="{ name: 'survey'}">
                                <a
                                    class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                    Quiz: Finde heraus, welche Trading-Strategie am besten zu Dir passt<i
                                    :class="['fas', 'fa-angle-right' ,'uk-margin-small-left']"></i>
                                </a>
                            </RouterLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br/>
        <br/>

    </div>
</template>

<script>
export default {
    name: "TradingStrategyPage"
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");

path {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.img-size {
    height: 600px;
    width: auto;
}

/* sm */
.intro-video {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.intro-message {
    padding: 50px 30px 30px;
}

.in-highlight {
    color: #DAA520;
}

.transparent-bg {
    background-color: transparent !important;
}

.gold-bg {
    background-color: #DAA520;
}

.gold-border-3 {
    border: 5px solid #DAA520;
}

.gray-bg {
    background-color: #393D47;
}

.intro-message h1 {
    font-size: 35px;
    min-height: 120px;
    /*color: #dec950;*/
}

.intro-icons {
    display: none !important;
}

@media (min-width: 576px) {

}

@media only screen and (max-width: 768px) {
    .img-size {
        height: 400px;
        width: auto;
    }

    .hidden-in-mobile{
        display: none;
    }
}
/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 992px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 20px;
        padding-left: 50px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .intro-icons {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {
    .intro-video {
        padding-top: 135px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-message h1 {
        font-size: 40px;
        min-height: 120px;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

/* Custom media queries */
/* xxl */
@media (min-width: 1650px) {
    .intro-video {
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 80px;
    }

    .intro-message {
        padding-top: 160px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .intro-icons {
        display: none !important;
    }
}


/* Intro section in sales page */
/* [ 4. slideshow ] */
.intro-section {
    height: 730px;
    margin-top: -125px;
}

.intro-section .uk-button {
    margin-top: 10px;
}

.intro-section .uk-grid-medium {
    position: relative;
    top: 182px;
}

.intro-section .uk-grid-medium .in-slide-img {
    margin-top: -40px;
}

@media (max-width: 960px) {
    .intro-section {
        height: auto;
    }

    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -30px;
        text-align: center;
    }

    .intro-section img {
        width: 90%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .intro-section .uk-width-1-2\@s:last-child {
        margin-top: -10px;
        text-align: center;
    }

    .intro-section img {
        width: 100%;
        margin-left: -60px;
    }
}

.intro-section {
    background-color: #212224;
}

.ebook-button {
    border-radius: 32px;
    background-color: black
}


.intro-section .uk-slidenav {
    bottom: 175px;
    color: #fff;
}

.intro-section .intro-section-features {
    height: 220px;
    background: linear-gradient(0deg, #212224 65%, rgba(33, 34, 36, 0.3) 100%);
    margin-top: -190px;
}

.intro-section .intro-section-features .uk-container {
    position: relative;
    top: 124px;
}

.intro-section .intro-section-features .uk-label {
    font-weight: 500;
    padding: 2px 9px 2px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.intro-section .intro-section-features .uk-label i {
    margin-right: 5px;
}

.intro-section .intro-section-features .uk-label-success {
    color: #176639;
    background-color: #2ecc71;
}

.intro-section .intro-section-features .uk-label-danger {
    color: #772838;
    background-color: #ee4f6f;
}

.intro-section .intro-section-features .uk-text-lead {
    color: #fff;
    margin-top: -80px;
}

.intro-section .intro-section-features .slide-icons-1 {
    margin-top: -25px;
}

.intro-section .intro-section-features .slide-icons-1 i {
    color: #DAA520;
}

.intro-section .intro-section-features .slide-icons-2 {
    margin-top: -32px;
}

.intro-section .intro-section-features .slide-icons-2 img {
    margin-top: 5px;
}

@media (max-width: 960px) {
    .intro-section .uk-slidenav {
        display: none;
    }
}
</style>
