<template>
    <div v-if="this.loading">
    </div>
    <div v-else>
        <ErrorPage v-if="!unsubscribed"></ErrorPage>
        <div v-else class="container text-center mt-3">
            <div class="pageTitleSuccess text-center">Erfolgreich Deabonniert</div>
            <p class="mt-3">Sie haben sich erfolgreich von der E-Mail-Liste von Traderista abgemeldet.</p>
            <p>Sie erhalten keine E-Mails mehr.</p>
        </div>
    </div>

</template>

<script>

import {UserService} from "../../services/user";
import ErrorPage from "./ErrorPage";

export default {
    name: "UnsubscribeConfirmation",
    components: {ErrorPage},
    props: {
        token: String
    },
    data() {
        return {
            loading: true,
            unsubscribed: false,
        }
    },
    created() {
        UserService.unsubscribeByToken(this.token).then(success => {
            this.unsubscribed = success
            this.loading = false;
        })
    }
}
</script>
<style scoped>
body {
    background-color: #FFFFFF;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
    min-width: 500px;
    margin: 50px 0 0 0;
}

.container {
    background-color: #FFFFFF;
    width: 400px;
    border: 1px solid #999999;
    padding: 5px 5px 15px 5px;
    margin-left: auto;
    margin-right: auto;
}

.pageTitleSuccess {
    background-color: #DAA520;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

p {
    line-height: 18px;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
}
</style>
