<template>
    <main>
        <Navbar></Navbar>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center">Was Du alles von mir bekommst</h1>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@m uk-width-1-1@s justify-content-center"
                                         style="display: flex">
                                        <img class="text-center"
                                             src="../../assets/img/website/alles-packages.png"
                                             alt="image-slide" width="800" height="600">
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <div class="uk-container text-center mt-3">
                                <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                                   style="font-size: 30px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>


        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Trading-Paket V.I.P. Plus enthält:
                            </h1>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img
                                            src="../../assets/img/website/VIP-Plus.png"
                                            alt="image-slide">
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">

                                            <ul class="uk-list in-list-check mb-5 black-80">
                                                <li> 1x pro Woche Trades am Sonntag: 8 Indizes, 9 Rohstoffe, 19
                                                    Währungen
                                                </li>
                                                <li> 1x pro Woche Trades am Sonntag: 23 deutsche Aktien aus DAX, TecDAX,
                                                    MDAX
                                                </li>
                                                <li> 1x pro Woche Trades am Sonntag: 305 US-Aktien aus SP500, Dow Jones,
                                                    Nasdaq
                                                </li>
                                                <li> 1x pro Tag Trades am Morgen: 8 Indizes, 9 Rohstoffe, 19 Währungen
                                                </li>
                                                <li> 1x pro Tag Trades am Morgen: 23 deutsche Aktien aus DAX, TecDAX,
                                                    MDAX
                                                </li>
                                                <li> 1x pro Tag Trades am Morgen: 305 US-Aktien aus SP500, Dow Jones,
                                                    Nasdaq
                                                </li>
                                            </ul>
                                            <p class="mb-5 black-80">
                                                Jeden Tag erhältst Du also um ca. 23:30 Uhr die Trades für den folgenden
                                                Tag aus allen oben genannten Handelsklassen, die Du bis 9:00 Uhr am
                                                nächsten Morgen eingeben kannst.

                                            </p>
                                            <p class="black-80">
                                                Und jede Woche am Sonntag erhältst Du mittags die Trades aus allen oben
                                                genannten Handelsklassen für die kommende Handelswoche. Diese kannst Du
                                                bis Montag früh um 9:00 Uhr eingeben.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Traders most efficient Coaching</h1>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 1 - Die Grundlagen erfolgreichen Tradings</h5>
                                            <br/>
                                            <br/>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 00 </b> - Einleitung</li>
                                                <li><b> Lektion 01 </b> - Wie Du die richtige Aktie auswählst</li>
                                                <li><b> Lektion 02 </b> - Wie Du den Einstieg richtig wählst</li>
                                                <li><b> Lektion 03 </b> - Wie Du den Ausstieg richtig wählst</li>
                                                <li><b> Lektion 04 </b> - Wie Du den Stop Loss richtig festlegst</li>
                                                <li><b> Lektion 05 </b> - Wie Du die Positionsgröße richtig kalkulierst
                                                </li>
                                                <li><b> Lektion 06 </b> - Wie Du das Risikomanagement richtig bestimmst
                                                </li>
                                                <li><b> Lektion 07 </b> - Wie Du den Take Profit richtig festlegst</li>
                                                <li><b> Lektion 08 </b> - Wie Du das Moneymanagement richtig bestimmst
                                                </li>
                                                <li><b> Lektion 09 </b> - Wie Du den Hebel richtig einsetzt</li>
                                                <li><b> Lektion 10 </b> - Wie Du den Trailing Stop Loss richtig
                                                    anwendest
                                                </li>
                                                <li><b> Lektion 11 </b> - Wie Du die Handelsrichtung richtig wählst</li>
                                                <li><b> Lektion 12 </b> - Wie Du die richtigen Handelsstrategien
                                                    erkennst
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img
                                            src="../../assets/img/website/traders-coaching.png"
                                            alt="image-slide">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-container text-center mt-3">
                            <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                               style="font-size: 30px;"></i>
                        </div>

                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 2 - Börsenpsychologie</h5>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 13 </b> - Die Auswirkungen von Emotionen an der Börse
                                                </li>
                                                <li><b> Lektion 14 </b> - Warum selbst die besten Trader hohe Verluste
                                                    machen können
                                                </li>
                                                <li><b> Lektion 15 </b> - Was wirkt sich auf Deine Emotionen aus?</li>
                                                <li><b> Lektion 16 </b> - Wie kannst Du Deine Emotionen kontrollieren
                                                    (Teil 1/2)
                                                </li>
                                                <li><b> Lektion 17 </b> - Wie kannst Du Deine Emotionen kontrollieren
                                                    (Teil 2/2)
                                                </li>
                                            </ul>
                                            <h5 class="mt-5">Kapitel 3 - Gefährliches Halbwissen über die Börse</h5>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 18 </b> - ETFs</li>
                                                <li><b> Lektion 19 </b> - Große Fondgesellschaften - und warum sie
                                                    schlechter sein können
                                                </li>
                                                <li><b> Lektion 20 </b> - Welche Kennzahlen sind wichtig? (Teil 1/3)
                                                </li>
                                                <li><b> Lektion 21 </b> - Welche Kennzahlen sind wichtig? (Teil 2/3)
                                                </li>
                                                <li><b> Lektion 22 </b> - Welche Kennzahlen sind wichtig? (Teil 3/3)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 4 - Eine Handelsstrategie entwickeln - ein Praxisbeispiel
                                                (komplex & ausführlich erklärt)</h5>
                                            <br/>
                                            <br/>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 23 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 1/8)
                                                </li>
                                                <li><b> Lektion 24 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 2/8)
                                                </li>
                                                <li><b> Lektion 25 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 3/8)
                                                </li>
                                                <li><b> Lektion 26 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 4/8)
                                                </li>
                                                <li><b> Lektion 27 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 5/8)
                                                </li>
                                                <li><b> Lektion 28 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 6/8)
                                                </li>
                                                <li><b> Lektion 29 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 7/8)
                                                </li>
                                                <li><b> Lektion 30 </b> - Eine Handelsstrategie entwickeln - ein
                                                    Praxisbeispiel (Teil 8/8)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-container text-center mt-3">
                            <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                               style="font-size: 30px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path d="M0 0L2600 0 2600 69.1 0 0z" fill="#DAA520"></path>
            <path style="opacity:0.5;" fill="#DAA520"
                  d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path style="opacity:0.25" fill="#DAA520" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Grundkurs "Wahrer Wohlstand"</h1>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img
                                            src="../../assets/img/website/wohlstand.png"
                                            alt="image-slide">
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 1 - Die Grundlagen finanzieller Bildung</h5>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 00 </b> - Wie wir vorgehen</li>
                                                <li><b> Lektion 01 </b> - Warum Du Dich selbst um Deine Finanzen kümmern
                                                    solltest
                                                </li>
                                                <li><b> Lektion 02 </b> - Kein Startkapital, was tun?</li>
                                                <li><b> Lektion 03 </b> - Was bist Du wert?</li>
                                                <li><b> Lektion 04 </b> - Wie viel willst Du verdienen?</li>
                                                <li><b> Lektion 05 </b> - Worin bist Du wirklich gut?</li>
                                                <li><b> Lektion 06 </b> - Erfolg durch Träume, Werte, Ziele und
                                                    Strategien!
                                                </li>
                                            </ul>
                                            <h5 class="mt-5">Kapitel 2 - Denkweisen wohlhabender Menschen</h5>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 07 </b> - Übernimm Verantwortung</li>
                                                <li><b> Lektion 08 </b> - Wie Du die Macht über Deine eigene Zukunft
                                                    (zurück-) gewinnst!
                                                </li>
                                                <li><b> Lektion 09 </b> - Wie Du richtige Entscheidungen triffst</li>
                                                <li><b> Lektion 10 </b> - Langfristiges Denken und Planen - das machen
                                                    Milliardäre
                                                </li>
                                                <li><b> Lektion 11 </b> - Der Booster für Dein Selbstwertgefühl</li>
                                                <li><b> Lektion 12 </b> - Was bringen Dir Vorbilder und Mentoren?</li>
                                                <li><b> Lektion 13 </b> - Noch eine Eigenschaft von Milliardären: sie
                                                    zeigen großen Mut und gehen Risiken ein!
                                                </li>
                                                <li><b> Lektion 14 </b> - Glück musst Du Dir erarbeiten!</li>
                                                <li><b> Lektion 15 </b> - Millionär zu sein, statt Millionen zu besitzen
                                                </li>
                                                <li><b> Lektion 16 </b> - Warum sind so wenige Menschen reich?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="uk-container text-center mt-3">
                            <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                               style="font-size: 30px;"></i>
                        </div>

                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 3 - Deine monatlichen Einnahmen & Ausgaben</h5>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 17 </b> - Wofür solltest Du Dein Einkommen ausgeben?
                                                </li>
                                                <li><b> Lektion 18 </b> - Warum Du 10% Deines Einkommens sparen solltest
                                                </li>
                                                <li><b> Lektion 19 </b> - Warum Du 10% Deines Einkommens investieren
                                                    solltest - Das 8. Weltwunder
                                                </li>
                                                <li><b> Lektion 20 </b> - Warum Du 10% Deines Einkommens in Deine
                                                    Bildung investieren solltest
                                                </li>
                                                <li><b> Lektion 21 </b> - Warum Du 10% Deines Einkommens in Sport und
                                                    Gesundheit investieren solltest
                                                </li>
                                                <li><b> Lektion 22 </b> - Warum Du max. 60% Deines Einkommens für
                                                    Lebenshaltungskosten ausgeben solltest
                                                </li>
                                                <li><b> Lektion 23 </b> - Wie Du Dein Einkommen konstant erhöhst (Teil
                                                    1/3)
                                                </li>
                                                <li><b> Lektion 24 </b> - Wie Du Dein Einkommen konstant erhöhst (Teil
                                                    2/3)
                                                </li>
                                                <li><b> Lektion 25 </b> - Wie Du Dein Einkommen konstant erhöhst (Teil
                                                    3/3)
                                                </li>
                                                <li><b> Lektion 26 </b> - Zusammenfassung zur Steigerung Deines
                                                    Einkommens
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <h5>Kapitel 4 - Deine Träume verwirklichen</h5>
                                            <br/>
                                            <br/>
                                            <ul class="uk-list mt-3 black-80">
                                                <li><b> Lektion 27 </b> - Reichtum muss ein Muss sein
                                                </li>
                                                <li><b> Lektion 28 </b> - Die unschlagbare Kombination zum Erfolg!
                                                </li>
                                                <li><b> Lektion 29 </b> - Warum machen wir das Coaching hier nochmal?
                                                </li>
                                                <li><b> Lektion 30 </b> - Welche sind Deine einzigartigen Fähigkeiten?
                                                </li>
                                                <li><b> Lektion 31 </b> - Was sind Glaubenssätze und warum sind sie so
                                                    wichtig?
                                                </li>
                                                <li><b> Lektion 32 </b> - Schlechte Glaubenssätze loswerden - und gute
                                                    Glaubenssätze
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-container text-center mt-3">
                            <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                               style="font-size: 30px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path d="M0 0L2600 0 2600 69.1 0 0z" fill="#DAA520"></path>
            <path style="opacity:0.5;" fill="#DAA520"
                  d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path style="opacity:0.25" fill="#DAA520" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-black text-center">Null-Verlust-Garantie & Geld-zurück-Garantie</h1>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@m uk-width-1-1@s justify-content-center"
                                         style="display: flex">
                                        <img class="text-center"
                                             src="../../assets/img/website/geld-zuruck.png"
                                             alt="image-slide" width="800" height="600">
                                    </div>
                                </div>
                            </div>

                            <div class="uk-overlay">
                                <p class="black-80 font-weight-normal font-20">
                                    Erzielst Du mit meinen Trades Verluste, zahle ich Dir diese zurück.<br/>
                                    Das kann ich nur machen, weil ich davon so überzeugt bin, dass ich meine Strategien
                                    auch selbst handle.
                                </p>

                                <p class="black-80 font-weight-normal font-20">
                                    <b>Voraussetzungen:</b><br/>
                                    - Gib 95% aller Trades ein (wenn Du meine Trades nicht nutzt, kann ich Dir auch
                                    keine Garantie geben - macht Sinn, oder?) <br/>
                                    - Sei 3 Jahre am Stück dabei, um mir auch die Möglichkeiten zum Ausgleichen eines
                                    Crashs zu geben <br/>
                                    <br/>
                                    In einem solchen Verlustfall erhältst Du nach 3 Jahren auch Deine Beiträge zurück.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path d="M0 0L2600 0 2600 69.1 0 0z" fill="#DAA520"></path>
            <path style="opacity:0.5;" fill="#DAA520"
                  d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path style="opacity:0.25" fill="#DAA520" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical" style="margin-bottom: 200px;">
            <div class="uk-light uk-background-cover uk-background-top-center" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h1 class="text-center" style="color:#DAA520">Sonderbonus: Lizenz für gesponsertes
                                    Startkapital</h1>
                            </div>

                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img src="../../assets/img/website/sponsoring.png"
                                             alt="image-slide" style="width: 500px;height: 600px;">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <p class="black-80 font-weight-normal font-20 mt-5">
                                                Du hast die Möglichkeit, Dir mit dieser Lizenz Startkapital durch
                                                Traderista zu verdienen. <br/>
                                                Wie das geht, dazu erfährst Du mehr im Mitgliederbereich.
                                            </p>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div class="uk-overlay text-center">
                                                    <RouterLink
                                                        :to="{ name: 'auth1.sign-up1' , query: { packageId: '9'}}"
                                                        class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold"
                                                        style="min-width: 100%">
                                                        Jetzt kaufen! <i
                                                        class="fas fa-angle-right uk-margin-small-left"></i>
                                                    </RouterLink>
                                                </div>

                                                <h4 class="text-center text-black">Sonderpreis: 699,00€ (einmalig) oder
                                                    99,00€ (monatlich, inkl. 1. Monat für nur 1€)
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <div class="sticky-bottom-nav">
            <div class=" uk-width-1-1 uk-text-center">
                <div class="div uk-overlay">

                    <RouterLink
                        :to="{ name: 'auth1.sign-up1' , query: { packageId: '9'}}"
                        class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">Jetzt kaufen!
                        <i class="fas fa-angle-right uk-margin-small-left"></i>
                    </RouterLink>
                </div>
                <!--                <div class="p-4 mx-auto justify-content-center"-->
                <!--                     style="background-color: black;max-width: 800px;">-->
                <!--                    <br/>-->
                <!--                    <div class="row justify-content-center">-->
                <!--                       -->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>

    </main>
</template>

<script>
import Navbar from "../../components/Website/layout/Navbar";

export default {
    name: "VipPlusPackagePage",
    components: {Navbar},
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
    }
}
</script>

<style scoped>
path {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

.black-80 {
    color: rgb(0, 0, 0, 0.8);
}


.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}

</style>
