<template>
    <main>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                         aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100"> Fast geschafft... 50%
                                    </div>
                                </div>
                            </div>
                            <div class="uk-overlay">
                                <h2 class="text-black text-center">
                                    Bitte bestätige Deine Teilnahme in der E-Mail, die Du von mir erhalten hast.
                                </h2>
                            </div>
                            <div class="uk-overlay">
                                <h4 class="text-center font-weight-bold" style="color: red">Achtung: Wegen der sehr
                                    hohen Nachfrage kann es dauern bis die E-Mail Dein Postfach erreicht - Bitte
                                    bestätige deine Reservierung innerhalb der nächsten 30 Minuten Erst nach der
                                    Platzbestätigung kannst Du am Webinar teilnehmen!
                                </h4>
                            </div>
                            <hr style="margin: 0 auto;background-color: #FFB900;width: 50%;height: 2px">
                            <div class="uk-overlay">
                                <h4 class="text-center font-weight-bold" style="color: red">Erst nach der
                                    Platzbestätigung kannst Du am Webinar teilnehmen!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical" style="background-color: #f5f5f5">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img
                                            src="../../assets/img/website/free-webinar.png"
                                            alt="cover-1" class="mt-5 mb-5"
                                            width="500" height="400">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h2 class="text-black text-center mt-2 mb-2">HIER SIND DEINE NÄCHSTEN
                                                SCHRITTE:
                                            </h2>
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list in-list-check text-black font-20">
                                                        <li> Gehe in Dein E-Mail-Postfach – Erst nach der Bestätigung
                                                            ist
                                                            Dein Platz sicher für Dich reserviert.
                                                        </li>
                                                        <li> Nimm Dir genug Zeit - Dieses Webinar ist eine unglaubliche
                                                            Gelegenheit, die Du nutzen solltest.
                                                        </li>
                                                        <li> Schreibe mit - Habe unbedingt etwas zum Schreiben dabei.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <hr style="margin: 0 auto;background-color: #FFB900;width: 50%;height: 2px">
        <br/>
        <br/>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 data-uk-slideshow>
                <div class="uk-width-1-1@m uk-width-1-1@s">
                    <div class="justify-content-center text-center">
                        <img src="../../assets/img/website/hubertus-qoute.jpeg"
                             alt="cover-UXVAB2-F4-S">
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <Footer></Footer>
    </main>
</template>

<script>
import Footer from "../../components/Website/layout/Footer";

export default {
    name: "WebinarSuccessRegistration",
    components: {Footer},
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
    }
}
</script>

<style scoped>
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

</style>
