<template>
    <div>
        <main>
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1 in-content-10">
                            <div
                                class="primary-background-color uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-3-7@m uk-text-center">
                                        <h2 class="uk-margin-small-top font-weight-bold text-black pb-5">
                                            {{ $t('partner.webinarStart') }}
                                            <br>
                                            {{ $t('partner.webinarThankYou') }}</h2>
                                    </div>
                                    <div class="uk-width-1-1@m uk-text-center">
                                        <div class="embed-responsive " style="padding-top: 56.25%">
                                            <iframe class="embed-responsive-item"
                                                    :src="'https://www.youtube.com/embed/vI0Agk4qLZA?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                            <RouterLink :to="{ name: 'survey' }" @click.native="scrollToTop"
                                                        style="line-height: 35px !important;"
                                                        class="uk-button uk-button-primary uk-border-rounded bg-white text-black">
                                                {{ $t('landingPage.whichPackageSuitsMeBest') }}
                                            </RouterLink>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                            <RouterLink :to="{ name: 'auth1.sign-up1' , query: {  packageId: '1'}}"
                                                        @click.native="scrollToTop"
                                                        class="uk-button uk-button-primary uk-border-rounded bg-white text-black"
                                                        style="line-height: 35px !important;">
                                                {{ $t('landingPage.yesIwantToTest') }}
                                            </RouterLink>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                            <RouterLink :to="{ name: 'auth1.sign-up1' , query: { workShop: true}}"
                                                        @click.native="scrollToTop"
                                                        class="uk-button uk-button-primary uk-border-rounded bg-white text-black"
                                                        style="line-height: 35px !important;">
                                                {{ $t('landingPage.iWantToGoToWorkshop') }}
                                            </RouterLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--        </div>-->
                    <!-- section content end -->
                </div>
            </div>
        </main>
    </div>

</template>

<script>
export default {
    name: 'WebinarPage',
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>
@import url("../../assets/css/website/main.css");
</style>
