<template>
    <main>
        <!-- slideshow content begin -->
        <br/>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">

                            <div class="uk-overlay">
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%"
                                         aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100">80%
                                    </div>
                                </div>
                            </div>
                            <div class="uk-overlay">
                                <h4 class="text-center text-black font-weight-bold"><span
                                    style="color:red">Stop: </span>
                                    <span style="text-decoration: underline">Schau Dir
                                        diese wichtige Info als Besitzer von Stock Market Secrets unbedingt an!</span>
                                </h4>
                            </div>
                            <div class="uk-overlay">
                                <h2 class="text-black text-center">Gratis Webinar: Wie Du mit 5 Minuten Aktienhandel pro
                                    Tag große ETFs und Fondgesellschaften an der Börse schlagen </h2>
                                <h3 class="text-center text-primary-color">(ohne Dir vorher Wissen anzueignen oder
                                    Erfahrung zu haben)</h3>>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <img class="in-slide-img" src="../../assets/img/website/free-webinar.png"
                                             alt="image-slide" width="800" height="600">
                                    </div>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h2 class="text-black">Was Du in diesem kostenfreien Webinar alles
                                                erfährst:
                                            </h2>
                                            <hr class="uk-divider-small">
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet text-black">
                                                        <li> 👉🏽 <span class="text-black font-weight-bold"> Das Geheimnis: </span>
                                                            "Die Wahrheit über Börsenhandel, warum es Dir niemand
                                                            erzählt (und warum die meisten Menschen
                                                            scheitern)"
                                                        </li>
                                                        <li>👉🏽 <span class="text-black font-weight-bold">Das Fundament: </span>"Wie
                                                            Du unabhängig vom Auf und Ab an den Märkten wirst und
                                                            dadurch immer Geld verdienst"
                                                        </li>
                                                        <li>👉🏽 <span
                                                            class="text-black font-weight-bold"> Der Erfolg: </span>
                                                            "Und einige der besten Trading-Strategien aus den
                                                            letzten 24 Jahren"
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="m-3">
                                                    <RouterLink :to="{name:'webinar-free'}"
                                                                class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                                                        Jetzt zum Webinar anmelden!<i
                                                        class="fas fa-angle-right uk-margin-small-left"></i>
                                                    </RouterLink>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sticky-bottom-nav">
            <div class=" uk-width-1-1 uk-text-center">
                <div class="div uk-overlay">
                    <RouterLink :to="{name:'webinar-free'}"
                                class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                        Jetzt zum Webinar anmelden!<i
                        class="fas fa-angle-right uk-margin-small-left"></i>
                    </RouterLink>
                </div>
                <!--                <div class="p-4 mx-auto justify-content-center"-->
                <!--                     style="background-color: black;max-width: 800px;">-->
                <!--                    <br/>-->
                <!--                    <div class="row justify-content-center">-->
                <!--                       -->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>


        <Footer></Footer>
    </main>

</template>

<script>
import Footer from "../../components/Website/layout/Footer";

export default {
    name: "WebinarOfferPage",
    components: {Footer},
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
    }
}
</script>

<style scoped>
.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}
</style>
