<template>
    <div class="uk-section">
        <div class="uk-container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div
                        class="primary-background-color text-center uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain">
                        <h3 class="font-weight-bold">
                            {{ $t('partner.webinarStart') }}
                            <br>
                            {{ $t('partner.webinarThankYou') }}
                        </h3>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                <RouterLink :to="{ name: 'survey' }" @click.native="scrollToTop"
                                            style="line-height: 35px !important;"
                                            class="uk-button uk-button-primary uk-border-rounded bg-white text-black">
                                    {{ $t('landingPage.whichPackageSuitsMeBest') }}
                                </RouterLink>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: {  packageId: '1'}}"
                                            @click.native="scrollToTop"
                                            class="uk-button uk-button-primary uk-border-rounded bg-white text-black"
                                            style="line-height: 35px !important;">
                                    {{ $t('landingPage.yesIwantToTest') }}
                                </RouterLink>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 text-center mt-4">
                                <RouterLink :to="{ name: 'auth1.sign-up1' , query: { workShop: true}}"
                                            @click.native="scrollToTop"
                                            class="uk-button uk-button-primary uk-border-rounded bg-white text-black"
                                            style="line-height: 35px !important;">
                                    {{ $t('landingPage.iWantToGoToWorkshop') }}
                                </RouterLink>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="embed-responsive my-auto" style="padding-top: 56.25%">
                        <iframe class="embed-responsive-item"
                                :src="'https://www.youtube.com/embed/vI0Agk4qLZA?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=1&controls=1&autoplay=1'"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: "WebinarPage2",

    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        }
    }
}
</script>

<style scoped>

</style>
