<template>
    <main>
        <Navbar></Navbar>
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center"
                 v-bind:style="mainBgImage" data-uk-slideshow>
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h3 class="text-center" style="color:#16990B">100% kostenfreies Webinar verrät:
                                </h3>
                                <h1 class="text-black text-center">Mit 5 Minuten Aktienhandel pro Tag große ETFs und
                                    Fondgesellschaften an der Börse schlagen</h1>
                                <h2 class="text-center text-primary-color">OHNE Dir vorher Wissen anzueignen oder
                                    Erfahrung zu haben
                                </h2>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@m uk-width-1-1@s justify-content-center"
                                         style="display: flex">
                                        <img class="text-center"
                                             src="../../assets/img/website/free-webinar.png"
                                             alt="image-slide" width="800" height="600">
                                    </div>
                                </div>
                            </div>

                            <div class="uk-container text-center mb-3">
                                <i class="fa fa-chevron-circle-down my-auto text-primary-color"
                                   style="font-size: 30px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 19.6"
             preserveAspectRatio="none">
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z"></path>
            <path style="opacity:0.33" fill="#DAA520" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z"></path>
            <path style="opacity:0.33;" fill="#DAA520" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z"></path>
            <path fill="#DAA520" d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-overlay">
                                <h2 style=" color: rgba(0, 0, 0, 0.8) !important;">Wusstest Du, dass jeden Tag alleine
                                    in Deutschland <span style="color: #339966"> über 10 Milliarden Euro </span> durch
                                    Börsenhandel erwirtschaftet werden?
                                </h2>
                            </div>
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1@s uk-width-1-2@m">
                                        <div class="uk-overlay">
                                            <h5 style=" color: rgba(0, 0, 0, 0.8) !important;">Da bleibt doch die Frage
                                                offen, warum Du immer noch wenig bis gar keine Erfolge an der Börse
                                                siehst...
                                            </h5>
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list uk-list-bullet text-black">
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du hast unzählige Handelsideen
                                                            ausprobiert, aber keine hat auf Dauer funktioniert
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du hast viel Kapital in "heiße
                                                            Tipps" investiert und nur
                                                            Geld verbrannt
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du mühst Dich jeden Tag ab,
                                                            neue Aktien zu finden, aber keine scheint Erfolg zu bringen
                                                        </li>
                                                        <li><i aria-hidden="true" class="far fa-times-circle"
                                                               style="color:red"></i> Du verlierst langsam den
                                                            Glauben daran, dass Börsenhandel tatsächlich in der realen
                                                            Welt funktioniert
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-width-1-1@s">
                                        <div class="uk-overlay">
                                            <img class="in-slide-img"
                                                 src="../../assets/img/website/angry-trader.jpeg"
                                                 alt="angry-trader"
                                                 width="500" height="400">
                                        </div>
                                    </div>

                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay">
                                            <h4 class="text-black font-weight-normal">
                                                Wenn Du <span style="text-decoration: underline">aus diesem Teufelskreis ausbrechen </span>
                                                und endlich hohe Gewinne an
                                                der Börse mit Aktienhandel erzielen willst, dann wird die folgende
                                                Nachricht <span class="font-weight-bold"> Dein Leben für immer verändern.</span>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay" style="border:2pt solid black">
                                            <h2 style="color:red;text-decoration: underline" class="text-center">Die
                                                schockierende
                                                Realität:</h2>
                                            <br>
                                            <h4 class="text-black text-center font-weight-normal">
                                                <span style="color: #339966"> Nur 5%  </span> aller privaten Trader an
                                                der Börse verdienen langfristig mehr als
                                                10% im Jahr und schlagen damit den Markt.
                                            </h4>
                                            <br>
                                            <h4 class="text-black text-center font-weight-normal">
                                                <span style="color: #DAA520"> 15%</span> verdienen langfristig überhaupt
                                                Geld mit Aktien und Co.
                                            </h4>
                                            <br>

                                            <h4 class="text-black text-center font-weight-normal">
                                                <span style="color: red"> Doch 80%  </span> der Menschen verlieren Geld
                                                an der Börse.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Aktienhandel mit Algorithmen bedeutet entspannte
                                Geldvermehrung!</h1>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <div>
                                                <ul class="uk-list text-black font-20 spaced">
                                                    <li class="mb-3">✅ Du benötigst weniger Startkapital als für viele
                                                        andere
                                                        Investmentmöglichkeiten
                                                    </li>
                                                    <li class="mb-3">✅ Du hast keinen Ärger mit anderen Menschen
                                                    </li>
                                                    <li class="mb-3">✅ Du kannst immer und überall handeln
                                                    </li>
                                                    <li class="mb-3">✅ Du benötigst kein Vorwissen
                                                    </li>
                                                    <li class="mb-3">✅ Du kannst mit 5 Minuten pro Tag handeln
                                                    </li>
                                                    <li class="mb-3">✅ Du kannst ohne negative Emotionen an der Börse
                                                        aktiv sein
                                                    </li>
                                                    <li class="mb-3">✅ Du hast von Anfang an erwiesenen Erfolg
                                                        durch
                                                        geprüfte Systeme!
                                                    </li>
                                                    <li class="mb-3">✅ Und viele weitere Gründe...
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img class="hidden-in-mobile" style="width: 500px; height: 400px"
                                             src="../../assets/img/website/trading.jpeg"
                                             alt="image-slide">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1 text-black text-center">
                        <div class="uk-overlay">
                            <h1 class="font-weight-bold">Spricht Dich irgendetwas davon an?</h1>
                            <h2 class="font-weight-normal">Dann bist Du hier genau richtig.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path fill="#DAA520" d="M0 0L2600 0 2600 69.1 0 0z"></path>
            <path fill="#DAA520" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path fill="#DAA520" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light uk-background-cover uk-background-top-center">
                <div class="uk-container">
                    <div class="uk-grid-medium" data-uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-medium" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="uk-overlay">
                                            <h1 style=" color: rgba(0, 0, 0, 0.8) !important;" class="text-center">
                                                Was Du in diesem kostenfreien Webinar alles erfährst:
                                            </h1>
                                            <div class="mt-5">
                                                <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                    <div>
                                                        <ul class="uk-list uk-list-bullet text-black font-20">
                                                            <li class="mt-3">👉🏽 "Die Wahrheit über Börsenhandel (und
                                                                warum die meisten Menschen scheitern)"
                                                            </li>
                                                            <li class="mt-3">👉🏽 "Wie Du geheime Algorithmen findest
                                                                und konkurrenzlos wirst"
                                                            </li>
                                                            <li class="mt-3">👉🏽 "Wie Du unabhängig vom Auf und Ab an
                                                                den Märkten wirst und dadurch immer Geld verdienst"
                                                            </li>
                                                            <li class="mt-3">👉🏽 "Wie Du mit der besonderen Stop Loss
                                                                Strategie deine Gewinne vervielfachst"
                                                            </li>
                                                            <li class="mt-3">👉🏽 "Und weitere der besten
                                                                Trading-Strategien aus den letzten 24 Jahren"
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="uk-width-1-1 text-center ">
                                                <div class="uk-overlay" style="border:2pt dashed green">
                                                    <h3 class="text-black text-center font-weight-normal">Ich zeige
                                                        Dir, worauf es in 2022 wirklich an der Börse ankommt und wie Du
                                                        konstant Gewinne mit Aktienhandel erzielst</h3>
                                                    <br>
                                                    <h3 class="text-black text-center font-weight-normal">
                                                        ... mit der Garantie, <span class="font-weight-bold"> kein Geld zu verlieren </span>
                                                    </h3>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Dieses Webinar ist für Dich geeignet, wenn...
                            </h1>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <div>
                                                <ul class="uk-list text-black font-20 in-list-check">
                                                    <li class="mb-3"> Du Gewinne an der Börse erzielen und den Markt
                                                        schlagen willst
                                                    </li>
                                                    <li class="mb-3"> Du dabei eine Garantie willst, dass Du kein Geld
                                                        verlierst
                                                    </li>
                                                    <li class="mb-3"> Wenn Du statistisch geprüfte Strategien für deine
                                                        Entscheidungen nutzen willst
                                                    </li>
                                                    <li class="mb-3"> Wenn Du mein Wissen aus über 40 Büchern und meine
                                                        Unterstützung willst
                                                    </li>
                                                    <li class="mb-3"> Du Dir langfristig ein Vermögen mit Aktienhandel
                                                        aufbauen möchtest
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img class="hidden-in-mobile" style="width: 500px; height: 400px"
                                             src="../../assets/img/website/stocks.jpeg"
                                             alt="image-slide">
                                    </div>
                                </div>

                                <section style="width:100%;height:auto;text-align:center;">
                                    <iframe id="wbn-25305-iframe" frameborder="0" allowfullscreen
                                            style="width:100%;max-width:523px;"
                                            height="816"
                                            title="Mit 5 Min. pro Tag erfolgreich Aktien handeln... Garantiert!"
                                            src="https://20339.webinaris.co/customer/registration/viewer/25305/20339?form=iframe&v=4&mode=N">
                                    </iframe>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-overlay">
                            <h1 class="text-black text-center">Dein Einsatz ist jetzt gefragt
                            </h1>
                            <p class="text-center font-weight-normal font-20" style="color: rgb(0,0,0,0.8)">
                                Dieses Webinar ist Dein Weg zu konstant hohen Gewinnen an der Börse mit der Garantie,
                                kein Geld zu verlieren!
                            </p>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-2@m uk-width-1-1@s">
                                    <div class="uk-overlay">
                                        <img class="hidden-in-mobile" style="width: 500px; height: 400px"
                                             src="../../assets/img/website/panic-trader.jpeg"
                                             alt="image-slide">
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                            <p class="text-left text-black font-weight-light font-20"
                                               style="color: rgb(0,0,0,0.8)">
                                                Wenn Du diese Chance verpasst, dann wirst Du sehr wahrscheinlich in der
                                                Zukunft immer noch Schwierigkeiten haben, Gewinne an der Börse zu
                                                erzielen...
                                            </p>
                                            <h3 class="mt-5 text-black text-center">
                                                UND erneut in folgende Muster verfallen:
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-container">
                            <div class="uk-grid-medium" data-uk-grid>
                                <div class="uk-width-1-1">
                                    <div class="uk-overlay">
                                        <div class="mt-5">
                                            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-1@m">
                                                <div>
                                                    <ul class="uk-list text-black font-20">
                                                        <li style="color: rgb(0,0,0,0.8)" class="mt-3">⛔️ ... Du wirst
                                                            weiterhin die ganze Zeit Geld
                                                            durch schlechte oder gar keine Strategien verlieren, bis Du
                                                            irgendwann <span class="font-weight-bold"> komplett bei null bist und nichts mehr machen kannst </span>
                                                        </li>
                                                        <li style="color: rgb(0,0,0,0.8)" class="mt-3"> ⛔️ ... aber das
                                                            Schlimmste jedoch ist: <span
                                                                style="text-decoration: underline"> Du
                                                            wirst irgendwann so frustriert sein </span>, weil Du
                                                            tausende Euros
                                                            in den Sand gesetzt hast für das Versprechen der großen
                                                            Gewinne an der Börse (bspw. mit Kryptos)
                                                        </li>
                                                        <li style="color: rgb(0,0,0,0.8)" class="mt-3">⛔️ ... Du wirst
                                                            wahrscheinlich für immer
                                                            gebrandmarkt sein und so viel Abstand wie möglich von dem
                                                            ganzen Börsen-Thema nehmen, weil <span
                                                                class="font-weight-bold"> Du Angst hast, den gleichen
                                                            Schmerz nochmal zu durchleben.</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
            <path fill="#DAA520" d="M0 0L2600 0 2600 69.1 0 0z"></path>
            <path fill="#DAA520" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
            <path fill="#DAA520" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>

        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div
                            class="uk-card uk-card-default uk-border-rounded uk-background-center uk-background-contain uk-background-image@m"
                            style="background-image: url(../../assets/img/website/in-team-background-1.png);"
                            data-uk-parallax="bgy: -100">
                            <div class="uk-card-body">
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-3-4@m uk-text-center">
                                        <h2>Das sagt ein Kunde von Traderista:</h2>
                                    </div>
                                </div>
                                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
                                    <div class="uk-width-3-4@m uk-text-center">
                                        <h4 class="mt-4 mt-md-1 mb-2">23-jähriger Student aus Münster</h4>
                                        <p>
                                            "Ich wollte auch parallel zum Studium mein eigenes Geld verdienen, um
                                            unabhängiger von meinen Eltern zu sein. Dabei wollte ich mein Studium jedoch
                                            nicht vernachlässigen und auch Zeit für Freunde haben. Bei Traderista habe
                                            ich gelernt, wie ich an der Börse Geld verdienen kann. Ob aus dem Hörsaal,
                                            der Bib, zu Hause oder bei Freunden kann ich nun die Trades eingeben. Das
                                            dauert meist nur 5-10 Minuten pro Tag und ging ohne Erfahrung. Und wenn ich
                                            gerade Zeit und Lust habe, arbeite ich die Coachings durch und lerne etwas
                                            über die Börse."
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section" style="margin-bottom: 200px;">
            <div class="uk-container">
                <div class="uk-grid-medium" data-uk-grid>
                    <div class="uk-width-1-1@s uk-width-1-2@m">
                        <div class="uk-overlay">
                            <p style="color: rgba(0, 0, 0, 0.8);">
                                Hubertus Justus Amadeus Mertens ist seit 8 Jahren an
                                der
                                Börse tätig und inzwischen sehr erfolgreich. Durch
                                seine
                                jahrelange Erfahrung und die Kombination des Wissens
                                aus
                                fast 50 Büchern sowie Seminaren und Webinaren hat er
                                eine Expertise für das Erstellen von
                                Trading-Strategien
                                entwickelt. Seine Spezialität dabei sind
                                Algorithmen,
                                die konstant Gewinne liefern.
                            </p>

                            <br/>
                            <div>
                                <ul class="uk-list text-black font-18 font-weight-bold">
                                    <li class="mt-2">📈 Über 10 Millionen Strategien
                                        getestet
                                    </li>
                                    <li class="mt-2">📈 Algorithmen mit
                                        durchschnittlich 96,7% Rendite pro Jahr
                                        entwickelt
                                    </li>
                                    <li class="mt-2">📈 Über 4 Millionen Euro
                                        Handelskapital gemanaged
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <div class="uk-overlay">
                            <img
                                src="../../assets/img/website/meet-the-mentor.png"
                                alt="cover-1"
                                width="500" height="400">
                        </div>
                    </div>

                    <div class="uk-width-1-1@m uk-width-1-1@s">
                        <div class="justify-content-center text-center">
                            <img src="../../assets/img/website/hubertus-qoute.jpeg"
                                 alt="cover-UXVAB2-F4-S" border="0">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sticky-bottom-nav">
            <div class=" uk-width-1-1 uk-text-center">
                <div class="div uk-overlay">
                    <a href="#wbn-25305-iframe"
                       class="btn primary-background-color text-white font-20 rounded-0 font-weight-bold">
                        <i class="fas fa-lock-open uk-margin-small-left"></i>
                        Jetzt gratis teilnehmen!
                    </a>
                </div>
                <!--                <div class="p-4 mx-auto justify-content-center"-->
                <!--                     style="background-color: black;max-width: 800px;">-->
                <!--                    <br/>-->
                <!--                    <div class="row justify-content-center">-->
                <!--                       -->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <img
            src="https://20339.webinaris.co/apiv4/report-registration-view?v=4&type=IFR&mode=N&FB050=25305&FK100=20339&BV051=Mit 5 Min. pro Tag erfolgreich Aktien handeln... Garantiert!"
            hidden style="display:none;"/>

    </main>
</template>

<script>
import LEAD_OPT_IN from "../../graphql/mutations/leadOptIn.graphql";
import {TrackingService} from "../../services/tracking";
import Navbar from "../../components/Website/layout/Navbar";

export default {
    name: "WebinarFunnel",
    components: {
        Navbar
    },
    computed: {
        mainBgImage() {
            return {
                backgroundImage: `url(${require('../../assets/img/website/in-liquid-slide-bg.png')})`
            }
        },
    },
    methods: {
        subscribe() {
            if (this.email === '' || !this.email.match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                this.errorMsg = 'Bitte geben Sie eine gültige E-Mail ein'
            } else {
                this.$apollo.mutate({
                    mutation: LEAD_OPT_IN,
                    variables: {
                        input: {
                            email: this.email ?? 'orgesballa1@gmail.com',
                            type: 'WEBINAR',
                            surveyResults: null,
                            recommendedPackageId: null
                        }
                    }
                }).then((_) => {
                    TrackingService.generateLead();
                    this.subscribed = true;
                });

                let routeData = this.$router.resolve({name: 'webinar-success'});
                window.open(routeData.href, '_blank');
            }
        }
    }
}
</script>

<style scoped>

path {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.sticky-bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #333333;
    color: white;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .hidden-in-mobile {
        display: none;
    }
}

</style>
