<template>
    <footer id="footer">
        <!-- footer content begin -->
        <div class="text-center justify-content-center" style="margin-bottom: -40px">

            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="102.361" viewBox="0 0 120 102.361">
                <g id="be053da9-75fd-4f01-8f7b-2f2db71f6426" data-name="Layer 2">
                    <g id="ef09be49-8418-4b47-a7a4-91465c861784" data-name="Layer 1">
                        <g id="a557c632-4407-40b2-b945-edf85a4e521b" data-name="Group 6982">
                            <path id="ee1beabb-7ed7-4d6a-b402-f88997979836" data-name="Path 3683"
                                  class="f7cd8312-9823-402d-9591-b89f072376f8"
                                  d="M30,15.967,0,70.502v31.859H31.859L49.382,70.504H61.856V15.967Z"
                                  fill="#000000"></path>
                            <path id="acae9130-adb2-4daa-9e4a-648f93c82700" data-name="Path 3684"
                                  class="b0c7484f-630a-495e-ba6f-59ecad7e19e9"
                                  d="M88.161,0,49.385,70.5v31.859H81.241L120,31.9V.038Z" fill="#DAA520"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <div class="uk-section uk-background-secondary uk-light mt-2">
            <div class="uk-container text-center justify-content-center mt-4" style="max-width: 500px">
                <div class="row">
                    <h4>Echte Stories. Grundlegendes Wissen. Umsetzbare Tools.</h4>
                </div>
                <div class="row">
                    <h1 class="px-3 font-weight-bold pb-2 text-white">
                        Erhalte täglich Schlüssel zu Wahrem Wohlstand.
                    </h1>
                </div>
                <div class="row">
                    <b-form v-on:submit.prevent="noop"
                            class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom uk-text-center">
                        <div class="p-4 mx-auto">
                            <div class="row">
                                <div class="col-lg-9 col-sm-12">
                                    <ValidationProvider name="lead" rules="required"
                                                        v-slot="{ errors }">
                                        <b-form-input type="email" v-model="email"
                                                      @keyup.enter="subscribe"
                                                      :placeholder="'E-Mail eingeben'"
                                                      style="background-color: white;color: black;height: 45px"
                                                      :class="[errors.length > 0 ?  'is-invalid' : '','uk-search-input' ,'uk-border-pill', 'text-center','rounded-0']">
                                        </b-form-input>
                                    </ValidationProvider>
                                    <div class="invalid-feedback font-20"
                                         v-if="errorMsg !== ''"
                                         style="display: block">
                                        <span>{{ errorMsg }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div
                                        class="primary-background-color" style="height: 45px">
                                        <a @click="subscribe">
                                            <h5 class="text-black py-3">
                                                Subscribe
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-form>
                </div>
            </div>
        </div>
        <div class="uk-section uk-background-secondary uk-light">
            <div class="uk-container uk-text-small">
                <div class="uk-child-width-1-2@m" data-uk-grid>
                    <div class="uk-flex uk-flex-left">
                        <div class="in-footer-logo">
                            <RouterLink @click.native="scrollToTop" class="text-decoration-none"
                                        :to="{ name: 'landing-page' }">
                                <h3 class="text-primary-color mb-2">
                                    <img style="height: 80px; width: 250px"
                                         src="../../../assets/images/logo/logo2.png" class="pt-1 mt-1 img-fluid" alt="">
                                </h3>
                            </RouterLink>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-right@m">
                        <div class="in-footer-socials">
                            <a href="https://wa.me/15551234567" target="_blank"><i class="fab fa-whatsapp"></i></a>
                            <a href="mailto:info@traderista-trading.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            <a href="https://www.instagram.com/traderista/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/Traderista-104665101894659/" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <a href="https://med.etoro.com/B19351_A87376_TClick.aspx"
                               class="ml-3" target="_blank">
                                <img style="margin-top: -5px" height="18" width="20.5"
                                     src="../../../assets/img/website/etoro.png"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-child-width-1-2@s uk-child-width-1-4@m " data-uk-grid>
                    <div>
                        <h3>{{ $t('navbar.blog') }}</h3>
                        <ul class="uk-list uk-link-text  font-15">
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'blog-page' }">
                                    {{ $t('navbar.goToBlog') }}
                                </RouterLink>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Plattform</h3>
                        <ul class="uk-list uk-link-text  font-15">
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'partner-page' }">
                                    {{ $t('navbar.start') }}
                                </RouterLink>
                            </li>
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'pricing-page' }">
                                    {{ $t('navbar.products') }}
                                </RouterLink>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Firma</h3>
                        <ul class="uk-list uk-link-text font-15">
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'our-mission-page' }"><p>
                                    {{ $t('navbar.ourMission') }}</p></RouterLink>
                            </li>
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'agb-page' }">{{
                                        $t('navbar.agb')
                                    }}
                                </RouterLink>
                            </li>
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'impressum' }"><p>Impressum</p>
                                </RouterLink>
                            </li>
                            <li>
                                <RouterLink @click.native="scrollToTop" :to="{ name: 'contact' }"><p>
                                    {{ $t('navbar.contact') }}</p></RouterLink>
                            </li>
                        </ul>
                    </div>
                    <RouterLink :to="{ name: 'our-mission-page' }">
                        <div class="hubertus-image-footer align-content-center text-center">
                            <ul class="uk-list uk-link-text  font-15">
                                <img src="../../../assets/img/website/hubertus.png"
                                     style="border-radius: 15px;"
                                     alt="image-team"
                                     width="250">
                            </ul>
                        </div>
                    </RouterLink>
                </div>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
</template>

<script>
import LEAD_OPT_IN from "../../../graphql/mutations/leadOptIn.graphql";
import {TrackingService} from "../../../services/tracking";

export default {
    name: "website-footer",
    methods: {
        scrollToTop() {
            setTimeout(function () {
                window.scrollTo(0, 0)
            }, 25)
        },
        subscribe() {
            if (this.email === '' || !this.email.match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                this.errorMsg = 'Bitte geben Sie eine gültige E-Mail ein'
            } else {
                this.$apollo.mutate({
                    mutation: LEAD_OPT_IN,
                    variables: {
                        input: {
                            email: this.email,
                            type: 'SUBSCRIPTION',
                            surveyResults: null,
                            recommendedPackageId: null
                        }
                    }
                }).then((_) => {
                    TrackingService.generateLead();
                    this.subscribed = true;
                });

                let routeData = this.$router.resolve({name: 'webinar-offer'});
                window.open(routeData.href, '_blank');
            }
        }
    },
    data() {
        return {
            subscribed: false,
            email: null,
            errorMsg: '',
        }
    }
}
</script>

<style scoped>
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666 !important;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666 !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666 !important;
}
</style>
